Repository apache/trafficcontrol, pull requests merged in 2018-07, with the labels that each got.

#2495 Fix TO CRConfig perms back to ops/readonly
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), bug

#2497 calls dbdump endpoint via TP instead of TO directly (as it should hav…
  LICENSE
  licenses/MIT-downloadjs
  traffic_portal/app/src/assets/js/downloadjs-min_v4.21.js
  traffic_portal/app/src/common/api/TrafficPortalService.js
  traffic_portal/app/src/index.html
Labels: Traffic Portal

#2485 Modify the grove rpm version format
  grove/build/build_rpm.sh
  grove/build/grove.spec
Labels: grove

#2499 Fix license for moved lib/pq
  LICENSE
Labels: license

#2072 Protect ORT from errors caused by missing data in TO.
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT

#2504 made changes to cleanup the PMD errors and fixed a Unit test bug
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/config/CertificateChecker.java
Labels: Traffic Router

#2505 remove nested sql call in cachegroup read
  lib/go-tc/v13/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
Labels: Traffic Ops API (golang), bug, regression

#2361 Code cleanup
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
Labels: Traffic Ops API (golang)

#2517 Update the traffic_ops database to add a GROVE_PROFILE enum value.
  traffic_ops/app/db/patches.sql
Labels: Traffic Ops, Traffic Ops API (golang)

#2402 To go riak ping
  lib/go-tc/deliveryservice_ssl_keys.go
  traffic_ops/traffic_ops_golang/ping/keys.go
  traffic_ops/traffic_ops_golang/ping/riak.go
  traffic_ops/traffic_ops_golang/riaksvc/dsutil.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), enhancement

#2382 To go dnsseckeys generate
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-util/ptr.go
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), enhancement

#2421 Add TO Go deliveryservices/sslkeys/delete
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys_test.go
  traffic_ops/traffic_ops_golang/riaksvc/dsutil.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), enhancement

#2395 To go ds sslkeys generate
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-util/num.go
  lib/go-util/num_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/gencert.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
  traffic_ops/traffic_ops_golang/riaksvc/dsutil.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), enhancement

#2531 added staticdnsentry struct
  lib/go-tc/v13/staticdnsentry.go
Labels: Traffic Ops API (golang)

#2529 adds back menu item to view static dns entries for a ds. also hides t…
  traffic_portal/app/src/common/modules/form/cacheGroup/form.cacheGroup.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceStaticDnsEntries/table.deliveryServiceStaticDnsEntries.tpl.html
Labels: Traffic Portal

#2400 To go cdns sslkeys
  lib/go-tc/deliveryservice_ssl_keys.go
  traffic_ops/traffic_ops_golang/cdn/sslkeys.go
  traffic_ops/traffic_ops_golang/riaksvc/dsutil.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), enhancement

#2535 TO Go GET /user/current should have 'roleName' not 'rolename'
  lib/go-tc/users.go
Labels: Traffic Ops API (golang), bug, regression

#2369 To go deletednsseckeys
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), enhancement

#2536 Fix TO database leak
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
Labels: Traffic Ops API (golang), bug, critical

#2537 Fix TO db leak of prepared statements not closed
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
Labels: Traffic Ops API (golang), bug, critical

#2541 check if username has been removed from the cookie via a logout and return a 401 fixes #2542
  traffic_ops/traffic_ops_golang/wrappers.go
Labels: Traffic Ops API (golang)

#2543 preserve the description of the source profile when cloning a profile
  traffic_ops/app/lib/API/Profile.pm
Labels: Traffic Ops API

#2548 Fixed failing golang test: TestAssignDsesToServer
  traffic_ops/traffic_ops_golang/server/servers_assignment_test.go
Labels: Traffic Ops API (golang), tests

#2551 properly issue delete query in transaction
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops API (golang)

#2549 converts long descrips to textareas and moves all 3 long descrips int…
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal

#2577 Make anonymousBlockingEnabled an optional field in the DS API
  lib/go-tc/deliveryservices.go
Labels: Traffic Ops API (golang)

#2579 fixed test case for StaticDNS Entries
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry_test.go
Labels: Traffic Ops API (golang)

#2585 fixed profile_parameter.rst doc syntax
  docs/source/api/v12/profile_parameter.rst
Labels: documentation

#2586 updated documentation for the StaticDNSEntries API
  CHANGELOG.md
  docs/source/api/v13/index.rst
  docs/source/api/v13/staticdnsentry.rst
Labels: Traffic Ops API (golang), documentation

#2572 Fix TO Go API PUT/POST type checking
  lib/go-tc/deliveryservices.go
  lib/go-tc/types.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups_test.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
  traffic_ops/traffic_ops_golang/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry_test.go
Labels: Traffic Ops API (golang), enhancement

#2588 TP ds longdesc1 and 2 are not required
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal

#2581 Return alerts for DS PUT/POST via TO Go API
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv12.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
Labels: Traffic Ops API (golang)

#2594 fixes error with longDesc required error message
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal, bug

#2598 comments out cachegroup apis that were not implemented correctly. the…
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang)
