Repository apache/trafficcontrol, pull requests merged in 2018-12, with the labels that each got.

#3080 Fixed configuration file sanitization
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/config_files.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
Labels: Traffic Ops ORT, cdn-in-a-box

#3088 use golang package from centos vault temporarily
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/docker/build/Dockerfile-traffic_monitor
  infrastructure/docker/build/Dockerfile-traffic_ops
  infrastructure/docker/build/Dockerfile-traffic_stats
Labels: cdn-in-a-box

#3092 Fixed bad parameter sets on CIAB cache profiles
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/020-ATS_MID_TIER_CACHE.json
Labels: cdn-in-a-box

#3082 CIAB: fix race issue where server not avail when server assignment done
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
Labels: cdn-in-a-box

#3081 Fixes missing deliveryservice data fields from the servers/deliveryservices endpoint.
  lib/go-tc/deliveryservice_servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, bug

#3101 Fix Test TO API loginfail to create cdns it needs
  traffic_ops/testing/api/v14/loginfail_test.go
Labels: tests

#3102 Fix Test cg bad login expecting nil err
  traffic_ops/testing/api/v14/cachegroups_test.go
Labels: tests

#3098 Fix Traffic Ops Golang wrapper copying *http.Request, breaking status codes
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/wrappers.go
Labels: Traffic Ops, bug, major

#3005 Fix optional vnc container
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/dns/zone.ciab.test
  infrastructure/cdn-in-a-box/dns/zone.ip4.arpa
  infrastructure/cdn-in-a-box/dns/zone.ip6.arpa
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/optional/README.md
  infrastructure/cdn-in-a-box/optional/docker-compose.socksproxy.yml
  infrastructure/cdn-in-a-box/optional/docker-compose.vnc.yml
  infrastructure/cdn-in-a-box/optional/socksproxy/README.md
  infrastructure/cdn-in-a-box/optional/vnc/Dockerfile
  infrastructure/cdn-in-a-box/optional/vnc/README.md
  infrastructure/cdn-in-a-box/optional/vnc/run.sh
  infrastructure/cdn-in-a-box/optional/vnc/vnc_startup.sh
Labels: cdn-in-a-box

#2857 Fixes TO cdn/federations to return [] not null
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
Labels: bug, minor

#3099 Udate the grove logrotate config to include the custom_ats_2.log
  grove/build/grove.logrotate
Labels: grove

#3072 Emit warning when adding self-signed certs using the API rather than prohibiting them
  lib/go-tc/constants.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys_test.go
  traffic_portal/app/src/common/api/DeliveryServiceSslKeysService.js
Labels: SSL, Traffic Ops, Traffic Portal, bug

#3085 Add a TR_LOC type to seeds.sql
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops, database

#3043 removes max-length from profile name
  traffic_portal/app/src/common/modules/form/profile/form.profile.tpl.html
Labels: Traffic Portal

#3091 Fixed bad default parent.config line generation
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
Labels: Traffic Ops, bug

#3104 Add monitoring.json snapshotting
  CHANGELOG.md
  traffic_ops/app/db/migrations/20181206000000_create_monitor_snapshots.sql
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/crconfig/snapshot.go
  traffic_ops/traffic_ops_golang/crconfig/snapshot_test.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Monitor, Traffic Ops

#3108 Delivery Service Requests Protractor Tests
  traffic_portal/app/src/common/modules/dialog/deliveryServiceRequest/dialog.deliveryServiceRequest.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRequestComments/table.deliveryServiceRequestComments.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/table.deliveryServiceRequests.tpl.html
  traffic_portal/test/end_to_end/DeliveryServiceRequests/delivery-service-requests-spec.js
  traffic_portal/test/end_to_end/DeliveryServiceRequests/pageData.js
  traffic_portal/test/end_to_end/conf-delivery-service-requests.js
Labels: Traffic Portal, tests

#3110 updated cachegroup api to include cachegroup fallbacks. updated docum…
  docs/source/api/v12/cachegroup.rst
  lib/go-tc/cachegroups.go
  traffic_ops/testing/api/v14/cachegroups_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups_test.go
Labels: Traffic Ops

#3127 Fix syntax error in goose migration
  traffic_ops/app/db/migrations/20181206000000_create_monitor_snapshots.sql
Labels: Traffic Ops, bug, database

#3121 compare v4 - now identifies order-only diffs
  traffic_ops/testing/compare/compare.go
Labels: tests

#3115 Fixed a Python2 compatibility issue in the Traffic Control client
  traffic_control/clients/python/trafficops/setup.py
  traffic_control/clients/python/trafficops/trafficops/__init__.py
  traffic_control/clients/python/trafficops/trafficops/tosession.py
Labels: Traffic Ops

#3129 Fix TO CRConfig tm.url to be FQDN, not URI
  traffic_ops/testing/api/v14/crconfig_test.go
  traffic_ops/traffic_ops_golang/crconfig/crconfig.go
  traffic_ops/traffic_ops_golang/crconfig/crconfig_test.go
Labels: Traffic Ops, bug, crconfig, regression

#3128 Updated documentation for the new Go db/admin binary
  CHANGELOG.md
  docs/source/admin/traffic_ops/installation.rst
  docs/source/api/federations.rst
  docs/source/development/traffic_ops.rst
  traffic_ops/testing/api/README.md
Labels: documentation

#3143 Fix improper file slurping in Perl
  traffic_ops/app/lib/API/Iso.pm
  traffic_ops/app/lib/Extensions/TrafficStats/Helper/InfluxResponse.pm
  traffic_ops/app/lib/UI/GenDbDump.pm
Labels: Traffic Ops, bug

#3137 Fix TO query for crconfig column rename
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
Labels: Traffic Ops, bug, major

#3141 Add additional response code information in responder.go.
  grove/cache/responder.go
Labels: grove

#3133 Added documentation guidelines
  docs/source/_static/theme_overrides.css
  docs/source/development/building.rst
  docs/source/development/documentation_guidelines.rst
  docs/source/development/index.rst
  docs/source/glossary.rst
Labels: documentation

#3149 Added an optional configuration setting, 'DisableHTTP2' to the grove config.
  grove/README.md
  grove/config/config.go
  grove/grove.go
  grove/web/listener.go
Labels: grove

#3134 Added an explanation of the format and structure of API endpoint docs
  docs/source/admin/traffic_router.rst
  docs/source/api/cdns_name_snapshot.rst
  docs/source/api/cdns_name_snapshot_new.rst
  docs/source/api/deliveryservices_xmlid_urisignkeys.rst
  docs/source/api/index.rst
  docs/source/api/origins.rst
  docs/source/basics/cache_revalidation.rst
  docs/source/basics/http_11.rst
Labels: Traffic Ops, documentation

#3155 handle the situation where a cdn has no dnssec keys. i.e. before any …
  traffic_portal/app/src/common/modules/form/cdnDnssecKeys/FormCdnDnssecKeysController.js
Labels: Traffic Portal, bug

#3162 fixes compass so TP's scss files can be compiled to css
  infrastructure/docker/build/Dockerfile-traffic_portal
Labels: Traffic Portal

#3166 TP: sorts the results of GET /tenants to represent the hierarchy
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/origin/FormOriginController.js
  traffic_portal/app/src/common/modules/form/tenant/FormTenantController.js
  traffic_portal/app/src/common/modules/form/user/FormUserController.js
  traffic_portal/app/src/common/modules/form/user/register/FormRegisterUserController.js
  traffic_portal/app/src/common/modules/table/tenants/TableTenantsController.js
  traffic_portal/app/src/common/modules/table/tenants/table.tenants.tpl.html
  traffic_portal/app/src/common/service/utils/TenantUtils.js
  traffic_portal/app/src/modules/private/tenants/list/index.js
  traffic_portal/app/src/modules/private/user/UserController.js
Labels: Traffic Portal
