Repository apache/trafficcontrol, pull requests merged in 2018-04, with the labels that each got.

#2075 TO: allow ssl connection to db to be required
  traffic_ops/app/conf/development/database.conf
  traffic_ops/app/conf/integration/database.conf
  traffic_ops/app/conf/production/database.conf
  traffic_ops/app/conf/test/database.conf
  traffic_ops/app/lib/Schema.pm
Labels: Traffic Ops

#2076 Remove broken, unused, internal steering API POST endpoint
  traffic_ops/app/db/migrations/20180402000000_remove_internal_steering_post.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/app/lib/API/DeliveryService/Steering.pm
  traffic_ops/app/lib/TrafficOpsRoutes.pm
Labels: Traffic Ops API, bug

#2082 Fix extra license headings for removed x libs
  LICENSE
Labels: license

#1911 Adds roles and capabilities tables to TP
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/api/CapabilityService.js
  traffic_portal/app/src/common/api/RoleService.js
  traffic_portal/app/src/common/api/index.js
  traffic_portal/app/src/common/modules/navigation/navigation.tpl.html
  traffic_portal/app/src/common/modules/table/capabilities/TableCapabilitiesController.js
  traffic_portal/app/src/common/modules/table/capabilities/index.js
  traffic_portal/app/src/common/modules/table/capabilities/table.capabilities.tpl.html
  traffic_portal/app/src/common/modules/table/roles/TableRolesController.js
  traffic_portal/app/src/common/modules/table/roles/index.js
  traffic_portal/app/src/common/modules/table/roles/table.roles.tpl.html
  traffic_portal/app/src/modules/private/capabilities/capabilities.tpl.html
  traffic_portal/app/src/modules/private/capabilities/index.js
  traffic_portal/app/src/modules/private/capabilities/list/index.js
  traffic_portal/app/src/modules/private/roles/index.js
  traffic_portal/app/src/modules/private/roles/list/index.js
  traffic_portal/app/src/modules/private/roles/roles.tpl.html
Labels: Traffic Portal

#2066 tp cache checks table is now dynamic based on the configuration of ca…
  traffic_portal/app/src/modules/private/cacheChecks/CacheChecksController.js
  traffic_portal/app/src/modules/private/cacheChecks/cacheChecks.tpl.html
  traffic_portal/app/src/modules/private/cacheChecks/index.js
  traffic_portal/app/src/traffic_portal_properties.json
Labels: Traffic Portal

#2083 updates to the README.md and INSTALL.md for the latest with the Golang proxy
  traffic_ops/INSTALL.md
  traffic_ops/traffic_ops_golang/README.md
Labels: Traffic Ops API (golang)

#2092 Add db last_updated not null
  traffic_ops/app/db/migrations/20180406000000_last_updated_not_null.sql
Labels: Traffic Ops, enhancement

#2089 Makes api calls for ds requests using query params instead of route p…
  traffic_portal/app/src/common/api/DeliveryServiceRequestService.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
Labels: Traffic Ops API (golang), Traffic Portal

#2095 ORT updates .cer files if generated file would be different, including order
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug, major

#2094 removes path params from ds request endpoints per api guidelines
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang)

#2106 fixes api tests for ds_requests where route params were removed in fa…
  traffic_ops/client/v13/deliveryservice_request_comments.go
  traffic_ops/client/v13/deliveryservice_requests.go
Labels: Traffic Ops API (golang), bug

#2113 Created the API Tests for /statuses
  traffic_ops/testing/api/v13/statuses_test.go
Labels: Traffic Ops API (golang)

#2114 cleaned up the fixtures to align with the cdns more appropriately
  traffic_ops/testing/api/v13/profiles_test.go
  traffic_ops/testing/api/v13/tc-fixtures.json
Labels: Traffic Ops API (golang)

#2111 updated the changelog format for TC issue: #2099
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: bug

#2118 cleaned up the teardown functions so each test case works as a unit
  traffic_ops/client/v13/deliveryservice_request_comments.go
  traffic_ops/testing/api/v13/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v13/divisions_test.go
  traffic_ops/testing/api/v13/phys_locations_test.go
  traffic_ops/testing/api/v13/regions_test.go
Labels: Traffic Ops API (golang)

#2119 Fixed the DSR tests by attaching CDNs and Types to the DSRs
  traffic_ops/testing/api/v13/deliveryservice_requests_test.go
Labels: Traffic Ops API (golang)

#2120 Adds fqpacingrate key to ds structs
  lib/go-tc/deliveryservices.go
Labels: Traffic Ops API (golang)

#2121 fixed the package reference for CacheGroups
  traffic_monitor/towrap/towrap.go
  traffic_ops/client/cachegroup.go
Labels: Traffic Ops API (golang)

#2107 added swaggerdocs for /statuses
  lib/go-tc/v13/statuses.go
  traffic_ops/traffic_ops_golang/swaggerdocs/v13/statuses.go
Labels: Traffic Ops API (golang)

#2117 removed status comments and fixed the test cases
  traffic_ops/testing/api/v13/statuses_test.go
Labels: Traffic Ops API (golang)

#2128 fixed nil panic on the ChangeLogMessage for the servers
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops API (golang), bug

#2129 TP - in global 5xx handler, if there are custom alerts, show them
  traffic_portal/app/src/app.js
Labels: Traffic Portal

#2131 Fix org_server_fqdn trailing slash issue
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
  traffic_ops/app/lib/API/Deliveryservice.pm
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
Labels: Traffic Ops API (golang), Traffic Portal, enhancement

#2134 TP - fixes possible null pointer exception
  traffic_portal/app/src/app.js
Labels: Traffic Portal

#2135 TP - adds external links to drop down values in TP forms
  traffic_portal/app/src/common/modules/form/asn/form.asn.tpl.html
  traffic_portal/app/src/common/modules/form/cacheGroup/form.cacheGroup.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/form/physLocation/form.physLocation.tpl.html
  traffic_portal/app/src/common/modules/form/profile/form.profile.tpl.html
  traffic_portal/app/src/common/modules/form/region/form.region.tpl.html
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/form/tenant/form.tenant.tpl.html
  traffic_portal/app/src/common/modules/form/user/form.user.tpl.html
  traffic_portal/app/src/common/modules/form/user/register/form.user.register.tpl.html
Labels: Traffic Portal

#2116 TO go: `go get` prior to running unit tests for the golang.org/x dependencies
  traffic_ops/app/bin/tests/Dockerfile-golangtest
Labels: bug

#2136 Properly unmarshal null DeepCachingType value as "NEVER"
  lib/go-tc/enum.go
  lib/go-tc/enum_test.go
Labels: Traffic Ops API (golang), bug

#2141 TP - adds chart link (if enabled) to each ds table
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/TableCDNDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/table.cdnDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/table.deliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/TableProfileDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/table.profileDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/TableTenantDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/table.tenantDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/TableTypeDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/table.typeDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/userDeliveryServices/TableUserDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/userDeliveryServices/table.userDeliveryServices.tpl.html
  traffic_portal/app/src/common/service/utils/DeliveryServiceUtils.js
  traffic_portal/app/src/common/service/utils/ServerUtils.js
Labels: Traffic Portal

#2144 Add some authentication API integration tests
  traffic_ops/client/v13/session.go
  traffic_ops/testing/api/utils/utils.go
  traffic_ops/testing/api/v13/about_test.go
  traffic_ops/testing/api/v13/cachegroups_test.go
  traffic_ops/testing/api/v13/ping_test.go
  traffic_ops/testing/api/v13/session.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), tests

#2132 better grouping for TP menu
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/form.deliveryServiceJob.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/new/FormNewDeliveryServiceJobController.js
  traffic_portal/app/src/common/modules/form/job/form.job.tpl.html
  traffic_portal/app/src/common/modules/form/job/new/FormNewJobController.js
  traffic_portal/app/src/common/modules/navigation/navigation.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/table.deliveryServiceJobs.tpl.html
  traffic_portal/app/src/common/modules/table/jobs/table.jobs.tpl.html
Labels: Traffic Portal

#2104 assigns routes the appropriate version number and organizes them
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang)

#2158 modifies ORT to correctly parse api 1.3 for revalidation.
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT

#2172 Update TM Docs for gold Golang TM
  docs/source/development/index.rst
  docs/source/development/traffic_monitor.rst
  docs/source/development/traffic_monitor_golang.rst
Labels: documentation

#2179 license changes for jsdiff and momentjs
  .dependency_license
  LICENSE
  licenses/MIT-ng_map
Labels: Traffic Portal

#2182 update using.rst
  docs/source/admin/traffic_ops/using.rst
Labels: documentation

#2181 updates "tp using" doc
  docs/source/admin/traffic_portal/images/tp_menu.png
  docs/source/admin/traffic_portal/images/tp_menu_admin.png
  docs/source/admin/traffic_portal/images/tp_menu_configure.png
  docs/source/admin/traffic_portal/images/tp_menu_monitor.png
  docs/source/admin/traffic_portal/images/tp_menu_tools.png
  docs/source/admin/traffic_portal/images/tp_menu_topology.png
  docs/source/admin/traffic_portal/images/tp_menu_user_admin.png
  docs/source/admin/traffic_portal/usingtrafficportal.rst
Labels: Traffic Portal, documentation
