Repository apache/trafficcontrol, pull requests merged in 2018-02, with the labels that each got.

#1865 Added CHANGELOG.md file with per-DS routing names upgrade notes
  CHANGELOG.md
Labels: documentation

#1857 [Issue-1841] - loosens permissions on ds ssl key management. relies on tenancy.
  docs/source/development/traffic_ops_api/v11/deliveryservice.rst
  traffic_ops/app/lib/API/DeliveryService/SslKeys.pm
  traffic_ops/app/lib/Fixtures/Role.pm
  traffic_ops/app/lib/Fixtures/TmUser.pm
  traffic_ops/app/lib/Test/TestHelper.pm
  traffic_ops/app/lib/UI/Utils.pm
  traffic_ops/app/t/api/1.1/deliveryservice/ssl_keys.t
  traffic_ops/app/t/api/1.1/user.t
  traffic_ops/app/t/api/1.2/user.t
Labels: Traffic Ops API

#1871 [Issue-1851] - removes browser-icons.png
  traffic_ops/app/public/images/browser-icons.png
  traffic_ops/app/templates/cdn/loginpage.html.ep
Labels: Traffic Ops

#1825 updated docs to add some missing data
  docs/source/admin/traffic_ops/using.rst
Labels: documentation, enhancement

#1870 Remove old references to mso algorithm
  docs/source/admin/quick_howto/D22DCAA3-18CC-48F4-965B-5312993F9820.png
  docs/source/admin/quick_howto/mso-enable.png
  docs/source/admin/quick_howto/mso-rank.png
  docs/source/admin/quick_howto/multi_site.rst
Labels: Traffic Ops, documentation

#1807 Replacing ccr during config file generation
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
  traffic_ops/app/lib/UI/ConfigFiles.pm
Labels: Traffic Ops API

#1398 Get ats_uid after packages are installed
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT

#1768 Add Traffic Monitor Plugin System for Cache Stats Formats
  lib/go-tc/traffic_monitor.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/data_test.go
  traffic_monitor/cache/stats_type_astats.go
  traffic_monitor/cache/stats_types.go
  traffic_monitor/ds/stat.go
  traffic_monitor/dsdata/stat.go
  traffic_monitor/fetcher/fetcher.go
  traffic_monitor/handler/handler.go
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/peer/peer.go
  traffic_monitor/poller/poller.go
Labels: Traffic Monitor, enhancement

#1844 DeepCachingType -- "NEVER" is now default
  lib/go-tc/enum.go
  lib/go-tc/enum_test.go
Labels: Traffic Ops API (golang)

#1769 Monitor Stats Format Plugin For Delivery Service Names
  traffic_monitor/cache/stats_type_astats_dsnames.go
Labels: Traffic Monitor, enhancement

#1878 Add docs per-DS routing migration
  docs/source/admin/traffic_ops/migration_from_20_to_22.rst
Labels: documentation

#1879 [Issue-1051] - adds configurable ds charts button to ds page
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
Labels: Traffic Portal

#1894 Add Monitor poller panic stacktrace
  traffic_monitor/poller/poller.go
Labels: Traffic Monitor, enhancement

#1909 updates traffic portal install instructions and changes the defaults …
  docs/source/admin/traffic_portal/installation.rst
  traffic_portal/conf/config.js
Labels: Traffic Portal

#1917 [Issue 1916] extra flag needed for go build in rpm
  traffic_ops/build/traffic_ops.spec
Labels: Traffic Ops, backport, blocker

#1919 [Issue 1916 backport] Fix TO golang build in rpm
  traffic_ops/build/traffic_ops.spec
Labels: Traffic Ops, backport, blocker

#1914 [Issue-1687] - DS Requests - adds stronger confirm when creating a request to delete a ds
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
Labels: Traffic Portal

#1921 [Issue-1920] - requires portal role (or equivalent/above) to manage delivery service steering targets
  docs/source/development/traffic_ops_api/v12/steering_target.rst
  traffic_ops/app/lib/API/DeliveryService/SteeringTarget.pm
Labels: Traffic Ops API

#1928 Adding Qwilt to the list of TC users
  docs/source/faq/general.rst
Labels: documentation

#1929 [Issue-1841] - managing sslkeys and urlsig keys requires at least the operations rol…
  docs/source/development/traffic_ops_api/v11/deliveryservice.rst
  docs/source/development/traffic_ops_api/v12/deliveryservice.rst
  traffic_ops/app/lib/API/DeliveryService/KeysUrlSig.pm
  traffic_ops/app/lib/API/DeliveryService/SslKeys.pm
  traffic_ops/app/t/api/1.1/deliveryservice/keys_url_sig.t
  traffic_ops/app/t/api/1.1/deliveryservice/ssl_keys.t
Labels: Traffic Ops API

#1930 [Issue 1687] - adds manage ssl keys, url sig keys and uri signing keys menu items to…
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal

#1926 move config.go into its own package
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/deliveryservices_keys.go
  traffic_ops/traffic_ops_golang/riak.go
  traffic_ops/traffic_ops_golang/routing.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops API (golang)

#1936 ds requests ui tweaks - removed delay on tooltips; added form warning…
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
Labels: Traffic Portal

#1941 TP ds forms pull field titles/descriptions from traffic_portal_proper…
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
Labels: Traffic Portal
