Repository apache/trafficcontrol, pull requests merged in 2018-10, with the labels that each got.

#2892 [Docs] upgrade setuptools prior to installing sphinx
  infrastructure/docker/build/Dockerfile-docs
Labels: documentation

#2901 Remove some unused/duplicated dbhelper functions
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/urlkey.go
Labels: Traffic Ops API (golang)

#2913 bump the grove version from 0.1 to 0.2
  grove/VERSION
  grove/version.go
Labels: grove

#2904 Adds support for single layer CDNs
  docs/source/admin/quick_howto/multi_site.rst
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
Labels: Traffic Ops API, configuration, enhancement

#2937 cdn-in-a-box fixes
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/run.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/parameters/010-global.json
Labels: cdn-in-a-box

#2897 Tabs now use CSS instead of JS
  traffic_monitor/static/index.html
Labels: Traffic Monitor, enhancement

#2952 Change Traffic Ops to 501 Not Implemented on unknown version reqs, and client to return a helpful message
  traffic_ops/client/session.go
  traffic_ops/traffic_ops_golang/routing.go
  traffic_ops/traffic_ops_golang/wrappers.go
Labels: Traffic Ops, Traffic Ops Client, enhancement

#2955 Fixed some issues with building CIAB
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/cdn-in-a-box/cache/Dockerfile
Labels: cdn-in-a-box

#2958 Fix cdn-in-a-box Makefile when running on Mac
  infrastructure/cdn-in-a-box/Makefile
Labels: bug, cdn-in-a-box

#2946 Fix TO Go DSS to create location params
  lib/go-tc/deliveryservices.go
  lib/go-tc/enum.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, bug

#2953 Fix or remove a few unhelpful debug logs
  traffic_ops/traffic_ops_golang/origin/origins_test.go
  traffic_ops/traffic_ops_golang/plugin/plugin.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, enhancement, trivial

#2959 Emit helpful error message when building traffic_monitor or traffic_stats rpm via pkg fails
  infrastructure/docker/build/docker-compose.yml
  traffic_monitor/build/build_rpm.sh
  traffic_stats/build/build_rpm.sh
Labels: bug, build

#2962 Remove legacy mysql-to-postgres conversion Dockerfiles and scripts
  traffic_ops_db/pg-migration/Dockerfile-convert
  traffic_ops_db/pg-migration/Dockerfile-mysql
  traffic_ops_db/pg-migration/Dockerfile-mysql-to-postgres
  traffic_ops_db/pg-migration/Dockerfile-pgloader
  traffic_ops_db/pg-migration/Dockerfile-postgres
  traffic_ops_db/pg-migration/Dockerfile-waiter
  traffic_ops_db/pg-migration/README.md
  traffic_ops_db/pg-migration/convert.yml
  traffic_ops_db/pg-migration/convert_bools.sql
  traffic_ops_db/pg-migration/migrate.sh
  traffic_ops_db/pg-migration/mysql-to-postgres.env
  traffic_ops_db/pg-migration/mysql-to-postgres.sh
  traffic_ops_db/pg-migration/mysql-to-postgres.yml
  traffic_ops_db/pg-migration/mysql/conf.d/mysql.cnf
  traffic_ops_db/pg-migration/mysql_host.yml
  traffic_ops_db/pg-migration/pgloader.yml
  traffic_ops_db/pg-migration/postgres.yml
  traffic_ops_db/pg-migration/runconvert.sh
  traffic_ops_db/pg-migration/runmysql.sh
  traffic_ops_db/pg-migration/runpgloader.sh
  traffic_ops_db/pg-migration/runwaiter.sh
  traffic_ops_db/pg-migration/waiter.yml
Labels: tech debt

#2966 Backport #2962 to 3.0.x
  traffic_ops_db/pg-migration/Dockerfile-convert
  traffic_ops_db/pg-migration/Dockerfile-mysql
  traffic_ops_db/pg-migration/Dockerfile-mysql-to-postgres
  traffic_ops_db/pg-migration/Dockerfile-pgloader
  traffic_ops_db/pg-migration/Dockerfile-postgres
  traffic_ops_db/pg-migration/Dockerfile-waiter
  traffic_ops_db/pg-migration/README.md
  traffic_ops_db/pg-migration/convert.yml
  traffic_ops_db/pg-migration/convert_bools.sql
  traffic_ops_db/pg-migration/migrate.sh
  traffic_ops_db/pg-migration/mysql-to-postgres.env
  traffic_ops_db/pg-migration/mysql-to-postgres.sh
  traffic_ops_db/pg-migration/mysql-to-postgres.yml
  traffic_ops_db/pg-migration/mysql/conf.d/mysql.cnf
  traffic_ops_db/pg-migration/mysql_host.yml
  traffic_ops_db/pg-migration/pgloader.yml
  traffic_ops_db/pg-migration/postgres.yml
  traffic_ops_db/pg-migration/runconvert.sh
  traffic_ops_db/pg-migration/runmysql.sh
  traffic_ops_db/pg-migration/runpgloader.sh
  traffic_ops_db/pg-migration/runwaiter.sh
  traffic_ops_db/pg-migration/waiter.yml
Labels: backport

#2968 Fix the CHANGELOG.md release links
  CHANGELOG.md
Labels: documentation

#2969 Backport #2968 to 3.0.x
  CHANGELOG.md
Labels: backport

#2971 Fix docs typos in ksk/generate
  docs/source/api/v14/cdn.rst
Labels: documentation

#2975 Add TO client UpdateDeliveryServiceNullable, GetDeliveryServicesNullable, GetDeliveryServiceNullable
  traffic_ops/client/deliveryservice.go
  traffic_ops/testing/api/v14/deliveryservices_test.go
Labels: Traffic Ops Client, enhancement
