Repository apache/trafficcontrol, pull requests merged in 2018-03, with the labels that each got.

#1952 TO golang -- validation checks for statuses
  lib/go-tc/statuses.go
  traffic_ops/traffic_ops_golang/status/statuses.go
Labels: Traffic Ops API (golang)

#1951 added routes for PUT/DELETE to /divisions
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang)

#1960 TO golang asns point fixes
  lib/go-tc/asns.go
  traffic_ops/traffic_ops_golang/asn/asns.go
  traffic_ops/traffic_ops_golang/asn/asns_test.go
Labels: Traffic Ops API (golang), bug

#1967 Add Tenancy to URI Signing endpoints and refactor riak code into a riaksvc package.
  traffic_ops/traffic_ops_golang/config.go
  traffic_ops/traffic_ops_golang/deliveryservices_keys.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services_test.go
  traffic_ops/traffic_ops_golang/urisigning.go
  traffic_ops/traffic_ops_golang/urisigning_test.go
Labels: Traffic Ops API (golang)

#1480 Experimental support for Client Subnet in DNS Queries RFC7871
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/config/ConfigHandler.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServerTest.java
Labels: Traffic Router, enhancement

#1976 Clarify server attributes for riak servers
  docs/source/admin/traffic_vault.rst
Labels: Traffic Vault, documentation

#1975 Doc updates for TR Header Parameters
  docs/source/development/traffic_ops_api/v12/deliveryservice.rst
  docs/source/development/traffic_ops_api/v12/server.rst
  docs/source/development/traffic_ops_api/v12/user.rst
Labels: Traffic Ops API, documentation

#1961 TO: adds copy-pgdata.sh for traffic_ops database copying
  traffic_ops/install/bin/copy-pgdata.sh
Labels: Traffic Ops, WIP

#1981 TR: Added 'Accept-Encoding: gzip' headers to outgoing HTTP requests
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/Fetcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/PeriodicResourceUpdater.java
Labels: Traffic Router, enhancement, minor

#1972 bump version to 2.3.0
  VERSION
Labels: Task

#1990 added /api/1.3/profiles to the CHANGELOG.md
  CHANGELOG.md
Labels: Traffic Ops API (golang)

#1799 Traffic Ops API/GUI configuration of FQ Pacing plugin
  CHANGELOG.md
  docs/source/admin/traffic_ops/using.rst
  docs/source/development/traffic_ops_api/v12/deliveryservice.rst
  traffic_ops/app/db/migrations/20180117000000_add_fq_pacing.sql
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
  traffic_ops/app/lib/API/Deliveryservice.pm
  traffic_ops/app/lib/Fixtures/Deliveryservice.pm
  traffic_ops/app/lib/Fixtures/Integration/Deliveryservice.pm
  traffic_ops/app/lib/MojoPlugins/DeliveryService.pm
  traffic_ops/app/lib/Schema/Result/DeliveryServiceInfoForDomainList.pm
  traffic_ops/app/lib/Schema/Result/DeliveryServiceInfoForServerList.pm
  traffic_ops/app/lib/Schema/Result/Deliveryservice.pm
  traffic_ops/app/lib/UI/DeliveryService.pm
  traffic_ops/app/t/deliveryservice.t
  traffic_ops/app/templates/delivery_service/_form.html.ep
  traffic_ops/app/templates/delivery_service/add.html.ep
  traffic_ops/app/templates/delivery_service/edit.html.ep
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
Labels: Traffic Ops, Traffic Ops API, Traffic Server Plugins, enhancement

#1998 Updated Traffic Router version to 2.3.0.
  traffic_router/build/pom.xml
  traffic_router/configuration/pom.xml
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
  traffic_router/geolocation/pom.xml
  traffic_router/jdnssec/pom.xml
  traffic_router/neustar/pom.xml
  traffic_router/pom.xml
  traffic_router/shared/pom.xml
Labels: Traffic Router

#1999 Fixed a SOA sorting issue in Traffic Router
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/RRSetsBuilder.java
Labels: Traffic Router, bug

#2001 move config.go into config package so it can be used in other packages
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/config/config_test.go
  traffic_ops/traffic_ops_golang/deliveryservices_keys.go
  traffic_ops/traffic_ops_golang/routing.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
  traffic_ops/traffic_ops_golang/urisigning.go
  traffic_ops/traffic_ops_golang/wrappers_test.go
Labels: Traffic Ops API (golang)

#2005 [Issue 1996] - reduces priv level of updating ds request status to Portal role and f…
  traffic_ops/traffic_ops_golang/routes.go
  traffic_portal/app/src/common/api/DeliveryServiceService.js
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
Labels: Traffic Ops API (golang), Traffic Portal

#2014 [Issue 1992] - allows negative numbers for steering order
  traffic_portal/app/src/common/modules/form/deliveryServiceTarget/form.deliveryServiceTarget.tpl.html
Labels: Traffic Portal

#2021 servers tcp and https ports should be optional
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops API (golang), bug

#2024 Fix some typos in the docs
  docs/source/admin/traffic_ops/using.rst
  docs/source/overview/traffic_ops.rst
Labels: Traffic Ops, documentation

#2026 TP - fixes wrong variable name that was resulting in null pointer when try…
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
Labels: Traffic Portal, bug

#2020 moved cdns struct into v13 package
  lib/go-tc/v13/cdns.go
  traffic_ops/client/cdn.go
  traffic_ops/client/v13/cdn.go
  traffic_ops/testing/api/v13/traffic_control.go
  traffic_ops/traffic_ops_golang/cdn/cdns.go
  traffic_ops/traffic_ops_golang/cdn/cdns_test.go
Labels: Traffic Ops API (golang)

#2044 [Issue 2007] - adds cg parent and 2nd parent to cg table
  traffic_portal/app/src/common/modules/table/cacheGroups/table.cacheGroups.tpl.html
Labels: Traffic Portal

#2051 removed duplicate test API files
  traffic_ops/testing/api/tc-fixtures.json
  traffic_ops/testing/api/todb/todb.go
Labels: Traffic Ops API (golang)

#2011 renamed the News area to Releases to cleanup and simplify maintenance
  README.md
Labels: documentation

#2045 [Issue 2019] - when deleting a param, it shows the profiles that use the param.
  traffic_portal/app/src/common/modules/form/parameter/edit/FormEditParameterController.js
Labels: Traffic Portal

#2047 [Issue 1050] - adds an optional charts button to the server page. enabled in traffic…
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
Labels: Traffic Portal

#2056 updates golang api tests readme and conf file
  traffic_ops/testing/api/README.md
  traffic_ops/testing/api/conf/traffic-ops-test.conf
Labels: Traffic Ops API (golang)

#2061 updated the profiles route to be -wip until more time to complete
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang)

#2060 [Issue 2057] - adds the ability to compare 2 delivery service requests
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/dialog/compare/DialogCompareController.js
  traffic_portal/app/src/common/modules/dialog/compare/dialog.compare.tpl.html
  traffic_portal/app/src/common/modules/dialog/select/DialogSelectController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/table.deliveryServiceRequests.tpl.html
  traffic_portal/app/src/modules/private/deliveryServiceRequests/compare/index.js
Labels: Traffic Portal

#2064 changed the API route to refer to profiles-wip
  traffic_ops/client/v13/profile.go
Labels: Traffic Ops Client
