Repository apache/trafficcontrol, pull requests merged in 2018-08, with the labels that each got.

#2614 Removed undef that was causing the query constraint to be ignored. This resolved #2613.
  traffic_ops/app/lib/API/Server.pm
Labels: Traffic Ops API

#2610 Fix #2006 - Proper exitcode for admin.pl DB migration
  traffic_ops/app/db/admin.pl
Labels: Traffic Ops

#2615 Added the application name for postgres debugging/troubleshooting
  traffic_ops/app/lib/Schema.pm
Labels: Traffic Ops

#2616 added the fallback_application_name for debugging and troubleshooting
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops API (golang)

#2623 Updated for TC Issue 2619
  traffic_ops/traffic_ops_golang/profile/profiles.go
Labels: Traffic Ops API (golang)

#2626 comment out DS create routes with DNSSEC key generation bug
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang)

#2627 remove debug logging which shows riak credentials.
  traffic_ops/traffic_ops_golang/riaksvc/dsutil.go
Labels: Traffic Ops

#2636 changes login to use go API
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT

#2634 Fix TO Go ds create dnssec trailing dot
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops API (golang), bug

#2643 adds missing license header
  traffic_portal/app/src/common/modules/widget/dashboardStats/widget.dashboardStats.tpl.html
Labels: Traffic Portal

#2653 Fix TO Go routes to all use transactions and timeouts
  lib/go-tc/deliveryservices.go
  lib/go-tc/system_info.go
  traffic_ops/traffic_ops_golang/api/change_log.go
  traffic_ops/traffic_ops_golang/cachegroup/queueupdate.go
  traffic_ops/traffic_ops_golang/cachegroup/trimmed.go
  traffic_ops/traffic_ops_golang/cdn/configs.go
  traffic_ops/traffic_ops_golang/cdn/namedelete.go
  traffic_ops/traffic_ops_golang/cdn/queue.go
  traffic_ops/traffic_ops_golang/crconfig/config.go
  traffic_ops/traffic_ops_golang/crconfig/crconfig.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice.go
  traffic_ops/traffic_ops_golang/crconfig/edgelocations.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/crconfig/snapshot.go
  traffic_ops/traffic_ops_golang/crconfig/stats.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
  traffic_ops/traffic_ops_golang/hwinfo/hwinfo.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/physlocation/trimmed.go
  traffic_ops/traffic_ops_golang/profile/trimmed.go
  traffic_ops/traffic_ops_golang/profileparameter/parameterprofilebyid.go
  traffic_ops/traffic_ops_golang/profileparameter/parameterprofilebyname.go
  traffic_ops/traffic_ops_golang/profileparameter/unassignedparams.go
  traffic_ops/traffic_ops_golang/region/name.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
  traffic_ops/traffic_ops_golang/routes.go
  traffic_ops/traffic_ops_golang/server/detail.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
  traffic_ops/traffic_ops_golang/systeminfo/system_info.go
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
  traffic_ops/traffic_ops_golang/user/deliveryservices.go
Labels: Traffic Ops API (golang), bug, major

#2671 TO Go API: fix origin api tests -- add a tenantId
  traffic_ops/testing/api/v13/tc-fixtures.json
Labels: Traffic Ops API (golang), bug

#2672 TO Go: add not null constraint to deep_caching_type
  traffic_ops/app/db/patches.sql
Labels: Traffic Ops API (golang), enhancement

#2678 Changes download of Tomcat to use curl over wget
  infrastructure/docker/build/Dockerfile-traffic_router
  traffic_router/build/build_rpm.sh
  traffic_router/tomcat-rpm/build_rpm.sh
Labels: Traffic Router, bug

#2679 Fix Traffic Ops unit tests
  traffic_ops/traffic_ops_golang/crconfig/config_test.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice_test.go
  traffic_ops/traffic_ops_golang/crconfig/edgelocations_test.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/crconfig/snapshot_test.go
  traffic_ops/traffic_ops_golang/crconfig/stats_test.go
  traffic_ops/traffic_ops_golang/hwinfo/hwinfo_test.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services_test.go
  traffic_ops/traffic_ops_golang/server/servers_assignment_test.go
  traffic_ops/traffic_ops_golang/server/servers_update_status_test.go
  traffic_ops/traffic_ops_golang/systeminfo/system_info_test.go
Labels: Traffic Ops, tests

#2675 Fix TM tests
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/cache_test.go
  traffic_monitor/cache/data_test.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/peer/peer_test.go
  traffic_monitor/tmcheck/offlinestates.go
  traffic_monitor/tmcheck/tmcheck.go
  traffic_monitor/tools/nagios-validate-deliveryservices/nagios-validate-deliveryservices.go
  traffic_monitor/tools/nagios-validate-offline/nagios-validate-offline.go
  traffic_monitor/tools/nagios-validate-peerpoller/nagios-validate-peerpoller.go
  traffic_monitor/tools/nagios-validate-queryinterval/nagios-validate-queryinterval.go
  traffic_monitor/tools/validator-service/validator-service.go
Labels: Traffic Monitor, tests

#2677 Fixing some grammatical mistakes.
  docs/source/basics/cache_revalidation.rst
Labels: documentation

#2680 Fix TM not starting with null ds matchset
  traffic_monitor/todata/todata.go
Labels: Traffic Monitor, bug, major

#2690 OnThrowable memory leak fix for Traffic Router Issue #2223
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/PeriodicResourceUpdater.java
Labels: Traffic Router, bug, regression

#2686 adds maxRevalDurationDays to seeds.sql
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops

#2694 Fix Docs invalid JSON missing commas and escapes
  docs/source/api/v12/deliveryservice_regex.rst
Labels: documentation, good first issue

#2684 python lib updated to api v1.3
  traffic_control/clients/python/trafficops/trafficops/tosession.py
Labels: Traffic Ops, Traffic Ops API, Traffic Ops Client

#2696 Fixes #2651 - Set Serves Status dropdown to be enabled when creating new
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/form/server/new/FormNewServerController.js
Labels: Traffic Portal

#2708 add operations role to seeds.sql so there when used for extension user
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops

#2709 TP: server.js - removes commented out code
  traffic_portal/server.js
Labels: Traffic Portal

#2691 Fix TO Go db nested query breaking dss post
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops API (golang), bug

#2701 Fix TO Go dss endpoint limit param
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops API (golang), bug

#2717 Fix TO Go ds/sslkeys/generate to accept numbers
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-util/num.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
Labels: Traffic Ops API (golang), bug

#2721 Add TO Go JSONNumAsStr unmarshal unit test
  lib/go-util/num_test.go
Labels: Traffic Ops API (golang), tests

#2733 Improved logging around missing certificates. This resolves #2730.
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/config/CertificateChecker.java
Labels: Traffic Router

#2736 Add TO Go ds MakeExampleURLs test
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13_test.go
Labels: tests

#2737 Fix TO tests for parameter change
  traffic_ops/traffic_ops_golang/routing_test.go
  traffic_ops/traffic_ops_golang/wrappers_test.go
Labels: tests

#2697 Added active filter on delivery services with matching origin names
  traffic_ops/app/lib/Schema/Result/DeliveryServiceInfoForDomainList.pm
Labels: Traffic Ops API, Traffic Ops ORT, bug

#2719 Traffic Ops - Constraint violation(s) with Traffic Ops postinstall script
  traffic_ops/install/bin/_postinstall
Labels: Traffic Ops

#2668 Traffic Ops - Admin.pl load_schema proper exit codes and eval
  traffic_ops/app/db/admin.pl
  traffic_ops/app/db/create_tables.sql
Labels: Traffic Ops

#2639 Fix TO Go profileparameters to match Perl
  lib/go-tc/parameters.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
Labels: Traffic Ops API (golang), bug

#2739 Traffic Monitor formatting - go fmt
  traffic_monitor/cache/astats_test.go
  traffic_monitor/datareq/cachestatfilter.go
  traffic_monitor/manager/health.go
  traffic_monitor/threadsafe/cacheavailablestatus.go
  traffic_monitor/threadsafe/cachemaxkbpses.go
Labels: Traffic Monitor

#2740 Fix TO Go test for db access change
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters_test.go
Labels: tests

#2755 TO Go move sqlx to top-level vendor dir
  LICENSE
  vendor/github.com/jmoiron/sqlx/LICENSE
  vendor/github.com/jmoiron/sqlx/README.md
  vendor/github.com/jmoiron/sqlx/bind.go
  vendor/github.com/jmoiron/sqlx/doc.go
  vendor/github.com/jmoiron/sqlx/named.go
  vendor/github.com/jmoiron/sqlx/named_context.go
  vendor/github.com/jmoiron/sqlx/named_context_test.go
  vendor/github.com/jmoiron/sqlx/named_test.go
  vendor/github.com/jmoiron/sqlx/reflectx/README.md
  vendor/github.com/jmoiron/sqlx/reflectx/reflect.go
  vendor/github.com/jmoiron/sqlx/reflectx/reflect_test.go
  vendor/github.com/jmoiron/sqlx/sqlx.go
  vendor/github.com/jmoiron/sqlx/sqlx_context.go
  vendor/github.com/jmoiron/sqlx/sqlx_context_test.go
  vendor/github.com/jmoiron/sqlx/sqlx_test.go
  vendor/github.com/jmoiron/sqlx/types/README.md
  vendor/github.com/jmoiron/sqlx/types/types.go
  vendor/github.com/jmoiron/sqlx/types/types_test.go
Labels: Traffic Ops API (golang), Traffic Ops Client API Tests

#2759 Remove sudo from trafficrouter RPM scriptlets
  traffic_router/core/src/main/scripts/postinstall.sh
  traffic_router/core/src/main/scripts/preinstall.sh
  traffic_router/core/src/main/scripts/preremove.sh
  traffic_router/tomcat-rpm/tomcat.spec
Labels: Traffic Router, enhancement

#2760 TO DB: Moved mappings to patches.sql instead of having it as a migration
  traffic_ops/app/db/migrations/20180816000626_roles_caps.sql
  traffic_ops/app/db/patches.sql
Labels: Traffic Ops

#2761 Change TO Go string parameters
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
Labels: Traffic Ops API (golang), bug

#2754 add port validation and ip6_address validation to server
  lib/go-tc/tovalidate/rules.go
  traffic_ops/traffic_ops_golang/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
Labels: Traffic Ops API (golang), bug

#2756 add checks that the parsed ldap config is complete
  traffic_ops/traffic_ops_golang/config/config.go
Labels: Traffic Ops API (golang), bug

#2766 TO DB: Changed 'delivery-services-security-keys-read' to 'delivery-service-security-keys-read'
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops, bug, regression

#2767 Fix TO Go cdn dnssec generate to make new keys
  lib/go-tc/deliveryservice_ssl_keys.go
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
Labels: Traffic Ops API (golang), bug, major

#2635 Fixes #2397 - Removed required validation on 'value' from parameters…
  traffic_ops/app/db/migrations/20180815000811_remove_parameter_value_nonnull_constraint.sql
  traffic_ops/traffic_ops_golang/parameter/parameters.go
Labels: Traffic Ops API (golang), Traffic Portal, bug

#2746 adds /api/*/ prefix to api endpoints
  traffic_portal/app/src/common/modules/form/endpoint/edit/FormEditEndpointController.js
  traffic_portal/app/src/common/modules/form/endpoint/form.endpoint.tpl.html
  traffic_portal/app/src/common/modules/table/endpoints/table.endpoints.tpl.html
Labels: Traffic Portal

#2772 TP: changed invalidation request field 'startTime' to UTC instead of local time
  traffic_portal/app/src/modules/private/deliveryServices/jobs/new/index.js
  traffic_portal/app/src/modules/private/jobs/new/index.js
Labels: Traffic Portal
