Repository apache/trafficcontrol, pull requests merged in 2019-01, with the labels that each got.

#3180 Fix CiaB to not use req host hdr in CRConfig
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
Labels: bug, cdn-in-a-box

#3170 handles error scenario for dbdump in TP
  traffic_portal/app/src/common/api/TrafficPortalService.js
Labels: Traffic Portal

#3171 Add TO api helper safety to prevent double writes
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/api_test.go
Labels: Traffic Ops, tech debt

#3194 updates content invalidation permission documentation
  docs/source/api/user_current_jobs.rst
Labels: documentation

#3208 genRoutesConfig explicitly requires the Python client package
  docs/source/tools/compare.rst
  docs/source/tools/python_client.rst
  traffic_ops/testing/compare/Dockerfile
  traffic_ops/testing/compare/README.md
  traffic_ops/testing/compare/genConfigRoutes.py
Labels: Traffic Ops, tests

#3193 CIAB: Update X509 cert generation, add certs to TV, fix TR tomcat native.
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/enroller/run.sh
  infrastructure/cdn-in-a-box/mid/run.sh
  infrastructure/cdn-in-a-box/optional/vnc/run.sh
  infrastructure/cdn-in-a-box/origin/run.sh
  infrastructure/cdn-in-a-box/traffic_monitor/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/traffic_ops/generate-certs.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices/010-ciab.json
  infrastructure/cdn-in-a-box/traffic_portal/run.sh
  infrastructure/cdn-in-a-box/traffic_router/Dockerfile
  infrastructure/cdn-in-a-box/traffic_router/run.sh
  infrastructure/cdn-in-a-box/traffic_vault/prestart.d/00-config.sh
Labels: cdn-in-a-box

#3163 Fix Traffic Ops Tenancy and Activity Bugs, Fix TO API Test Framework to work with Tenancy
  traffic_ops/client/asn.go
  traffic_ops/client/deliveryserviceserver.go
  traffic_ops/testing/api/v14/cachegroups_test.go
  traffic_ops/testing/api/v14/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v14/cdn_domains_test.go
  traffic_ops/testing/api/v14/cdnfederations_test.go
  traffic_ops/testing/api/v14/cdns_test.go
  traffic_ops/testing/api/v14/coordinates_test.go
  traffic_ops/testing/api/v14/crconfig_test.go
  traffic_ops/testing/api/v14/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v14/deliveryservice_requests_test.go
  traffic_ops/testing/api/v14/deliveryservicematches_test.go
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/deliveryserviceservers_test.go
  traffic_ops/testing/api/v14/deliveryservicesideligible_test.go
  traffic_ops/testing/api/v14/divisions_test.go
  traffic_ops/testing/api/v14/federations_test.go
  traffic_ops/testing/api/v14/origins_test.go
  traffic_ops/testing/api/v14/parameters_test.go
  traffic_ops/testing/api/v14/phys_locations_test.go
  traffic_ops/testing/api/v14/regions_test.go
  traffic_ops/testing/api/v14/roles_test.go
  traffic_ops/testing/api/v14/servers_test.go
  traffic_ops/testing/api/v14/staticdnsentries_test.go
  traffic_ops/testing/api/v14/statuses_test.go
  traffic_ops/testing/api/v14/steering_test.go
  traffic_ops/testing/api/v14/steeringtargets_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/testing/api/v14/tenants_test.go
  traffic_ops/testing/api/v14/types_test.go
  traffic_ops/testing/api/v14/user_test.go
  traffic_ops/testing/api/v14/userdeliveryservices_test.go
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
Labels: Traffic Ops, bug, enhancement, major

#3228 Optimize regex_revalidate.config API endpoint
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
Labels: Traffic Ops, improvement, performance

#3240 Return a 500 response rather than an empty 200 response on panic recovery
  traffic_ops/traffic_ops_golang/wrappers.go
  traffic_ops/traffic_ops_golang/wrappers_test.go
Labels: Traffic Ops, bug

#3241 Fix nil pointer dereference in PUT /deliveryserivces/{id} endpoint
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
Labels: Traffic Ops, bug

#3230 change cdn-in-a-box integration tests to use dynamic dns
  infrastructure/cdn-in-a-box/docker-compose.traffic-ops-test.yml
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
Labels: Traffic Ops, cdn-in-a-box, tests

#3206 Fix TO cdns/dnsseckeys to default if no ttl exists
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
Labels: Traffic Ops, bug

#3211 Remove mandatory x509v3 Subject/Authority Key Identifiers in certificate(s) (#3181)
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
Labels: SSL, Traffic Ops, bug

#3244 Change Traffic Ops DNSSEC Generation to Lowercase FQDNs
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
Labels: Traffic Ops, enhancement

#3222 ORT.py now uses the official ATC client
  docs/source/api/cachegroups_id.rst
  docs/source/api/caches_stats.rst
  docs/source/api/cdns_id_queue_update.rst
  docs/source/api/deliveryservices_id_unassigned_servers.rst
  docs/source/api/deliveryservices_xmlid_servers.rst
  docs/source/api/deliveryservices_xmlid_xmlid_sslkeys.rst
  docs/source/api/federations_id_users_id.rst
  docs/source/api/isos.rst
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/ort/setup.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/config_files.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/configuration.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/main_routines.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/packaging.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
  traffic_control/clients/python/trafficops/__version__.py
  traffic_control/clients/python/trafficops/restapi.py
  traffic_control/clients/python/trafficops/tosession.py
Labels: Traffic Ops ORT, cdn-in-a-box

#3255 Fix Unit Test for PR (#3211) - ADDSSLKeys API - Remove mandatory SKI/AKI
  traffic_ops/traffic_ops_golang/deliveryservice/keys_test.go
Labels: Traffic Ops, tests

#3195 Add grovetccfg no-service-reload arg, document error codes.
  grove/grovetccfg/README.md
  grove/grovetccfg/grovetccfg.go
Labels: enhancement, grove

#3252 ORT.py now installs SSL certificates
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/config_files.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/main_routines.py
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  traffic_control/clients/python/trafficops/__version__.py
  traffic_control/clients/python/trafficops/tosession.py
Labels: Traffic Ops ORT

#3203 Cachegroup ui update with fallbacks
  CHANGELOG.md
  docs/source/admin/quick_howto/cachegroup_fallback.rst
  docs/source/admin/quick_howto/cachegroup_fallback/00.png
  docs/source/admin/quick_howto/cachegroup_fallback/01.png
  docs/source/admin/quick_howto/cachegroup_fallback/02.png
  docs/source/admin/quick_howto/cachegroup_fallback/03.png
  docs/source/admin/quick_howto/cachegroup_fallback/04.png
  docs/source/admin/quick_howto/cachegroup_fallback/05.png
  docs/source/admin/quick_howto/index.rst
  docs/source/admin/quick_howto/multi_site.rst
  docs/source/admin/traffic_ops/configuration.rst
  docs/source/admin/traffic_ops/using.rst
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/admin/traffic_stats.rst
  docs/source/api/cachegroup_fallbacks.rst
  docs/source/api/cachegroupparameters.rst
  docs/source/api/cachegroupparameters_id_parameterID.rst
  docs/source/api/cachegroups.rst
  docs/source/api/cachegroups_id.rst
  docs/source/api/cachegroups_id_deliveryservices.rst
  docs/source/api/cachegroups_id_parameters.rst
  docs/source/api/cachegroups_id_queue_update.rst
  docs/source/api/cachegroups_id_unassigned_parameters.rst
  docs/source/api/cachegroups_parameterID_parameter_available.rst
  docs/source/api/cachegroups_trimmed.rst
  docs/source/api/caches_stats.rst
  docs/source/api/cdns_name_health.rst
  docs/source/api/deliveryservices_id_health.rst
  docs/source/api/origins.rst
  docs/source/faq/administration.rst
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/directives/dragAndDrop/dragdropDirective.js
  traffic_portal/app/src/common/directives/dragAndDrop/droppableDirective.js
  traffic_portal/app/src/common/directives/dragAndDrop/index.js
  traffic_portal/app/src/common/modules/form/cacheGroup/FormCacheGroupController.js
  traffic_portal/app/src/common/modules/form/cacheGroup/_form.cacheGroup.scss
  traffic_portal/app/src/common/modules/form/cacheGroup/edit/FormEditCacheGroupController.js
  traffic_portal/app/src/common/modules/form/cacheGroup/form.cacheGroup.tpl.html
  traffic_portal/app/src/common/modules/form/cacheGroup/new/FormNewCacheGroupController.js
  traffic_portal/app/src/modules/private/cacheGroups/edit/index.js
  traffic_portal/app/src/modules/private/cacheGroups/new/index.js
  traffic_portal/app/src/styles/main.scss
Labels: Traffic Ops, Traffic Portal, documentation, enhancement

#3278 fixed broken cachegroup unit test
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups_test.go
Labels: bug, tests

#3277 Return a JSON response with a 200 for successful PUT snapshot
  traffic_ops/traffic_ops_golang/crconfig/handler.go
Labels: Traffic Ops, bug, regression

#3243 Add CIAB cert issue info, formatting
  infrastructure/cdn-in-a-box/README.md
Labels: documentation

#3260 Add Portal Test Docker Compose
  infrastructure/cdn-in-a-box/docker-compose.traffic-portal-test.yml
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/run.sh
Labels: Traffic Portal, cdn-in-a-box, tests

#3265 Add Traffic Ops API Test Docker Compose JUnit Output
  infrastructure/cdn-in-a-box/docker-compose.traffic-ops-test.yml
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/config.sh
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
Labels: Traffic Ops, tests

#3263 Add Monitor Test Docker Compose
  traffic_monitor/tests/Dockerfile-golangtest
  traffic_monitor/tests/docker-compose.yml
Labels: Traffic Monitor, tests

#3271 ORT.py now has a REVALIDATE mode that's totally compatible with the Perl version
  docs/source/development/ort/traffic_ops_ort.rst
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/config_files.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/main_routines.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/services.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
Labels: Traffic Ops ORT, enhancement

#3279 Records.config ds profile parameters
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
Labels: Traffic Ops

#3289 Fix lib/go-tc missing return
  lib/go-tc/parameters.go
Labels: Traffic Ops, bug

#3290 Fix lib/go-tc malformed struct tag
  lib/go-tc/cachegroups.go
Labels: Traffic Ops, bug

#3291 Fix lib/go-tc unreachable code
  lib/go-tc/tovalidate/rules.go
Labels: Traffic Ops, bug

#3293 Fix TM bad format string
  traffic_monitor/health/cache.go
Labels: Traffic Monitor, bug

#3294 Fix TM unnecessary self-assignment
  traffic_monitor/tools/testcaches/testcaches.go
Labels: Traffic Monitor, bug

#3274 Fix Traffic Ops CDN DNSSEC generation when no delivery services exist
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
Labels: Traffic Ops, bug

#3218 Bugfixes for users endpoint
  docs/source/api/user_current.rst
  docs/source/api/users.rst
  docs/source/api/users_id.rst
  lib/go-tc/users.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/testing/api/v14/user_test.go
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routes.go
  traffic_ops/traffic_ops_golang/user/user.go
Labels: Traffic Ops, bug
