Repository apache/trafficcontrol, pull requests merged in 2019-07, with the labels that each got.

#3699 terminate disk check regex with a digit
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug

#3713 Refactor deliveryservice API minor versioning
  CHANGELOG.md
  lib/go-tc/deliveryservices.go
  traffic_ops/testing/api/v14/deliveryservicematches_test.go
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/README.md
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv12.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/urlkey.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, bug

#3706 Fix TO-Go's internal shared riak cluster finalizer
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
Labels: Traffic Ops, Traffic Vault, bug

#3475 CIAB: Let auto-snapqueue and add-sslkeys be functions
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
Labels: cdn-in-a-box, improvement

#3264 CIAB: Dynamically detect server netmask
  infrastructure/cdn-in-a-box/traffic_ops/set-to-ips-from-dns.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/servers/010-dns_server.json
  infrastructure/cdn-in-a-box/traffic_ops_data/servers/020-db_server.json
  infrastructure/cdn-in-a-box/traffic_ops_data/servers/030-enroller_server.json
Labels: cdn-in-a-box

#3674 Cleaned up API endpoint documentation to point to DS overview
  docs/source/api/deliveryservices.rst
  docs/source/api/deliveryservices_hostname_name_sslkeys.rst
  docs/source/api/deliveryservices_id.rst
  docs/source/api/deliveryservices_id_capacity.rst
  docs/source/api/deliveryservices_id_health.rst
  docs/source/api/deliveryservices_id_regexes.rst
  docs/source/api/deliveryservices_id_regexes_rid.rst
  docs/source/api/deliveryservices_id_routing.rst
  docs/source/api/deliveryservices_id_safe.rst
  docs/source/api/deliveryservices_sslkeys_add.rst
  docs/source/api/deliveryservices_sslkeys_generate.rst
  docs/source/api/deliveryservices_xmlid_servers.rst
  docs/source/api/deliveryservices_xmlid_urisignkeys.rst
  docs/source/api/servers_id_deliveryservices.rst
  docs/source/api/user_id_deliveryservices_available.rst
  docs/source/api/users_id_deliveryservices.rst
  docs/source/overview/delivery_services.rst
Labels: Traffic Ops, documentation

#3730 fixes trafficserver status check
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug

#3714 Pulled Profiles/Parameters docs out of TO UI and added it as an overview section
  docs/source/admin/quick_howto/anonymous_blocking.rst
  docs/source/admin/quick_howto/multi_site.rst
  docs/source/admin/quick_howto/regionalgeo.rst
  docs/source/admin/traffic_ops/configuration.rst
  docs/source/admin/traffic_ops/using.rst
  docs/source/admin/traffic_portal/default_profiles.rst
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/admin/traffic_router.rst
  docs/source/admin/traffic_stats.rst
  docs/source/api/cachegroup_parameterID_parameter.rst
  docs/source/api/cachegroupparameters.rst
  docs/source/api/cachegroupparameters_id_parameterID.rst
  docs/source/api/cachegroups_id_parameters.rst
  docs/source/api/cachegroups_id_unassigned_parameters.rst
  docs/source/api/cachegroups_parameterID_parameter_available.rst
  docs/source/api/caches_stats.rst
  docs/source/api/cdns_domains.rst
  docs/source/api/cdns_name_configs_monitoring.rst
  docs/source/api/cdns_name_snapshot.rst
  docs/source/api/cdns_name_snapshot_new.rst
  docs/source/api/deliveryservices.rst
  docs/source/api/deliveryservices_id.rst
  docs/source/api/deliveryservices_id_safe.rst
  docs/source/api/deliveryservices_id_servers.rst
  docs/source/api/deliveryservices_id_servers_eligible.rst
  docs/source/api/deliveryservices_id_unassigned_servers.rst
  docs/source/api/origins.rst
  docs/source/api/osversions.rst
  docs/source/api/parameterprofile.rst
  docs/source/api/parameters.rst
  docs/source/api/parameters_id.rst
  docs/source/api/parameters_id_profiles.rst
  docs/source/api/parameters_id_unassigned_profiles.rst
  docs/source/api/parameters_profile_name.rst
  docs/source/api/parameters_validate.rst
  docs/source/api/profileparameter.rst
  docs/source/api/profileparameters.rst
  docs/source/api/profileparameters_profileID_parameterID.rst
  docs/source/api/profiles.rst
  docs/source/api/profiles_id.rst
  docs/source/api/profiles_id_parameters.rst
  docs/source/api/profiles_id_unassigned_parameters.rst
  docs/source/api/profiles_name_name_copy_copy.rst
  docs/source/api/profiles_name_name_parameters.rst
  docs/source/api/profiles_profile_configfiles_ats_filename.rst
  docs/source/api/profiles_trimmed.rst
  docs/source/api/servers.rst
  docs/source/api/servers_hostname_name_details.rst
  docs/source/api/servers_id.rst
  docs/source/api/servers_id_deliveryservices.rst
  docs/source/api/servers_server_configfiles_ats.rst
  docs/source/api/system_info.rst
  docs/source/api/users_id_deliveryservices.rst
  docs/source/development/documentation_guidelines.rst
  docs/source/development/traffic_router/traffic_router_api.rst
  docs/source/glossary.rst
  docs/source/overview/delivery_services.rst
  docs/source/overview/index.rst
  docs/source/overview/profiles_and_parameters.rst
Labels: Traffic Ops, documentation

#3736 Minor routes.go cleanup
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#3680 TP: adds the ability to rearrange table columns as well as toggle column visibility
  .dependency_license
  .rat-excludes
  LICENSE
  licenses/MIT-ColReorder
  licenses/MIT-datatables
  traffic_portal/app/src/app.js
  traffic_portal/app/src/assets/css/colReorder.dataTables.min_1.5.1.css
  traffic_portal/app/src/assets/js/colReorder.dataTables.min_1.5.1.js
  traffic_portal/app/src/assets/js/jquery.dataTables.min_1.10.16.js
  traffic_portal/app/src/assets/js/jquery.dataTables.min_1.10.19_patched.js
  traffic_portal/app/src/common/modules/table/_table.scss
  traffic_portal/app/src/common/modules/table/types/TableTypesController.js
  traffic_portal/app/src/common/modules/table/types/table.types.tpl.html
  traffic_portal/app/src/common/service/application/ApplicationService.js
  traffic_portal/app/src/index.html
  traffic_portal/test/end_to_end/types/types-spec.js
Labels: Traffic Portal, enhancement

#3675 Fix "OURCE" displaying in TP build date string
  traffic_portal/build/traffic_portal.spec
Labels: Traffic Portal, bug, build

#3623 Removed restangular from ParameterService
  traffic_portal/app/src/common/api/ParameterService.js
Labels: Traffic Portal, tech debt

#3626 Removed restangular from ProfileService
  traffic_portal/app/src/common/api/ProfileService.js
Labels: Traffic Portal, tech debt

#3735 Add TP test for DNSSEC keys
  traffic_portal/test/end_to_end/CDNs/cdns-spec.js
  traffic_portal/test/end_to_end/CDNs/pageData.js
  traffic_portal/test/end_to_end/common/commonFunctions.js
Labels: Traffic Portal, tests

#3727 Fix bug that causes DS requests to fulfill immediately while other requests are still open
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/test/end_to_end/DeliveryServiceRequests/delivery-service-requests-spec.js
Labels: Traffic Portal, bug

#3750 Fix grove log fractional seconds
  CHANGELOG.md
  grove/plugin/ats_log.go
  grove/plugin/ats_log_test.go
Labels: bug, grove

#3725 Make entire row clickable in TP assignment popups
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/TableCacheGroupParamsUnassignedController.js
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/table.cacheGroupParamsUnassigned.tpl.html
  traffic_portal/app/src/common/modules/table/cdnFederationDeliveryServices/table.assignFederationDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/cdnFederationUsers/table.assignFederationUsers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.assignDSServers.tpl.html
  traffic_portal/app/src/common/modules/table/federationResolvers/table.assignFedResolvers.tpl.html
  traffic_portal/app/src/common/modules/table/parameterProfiles/table.paramProfilesUnassigned.tpl.html
  traffic_portal/app/src/common/modules/table/profileParameters/table.profileParamsUnassigned.tpl.html
  traffic_portal/app/src/common/modules/table/roleCapabilities/table.assignCapabilities.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.assignDeliveryServices.tpl.html
Labels: Traffic Portal, improvement

#3751 Fix PR template typo
  PULL_REQUEST_TEMPLATE.md
Labels: bug, documentation

#3708 adds an issue template for the TC repo
  ISSUE_TEMPLATE.md
Labels: documentation

#3658 TP - delivery service form layout redesign
  traffic_portal/app/src/common/modules/form/_form.scss
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/test/end_to_end/DeliveryServices/delivery-services-spec.js
Labels: Traffic Portal, improvement

#3609 Removed restangular from CoordinateService
  traffic_portal/app/src/common/api/CoordinateService.js
Labels: Traffic Portal, tech debt

#3607 Removed restangular from CapabilityService
  traffic_portal/app/src/common/api/CapabilityService.js
Labels: Traffic Portal, tech debt

#3601 Removed restangular from AuthService.js
  traffic_portal/app/src/common/api/AuthService.js
  traffic_portal/app/src/modules/public/login/LoginController.js
Labels: Traffic Portal, tech debt

#3597 Removed restangular from TypeService
  traffic_portal/app/src/common/api/TypeService.js
Labels: Traffic Portal, tech debt

#3742 Restricted job creation to Portal and above
  docs/source/api/user_current_jobs.rst
  traffic_ops/app/lib/API/Job.pm
Labels: Traffic Ops, bug
