Repository apache/trafficcontrol, pull requests merged in 2019-03, with the labels that each got.

#3298 Fix TO duplicate tenancy checks
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv12.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
Labels: Traffic Ops, tech debt

#3199 Fix TO POST cachegroups/id/deliveryservices failure when params exist
  traffic_ops/testing/api/v14/cachegroupsdeliveryservices_test.go
  traffic_ops/traffic_ops_golang/cachegroup/dspost.go
Labels: Traffic Ops, bug

#3144 Fix Traffic Ops POST cachegroups/{id}/deliveryservices to return tenancy error instead of 500
  traffic_ops/traffic_ops_golang/cachegroup/dspost.go
Labels: Traffic Ops, bug

#3336 Display error in TP when there are no Traffic Stats servers available
  traffic_portal/app/src/common/api/CacheStatsService.js
  traffic_portal/app/src/common/api/DeliveryServiceStatsService.js
Labels: Traffic Portal, bug

#3148 Fix Traffic Ops GET statuses to allow null descriptions
  lib/go-tc/statuses.go
  traffic_ops/client/status.go
  traffic_ops/testing/api/v14/statuses_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/testing/api/v14/traffic_control.go
  traffic_ops/traffic_ops_golang/status/statuses.go
Labels: Traffic Ops, bug

#3329 Fix: Steering Target form doesn't display 'Steering Delivery Service' value
  traffic_portal/app/src/common/modules/form/deliveryServiceTarget/form.deliveryServiceTarget.tpl.html
Labels: Traffic Portal, bug

#2600 Handle port different than 80 for Traffic Ops Checks
  traffic_ops/app/bin/checks/ToCDUCheck.pl
  traffic_ops/app/bin/checks/ToCHRCheck.pl
  traffic_ops/app/bin/checks/ToDSCPCheck.pl
Labels: Traffic Ops

#3334 Updated traffic_ops.spec to be golang >= 1.9.4 instead of =
  traffic_ops/build/traffic_ops.spec
Labels: Traffic Ops, backport, bug, install

#3387 Bugfix for self-signed SSL certs in ORT script
  traffic_ops/bin/traffic_ops_ort.pl
Labels: SSL, Traffic Ops ORT, bug

#3368 Added docs dependencies needed for auto-documenting ATC Python modules
  docs/source/requirements.txt
  infrastructure/docker/build/Dockerfile-docs
Labels: Traffic Control Client, documentation

#3379 Static dns entry example documentation
  docs/source/admin/quick_howto/index.rst
  docs/source/admin/quick_howto/static_dns.rst
  docs/source/admin/quick_howto/static_dns/00.png
  docs/source/admin/quick_howto/static_dns/01.png
  docs/source/admin/traffic_ops/using.rst
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/development/traffic_router/traffic_router_api.rst
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceStaticDnsEntry/form.deliveryServiceStaticDnsEntry.tpl.html
Labels: Traffic Portal, documentation, improvement

#3372 CIAB: remove tccache
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/cache/run.sh
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/edge/Dockerfile
Labels: cdn-in-a-box

#3399 fixes UI tests that broke due to PR#3361
  traffic_portal/test/end_to_end/DeliveryServiceRequests/delivery-service-requests-spec.js
  traffic_portal/test/end_to_end/DeliveryServices/delivery-services-spec.js
Labels: Traffic Portal, tests

#3367 astats increase file buffer size, fix compiler warnings
  traffic_server/plugins/astats_over_http/astats_over_http.c
Labels: Traffic Server Plugins, improvement

#3380 Add SSL Certificate Validation to Traffic Router
  CHANGELOG.md
  infrastructure/docker/traffic_router/Dockerfile
  infrastructure/docker/traffic_router/run.sh
  infrastructure/docker/traffic_router/shutdowntr.sh
  infrastructure/docker/traffic_router/starttr.sh
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateDataConverter.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateRegistry.java
  traffic_router/connector/src/test/java/secure/CertificateDataConverterTest.java
  traffic_router/core/src/test/resources/api/1.3/cdns/name/thecdn/sslkeys-missing-1.json
  traffic_router/core/src/test/resources/api/1.3/cdns/name/thecdn/sslkeys.json
  traffic_router/shared/pom.xml
  traffic_router/shared/src/test/java/secure/BindPrivateKeyTest.java
  traffic_router/shared/src/test/java/shared/DeliveryServiceCertificatesTest.java
Labels: Traffic Router, enhancement

#3406 3.0.x back ported 3331 and 3380
  CHANGELOG.md
  infrastructure/docker/traffic_router/Dockerfile
  infrastructure/docker/traffic_router/run.sh
  infrastructure/docker/traffic_router/shutdowntr.sh
  infrastructure/docker/traffic_router/starttr.sh
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateDataConverter.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateRegistry.java
  traffic_router/connector/src/test/java/secure/CertificateDataConverterTest.java
  traffic_router/connector/src/test/java/secure/CertificateRegistryTest.java
  traffic_router/core/src/test/resources/api/1.3/cdns/name/thecdn/sslkeys-missing-1.json
  traffic_router/core/src/test/resources/api/1.3/cdns/name/thecdn/sslkeys.json
  traffic_router/shared/pom.xml
  traffic_router/shared/src/main/java/com/comcast/cdn/traffic_control/traffic_router/shared/CertificateData.java
  traffic_router/shared/src/test/java/secure/BindPrivateKeyTest.java
  traffic_router/shared/src/test/java/shared/DeliveryServiceCertificatesTest.java
Labels: Traffic Router, backport

#3407 [Backport - 3.0.x] Return a JSON response with a 200 for successful PUT snapshot
  traffic_ops/traffic_ops_golang/crconfig/handler.go
Labels: Traffic Ops, backport

#3408 [Backport - 3.0.x] Modified logging to include the resolver IP address and override the …
  CHANGELOG.md
  docs/source/admin/traffic_ops/using.rst
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/DNSAccessEventBuilder.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/DNSAccessRecord.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/DNSAccessEventBuilderTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/AbstractProtocolTest.java
Labels: Traffic Router, backport

#3409 [BACKPORT - 3.0.x] backport #3233
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/SignatureManager.java
Labels: Traffic Router, backport

#3385 DS form tooltips now pure CSS hoverboxes
  traffic_portal/app/src/common/modules/form/_form.scss
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal, improvement

#3377 Quality of life improvements to consistent hash regex test form
  traffic_portal/app/src/common/modules/form/deliveryServiceConsistentHashRegex/form.deliveryServiceConsistentHashRegex.tpl.html
Labels: Traffic Portal, improvement

#3420 TO API: reverts api 1.5 version to 1.4 as 1.5 wasn't needed yet
  docs/source/api/consistenthash.rst
  traffic_ops/app/lib/TrafficOpsRoutes.pm
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/status/statuses_test.go
  traffic_portal/app/src/scripts/config.js
Labels: Traffic Ops

#3421 convert_profile: Changed ruleset from json to yaml
  traffic_ops/install/bin/convert_profile/convert622to713.yaml
  traffic_ops/install/bin/convert_profile/convert_profile.go
Labels: Traffic Ops, enhancement, tools

#3360 Cache Config Parser
  traffic_ops/testing/api/v14/config/cachecfg/cachecfg.go
  traffic_ops/testing/api/v14/config/cachecfg/cachecfg_test.go
  traffic_ops/testing/api/v14/config/common.go
  traffic_ops/testing/api/v14/config/common_test.go
  traffic_ops/testing/api/v14/config/error.go
  traffic_ops/testing/api/v14/config/table_test_structs.go
Labels: tests

#3370 Added ip_allow config parser and test
  traffic_ops/testing/api/v14/config/common.go
  traffic_ops/testing/api/v14/config/common_test.go
  traffic_ops/testing/api/v14/config/error.go
  traffic_ops/testing/api/v14/config/ip_allow/ip_allow.go
  traffic_ops/testing/api/v14/config/ip_allow/ip_allow_test.go
Labels: tests

#3428 Fixed Steering DS form broken markup/styling
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
Labels: Traffic Portal, bug

#3440 BACKPORT: fixes #3223. updated type of SteeringTargetNullable.Value to JSONIntStr
  lib/go-tc/steeringtarget.go
  traffic_ops/testing/api/v13/steeringtargets_test.go
  traffic_portal/app/src/common/modules/form/deliveryServiceTarget/form.deliveryServiceTarget.tpl.html
Labels: Traffic Ops, Traffic Portal

#3439 CIAB: update postgres version to 9.6.12
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-db
Labels: cdn-in-a-box

#3441 Updates to ToDSCPCheck.pl
  CHANGELOG.md
  traffic_ops/app/bin/checks/ToDSCPCheck.pl
Labels: backport, bug, enhancement, traffic_ops_extensions

#3413 CIAB: Add CDN_NAME environment variable
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/mid/run.sh
  infrastructure/cdn-in-a-box/traffic_monitor/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/cdns/010-CDN-in-a-Box.json
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices/010-ciab.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/020-ATS_MID_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-CCR_CIAB.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/070-RASCAL-Traffic_Monitor.json
  infrastructure/cdn-in-a-box/variables.env
Labels: cdn-in-a-box

#3449 CIAB: add net-tools to get insert-self-into-dns.sh to work again
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/Dockerfile
Labels: Traffic Portal, cdn-in-a-box, tests

#3418 Updates to ToDSCPCheck.pl
  traffic_ops/app/bin/checks/ToDSCPCheck.pl
Labels: Traffic Ops, bug, enhancement
