Repository apache/trafficcontrol, pull requests merged in 2019-11, with the labels that each got.

#4044 Ensure server_capability can only be assigned to edges or mids
  docs/source/api/server_server_capabilities.rst
  traffic_ops/testing/api/v14/serverservercapability_test.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability.go
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/table/serverServerCapabilities/TableServerServerCapabilitiesController.js
  traffic_portal/app/src/common/modules/table/serverServerCapabilities/table.serverServerCapabilities.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/service/utils/ServerUtils.js
Labels: Traffic Ops, Traffic Portal, documentation, improvement

#4059 return 403 when unauthorized user assigns/deletes ds required capability
  traffic_ops/testing/api/v14/deliveryservices_required_capabilities_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities_test.go
Labels: Traffic Ops, improvement

#4061 TP: fetches tenant users with the proper query param and removes tenantId…
  docs/source/api/users.rst
  traffic_portal/app/src/modules/private/tenants/users/index.js
Labels: Traffic Portal, bug, documentation

#4066 Fix federation user JSON company key
  lib/go-tc/federation.go
Labels: Traffic Ops, bug, regression

#4071 TP: adds type query param to the state url definition.
  traffic_portal/app/src/modules/private/deliveryServices/capabilities/index.js
Labels: Traffic Portal, bug

#4073 Fix silenced error in Server Capability delete server in TP
  traffic_portal/app/src/common/api/ServerCapabilityService.js
Labels: Traffic Portal, bug

#4063 Add atstccfg meta config
  CHANGELOG.md
  lib/go-atscfg/meta.go
  lib/go-atscfg/meta_test.go
  traffic_ops/ort/atstccfg/meta.go
  traffic_ops/ort/atstccfg/routing.go
  traffic_ops/testing/api/v14/atsconfig_meta_test.go
  traffic_ops/traffic_ops_golang/ats/atsserver/meta.go
  traffic_ops/traffic_ops_golang/ats/db.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: enhancement, to-cache-configs

#4067 adds ds required capabilities link to using TP ds section
  docs/source/admin/quick_howto/server_capabililty.rst
  docs/source/admin/traffic_portal/usingtrafficportal.rst
Labels: Traffic Portal, documentation

#3980 Add atscfg logic for Server Capabilities
  CHANGELOG.md
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  traffic_ops/ort/atstccfg/parentdotconfig.go
  traffic_ops/ort/atstccfg/toreq.go
  traffic_ops/traffic_ops_golang/ats/atsserver/parentdotconfig.go
  traffic_ops/traffic_ops_golang/ats/db.go
Labels: Traffic Ops, enhancement, to-cache-configs

#4072 Prevent Assigning Servers to Delivery Services Without Required Capabilities
  CHANGELOG.md
  docs/source/api/deliveryservices_id_servers_eligible.rst
  docs/source/glossary.rst
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  lib/go-tc/deliveryservice_servers.go
  lib/go-util/str.go
  traffic_ops/testing/api/v14/deliveryserviceservers_test.go
  traffic_ops/testing/api/v14/serverservercapability_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
Labels: Traffic Ops, improvement

#4078 Fix file permissions on Go source file
  traffic_ops/ort/atstccfg/remapdotconfig.go
Labels: Traffic Ops ORT, minor, tech debt

#4081 TP: makes parameter row clickable to show parameter details
  traffic_portal/app/src/common/modules/table/profileParameters/TableProfileParametersController.js
  traffic_portal/app/src/common/modules/table/profileParameters/table.profileParameters.tpl.html
Labels: Traffic Portal, improvement

#4082 Fix federation user validation
  lib/go-tc/federation.go
Labels: Traffic Ops, improvement

#3621 Removed restangular from JobService
  traffic_portal/app/src/common/api/JobService.js
Labels: Traffic Portal, tech debt

#4088 Fix federation/{id}/user & federation/{id}/deliveryservices id not found error
  traffic_ops/traffic_ops_golang/federations/ds.go
  traffic_ops/traffic_ops_golang/federations/user.go
Labels: Traffic Ops, bug

#4094 Fixed an issue that led to incomplete data structures being swapped i…
  docs/source/admin/traffic_router.rst
  docs/source/api/cdns_name_snapshot.rst
  docs/source/api/cdns_name_snapshot_new.rst
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManager.java
Labels: Traffic Router, bug

#4099 Correctly handle assigning org servers to ds that have req caps
  docs/source/api/deliveryservices_id_servers_eligible.rst
  traffic_ops/testing/api/v14/deliveryserviceservers_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/federations/federations.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/service/utils/ServerUtils.js
Labels: Traffic Ops, Traffic Portal, bug

#3619 Removed restangular from FederationResolverService
  traffic_portal/app/src/common/api/FederationResolverService.js
  traffic_portal/app/src/common/modules/form/federation/edit/FormEditFederationController.js
Labels: Traffic Portal, tech debt

#3620 Removed restangular from FederationService
  traffic_portal/app/src/common/api/FederationService.js
  traffic_portal/app/src/common/modules/form/federation/edit/FormEditFederationController.js
Labels: Traffic Portal, tech debt

#3618 Removed restangular from EndpointService
  traffic_portal/app/src/common/api/EndpointService.js
Labels: Traffic Portal, tech debt

#3603 Removed restangular from CacheGroupParameterService
  traffic_portal/app/src/common/api/CacheGroupParameterService.js
Labels: Traffic Portal, tech debt

#4084 TP: delivery service widget - changes search to ds xmlId rather than display name
  traffic_portal/app/src/common/modules/widget/deliveryServices/widget.deliveryServices.tpl.html
Labels: Traffic Portal, improvement

#4100 Docs: Misc Fixes
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/overview/profiles_and_parameters.rst
  docs/source/overview/traffic_monitor.rst
  docs/source/overview/traffic_router.rst
Labels: bug, documentation, improvement, minor

#4104 Separate execution of required zone generation from optional priming
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManager.java
Labels: Traffic Router, bug

#3602 Removed restangular from CDNService
  traffic_portal/app/src/common/api/CDNService.js
  traffic_portal/app/src/common/modules/compare/CompareController.js
Labels: Traffic Portal, tech debt

#4077 updated SMTP to use Login Auth
  docs/source/admin/traffic_ops.rst
  traffic_ops/traffic_ops_golang/api/api.go
Labels: Traffic Ops

#3914 TM: Report time for full body download for _astats
  CHANGELOG.md
  traffic_monitor/poller/poller_type_http.go
Labels: Traffic Monitor

#3961 added ability to select TLS version in TR
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
Labels: Traffic Router, bug

#4108 adds deep coverage zone routed percentage to TP's routing widget
  CHANGELOG.md
  docs/source/api/cdns_routing.rst
  docs/source/api/deliveryservices_id_routing.rst
  traffic_portal/app/src/common/modules/widget/routing/WidgetRoutingController.js
  traffic_portal/app/src/common/modules/widget/routing/_widget.routing.scss
  traffic_portal/app/src/common/modules/widget/routing/widget.routing.tpl.html
Labels: Traffic Portal, improvement

#3599 Removed restangular from FormProfileController.js
  traffic_portal/app/src/common/modules/form/profile/FormProfileController.js
Labels: Traffic Portal, tech debt

#3606 Removed restangular from CacheStatsService
  traffic_portal/app/src/common/api/CacheStatsService.js
Labels: Traffic Portal, tech debt

#4124 Fix incorrect error handling on validate server capabilities
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, bug, minor

#4118 Clean up TO API tests
  traffic_ops/client_tests/README.md
  traffic_ops/testing/api/log/log.go
  traffic_ops/testing/api/test/http.go
  traffic_ops/testing/api/test/wrapper.go
  traffic_ops/testing/api/v14/fixtures_test.go
  traffic_ops/testing/api/v14/session_test.go
  traffic_ops/testing/api/v14/todb_test.go
  traffic_ops/testing/api/v14/traffic_control_test.go
  traffic_ops/testing/api/v14/withobjs_test.go
Labels: Traffic Ops, tech debt, tests

#4117 Remove unused dated infrastructure test suites
  LICENSE
  infrastructure/test/README.md
  infrastructure/test/api/traffic_ops/traffic_ops_test.go
  infrastructure/test/api/traffic_ops/traffic_ops_tester.go
  infrastructure/test/apitest/apitest.go
  infrastructure/test/environment.json
  infrastructure/test/environment/environment.go
  infrastructure/test/ui/traffic_ops/traffic_ops_test.go
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/.hgtags
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/.travis.yml
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/AUTHORS
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/ChangeLog
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/Dockerfile
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/LICENSE.txt
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/Makefile
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/README.md
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/common.go
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/doc.go
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/docker-test.sh
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/ff_profile.go
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/push-to-github.sh
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/remote.go
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/remote_test.go
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/run-tests.sh
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/selenium.go
  infrastructure/test/ui/vendor/github.com/tebeka/selenium/selenium.sh
Labels: tech debt, tests

#3761 Improvements to Server-to-Delivery Service assignments
  traffic_ops/client/server.go
  traffic_ops/testing/api/v14/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/testing/api/v14/user_test.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
Labels: Traffic Ops, Traffic Portal, bug, major

#4133 removed non-existent parameters from CDN-in-a-Box and docs
  docs/source/api/cdns_name_snapshot.rst
  docs/source/api/cdns_name_snapshot_new.rst
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-CCR_CIAB.json
Labels: bug, cdn-in-a-box, documentation, minor

#4080 Remove executable permission where not needed
  docs/source/admin/traffic_monitor.rst
  docs/source/conf.py
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/headerrewritedotconfig_test.go
  lib/go-atscfg/headerrewritemiddotconfig.go
  lib/go-atscfg/headerrewritemiddotconfig_test.go
  lib/go-atscfg/regexrevalidatedotconfig.go
  lib/go-atscfg/regexrevalidatedotconfig_test.go
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
  traffic_ops/app/lib/Extensions/TrafficStats/Builder/BaseBuilder.pm
  traffic_ops/app/lib/Extensions/TrafficStats/Builder/CacheStatsBuilder.pm
  traffic_ops/app/lib/Extensions/TrafficStats/Builder/DeliveryServiceStatsBuilder.pm
  traffic_ops/app/lib/Extensions/TrafficStats/Connection/InfluxDBAdapter.pm
  traffic_ops/app/lib/Helper/CacheStats.pm
  traffic_ops/app/lib/Helper/DeliveryServiceStats.pm
  traffic_ops/app/lib/Helper/Stats.pm
  traffic_ops/app/lib/MojoPlugins/Daemonize.pm
  traffic_ops/app/lib/MojoPlugins/DeliveryService.pm
  traffic_ops/app/lib/MojoPlugins/DnssecKeys.pm
  traffic_ops/app/lib/MojoPlugins/Email.pm
  traffic_ops/app/lib/MojoPlugins/Health.pm
  traffic_ops/app/lib/MojoPlugins/InfluxDB.pm
  traffic_ops/app/lib/MojoPlugins/Job.pm
  traffic_ops/app/lib/MojoPlugins/Response.pm
  traffic_ops/app/lib/MojoPlugins/Riak.pm
  traffic_ops/app/lib/MojoPlugins/RuntimeDependencies.pm
  traffic_ops/app/lib/MojoPlugins/Server.pm
  traffic_ops/app/lib/MojoPlugins/SslKeys.pm
  traffic_ops/app/lib/MojoPlugins/Stats.pm
  traffic_ops/app/lib/MojoPlugins/TrafficMonitorConnection.pm
  traffic_ops/app/lib/MojoPlugins/TrafficRouterConnection.pm
  traffic_ops/app/lib/MojoPlugins/Validation.pm
  traffic_portal/app/src/assets/css/angular-moment-picker_0.10.2.css
  traffic_portal/app/src/assets/js/moment-picker/angular-moment-picker.min_0.10.2.js
  traffic_portal/app/src/common/modules/header/_header.scss
  traffic_portal/app/src/styles/main.scss
  traffic_portal/bower.json
  traffic_portal/package.json
  traffic_router/core/src/main/lib/systemd/system/traffic_router.service
Labels: Traffic Ops, Traffic Portal, Traffic Router, documentation, minor, tech debt, to-cache-configs

#4134 Api test gardening
  traffic_ops/testing/api/config/config.go
  traffic_ops/testing/api/v14/atsconfig_meta_test.go
  traffic_ops/testing/api/v14/atsconfig_test.go
  traffic_ops/testing/api/v14/cachegroups_parameters_test.go
  traffic_ops/testing/api/v14/cachegroups_test.go
  traffic_ops/testing/api/v14/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v14/cdn_domains_test.go
  traffic_ops/testing/api/v14/cdnfederations_test.go
  traffic_ops/testing/api/v14/cdns_test.go
  traffic_ops/testing/api/v14/config/common.go
  traffic_ops/testing/api/v14/cookie_test.go
  traffic_ops/testing/api/v14/coordinates_test.go
  traffic_ops/testing/api/v14/crconfig_test.go
  traffic_ops/testing/api/v14/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v14/deliveryservice_requests_test.go
  traffic_ops/testing/api/v14/deliveryservicematches_test.go
  traffic_ops/testing/api/v14/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/deliveryserviceservers_test.go
  traffic_ops/testing/api/v14/deliveryservicesideligible_test.go
  traffic_ops/testing/api/v14/divisions_test.go
  traffic_ops/testing/api/v14/federation_resolvers_test.go
  traffic_ops/testing/api/v14/federation_users_test.go
  traffic_ops/testing/api/v14/federations_test.go
  traffic_ops/testing/api/v14/hdr_rw_dot_config_test.go
  traffic_ops/testing/api/v14/jobs_test.go
  traffic_ops/testing/api/v14/loginfail_test.go
  traffic_ops/testing/api/v14/logs_test.go
  traffic_ops/testing/api/v14/origins_test.go
  traffic_ops/testing/api/v14/parameters_test.go
  traffic_ops/testing/api/v14/parentdotconfig_test.go
  traffic_ops/testing/api/v14/phys_locations_test.go
  traffic_ops/testing/api/v14/ping_test.go
  traffic_ops/testing/api/v14/profile_parameters_test.go
  traffic_ops/testing/api/v14/profileconfig_test.go
  traffic_ops/testing/api/v14/profiles_test.go
  traffic_ops/testing/api/v14/readonlycannotmodify_test.go
  traffic_ops/testing/api/v14/regions_test.go
  traffic_ops/testing/api/v14/remapdotconfig_test.go
  traffic_ops/testing/api/v14/roles_test.go
  traffic_ops/testing/api/v14/servercapabilities_test.go
  traffic_ops/testing/api/v14/serverchecks_test.go
  traffic_ops/testing/api/v14/servers_test.go
  traffic_ops/testing/api/v14/serverservercapability_test.go
  traffic_ops/testing/api/v14/serverupdatestatus_test.go
  traffic_ops/testing/api/v14/staticdnsentries_test.go
  traffic_ops/testing/api/v14/statuses_test.go
  traffic_ops/testing/api/v14/steering_test.go
  traffic_ops/testing/api/v14/steeringtargets_test.go
  traffic_ops/testing/api/v14/tenants_test.go
  traffic_ops/testing/api/v14/toextension_test.go
  traffic_ops/testing/api/v14/traffic_ops_test.go
  traffic_ops/testing/api/v14/types_test.go
  traffic_ops/testing/api/v14/user_test.go
  traffic_ops/testing/api/v14/userdeliveryservices_test.go
Labels: TO Client (Go), Traffic Ops, improvement, minor, tests

#4126 TO: Rewrite /osversions in Go
  CHANGELOG.md
  docs/source/admin/quick_howto/kickstart.rst
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/api/osversions.rst
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go
  lib/go-tc/iso.go
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/app/bin/osversions-convert.pl
  traffic_ops/build/traffic_ops.spec
  traffic_ops/client/iso.go
  traffic_ops/install/data/json/osversions.json
  traffic_ops/testing/api/v14/iso_test.go
  traffic_ops/traffic_ops_golang/iso/osversions.go
  traffic_ops/traffic_ops_golang/iso/osversions_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#4139 Fix copyright missing
  traffic_ops/traffic_ops_golang/iso/osversions_test.go
Labels: license

#4136 Block server type update when server is assigned DSes
  traffic_ops/testing/api/v14/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, bug, medium

#4106 Add top level golang linter and golang unit test
  .golangci.yml
  Makefile
  experimental/traffic_ops_auth/traffic_ops_auth.go
  experimental/traffic_router_golang/cgsrch/cgsrch.go
  experimental/traffic_router_golang/crconfigdsservers/crconfigdsservers.go
  experimental/traffic_router_golang/crconfigpoller/crconfigpoller.go
  experimental/traffic_router_golang/crstatespoller/crstatespoller.go
  experimental/traffic_router_golang/httpsrvr/httpsrvr.go
  experimental/traffic_router_golang/ipmap/ipmap.go
  experimental/traffic_router_golang/quadtree/quadtree_test.go
  experimental/traffic_router_golang/traffic_router_golang.go
  experimental/webfront/simpleserver/simpleserver.go
  experimental/webfront/webfront.go
  test/router/client/client.go
  test/router/data/httpresult.go
  test/router/dnssec/dnssec.go
  test/router/dnssec/dnssec_suite_test.go
  test/router/dnssec/dnssec_test.go
  test/router/load/load.go
  test/router/server/server.go
  tools/golang/Dockerfile
  tools/golang/docker-compose.yml
  traffic_ops/client/server.go
  traffic_ops/install/bin/convert_profile/convert_profile.go
  traffic_ops/testing/api/v14/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/compare/compare.go
  traffic_router/tomcat-rpm/tomcat.spec
Labels: automation, enhancement, tests, tools

#3612 Removed restangular from DeliveryServiceService
  traffic_portal/app/src/common/api/DeliveryServiceService.js
Labels: Traffic Portal, tech debt

#3610 Removed restangular from DeliveryServiceRegexService
  traffic_portal/app/src/common/api/DeliveryServiceRegexService.js
  traffic_portal/app/src/common/modules/form/deliveryServiceRegex/edit/FormEditDeliveryServiceRegexController.js
Labels: Traffic Portal, tech debt

#4141 FIxed broken API tests.
  traffic_ops/testing/api/v14/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v14/parentdotconfig_test.go
  traffic_ops/testing/api/v14/remapdotconfig_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
Labels: TO Client (Go), Traffic Ops, bug, tests

#4135 limit the ability to clone ds assignments to edges with 1+ ds's assigned
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/test/end_to_end/conf.js
  traffic_portal/test/end_to_end/servers/pageData.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, improvement

#3614 Removed restangular from DeliveryServiceStatsService
  traffic_portal/app/src/common/api/DeliveryServiceStatsService.js
Labels: Traffic Portal, tech debt

#3616 Removed restangular from DeliveryServiceUrlSigKeysService
  traffic_portal/app/src/common/api/DeliveryServiceUrlSigKeysService.js
Labels: Traffic Portal, tech debt

#4097 Emulated vault
  CHANGELOG.md
  experimental/emulated_vault/README.md
  experimental/emulated_vault/etc/systemd/system/emulated-vault.service
  experimental/emulated_vault/opt/emulated-vault/conf/cfg.ini
  experimental/emulated_vault/opt/emulated-vault/storage/__init__.py
  experimental/emulated_vault/opt/emulated-vault/storage/adapter_base.py
  experimental/emulated_vault/opt/emulated-vault/storage/fs_adapter.py
  experimental/emulated_vault/opt/emulated-vault/vault-debug
  experimental/emulated_vault/opt/emulated-vault/vault-server
  experimental/emulated_vault/opt/emulated-vault/vault/__init__.py
  experimental/emulated_vault/opt/emulated-vault/vault/db.py
Labels: Traffic Ops, Traffic Vault, experimental

#3615 Removed restangular from DeliveryServiceUriSigningKeysService
  traffic_portal/app/src/common/api/DeliveryServiceUriSigningKeysService.js
  traffic_portal/app/src/modules/private/deliveryServices/uriSigningKeys/DeliveryServiceUriSigningKeysController.js
Labels: Traffic Portal, tech debt
