Repository apache/trafficcontrol, pull requests merged in 2019-04, with the labels that each got.

#3383 Made PR template checklist check-able by ALL PRs
  PULL_REQUEST_TEMPLATE.md
Labels: improvement

#3382 Add enhanced X509 Certificate/Private RSA Key validation to Traffic Ops (AddSSLKeys Endpoint)
  lib/go-tc/enum.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys_test.go
Labels: Traffic Ops, enhancement

#3435 Ort headerrewrite
  CHANGELOG.md
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT, enhancement

#3459 Change ats exec check from traffic_cop to traffic_manager.
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops ORT, tech debt

#3467 Updated Python version in documentation builds
  infrastructure/docker/build/Dockerfile-docs
Labels: build, documentation

#3468 split yum cmds/pip cmds in docs dockerfile
  infrastructure/docker/build/Dockerfile-docs
Labels: build, documentation

#3394 Fix interface ptr problem
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
Labels: Traffic Ops, bug

#3460 removes a ds type (DNSLive) that is not considered a steering type
  lib/go-tc/enum.go
Labels: Traffic Ops, bug, minor

#3473 remove redundant debug: use `go test -v` instead
  traffic_ops/testing/api/v14/cachegroups_test.go
  traffic_ops/testing/api/v14/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v14/coordinates_test.go
  traffic_ops/testing/api/v14/crconfig_test.go
  traffic_ops/testing/api/v14/deliveryservicematches_test.go
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/deliveryserviceservers_test.go
  traffic_ops/testing/api/v14/federations_test.go
  traffic_ops/testing/api/v14/loginfail_test.go
  traffic_ops/testing/api/v14/origins_test.go
  traffic_ops/testing/api/v14/profiles_test.go
  traffic_ops/testing/api/v14/regions_test.go
  traffic_ops/testing/api/v14/roles_test.go
  traffic_ops/testing/api/v14/steering_test.go
  traffic_ops/testing/api/v14/steeringtargets_test.go
  traffic_ops/testing/api/v14/userdeliveryservices_test.go
Labels: Traffic Ops, tech debt

#3471 3.0.x docs build
  infrastructure/docker/build/Dockerfile-docs
Labels: build, documentation

#3411 CIAB: Export UDP ports for the DNS
  infrastructure/cdn-in-a-box/docker-compose.expose-ports.yml
Labels: cdn-in-a-box

#3463 upgrade go in all components; better consistency in Dockerfiles
  CHANGELOG.md
  infrastructure/docker/build/Dockerfile-docs
  infrastructure/docker/build/Dockerfile-grove
  infrastructure/docker/build/Dockerfile-grovetccfg
  infrastructure/docker/build/Dockerfile-source
  infrastructure/docker/build/Dockerfile-traffic_monitor
  infrastructure/docker/build/Dockerfile-traffic_ops
  infrastructure/docker/build/Dockerfile-traffic_portal
  infrastructure/docker/build/Dockerfile-traffic_router
  infrastructure/docker/build/Dockerfile-traffic_stats
  traffic_ops/build/traffic_ops.spec
Labels: Traffic Monitor, Traffic Ops, Traffic Stats, tech debt

#3477 adds phys location column to server tables
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  traffic_portal/app/src/common/modules/table/cacheGroupServers/TableCacheGroupServersController.js
  traffic_portal/app/src/common/modules/table/cacheGroupServers/table.cacheGroupServers.tpl.html
  traffic_portal/app/src/common/modules/table/cdnServers/TableCDNServersController.js
  traffic_portal/app/src/common/modules/table/cdnServers/table.cdnServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/physLocationServers/TablePhysLocationServersController.js
  traffic_portal/app/src/common/modules/table/physLocationServers/table.physLocationServers.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/TableProfileServersController.js
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
  traffic_portal/app/src/common/modules/table/statusServers/TableStatusServersController.js
  traffic_portal/app/src/common/modules/table/statusServers/table.statusServers.tpl.html
  traffic_portal/app/src/common/modules/table/typeServers/TableTypeServersController.js
  traffic_portal/app/src/common/modules/table/typeServers/table.typeServers.tpl.html
Labels: Traffic Portal

#3392 Tr default cert
  CHANGELOG.md
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateDataConverter.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateRegistry.java
  traffic_router/connector/src/test/java/secure/CertificateRegistryTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/external/RouterTest.java
  traffic_router/core/src/test/resources/api/1.3/cdns/name/thecdn/sslkeys.json
Labels: Traffic Router, enhancement

#3481 Fix dead/incorrect links and typos in readmes
  README.md
  traffic_monitor/README.md
  traffic_ops/traffic_ops_golang/README.md
  traffic_portal/README.md
  traffic_server/plugins/astats_over_http/README.md
Labels: Traffic Monitor, Traffic Ops, Traffic Portal, Traffic Router, documentation

#3480 TO Go: check for missing cert files before starting
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops, cdn-in-a-box, tech debt

#3482 Add additional routeResult URL instead of overwriting existing URL li…
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/AnonymousIp.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/RegionalGeo.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/RegionalGeoTest.java
Labels: Traffic Router

#3452 Make cachekey plugin responsible for range header when caching_range_…
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
  traffic_ops/app/lib/UI/ConfigFiles.pm
  traffic_ops/app/lib/UI/DeliveryService.pm
Labels: Traffic Ops, enhancement

#3490 Fix TO API tests
  traffic_ops/app/lib/UI/DeliveryService.pm
Labels: Traffic Ops, bug

#3491 Add TP standalone dockerfiles
  CHANGELOG.md
  infrastructure/docker/README.md
  infrastructure/docker/traffic_portal/Dockerfile
  infrastructure/docker/traffic_portal/run.sh
Labels: Traffic Portal, enhancement

#3422 Adds max origin connections to ds api endpoints (v14) and TP and adds the value to hdr_rw_xml-id.config OR hdr_rw_mid_xml-id.config files
  CHANGELOG.md
  docs/source/api/deliveryservices.rst
  lib/go-tc/constants.go
  lib/go-tc/deliveryservices.go
  traffic_ops/app/db/migrations/20190319000000_add_max_origin_connections.sql
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
  traffic_ops/bin/traffic_ops_ort.pl
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/ats/config.go
  traffic_ops/traffic_ops_golang/ats/headerrewrite.go
  traffic_ops/traffic_ops_golang/ats/regexrevalidate.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv12.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv14.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
Labels: Traffic Ops, Traffic Ops ORT, Traffic Portal, enhancement

#3489 Ciab.ssl.lock.fix
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/enroller/run.sh
  infrastructure/cdn-in-a-box/mid/run.sh
  infrastructure/cdn-in-a-box/optional/grafana/run-grafana.sh
  infrastructure/cdn-in-a-box/optional/vnc/run.sh
  infrastructure/cdn-in-a-box/origin/run.sh
  infrastructure/cdn-in-a-box/traffic_monitor/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/traffic_ops/generate-certs.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_portal/run.sh
  infrastructure/cdn-in-a-box/traffic_router/run.sh
  infrastructure/cdn-in-a-box/traffic_stats/run-influxdb.sh
  infrastructure/cdn-in-a-box/traffic_stats/run.sh
  infrastructure/cdn-in-a-box/traffic_vault/prestart.d/00-config.sh
  infrastructure/cdn-in-a-box/variables.env
Labels: cdn-in-a-box

#3499 fixes var name $ds -> $remap
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
Labels: Traffic Ops, bug

#3496 CIAB: remove rpm path, load postgres from repo
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-db
Labels: cdn-in-a-box

#3487 upgrades TP build dependencies
  traffic_portal/app/src/package.json
  traffic_portal/package.json
Labels: Traffic Portal, improvement

#3311 Fix code that checks the use_tenancy parameter
  traffic_ops/app/lib/Utils/Tenant.pm
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/origins_test.go
  traffic_ops/testing/api/v14/user_test.go
  traffic_ops/traffic_ops_golang/apitenant/tenant.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv12.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/matches.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/urlkey.go
  traffic_ops/traffic_ops_golang/origin/origins.go
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
Labels: Traffic Ops, tech debt

#3507 Changed permissions of steering role to be PrivLevelSteering
  traffic_ops/testing/api/v14/steering_test.go
  traffic_ops/testing/api/v14/steeringtargets_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/testing/api/v14/withobjs.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, bug, regression

#3513 TO: update go unit test dockerfile to 1.11
  traffic_ops/app/bin/tests/Dockerfile-golangtest
Labels: Traffic Ops, tests

#3493 Move TO DS nonversioned logic to separate file.
  lib/go-tc/deliveryservices.go
  traffic_ops/traffic_ops_golang/README.md
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv12.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv14.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#3485 TP upgrades angularjs to 1.7.8
  CHANGELOG.md
  traffic_portal/app/src/app.js
  traffic_portal/bower.json
Labels: Traffic Portal, improvement

#3508 CIAB: Fix the environment variable and cron jobs
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort.crontab
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
Labels: cdn-in-a-box

#3442 Fixes internal server error for `cachegroups/:id/queue_update` blank field
  traffic_ops/traffic_ops_golang/cachegroup/queueupdate.go
Labels: Traffic Ops, bug

#3445 TO: Give a better error message when deleting an object being referenced
  traffic_ops/testing/api/v14/divisions_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/generic_crud.go
Labels: Traffic Ops, bug

#3526 Add TM monitoring.json validity check for safety
  traffic_monitor/towrap/towrap.go
  traffic_monitor/towrap/towrap_test.go
Labels: Traffic Monitor, enhancement
