Repository apache/trafficcontrol, pull requests merged in 2019-02, with the labels that each got.

#3295 Fix TO compile error (likely merge conflict)
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/user/user.go
Labels: Traffic Ops, bug

#3157 Added error context helper to help with tests. Also wrote unit tests for it.
  traffic_ops/traffic_ops_golang/test/error_context.go
  traffic_ops/traffic_ops_golang/test/error_context_test.go
Labels: tests

#2922 Update logging.config generation to allow additional types and logging filters
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
Labels: Traffic Ops, enhancement

#3197 Calendar widget for DNSSEC/KSK date selection
  .rat-excludes
  LICENSE
  licenses/MIT-angular_moment_picker
  traffic_portal/app/src/app.js
  traffic_portal/app/src/assets/css/angular-moment-picker_0.10.2.css
  traffic_portal/app/src/assets/js/moment-picker/angular-moment-picker.min_0.10.2.js
  traffic_portal/app/src/common/modules/form/cdnDnssecKeys/generate/FormGenerateCdnDnssecKeysController.js
  traffic_portal/app/src/common/modules/form/cdnDnssecKeys/generate/form.GenerateCdnDnssecKeys.tpl.html
  traffic_portal/app/src/common/modules/form/cdnDnssecKeys/regenerateKsk/FormRegenerateKskController.js
  traffic_portal/app/src/common/modules/form/cdnDnssecKeys/regenerateKsk/form.RegenerateKsk.tpl.html
  traffic_portal/app/src/index.html
  traffic_portal/app/src/modules/private/cdns/dnssecKeys/generate/index.js
  traffic_portal/app/src/modules/private/cdns/dnssecKeys/regenerateKsk/index.js
Labels: Traffic Portal, improvement

#2278 Add TO Go caches/stats endpoint
  lib/go-tc/enum.go
  traffic_ops/traffic_ops_golang/cachesstats/cachesstats.go
  traffic_ops/traffic_ops_golang/crconfig/edgelocations.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops, enhancement

#2979 Fix TO Go DSS GET endpoints to check tenancy
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, bug

#3245 CIAB: Add static subnet
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/optional/docker-compose.static-subnet.yml
Labels: cdn-in-a-box

#3306 Use JSONIntStr for user endpoint
  lib/go-tc/users.go
  traffic_ops/client/user.go
  traffic_ops/traffic_ops_golang/user/user.go
Labels: Traffic Ops, bug

#3305 Fixed error context tests
  traffic_ops/traffic_ops_golang/test/error_context_test.go
Labels: Traffic Ops, tests

#3283 ORT.py now implements all the same command line flags as the Perl script
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort.crontab
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/config_files.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/configuration.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/main_routines.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/packaging.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/services.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
Labels: Traffic Ops ORT

#3318 Improve handling of faulty CRConfig DS-server assignments in TR
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManager.java
Labels: Traffic Router, bug

#3320 3.0.x: Go sslkey generation broken, remove the route so Perl handles it
  traffic_ops/traffic_ops_golang/routes.go
Labels: Traffic Ops, bug

#2896 Add TO Go configurable riak port
  lib/go-util/ptr.go
  traffic_ops/traffic_ops_golang/apiriak/bucket.go
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
  traffic_ops/traffic_ops_golang/cdn/genksk.go
  traffic_ops/traffic_ops_golang/cdn/sslkeys.go
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservicesv13.go
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
  traffic_ops/traffic_ops_golang/deliveryservice/urlkey.go
  traffic_ops/traffic_ops_golang/ping/keys.go
  traffic_ops/traffic_ops_golang/ping/riak.go
  traffic_ops/traffic_ops_golang/riaksvc/dsutil.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services_test.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
  traffic_ops/traffic_ops_golang/urisigning.go
Labels: Traffic Ops

#3313 Ort.py environment variables
  docs/source/development/ort/traffic_ops_ort.configuration.rst
  docs/source/development/ort/traffic_ops_ort.main_routines.rst
  docs/source/development/ort/traffic_ops_ort.packaging.rst
  docs/source/development/ort/traffic_ops_ort.to_api.rst
  docs/source/development/ort/traffic_ops_ort.utils.rst
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort.crontab
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/configuration.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
Labels: Traffic Ops ORT

#3322 [BACKPORT] Fix CRConfig generation to not include ANY_MAP DS-server assignments
  traffic_ops/traffic_ops_golang/crconfig/servers.go
Labels: Traffic Ops, backport, bug

#3323 [BACKPORT] Improve handling of faulty CRConfig DS-server assignments in TR
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManager.java
Labels: Traffic Router, backport

#3284 Update API Documentation with CacheURL deprecation
  docs/source/admin/traffic_ops/using.rst
  docs/source/api/deliveryservices.rst
  docs/source/api/deliveryservices_id.rst
  docs/source/api/deliveryservices_id_safe.rst
  docs/source/api/servers_id_deliveryservices.rst
  docs/source/api/users_id_deliveryservices.rst
Labels: Traffic Ops, documentation

#2894 TO Go: add consistency test for Nullable vs non-Nullable on go-tc structs
  lib/go-tc/nullable_test.go
Labels: tests

#3310 updated so TCP port is configurable for Traffic Monitor
  traffic_monitor/manager/monitorconfig.go
Labels: Traffic Monitor, backport

#3185 Fix stale delivery services being served in /publish/CrStates
  traffic_monitor/manager/statecombiner.go
Labels: Traffic Monitor

#3330 Fix TM nil pointer panic
  traffic_monitor/ds/stat.go
  traffic_monitor/ds/stat_test.go
Labels: Traffic Monitor, bug, major

#3324 Hint for form fields is now a help cursor instead of underline (which implies link)
  traffic_portal/app/src/common/modules/form/_form.scss
Labels: Traffic Portal, improvement

#3319 Revert "Use JSONIntStr for user endpoint"
  lib/go-tc/users.go
  traffic_ops/client/user.go
  traffic_ops/traffic_ops_golang/user/user.go
Labels: Traffic Ops

#3335 Update traffic_ops.spec to golang >= 1.9.4 from =
  traffic_ops/build/traffic_ops.spec
Labels: Traffic Ops, bug, enhancement, install

#3287 CIAB: Fix Traffic Vault Enrollment
  infrastructure/cdn-in-a-box/enroller/server_template.json
  infrastructure/cdn-in-a-box/mid/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/servers/040-trafficvault_server.json
  infrastructure/cdn-in-a-box/traffic_vault/Dockerfile
  infrastructure/cdn-in-a-box/traffic_vault/run.sh
Labels: Traffic Vault, cdn-in-a-box

#3331 Make SSL Cert lookup case-insensitive
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateRegistry.java
  traffic_router/connector/src/test/java/secure/CertificateRegistryTest.java
  traffic_router/shared/src/main/java/com/comcast/cdn/traffic_control/traffic_router/shared/CertificateData.java
Labels: Traffic Router, enhancement

#3357 Fixed broken docs build with explicit Pygments version
  docs/source/requirements.txt
Labels: documentation

#3359 Fixed docs build but for real this time
  docs/source/requirements.txt
Labels: documentation

#3325 Fixed broken ORT.py crontab
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort.crontab
Labels: Traffic Ops ORT, bug

#3364 Modified logging to include the resolver IP address and override the …
  CHANGELOG.md
  docs/source/admin/traffic_ops/using.rst
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/DNSAccessEventBuilder.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/DNSAccessRecord.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/DNSAccessEventBuilderTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/AbstractProtocolTest.java
Labels: Traffic Router, enhancement

#3233 Lowercase incoming domain name to ensure case matches when attempting…
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/SignatureManager.java
Labels: Traffic Router, bug

#3326 Added logging.yaml support
  traffic_ops/app/lib/API/Configs/ApacheTrafficServer.pm
  traffic_ops/app/lib/UI/ConfigFiles.pm
  traffic_ops/bin/traffic_ops_ort.pl
Labels: Traffic Ops, Traffic Ops ORT

#3366 Bugfix for self-signed SSL certs
  traffic_ops/bin/traffic_ops_ort.pl
Labels: SSL, Traffic Ops ORT, bug, minor

#3333 Add TO deleting old DS certs on snapshot
  CHANGELOG.md
  docs/source/admin/traffic_ops/using.rst
  docs/source/api/cdns_id_snapshot.rst
  docs/source/api/snapshot_name.rst
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deleteoldcerts.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/riaksvc/dsutil.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
Labels: Traffic Ops, enhancement
