Repository apache/trafficcontrol, pull requests merged in 2019-12, with the labels that each got.

#4148 Pin Go builds to 1.11.13
  infrastructure/docker/build/Dockerfile-grove
  infrastructure/docker/build/Dockerfile-grovetccfg
  infrastructure/docker/build/Dockerfile-traffic_monitor
  infrastructure/docker/build/Dockerfile-traffic_stats
Labels: Traffic Monitor, Traffic Stats, build, grove

#4114 Rewrite current stats from Perl to Golang
  CHANGELOG.md
  docs/source/api/current_stats.rst
  lib/go-tc/traffic_stats.go
  traffic_ops/client/traffic_stats.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/trafficstats/cdn.go
Labels: TO Client (Go), Traffic Ops, Traffic Stats, tech debt

#3611 Removed restangular from DeliveryServiceRequestService
  traffic_portal/app/src/common/api/DeliveryServiceRequestService.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
Labels: Traffic Portal, tech debt

#3613 Removed restangular from DeliveryServiceSslKeysService
  traffic_portal/app/src/common/api/DeliveryServiceSslKeysService.js
Labels: Traffic Portal, tech debt

#4143 Deprecate /hwinfo
  docs/source/api/hwinfo.rst
  lib/go-tc/alerts.go
  lib/go-tc/alerts_test.go
  traffic_ops/client/hardware.go
  traffic_ops/testing/api/v14/parentdotconfig_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/shared_handlers_test.go
  traffic_ops/traffic_ops_golang/hwinfo/hwinfo.go
  traffic_ops/traffic_ops_golang/login/login_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/routing/wrappers_test.go
Labels: TO Client (Go), Traffic Ops, documentation, tech debt

#4145 Add TO API Routing Blacklist via cdn.conf
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/README.md
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/config/config_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/routing/routing.go
  traffic_ops/traffic_ops_golang/routing/routing_test.go
  traffic_ops/traffic_ops_golang/routing/wrappers.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops, enhancement

#4153 Fix unassign ds req bug
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
Labels: Traffic Ops, bug, medium, regression

#4149 Server capabilities docs
  docs/source/api/deliveryservices_required_capabilities.rst
  docs/source/api/server_capabilities.rst
  docs/source/api/server_server_capabilities.rst
  docs/source/glossary.rst
  docs/source/overview/delivery_services.rst
Labels: documentation, improvement, minor

#4152 Remove some duplicate routes, tighten up some route regexes in routes.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/routing/routing_test.go
Labels: Traffic Ops, tech debt

#4155 Wrong error code returns on server ds assignment invalid payload
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
Labels: Traffic Ops, bug, minor

#4156 Fix atscfg typo in MSO with secondary parents
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: bug, major, to-cache-configs

#4158 Return error when getting fed users for non-existent fed
  traffic_ops/testing/api/v14/federation_users_test.go
  traffic_ops/traffic_ops_golang/federations/user.go
Labels: Traffic Ops, bug, minor

#3598 Removed restangular from UserService
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/api/UserService.js
Labels: Traffic Portal, tech debt

#4161 TP: fixes bug where empty CG fallback could be added to the list of fallbacks
  traffic_portal/app/src/common/modules/form/cacheGroup/FormCacheGroupController.js
Labels: Traffic Portal, bug

#4159 Order by values on stats endpoints doesnt work
  docs/source/api/cache_stats.rst
  docs/source/api/deliveryservice_stats.rst
  lib/go-tc/traffic_stats.go
  traffic_ops/traffic_ops_golang/trafficstats/util.go
Labels: Traffic Ops, Traffic Stats, bug, documentation

#4147 Turn off TLSv1 in Traffic Portal
  CHANGELOG.md
  traffic_portal/server.js
Labels: Traffic Portal, improvement

#4164 /cdns/capacity returning wrong json keys
  traffic_ops/traffic_ops_golang/cdn/capacity.go
Labels: Traffic Ops, regression

#4163 Fix atscfg gen to print date as UTC
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/atscfg_test.go
Labels: bug, minor, to-cache-configs

#4166 Add title attribute to create tenant button
  traffic_portal/app/src/common/modules/table/tenants/table.tenants.tpl.html
Labels: Traffic Portal, improvement, minor

#4172 TP - removes deep zone coverage file checkbox from cache group form
  traffic_portal/app/src/common/modules/form/cacheGroup/FormCacheGroupController.js
  traffic_portal/app/src/common/modules/form/cacheGroup/edit/FormEditCacheGroupController.js
  traffic_portal/app/src/common/modules/form/cacheGroup/form.cacheGroup.tpl.html
  traffic_portal/app/src/common/modules/form/cacheGroup/new/FormNewCacheGroupController.js
  traffic_portal/app/src/modules/private/cacheGroups/new/index.js
Labels: Traffic Portal, improvement

#4174 Fix misspellings found in documentation
  docs/source/admin/quick_howto/anonymous_blocking.rst
  docs/source/development/building.rst
  docs/source/overview/delivery_services.rst
Labels: documentation

#4176 Fix atscfg strings.ReplaceAll to Replace
  lib/go-atscfg/parentdotconfig_test.go
Labels: bug, tests

#4175 TP: navigation to the ds request page needs to wait until the update is complete
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
Labels: Traffic Portal, bug

#4188 Fix table in documentation
  docs/source/overview/delivery_services.rst
Labels: documentation

#4125 Rewrite users/register to Go
  docs/source/api/users_register.rst
  lib/go-tc/users.go
  traffic_ops/client/user.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_ops/traffic_ops_golang/login/register.go
  traffic_ops/traffic_ops_golang/login/register_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: TO Client (Go), Traffic Ops, documentation, improvement, tech debt

#4195 Add attribute for table for protractor testing purpose
  traffic_portal/app/src/common/modules/table/parameters/table.parameters.tpl.html
  traffic_portal/app/src/common/modules/table/physLocations/table.physLocations.tpl.html
  traffic_portal/app/src/common/modules/table/profiles/table.profiles.tpl.html
  traffic_portal/app/src/common/modules/table/tenants/table.tenants.tpl.html
Labels: Traffic Portal, improvement

#4190 TP: limits delivery service cloning to source ds type = target ds type
  traffic_portal/app/src/common/modules/form/cacheGroup/FormCacheGroupController.js
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
Labels: Traffic Portal, improvement

#4181 Add Go implementation of POST servers/{id}/queue_update
  CHANGELOG.md
  lib/go-tc/servers.go
  traffic_ops/client/server_update_status.go
  traffic_ops/testing/api/v14/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/queue_update.go
Labels: Traffic Ops

#2305 Add TO Go cdns/health and cdns/{name}/health
  lib/go-tc/traffic_monitor.go
  lib/go-util/num.go
  traffic_ops/traffic_ops_golang/cachesstats/cachesstats.go
  traffic_ops/traffic_ops_golang/cdn/capacity.go
  traffic_ops/traffic_ops_golang/cdn/health.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
  traffic_ops/traffic_ops_golang/util/monitorhlp/monitorhlp.go
Labels: Traffic Ops, tech debt

#4210 Fix TO to remove proxy route for Go route
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops

#4214 Fix atstccfg hosting.config including inactive DS
  traffic_ops/ort/atstccfg/cfgfile/hostingdotconfig.go
Labels: bug, major, to-cache-configs

#4204 Fixes #3813 implement `/profiles/name/{{name}}/copy/{{fromName}}` in Go
  CHANGELOG.md
  lib/go-tc/profiles.go
  traffic_ops/client/profile.go
  traffic_ops/testing/api/v14/profiles_test.go
  traffic_ops/traffic_ops_golang/profile/copy.go
  traffic_ops/traffic_ops_golang/profile/copy_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#4103 Add a bounded queue to DNS request processing
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/AbstractProtocol.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/SocketHandler.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/TCP.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/UDP.java
  traffic_router/core/src/main/webapp/WEB-INF/applicationContext.xml
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/TCPTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/UDPTest.java
Labels: Traffic Router, enhancement

#4217 Fixed segfault in DS Request validation
  lib/go-tc/deliveryservice_requests.go
Labels: Traffic Ops, bug, medium, regression

#4207 TP: fixes bug with delivery service requests when deleting a ds
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: Traffic Portal, bug

#3595 Removing restangular
  CHANGELOG.md
  traffic_portal/app/src/common/api/HttpService.js
  traffic_portal/app/src/common/api/ToolsService.js
  traffic_portal/app/src/scripts/shared-libs.js
  traffic_portal/bower.json
  traffic_portal/grunt/browserify2.js
Labels: Traffic Portal, tech debt

#2459 Add TO Go deliveryservices/id/capacity
  traffic_monitor/cache/data.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/capacity.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/util/monitorhlp/monitorhlp.go
Labels: Traffic Ops, tech debt

#4199 TP: bug fixes on the any map form
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
  traffic_portal/test/end_to_end/deliveryServices/pageData.js
Labels: Traffic Portal, bug

#4220 Hotfix for broken docs link
  docs/source/api/staticdnsentries.rst
Labels: bug, documentation, minor

#4224 deprecate 'servers/totals'
  CHANGELOG.md
  docs/source/api/servers_totals.rst
  traffic_ops/app/lib/API/Server.pm
  traffic_ops/app/lib/MojoPlugins/Response.pm
Labels: Traffic Ops, documentation, tech debt

#4177 Add lib/go-rfc GoDoc comments
  lib/go-rfc/http.go
  lib/go-rfc/rfc.go
Labels: documentation

#4160 Targeted cleanup
  traffic_ops/client/server_update_status.go
  traffic_ops/client/session.go
  traffic_ops/testing/api/v14/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/routing/routing.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_update_status_test.go
Labels: Traffic Ops, minor, tech debt

#3996 Rewrote /user/current to Go
  .gitignore
  CHANGELOG.md
  docs/source/api/user_current.rst
  lib/go-tc/users.go
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/user.go
  traffic_ops/testing/api/v14/user_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/user/current.go
Labels: TC Client (python), TO Client (Go), Traffic Ops, documentation, tech debt, tests

#4226 Add TM dir to TO-Go unit test container
  traffic_ops/app/bin/tests/Dockerfile-golangtest
Labels: tests

#4228 Fix broken unit tests caused by lib/go-tc/users.go
  lib/go-tc/users.go
Labels: tests

#4222 Rewrite /api_capabilities `GET` in Go, Deprecate /api_capabilities `POST` in perl
  CHANGELOG.md
  docs/source/api/api_capabilities.rst
  lib/go-tc/api_capabilities.go
  traffic_ops/app/lib/API/ApiCapability.pm
  traffic_ops/client/api_capability.go
  traffic_ops/testing/api/v14/api_capability_test.go
  traffic_ops/traffic_ops_golang/apicapability/api_capabilities.go
  traffic_ops/traffic_ops_golang/apicapability/api_capabilities_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#4191 Add Go implementation of GET, POST federations/{id}/federation_resolvers
  CHANGELOG.md
  lib/go-tc/federation_federation_resolvers.go
  traffic_ops/client/federation_federation_resolver.go
  traffic_ops/testing/api/v14/cdnfederations_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/federations/federation_resolvers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt
