Repository apache/trafficcontrol, pull requests merged in 2020-02, with the labels that each got.

#4369 deprecating /deliveryservice_user endpoint
  CHANGELOG.md
  docs/source/api/deliveryservice_user.rst
  traffic_ops/app/lib/API/User.pm
Labels: Traffic Ops, documentation, tech debt

#4370 Rewrite cdns/routing
  CHANGELOG.md
  docs/source/api/cdns_routing.rst
  lib/go-tc/cdnrouters.go
  lib/go-tc/crsstats.go
  traffic_ops/traffic_ops_golang/cdn/routing.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#4368 deprecates the /cdns/usage/overview endpoint
  CHANGELOG.md
  docs/source/api/cdns_usage_overview.rst
  traffic_ops/app/lib/Extensions/TrafficStats/API/CdnStats.pm
Labels: Traffic Ops, documentation, tech debt

#4339 cachegroupparameters rewrite
  CHANGELOG.md
  docs/source/api/cachegroupparameters.rst
  lib/go-tc/cachegroup_parameter_associations.go
  traffic_ops/client/cachegroup_parameters.go
  traffic_ops/testing/api/v1/cachegroups_parameters_test.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4377 Formatting fixes
  README.md
  lib/go-tc/serverchecks.go
  traffic_monitor/datareq/datareq_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/capabilities/capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/servercheck/servercheck.go
Labels: Traffic Monitor, Traffic Ops, documentation, improvement, minor

#4376 Add labels to bandwidth chart tooltip
  CHANGELOG.md
  traffic_portal/app/src/common/modules/widget/cdnChart/WidgetCDNChartController.js
Labels: Traffic Portal, improvement, minor

#4383 Commit package-lock.json
  traffic_portal/package-lock.json
Labels: Traffic Portal, improvement, minor

#4385 Remove Flakey TP key generation tests
  traffic_portal/test/end_to_end/CDNs/cdns-spec.js
Labels: Traffic Portal, improvement, minor, tests

#4384 adds configurability (show/hide columns) to the cache group tables in TP
  traffic_portal/app/src/common/modules/table/cacheGroups/TableCacheGroupsController.js
  traffic_portal/app/src/common/modules/table/cacheGroups/table.cacheGroups.tpl.html
  traffic_portal/app/src/common/modules/table/typeCacheGroups/TableTypeCacheGroupsController.js
  traffic_portal/app/src/common/modules/table/typeCacheGroups/table.typeCacheGroups.tpl.html
  traffic_portal/test/end_to_end/cacheGroups/cache-groups-spec.js
Labels: Traffic Portal, enhancement

#4382 Replace debugln with testing logger
  traffic_ops/testing/api/v1/capabilities_test.go
  traffic_ops/testing/api/v1/cdn_domains_test.go
  traffic_ops/testing/api/v1/cdnfederations_test.go
  traffic_ops/testing/api/v1/cdns_test.go
  traffic_ops/testing/api/v1/deliveryservice_requests_test.go
  traffic_ops/testing/api/v1/divisions_test.go
  traffic_ops/testing/api/v1/hdr_rw_dot_config_test.go
  traffic_ops/testing/api/v1/parameters_test.go
  traffic_ops/testing/api/v1/phys_locations_test.go
  traffic_ops/testing/api/v1/profile_parameters_test.go
  traffic_ops/testing/api/v1/profiles_test.go
  traffic_ops/testing/api/v1/regions_test.go
  traffic_ops/testing/api/v1/roles_test.go
  traffic_ops/testing/api/v1/servercapabilities_test.go
  traffic_ops/testing/api/v1/serverchecks_test.go
  traffic_ops/testing/api/v1/servers_test.go
  traffic_ops/testing/api/v1/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/api/v1/serverservercapability_test.go
  traffic_ops/testing/api/v1/staticdnsentries_test.go
  traffic_ops/testing/api/v1/statuses_test.go
  traffic_ops/testing/api/v1/steeringtargets_test.go
  traffic_ops/testing/api/v1/toextension_test.go
  traffic_ops/testing/api/v1/types_test.go
  traffic_ops/testing/api/v1/user_test.go
Labels: TO Client (Go), Traffic Ops, improvement, minor, tests

#4196 TP: Provides the ability to view all users for a given role
  CHANGELOG.md
  docs/source/api/users.rst
  traffic_ops/client/user.go
  traffic_ops/testing/api/v1/user_test.go
  traffic_ops/traffic_ops_golang/user/user.go
  traffic_portal/app/src/common/modules/form/role/FormRoleController.js
  traffic_portal/app/src/common/modules/form/role/form.role.tpl.html
  traffic_portal/app/src/modules/private/roles/users/index.js
Labels: Traffic Ops, Traffic Portal, enhancement

#3767 Created a Windows RPM generation script
  pkg.ps1
Labels: build, enhancement

#4260 Codecov
  tools/.gitignore
  tools/golang/Dockerfile
  tools/golang/docker-compose.yml
  tools/golang/unit-tests.sh
Labels: automation, enhancement, tests

#4387 Fix atstccfg Delivery Service Server caching.
  traffic_ops/ort/atstccfg/toreq/toreq.go
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug, major

#4389 [Backport 4.0.x] Fix atstccfg Delivery Service Server caching. (#4387)
  traffic_ops/ort/atstccfg/toreq/toreq.go
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, backport, bug, major

#4388 Rewrote deliveryservices/{{ID}/safe to Go
  docs/source/api/deliveryservices_id_safe.rst
  lib/go-tc/deliveryservices.go
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/deliveryservice.go
  traffic_ops/testing/api/v1/deliveryservice_safe_update_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/safe.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: TC Client (python), TO Client (Go), Traffic Ops, documentation, tech debt, tests

#4357 Deprecate /regions/name/{{name}}
  CHANGELOG.md
  docs/source/api/regions.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/app/lib/API/Region.pm
  traffic_ops/client/region.go
  traffic_ops/testing/api/v1/regions_test.go
  traffic_ops/traffic_ops_golang/api/generic_crud.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/api/shared_interfaces.go
  traffic_ops/traffic_ops_golang/region/name.go
  traffic_ops/traffic_ops_golang/region/regions.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: TC Client (python), TO Client (Go), Traffic Ops, documentation, tech debt

#4390 Remove methods marked as deprecated in 3.x
  grove/grovetccfg/grovetccfg.go
  infrastructure/cdn-in-a-box/enroller/enroller.go
  traffic_ops/client/cachegroup.go
  traffic_ops/client/cdn.go
  traffic_ops/client/crconfig.go
  traffic_ops/client/deliveryservice.go
  traffic_ops/client/division.go
  traffic_ops/client/hardware.go
  traffic_ops/client/job.go
  traffic_ops/client/origin.go
  traffic_ops/client/parameter.go
  traffic_ops/client/profile.go
  traffic_ops/client/server.go
  traffic_ops/client/servercheck.go
  traffic_ops/client/session.go
  traffic_ops/client/staticdnsentry.go
  traffic_ops/client/traffic_monitor.go
  traffic_ops/client/type.go
  traffic_ops/testing/api/v1/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v1/crconfig_test.go
  traffic_ops/testing/api/v1/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v1/deliveryservices_test.go
  traffic_ops/testing/api/v1/jobs_test.go
  traffic_ops/testing/api/v1/regexrevalidatedotconfig_test.go
  traffic_ops/testing/api/v1/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/api/v1/steeringtargets_test.go
  traffic_ops/testing/api/v1/tenants_test.go
  traffic_stats/traffic_stats.go
Labels: TO Client (Go), Traffic Ops, Traffic Stats, cdn-in-a-box, grove, tech debt

#4291 Added documentation for atstccfg
  docs/source/tools/atstccfg.rst
  docs/source/tools/index.rst
  traffic_ops/ort/atstccfg/.gitignore
  traffic_ops/ort/atstccfg/README.md
  traffic_ops/ort/atstccfg/atstccfg.go
  traffic_ops/ort/atstccfg/config/config.go
Labels: Traffic Ops ORT, documentation, improvement, minor, to-cache-configs

#4378 updated API to version 2.x
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/routing/routing.go
  traffic_ops/traffic_ops_golang/routing/routing_test.go
Labels: Traffic Ops, enhancement, medium

#4394 TP: adds configurability (show/hide columns) to the parameters and users tables
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/TableCacheGroupParametersController.js
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/table.cacheGroupParameters.tpl.html
  traffic_portal/app/src/common/modules/table/capabilityUsers/TableCapabilityUsersController.js
  traffic_portal/app/src/common/modules/table/capabilityUsers/table.capabilityUsers.tpl.html
  traffic_portal/app/src/common/modules/table/parameters/TableParametersController.js
  traffic_portal/app/src/common/modules/table/parameters/table.parameters.tpl.html
  traffic_portal/app/src/common/modules/table/profileParameters/TableProfileParametersController.js
  traffic_portal/app/src/common/modules/table/profileParameters/table.profileParameters.tpl.html
  traffic_portal/app/src/common/modules/table/roleUsers/TableRoleUsersController.js
  traffic_portal/app/src/common/modules/table/roleUsers/table.roleUsers.tpl.html
  traffic_portal/app/src/common/modules/table/tenantUsers/TableTenantUsersController.js
  traffic_portal/app/src/common/modules/table/tenantUsers/table.tenantUsers.tpl.html
  traffic_portal/app/src/common/modules/table/users/TableUsersController.js
  traffic_portal/app/src/common/modules/table/users/table.users.tpl.html
  traffic_portal/test/end_to_end/parameters/parameters-spec.js
  traffic_portal/test/end_to_end/users/users-spec.js
Labels: Traffic Portal, enhancement

#4397 Fixed /api/2.0/roles always returning empty array
  traffic_ops/traffic_ops_golang/role/roles.go
Labels: Traffic Ops, bug, medium, regression

#4399 Fixed '/deliveryservices' not working with API 2.0
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
Labels: Traffic Ops, bug, medium, regression

#4302 Fixed unavailable cache servers not being highlighted in red
  traffic_monitor/static/index.html
Labels: Traffic Monitor, bug, improvement, minor

#4400 TP: Fixes missing ecs enabled property on a number of ds tables
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/table.cdnDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/table.profileDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/TableTenantDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/table.tenantDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/table.typeDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/userDeliveryServices/table.userDeliveryServices.tpl.html
Labels: Traffic Portal, bug, major, regression

#4356 Update generic API Create to allow arrays in POST if set on object
  CHANGELOG.md
  docs/source/api/parameters.rst
  docs/source/api/profileparameters.rst
  traffic_ops/client/parameter.go
  traffic_ops/client/profile_parameter.go
  traffic_ops/testing/api/v1/parameters_test.go
  traffic_ops/testing/api/v1/profile_parameters_test.go
  traffic_ops/testing/api/v1/withobjs_test.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/api/shared_interfaces.go
  traffic_ops/traffic_ops_golang/parameter/parameters.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
Labels: Traffic Ops, bug, improvement, regression

#4407 Removed deprecated fields from /deliveryservice_stats responses in 2.x
  lib/go-tc/traffic_stats.go
  traffic_ops/traffic_ops_golang/trafficstats/deliveryservice.go
Labels: Traffic Ops, tech debt

#4408 "updated" ORT to use API v2
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, tech debt

#4386 Fix dnssec refresh endpoint
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
Labels: Traffic Ops, bug, regression

#4413 Python client upgrade
  traffic_control/clients/python/README.rst
  traffic_control/clients/python/setup.py
  traffic_control/clients/python/to_access/__init__.py
  traffic_control/clients/python/trafficops/__version__.py
  traffic_control/clients/python/trafficops/tosession.py
Labels: TC Client (python), improvement, minor

#4416 Upgrade Traffic Router to use Traffic Ops API 2.0
  .dependency_license
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/SignatureManager.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/FederationsWatcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/secure/CertificatesClient.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/TrafficOpsUtils.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/external/HttpDataServer.java
  traffic_router/core/src/test/resources/api/2.0/cdns/name/thecdn/sslkeys
  traffic_router/core/src/test/resources/api/2.0/cdns/name/thecdn/sslkeys-missing-1
  traffic_router/core/src/test/resources/publish/CrConfig.json
  traffic_router/core/src/test/resources/publish/CrConfig2.json
  traffic_router/core/src/test/resources/publish/CrConfig3.json
  traffic_router/core/src/test/resources/publish/CrConfig4.json
Labels: Traffic Router, improvement, minor

#4417 Fixed bad dependency pipeline failing on newer dependencies
  tools/golang/Dockerfile
  tools/golang/docker-compose.yml
Labels: automation, bug, minor, tests, tools

#4396 Traffic Ops client upgrades
  CHANGELOG.md
  experimental/traffic-portal-angular8/src/app/services/api.service.ts
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/mid/run.sh
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
  infrastructure/cdn-in-a-box/traffic_monitor/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-CCR_CIAB.json
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
  infrastructure/test/integration/README.md
  lib/go-atscfg/meta.go
  test/astats_sim/ats_sim.js
  test/traffic_ops_cfg/cfg_test.pl
  traffic_control/clients/java/trafficops/src/main/java/org/apache/trafficcontrol/client/trafficops/TOSession.java
  traffic_ops/app/bin/checks/ToDSCPCheck.pl
  traffic_ops/app/bin/checks/ToDnssecRefresh.pl
  traffic_ops/app/bin/checks/ToORTCheck.pl
  traffic_ops/app/bin/extensions
  traffic_ops/app/script/update_riak_for_search.pl
  traffic_ops/testing/compare/compare.go
  traffic_ops/testing/compare/genConfigRoutes.py
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, cdn-in-a-box, improvement, medium, tools

#4392 Rewrite deliveryservice/:id/routing
  CHANGELOG.md
  docs/source/api/v1/deliveryservices_id_routing.rst
  docs/source/api/v2/deliveryservices_id_routing.rst
  docs/source/development/traffic_router/traffic_router_api.rst
  lib/go-tc/cdnrouters.go
  lib/go-tc/crsstats.go
  traffic_ops/traffic_ops_golang/cdn/capacity.go
  traffic_ops/traffic_ops_golang/crstats/cdnrouting.go
  traffic_ops/traffic_ops_golang/crstats/dsrouting.go
  traffic_ops/traffic_ops_golang/crstats/routing.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, documentation, tech debt

#4418 Some tiny Python-client-related fixes
  traffic_control/clients/README.md
  traffic_control/clients/python/setup.py
  traffic_control/clients/python/to_access/__init__.py
  traffic_control/clients/python/trafficops/__version__.py
Labels: TC Client (python), bug, documentation, minor, tech debt

#4419 ORT Speed Improvements
  traffic_ops/ort/atstccfg/config/config.go
  traffic_ops/ort/atstccfg/routing.go
  traffic_ops/ort/atstccfg/toreq/caching.go
  traffic_ops/ort/atstccfg/toreq/caching_test.go
  traffic_ops/ort/atstccfg/toreq/toreq.go
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, enhancement, to-cache-configs

#4409 Optimize TR DNSSEC zone re-signing
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/SignatureManager.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManager.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/DeliveryService.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManagerTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManagerUnitTest.java
Labels: Traffic Router, documentation, improvement, performance

#4421 ORT Speed Improvements (#4419) (4.0.x Backport)
  traffic_ops/ort/atstccfg/config/config.go
  traffic_ops/ort/atstccfg/routing.go
  traffic_ops/ort/atstccfg/toreq/caching.go
  traffic_ops/ort/atstccfg/toreq/caching_test.go
  traffic_ops/ort/atstccfg/toreq/toreq.go
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, backport, improvement

#4429 Add support for TO_API_VERSION env var in to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
Labels: cdn-in-a-box, enhancement

#4425 Makes TP profiles tables configurable and add shortcut link to ds/servers table
  traffic_portal/app/src/common/api/ProfileService.js
  traffic_portal/app/src/common/modules/table/cdnProfiles/TableCDNProfilesController.js
  traffic_portal/app/src/common/modules/table/cdnProfiles/table.cdnProfiles.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/parameterProfiles/TableParameterProfilesController.js
  traffic_portal/app/src/common/modules/table/parameterProfiles/table.parameterProfiles.tpl.html
  traffic_portal/app/src/common/modules/table/profiles/TableProfilesController.js
  traffic_portal/app/src/common/modules/table/profiles/table.profiles.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/app/src/common/service/utils/DeliveryServiceUtils.js
  traffic_portal/test/end_to_end/profiles/profiles-spec.js
Labels: Traffic Portal, enhancement

#4431 Added BUILD_NUMBER to explicit license file.
  .dependency_license
Labels: build, minor

#4433 Fix broken ORT caching resulting in malformed config files, using JSON
  traffic_ops/ort/atstccfg/toreq/caching.go
  traffic_ops/ort/atstccfg/toreq/caching_test.go
Labels: Traffic Ops ORT, bug, major, to-cache-configs

#4434 Backport 4.0.x: Fix ort caching to JSON
  traffic_ops/ort/atstccfg/toreq/caching.go
  traffic_ops/ort/atstccfg/toreq/caching_test.go
Labels: Traffic Ops ORT, backport, bug

#4379 Rewrite isos to Golang
  CHANGELOG.md
  LICENSE
  docs/source/api/v1/isos.rst
  docs/source/api/v2/isos.rst
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go
  lib/go-rfc/http.go
  traffic_ops/app/lib/API/Iso.pm
  traffic_ops/app/lib/MojoPlugins/Response.pm
  traffic_ops/traffic_ops_golang/iso/crypt.go
  traffic_ops/traffic_ops_golang/iso/crypt_test.go
  traffic_ops/traffic_ops_golang/iso/helper_test.go
  traffic_ops/traffic_ops_golang/iso/iso.go
  traffic_ops/traffic_ops_golang/iso/iso_test.go
  traffic_ops/traffic_ops_golang/iso/mkisofs.go
  traffic_ops/traffic_ops_golang/iso/mkisofs_test.go
  traffic_ops/traffic_ops_golang/iso/osversions.go
  traffic_ops/traffic_ops_golang/iso/resolve.go
  traffic_ops/traffic_ops_golang/iso/resolve_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/.travis.yml
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/AUTHORS.md
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/LICENSE
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/README.rst
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/apr1_crypt/apr1_crypt.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/apr1_crypt/apr1_crypt_test.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/common/base64.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/common/doc.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/common/salt.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/common/salt_test.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/crypt.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/internal/utils.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/md5_crypt/md5_crypt.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/md5_crypt/md5_crypt_test.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/sha256_crypt/sha256_crypt.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/sha256_crypt/sha256_crypt_test.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/sha512_crypt/sha512_crypt.go
  traffic_ops/traffic_ops_golang/vendor/github.com/GehirnInc/crypt/sha512_crypt/sha512_crypt_test.go
  traffic_portal/app/src/common/api/ToolsService.js
  traffic_portal/app/src/common/modules/form/iso/FormISOController.js
  traffic_portal/app/src/common/modules/form/iso/form.iso.tpl.html
Labels: Traffic Ops, tech debt

#4439 fixed malformed table caused by #4409
  docs/source/admin/traffic_router.rst
Labels: bug, documentation, minor

#4430 DNSSEC refresh breaks on DS if KSK and ZSK both are expired
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
Labels: Traffic Ops, regression

#4415 Updated Traffic Portal to use TO API v2.0
  CHANGELOG.md
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/api/CapabilityService.js
  traffic_portal/app/src/common/api/DeliveryServiceService.js
  traffic_portal/app/src/common/api/JobService.js
  traffic_portal/app/src/common/api/ParameterService.js
  traffic_portal/app/src/common/api/RegionService.js
  traffic_portal/app/src/common/api/ServerService.js
  traffic_portal/app/src/common/modules/form/capability/FormCapabilityController.js
  traffic_portal/app/src/common/modules/form/capability/edit/FormEditCapabilityController.js
  traffic_portal/app/src/common/modules/form/capability/edit/index.js
  traffic_portal/app/src/common/modules/form/capability/form.capability.tpl.html
  traffic_portal/app/src/common/modules/form/capability/index.js
  traffic_portal/app/src/common/modules/form/capability/new/FormNewCapabilityController.js
  traffic_portal/app/src/common/modules/form/capability/new/index.js
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/new/FormNewDeliveryServiceJobController.js
  traffic_portal/app/src/common/modules/form/job/form.job.tpl.html
  traffic_portal/app/src/common/modules/form/job/new/FormNewJobController.js
  traffic_portal/app/src/common/modules/table/capabilities/TableCapabilitiesController.js
  traffic_portal/app/src/common/modules/table/capabilities/table.capabilities.tpl.html
  traffic_portal/app/src/common/modules/table/capabilityEndpoints/TableCapabilityEndpointsController.js
  traffic_portal/app/src/common/modules/widget/dashboardStats/WidgetDashboardStatsController.js
  traffic_portal/app/src/common/modules/widget/dashboardStats/widget.dashboardStats.tpl.html
  traffic_portal/app/src/common/modules/widget/deliveryServices/_widget.deliveryServices.scss
  traffic_portal/app/src/modules/private/capabilities/edit/index.js
  traffic_portal/app/src/modules/private/capabilities/new/index.js
  traffic_portal/app/src/modules/private/jobs/new/index.js
  traffic_portal/app/src/scripts/config.js
  traffic_portal/app/src/traffic_portal_properties.json
Labels: Traffic Portal, improvement, medium

#4422 Deprecate cachegroups trimmed
  CHANGELOG.md
  docs/source/api/v1/cachegroups_trimmed.rst
  docs/source/api/v2/cachegroups_trimmed.rst
  traffic_ops/traffic_ops_golang/cachegroup/trimmed.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4424 Deprecate GET cachegroups/:id
  CHANGELOG.md
  docs/source/api/v1/cachegroups.rst
  docs/source/api/v1/cachegroups_id.rst
  docs/source/api/v2/cachegroups.rst
  docs/source/api/v2/cachegroups_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/cachegroup.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4426 Deprecate GET cdns/name/:name & GET cdns/:id
  CHANGELOG.md
  docs/source/api/v1/cdns.rst
  docs/source/api/v1/cdns_id.rst
  docs/source/api/v1/cdns_name_name.rst
  docs/source/api/v2/cdns.rst
  docs/source/api/v2/cdns_id.rst
  docs/source/api/v2/cdns_name_name.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/cdn.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: TC Client (python), TO Client (Go), Traffic Ops, documentation, tech debt

#4440 Deprecate /cdns/:name/federations/:id GET route
  CHANGELOG.md
  docs/source/api/v1/cdns_name_federations.rst
  docs/source/api/v1/cdns_name_federations_id.rst
  docs/source/api/v2/cdns_name_federations.rst
  docs/source/api/v2/cdns_name_federations_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/cdnfederations.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: TC Client (python), TO Client (Go), Traffic Ops, documentation, tech debt

#4449 Deprecate GET deliveryservices/{dsid}/regexes/{regexid}
  CHANGELOG.md
  docs/source/api/v1/deliveryservices_id_regexes.rst
  docs/source/api/v1/deliveryservices_id_regexes_rid.rst
  docs/source/api/v2/deliveryservices_id_regexes.rst
  docs/source/api/v2/deliveryservices_id_regexes_rid.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/common/api/DeliveryServiceRegexService.js
Labels: Traffic Ops, documentation, tech debt

#4453 Deprecate unassigned_servers
  docs/source/api/v1/deliveryservices_id_unassigned_servers.rst
  docs/source/api/v2/deliveryservices_id_unassigned_servers.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/region/name.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4456 Deprecate divisions/:id
  CHANGELOG.md
  docs/source/api/v1/divisions_id.rst
  docs/source/api/v2/divisions_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/division.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt
