Repository apache/trafficcontrol, pull requests merged in 2020-04, with the labels that each got.

#4576 updated Traffic Monitor to monitor both IPv4 and IPv6 by default
  CHANGELOG.md
  docs/source/admin/traffic_monitor.rst
  traffic_monitor/config/config.go
Labels: Traffic Monitor, documentation, enhancement

#4556 PUT /snapshot?cdn=not-found returns 404
  traffic_ops/client/crconfig.go
  traffic_ops/testing/api/v2/crconfig_test.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
Labels: Traffic Ops, bug

#4585 Removed the deprecated db/admin.pl script
  CHANGELOG.md
  traffic_ops/app/bin/tests/Dockerfile-test
  traffic_ops/app/bin/tests/docker-compose.yml
  traffic_ops/app/bin/tests/run_integration_tests.sh
  traffic_ops/app/bin/tests/run_unit_tests.sh
  traffic_ops/app/bin/tests/runtests.sh
  traffic_ops/app/db/admin.pl
  traffic_ops/install/bin/_postinstall
Labels: Traffic Ops, database, tech debt

#4403 Tm ui improvements
  LICENSE
  lib/go-rfc/mimetype.go
  licenses/MIT-sorttable
  traffic_monitor/.gitignore
  traffic_monitor/build/traffic_monitor.spec
  traffic_monitor/srvhttp/srvhttp.go
  traffic_monitor/static/index.html
  traffic_monitor/static/script.js
  traffic_monitor/static/sorttable.js
  traffic_monitor/static/style.css
Labels: Traffic Monitor, improvement, minor

#4589 Prefix cachegroup's short_name WhereColumnInfo with table name
  traffic_ops/client/cachegroup.go
  traffic_ops/testing/api/v2/cachegroups_test.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
Labels: Traffic Ops, bug

#4579 Incorrect status code when requesting dses w/ invalid accessibleTo
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
Labels: Traffic Ops, bug, minor

#4586 Fix ORT Traffic Ops timeout 30s
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug

#4593 Fail install_goose.sh if installing goose fails
  traffic_ops/install/bin/install_goose.sh
Labels: bug, install

#4581 Better error handling when creating a DS on a CDN with no keys
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
Labels: Traffic Ops, bug

#4595 Removed unused code in traffic_ops_golang
  traffic_ops/testing/api/v2/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/ats/atsserver/parentdotconfig.go
  traffic_ops/traffic_ops_golang/ats/db.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/dspost.go
  traffic_ops/traffic_ops_golang/cachesstats/cachesstats.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice_test.go
  traffic_ops/traffic_ops_golang/crstats/routing.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers_test.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
  traffic_ops/traffic_ops_golang/user/deliveryservices.go
  traffic_ops/traffic_ops_golang/user/user.go
Labels: Traffic Ops, tech debt

#4590 Update .jshintrc
  traffic_portal/.jshintignore
  traffic_portal/.jshintrc
Labels: Traffic Portal, improvement

#4578 Added missing xmlId parameter to the docs
  docs/source/api/v1/deliveryservices.rst
  docs/source/api/v2/deliveryservices.rst
Labels: documentation, tech debt

#4594 Read existing range_slice_block_size value on 1.4 PUTs
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
Labels: Traffic Ops, bug

#4601 Update versions in GitHub pull request template
  PULL_REQUEST_TEMPLATE.md
Labels: improvement, minor, process

#4606 Add ORT TO timeout option
  traffic_ops/ort/atstccfg/config/config.go
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, enhancement

#4607 Appropriate path join
  lib/go-rfc/mimetype.go
  traffic_monitor/srvhttp/srvhttp.go
  traffic_ops/client/crconfig.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations.go
Labels: Traffic Monitor, bug, minor

#4580 fixed internal server error for dns challenge records
  traffic_ops/traffic_ops_golang/deliveryservice/letsencrypt_dns_challenge.go
Labels: Traffic Ops, bug

#4521 Multi-interface Servers blueprint
  blueprints/img/multi-interface-ui-sample.png
  blueprints/multi-interface-servers.md
Labels: blueprint

#4584 updated docs for LetsEncrypt endpoint
  docs/source/api/v1/deliveryservices_sslkeys_generate_letsencrypt.rst
  docs/source/api/v2/deliveryservices_sslkeys_generate_letsencrypt.rst
Labels: documentation

#4608 Fix license issue
  traffic_portal/.jshintignore
Labels: license

#4536 API Guidelines blueprint
  blueprints/api.guidelines.md
Labels: Traffic Ops API 3.0, blueprint, documentation

#4626 Fix some CIAB issues and add TC_LOC type to seeds.sql
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/types/030-TC_LOC.json
  infrastructure/cdn-in-a-box/traffic_ops_data/types/040-TR_LOC.json
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops, bug, cdn-in-a-box, database

#4599 Add Traffic Ops /server/update
  CHANGELOG.md
  docs/source/api/v2/servers_hostname_update.rst
  traffic_ops/client/server_update_status.go
  traffic_ops/ort/atstccfg/update-to-client/update-to-client.go
  traffic_ops/testing/api/v2/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/update.go
Labels: Traffic Ops, enhancement

#4622 Fixed segfault in types test when a test fails
  traffic_ops/testing/api/v2/types_test.go
Labels: TO Client (Go), bug, tests

#4573 Update Go to version 1.14
  CHANGELOG.md
  build/functions.sh
  docs/source/admin/traffic_ops.rst
  docs/source/admin/traffic_vault.rst
  docs/source/development/traffic_ops.rst
  grove/build/build_rpm.sh
  grove/grovetccfg/build/build_rpm.sh
  infrastructure/cdn-in-a-box/docker-compose.expose-ports.yml
  infrastructure/cdn-in-a-box/enroller/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_vault/Dockerfile
  infrastructure/cdn-in-a-box/traffic_vault/prestart.d/00-config.sh
  infrastructure/docker/build/Dockerfile-grove
  infrastructure/docker/build/Dockerfile-grovetccfg
  infrastructure/docker/build/Dockerfile-traffic_monitor
  infrastructure/docker/build/Dockerfile-traffic_ops
  infrastructure/docker/build/Dockerfile-traffic_stats
  infrastructure/docker/traffic_vault/Dockerfile
  tools/golang/Dockerfile
  traffic_monitor/tests/Dockerfile-golangtest
  traffic_ops/app/bin/tests/Dockerfile-golangtest
  traffic_ops/app/conf/development/riak.conf
  traffic_ops/app/conf/integration/riak.conf
  traffic_ops/app/conf/production/riak.conf
  traffic_ops/app/conf/test/riak.conf
  traffic_ops/build/traffic_ops.spec
  traffic_ops/install/bin/install_go.sh
  traffic_ops/traffic_ops_golang/README.md
  traffic_ops/traffic_ops_golang/config/config_test.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services_test.go
  traffic_ops/traffic_ops_golang/swaggerdocs/v13/Dockerfile
Labels: Traffic Monitor, Traffic Ops, Traffic Ops ORT, Traffic Stats, Traffic Vault, cdn-in-a-box, documentation, grove, tech debt

#4587 Make _postinstall work in Perl 5.26
  traffic_ops/install/bin/_postinstall
Labels: Traffic Ops, improvement, install

#4609 Change ORT/atstccfg to use TO Proxy
  traffic_ops/ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops/ort/atstccfg/config/config.go
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, enhancement

#4631 Cast InstallUtils::readJson()'s return value to hash type
  traffic_ops/install/bin/_postinstall
Labels: Traffic Ops, bug, install

#4598 Allow negative limit to receive all records back
  traffic_ops/testing/api/v1/origins_test.go
  traffic_ops/testing/api/v2/origins_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
Labels: Traffic Ops, improvement

#4630 Updating the testing documentation for TO to add more info about buil…
  traffic_ops/testing/api/README.md
Labels: Traffic Ops, documentation, tests

#4637 Remove update_riak_for_search.pl script since it's no longer necessary
  docs/source/admin/traffic_vault.rst
  traffic_ops/app/script/update_riak_for_search.pl
Labels: Traffic Vault, install, minor, tech debt

#4638 Fix nil pointer dereference in sslkeys/add validation
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-tc/deliveryservicesslkeys_test.go
Labels: Traffic Ops, bug, minor

#4605 Stats over http parse
  docs/source/overview/profiles_and_parameters.rst
  traffic_monitor/cache/astats-dsnames.go
  traffic_monitor/cache/astats.go
  traffic_monitor/cache/astats.json
  traffic_monitor/cache/astats_test.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/data.go
  traffic_monitor/cache/data_test.go
  traffic_monitor/cache/noop.go
  traffic_monitor/cache/statistics.go
  traffic_monitor/cache/statistics_test.go
  traffic_monitor/cache/stats_over_http.go
  traffic_monitor/cache/stats_over_http.json
  traffic_monitor/cache/stats_over_http_test.go
  traffic_monitor/cache/stats_type_astats.go
  traffic_monitor/cache/stats_types.go
  traffic_monitor/ds/stat.go
  traffic_monitor/ds/stat_test.go
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
  traffic_monitor/manager/health.go
  traffic_monitor/manager/stat.go
  traffic_monitor/threadsafe/cachemaxkbpses.go
  traffic_monitor/threadsafe/durationmap.go
  traffic_monitor/threadsafe/polledcaches.go
  traffic_monitor/threadsafe/resultstathistory.go
  traffic_monitor/threadsafe/resultstathistory_test.go
  traffic_monitor/todata/todata.go
Labels: Traffic Monitor, documentation, enhancement, major

#4640 Fix ORT Reval getting DSS when it doesn't need it
  traffic_ops/ort/atstccfg/cfgfile/cfgfile.go
Labels: Traffic Ops ORT, enhancement

#4641 add the pkg location to the building docs. This fixes #2028
  docs/source/development/building.rst
Labels: documentation

#4636 Fix retrieval of Delivery Service Regexes
  lib/go-tc/deliveryservice_regexes.go
  traffic_ops/client/deliveryservice_regexes.go
  traffic_ops/testing/api/v2/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v2/traffic_control_test.go
  traffic_ops/testing/api/v2/withobjs_test.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
Labels: Traffic Ops, regression

#4642 Dsstats math fix
  docs/source/api/v1/deliveryservice_stats.rst
  traffic_ops/traffic_ops_golang/trafficstats/deliveryservice.go
Labels: Traffic Ops, bug, regression

#4647 Fix /users/register DB query
  CHANGELOG.md
  lib/go-tc/users.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/login/register.go
Labels: Traffic Ops, regression

#4648 Fix /jobs query params
  traffic_ops/testing/api/v2/jobs_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
Labels: Traffic Ops, regression

#4651 Removed documentation of an API v2 endpoint that doesn't exist in API v2
  docs/source/api/v2/deliveryservices_id_server_types_type_metric_types_start_date_start_end_date_end.rst
Labels: bug, documentation, minor

#4652 Fix doc typo in Deep CZF example
  docs/source/glossary.rst
Labels: documentation

#4643 Dsstats rename
  CHANGELOG.md
  docs/source/api/v1/deliveryservice_stats.rst
  docs/source/api/v2/deliveryservice_stats.rst
  lib/go-tc/traffic_stats.go
  traffic_ops/traffic_ops_golang/trafficstats/deliveryservice.go
  traffic_portal/app/src/common/modules/chart/bps/chart.bps.tpl.html
Labels: Traffic Ops, improvement, minor

#4634 Fixing the query to get mid servers
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, bug

#4625 updated to store Lets Encrypt user account information
  docs/source/admin/traffic_ops.rst
  docs/source/admin/traffic_router.rst
  traffic_ops/app/db/migrations/20200408000000_add_lets_encrypt_account_info.sql
  traffic_ops/traffic_ops_golang/deliveryservice/letsencryptcert.go
Labels: Traffic Ops, bug, documentation

#4653 Fixed logging.yaml generation.
  CHANGELOG.md
  lib/go-atscfg/loggingdotyaml.go
  lib/go-atscfg/loggingdotyaml_test.go
  lib/go-atscfg/meta.go
Labels: Traffic Ops ORT, bug

#4649 CDN-in-a-Box SMTP server + user registration API test
  CHANGELOG.md
  docs/source/admin/quick_howto/ciab.rst
  docs/source/development/traffic_ops.rst
  infrastructure/cdn-in-a-box/docker-compose.expose-ports.yml
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/smtp/Dockerfile
  infrastructure/cdn-in-a-box/smtp/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/config.sh
  infrastructure/cdn-in-a-box/variables.env
  traffic_ops/testing/api/conf/traffic-ops-test.conf
  traffic_ops/testing/api/config/config.go
  traffic_ops/testing/api/v1/phys_locations_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v2/traffic_ops_test.go
  traffic_ops/testing/api/v2/user_test.go
Labels: cdn-in-a-box, enhancement, tests

#4659 Add the Vary: Accept-Encoding header to all TO responses
  CHANGELOG.md
  lib/go-rfc/http.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers_test.go
Labels: Traffic Ops, bug, major

#4662 updated to remove dep notice on /deliveryservices/{id}/servers
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, minor, tech debt

#4627 Tm plugin docs
  docs/source/admin/traffic_monitor.rst
  docs/source/overview/profiles_and_parameters.rst
Labels: documentation, enhancement, minor

#4664 Fixed hiding query parameter parsing errors from client
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
Labels: Traffic Ops, bug, minor

#4666 Fix segfault in enroller.go
  infrastructure/cdn-in-a-box/enroller/enroller.go
Labels: bug, cdn-in-a-box

#4661 Post ds handle empty xmlid
  lib/go-tc/deliveryservices.go
  traffic_ops/testing/api/v2/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v2/capabilities_test.go
  traffic_ops/testing/api/v2/deliveryservices_test.go
  traffic_ops/testing/api/v2/deliveryserviceservers_test.go
  traffic_ops/testing/api/v2/deliveryservicesideligible_test.go
  traffic_ops/testing/api/v2/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v2/federations_test.go
  traffic_ops/testing/api/v2/servers_test.go
  traffic_ops/testing/api/v2/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/api/v2/todb_test.go
  traffic_ops/testing/api/v2/traffic_control_test.go
  traffic_ops/testing/api/v2/types_test.go
  traffic_ops/testing/api/v2/user_test.go
Labels: Traffic Ops, bug

#4667 Fix the Dockerfile at infrastructure/docker/traffic_ops/Dockerfile
  infrastructure/docker/traffic_ops/Dockerfile
Labels: Traffic Ops, tech debt

#4670 Fix TO API v2 tests
  traffic_ops/testing/api/v2/user_test.go
Labels: Traffic Ops, bug, tests

#4669 Removed 'sudo' from CiaB Makefile
  infrastructure/cdn-in-a-box/Makefile
Labels: cdn-in-a-box, improvement, minor

#4288 Added --hostname option to ORT.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/configuration.py
Labels: Traffic Ops ORT, cdn-in-a-box, experimental, improvement, minor

#4672 TO API v3 followup fixes
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
  traffic_ops/client/deliveryservice.go
  traffic_ops/client/deliveryservice_regexes.go
  traffic_ops/client/traffic_monitor.go
  traffic_ops/testing/api/v3/cookie_test.go
  traffic_ops/testing/api/v3/serverupdatestatus_test.go
  traffic_ops/testing/api/v3/traffic_ops_test.go
  traffic_ops/testing/api/v3/user_test.go
Labels: bug, cdn-in-a-box, tests

#4663 Add readiness container to ciab
  CHANGELOG.md
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/README.md
  infrastructure/cdn-in-a-box/docker-compose.readiness.yml
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/readiness/Dockerfile
  infrastructure/cdn-in-a-box/readiness/run.sh
Labels: cdn-in-a-box, enhancement

#4668 Make postinstall exit on error + other postinstall fixes
  traffic_ops/install/bin/install_goose.sh
  traffic_ops/install/bin/postinstall
  traffic_ops/install/bin/todb_bootstrap.sh
Labels: Traffic Ops, cdn-in-a-box, tech debt

#4639 Use prebuilt images to build Traffic Control components
  CHANGELOG.md
  infrastructure/docker/build/docker-compose.yml
Labels: build

#4621 Reduce Weasel exceptions
  .dependency_license
  .gitignore
  .mailmap
  experimental/graphql.sample/.gitignore
  experimental/graphql.sample/volumes/common/.gitignore
  experimental/graphql.sample/volumes/pg-db/.gitignore
  experimental/graphql.sample/volumes/pgadmin/.gitignore
  experimental/graphql.sample/volumes/postgraphile/.gitignore
  infrastructure/cdn-in-a-box/.gitignore
  infrastructure/cdn-in-a-box/origin/content/.gitignore
  infrastructure/cdn-in-a-box/traffic_ops/initdb.d/.gitignore
  infrastructure/cdn-in-a-box/traffic_ops/overrides/.gitignore
  tools/.gitignore
  traffic_control/clients/java/.gitignore
  traffic_control/clients/java/common/.gitignore
  traffic_control/clients/java/trafficops/.gitignore
  traffic_control/clients/python/.gitignore
  traffic_monitor/.gitignore
  traffic_ops/etc/cron.d/autorenew_certs
  traffic_ops/etc/cron.d/trafops_clean_isos
  traffic_ops/etc/cron.d/trafops_dnssec_refresh
  traffic_ops/ort/atstccfg/.gitignore
  traffic_ops/testing/api/v1/.gitignore
  traffic_ops/testing/api/v2/.gitignore
  traffic_ops/testing/compare/.gitignore
  traffic_ops/traffic_ops_golang/.gitignore
  traffic_ops/traffic_ops_golang/swaggerdocs/v13/.gitignore
  traffic_ops_db/.gitignore
  traffic_ops_db/test/docker/.gitignore
  traffic_portal/.gitattributes
  traffic_portal/.gitignore
  traffic_portal/.jshintrc
  traffic_router/.gitignore
  traffic_router/connector/.gitignore
  traffic_router/core/.gitignore
  traffic_router/core/.pmd
  traffic_router/core/src/main/conf/COMODOHigh-AssuranceSecureServerCA.crt
  traffic_router/shared/.gitignore
Labels: improvement, process

#4531 Astats plugin - Add null check around strtok_r token usage
  CHANGELOG.md
  traffic_server/plugins/astats_over_http/astats_over_http.c
Labels: Traffic Server, improvement

#4675 Fixed weasel license error
  traffic_ops/testing/api/v3/.gitignore
Labels: license
