Repository apache/trafficcontrol, pull requests merged in 2020-03, with the labels that each got.

#4445 TR uses internal endpoints
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-CCR_CIAB.json
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/SteeringWatcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/FederationsWatcher.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/external/ConsistentHashTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/external/HttpDataServer.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/external/RouterTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/external/SteeringTest.java
  traffic_router/core/src/test/resources/api/2.0/federations/all
  traffic_router/core/src/test/resources/api/2.0/steering
  traffic_router/core/src/test/resources/api/2.0/steering2
  traffic_router/core/src/test/resources/publish/CrConfig.json
  traffic_router/core/src/test/resources/publish/CrConfig2.json
  traffic_router/core/src/test/resources/publish/CrConfig3.json
  traffic_router/core/src/test/resources/publish/CrConfig4.json
Labels: Traffic Router, improvement

#4401 TP: upgrades application build dependencies
  CHANGELOG.md
  traffic_portal/app/src/package-lock.json
  traffic_portal/app/src/package.json
  traffic_portal/package-lock.json
  traffic_portal/package.json
Labels: Traffic Portal, build, tech debt

#4458 Deprecate logs/:days/days
  CHANGELOG.md
  docs/source/api/v1/logs_days_days.rst
  docs/source/api/v2/logs_days_days.rst
  docs/source/api/v2/logs_newcount.rst
  lib/go-tc/alerts.go
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api/v2/logs_test.go
  traffic_ops/traffic_ops_golang/logs/log.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4457 fixed so parameters can be associated with cachegroups and profiles
  docs/source/api/v1/cachegroupparameters.rst
  docs/source/api/v2/cachegroupparameters.rst
  traffic_ops/app/lib/API/CachegroupParameter.pm
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
Labels: Traffic Ops, bug, documentation, minor

#4460 Deprecate deliveryservices/:id
  CHANGELOG.md
  docs/source/api/v1/deliveryservices_id.rst
  docs/source/api/v2/deliveryservices_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/deliveryservice.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4462 super minor fix for docs build
  docs/source/api/v1/divisions_id.rst
Labels: documentation

#4466 fix to remove alert if no certs found
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
Labels: Traffic Ops, bug, minor

#4469 TP: Format DNSSEC keys effectiveDate in RCF3339 format
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/cdnDnssecKeys/generate/FormGenerateCdnDnssecKeysController.js
Labels: Traffic Portal, bug

#4463 Integration test support to run both TO v1 / v2 tests
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
Labels: Traffic Ops, cdn-in-a-box, tests

#4476 Fix doc build
  docs/source/api/v1/divisions_id.rst
Labels: bug, documentation, minor

#4452 deprecate /servers/checks and move functionality to /servercheck
  CHANGELOG.md
  docs/source/api/v1/servers_checks.rst
  docs/source/api/v2/servercheck.rst
  traffic_ops/client/servercheck.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/servercheck/servercheck.go
  traffic_portal/app/src/common/api/ServerService.js
Labels: TO Client (Go), Traffic Ops, Traffic Portal, documentation, tech debt

#4470 Deprecate keys/ping
  CHANGELOG.md
  docs/source/api/v1/keys_ping.rst
  traffic_ops/traffic_ops_golang/ping/keys.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4441 Deprecate deliveryservice_matches
  CHANGELOG.md
  traffic_ops/client/deliveryservice.go
  traffic_ops/testing/api/v2/deliveryservicematches_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/matches.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: TO Client (Go), Traffic Ops, documentation, tech debt, tests

#4448 Deprecate /deliveryservices/hostname/:name/sslkeys
  CHANGELOG.md
  docs/source/api/v1/deliveryservices_hostname_name_sslkeys.rst
  docs/source/api/v2/deliveryservices_hostname_name_sslkeys.rst
  traffic_ops/client/deliveryservice.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4475 Deprecate profiles/:id/unassigned_parameters
  CHANGELOG.md
  docs/source/api/v1/profiles_id_unassigned_parameters.rst
  docs/source/api/v2/profiles_id_unassigned_parameters.rst
  traffic_ops/traffic_ops_golang/profileparameter/unassignedparams.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4477 Deprecate parameters/profile/:name
  CHANGELOG.md
  docs/source/api/v1/parameters_profile_name.rst
  docs/source/api/v2/parameters_profile_name.rst
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/profileparameter/parameterprofilebyname.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4455 Add support for slice range request plugin in HTTP* & DNS* delivery services
  CHANGELOG.md
  docs/source/api/v1/deliveryservices.rst
  docs/source/api/v1/deliveryservices_id.rst
  docs/source/api/v1/deliveryservices_id_safe.rst
  docs/source/api/v1/servers_id_deliveryservices.rst
  docs/source/api/v1/users_id_deliveryservices.rst
  docs/source/api/v2/deliveryservices.rst
  docs/source/api/v2/deliveryservices_id.rst
  docs/source/api/v2/deliveryservices_id_safe.rst
  docs/source/api/v2/servers_id_deliveryservices.rst
  docs/source/api/v2/users_id_deliveryservices.rst
  docs/source/overview/delivery_services.rst
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
  lib/go-tc/deliveryservices.go
  lib/go-tc/enum.go
  traffic_ops/app/db/migrations/20200227000000_add_ds_slice_block_size.sql
  traffic_ops/ort/atstccfg/cfgfile/remapdotconfig.go
  traffic_ops/testing/api/v2/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/table.cdnDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/table.deliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/table.profileDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/table.tenantDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/table.typeDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/userDeliveryServices/table.userDeliveryServices.tpl.html
  traffic_portal/app/src/common/service/utils/DeliveryServiceUtils.js
Labels: Traffic Ops, Traffic Ops ORT, Traffic Portal, documentation, to-cache-configs

#4482 Rework cdns/name/:name/dnsseckeys/delete
  docs/source/api/v1/cdns_name_name_dnsseckeys_delete.rst
  docs/source/api/v2/cdns_name_name_dnsseckeys.rst
  docs/source/api/v2/cdns_name_name_dnsseckeys_delete.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/app/db/seeds.sql
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/api_test.go
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4142 Allow IPv6 Only Caches, including monitoring and routing
  CHANGELOG.md
  docs/source/admin/quick_howto/regionalgeo.rst
  docs/source/admin/traffic_monitor.rst
  docs/source/api/v2/servers.rst
  docs/source/api/v2/servers_id.rst
  infrastructure/docker/traffic_monitor/run.sh
  lib/go-tc/constants.go
  lib/go-tc/crstates.go
  lib/go-tc/servers.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/data.go
  traffic_monitor/cache/data_test.go
  traffic_monitor/config/config.go
  traffic_monitor/datareq/cachestate.go
  traffic_monitor/datareq/peerstate.go
  traffic_monitor/handler/handler.go
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
  traffic_monitor/health/event.go
  traffic_monitor/manager/health.go
  traffic_monitor/manager/manager.go
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/manager/monitorconfig_test.go
  traffic_monitor/manager/stat.go
  traffic_monitor/manager/statecombiner.go
  traffic_monitor/peer/peer.go
  traffic_monitor/poller/cache.go
  traffic_monitor/poller/poller_type_http.go
  traffic_monitor/poller/poller_types.go
  traffic_monitor/static/index.html
  traffic_ops/app/db/migrations/20200313000000_add_server_ip_toggles.sql
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/common/api/ServerService.js
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/service/utils/FormUtils.js
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/cache/Cache.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouter.java
Labels: Traffic Monitor, Traffic Ops, Traffic Portal, Traffic Router, documentation, enhancement

#4447 Deprecate asns/:id
  CHANGELOG.md
  docs/source/api/v1/asns_id.rst
  docs/source/api/v2/asns.rst
  docs/source/api/v2/asns_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/app/lib/API/Asn.pm
  traffic_ops/client/asn.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4423 Deprecate cachegroup/:id/unassigned_parameters
  CHANGELOG.md
  docs/source/api/v1/cachegroups_id_unassigned_parameters.rst
  docs/source/api/v2/cachegroups_id_unassigned_parameters.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/cachegroup_parameters.go
  traffic_ops/testing/api/v2/cachegroups_parameters_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/common/api/ParameterService.js
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/TableCacheGroupParametersController.js
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/TableCacheGroupParamsUnassignedController.js
Labels: Traffic Ops, documentation, tech debt

#4495 Deprecate cdn metric types
  docs/source/api/v1/cdns_metric_types_metric_start_date_start_end_date_end.rst
  docs/source/api/v2/cdns_metric_types_metric_start_date_start_end_date_end.rst
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4500 Make `make clean` remove the Traffic Stats RPM
  infrastructure/cdn-in-a-box/Makefile
Labels: bug, cdn-in-a-box, minor

#4513 Fix backwards compatibility for servers
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, bug

#4511 Deprecate profiles/trimmed
  CHANGELOG.md
  docs/source/api/v1/profiles_trimmed.rst
  docs/source/api/v2/profiles_trimmed.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/traffic_ops_golang/profile/trimmed.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4502 Deprecate GET parameters ID
  CHANGELOG.md
  docs/source/api/v1/parameters_id.rst
  docs/source/api/v2/parameters_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/parameter.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4503 Deprecate GET phys_locations/:id
  CHANGELOG.md
  docs/source/api/v1/phys_locations_id.rst
  docs/source/api/v2/phys_locations_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/phys_location.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4501 Deprecate types/{{ID}}
  CHANGELOG.md
  docs/source/api/v1/types_id.rst
  docs/source/api/v2/types_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/type.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: TC Client (python), TO Client (Go), Traffic Ops, documentation, tech debt

#4498 Deprecate deliveryservices available
  CHANGELOG.md
  docs/source/api/v1/user_id_deliveryservices_available.rst
  docs/source/api/v2/user_id_deliveryservices_available.rst
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/user/deliveryservices.go
Labels: Traffic Ops, documentation, tech debt

#4504 Deprecate GET profiles_id
  CHANGELOG.md
  docs/source/api/v1/profiles_id.rst
  docs/source/api/v2/profiles_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/profile.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4515 Add ORT atstccfg plugin hook to modify files
  traffic_ops/ort/atstccfg/atstccfg.go
  traffic_ops/ort/atstccfg/cfgfile/all.go
  traffic_ops/ort/atstccfg/cfgfile/astatsdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/atsdotrules.go
  traffic_ops/ort/atstccfg/cfgfile/bgfetchdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/cachedotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/cacheurldotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops/ort/atstccfg/cfgfile/cfgfile_test.go
  traffic_ops/ort/atstccfg/cfgfile/chkconfig.go
  traffic_ops/ort/atstccfg/cfgfile/dropqstringdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/facts.go
  traffic_ops/ort/atstccfg/cfgfile/headerrewritedotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/headerrewritemiddotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/hostingdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/ipallowdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/loggingdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/loggingdotyaml.go
  traffic_ops/ort/atstccfg/cfgfile/logsxmldotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/meta.go
  traffic_ops/ort/atstccfg/cfgfile/packages.go
  traffic_ops/ort/atstccfg/cfgfile/parentdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/plugindotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/recordsdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/regexremapdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/regexrevalidatedotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/remapdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/routing.go
  traffic_ops/ort/atstccfg/cfgfile/servercachedotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/serverunknownconfig.go
  traffic_ops/ort/atstccfg/cfgfile/setdscpdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/sslkeys.go
  traffic_ops/ort/atstccfg/cfgfile/sslmulticertdotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/storagedotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/sysctldotconf.go
  traffic_ops/ort/atstccfg/cfgfile/unknownconfig.go
  traffic_ops/ort/atstccfg/cfgfile/urisigningconfig.go
  traffic_ops/ort/atstccfg/cfgfile/urlsigconfig.go
  traffic_ops/ort/atstccfg/cfgfile/volumedotconfig.go
  traffic_ops/ort/atstccfg/config/config.go
  traffic_ops/ort/atstccfg/plugin/hello_world.go
  traffic_ops/ort/atstccfg/plugin/plugin.go
  traffic_ops/ort/atstccfg/plugin/plugin_test.go
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, enhancement

#4494 Removed references to '/internal/' API endpoints
  docs/source/api/v1/cdns_name_configs_routing.rst
  docs/source/api/v1/cdns_name_snapshot.rst
  docs/source/api/v1/cdns_name_snapshot_new.rst
Labels: documentation, enhancement, minor

#4524 Fix TO unit tests
  traffic_ops/traffic_ops_golang/types/types_test.go
Labels: Traffic Ops, tests

#4523 CDN-in-a-Box: Downgrade Python Traffic Ops client
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/ort/README.rst
  infrastructure/cdn-in-a-box/ort/setup.py
  infrastructure/cdn-in-a-box/ort/tests/__init__.py
  infrastructure/cdn-in-a-box/ort/tests/test_api_version_replacement.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
Labels: cdn-in-a-box

#4509 Finish deprecation of GET regions/name/:name
  traffic_ops/client/region.go
  traffic_ops/testing/api/v2/regions_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4510 Deprecate /phys_locations/trimmed
  CHANGELOG.md
  docs/source/api/v1/phys_locations_trimmed.rst
  docs/source/api/v2/phys_locations_trimmed.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/traffic_ops_golang/physlocation/trimmed.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4526 Missing msg on cache group deletion
  traffic_portal/app/src/common/api/CacheGroupService.js
Labels: Traffic Portal, bug

#4497 TP: refactor to simplify UI code to require server IPv4 OR IPv6 address
  lib/go-tc/constants.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/common/api/ServerService.js
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/service/utils/FormUtils.js
  traffic_portal/app/src/modules/private/servers/new/index.js
Labels: Traffic Portal, tech debt

#4530 Fix server compatibility with v1
  infrastructure/cdn-in-a-box/enroller/server_template.json
  infrastructure/cdn-in-a-box/traffic_ops_data/servers/010-dns_server.json
  infrastructure/cdn-in-a-box/traffic_ops_data/servers/020-db_server.json
  infrastructure/cdn-in-a-box/traffic_ops_data/servers/030-enroller_server.json
  lib/go-tc/servers.go
  traffic_ops/testing/api/v1/atsconfig_meta_test.go
  traffic_ops/testing/api/v1/deliveryserviceservers_test.go
  traffic_ops/testing/api/v1/ip_allow_dot_config_test.go
  traffic_ops/testing/api/v1/profileconfig_test.go
  traffic_ops/testing/api/v1/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/api/v1/serverupdatestatus_test.go
  traffic_ops/testing/api/v1/traffic_control_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
  traffic_ops/v1-client/server.go
Labels: TO Client (Go), Traffic Ops, regression

#4508 Deprecate DELETE/GET regions/:id
  CHANGELOG.md
  docs/source/api/v1/regions_id.rst
  docs/source/api/v2/regions_id.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/region.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4520 Rework /deliveryservice_server/:dsid/:serverid
  CHANGELOG.md
  docs/source/api/v1/deliveryservice_server_dsid_serverid.rst
  docs/source/api/v2/deliveryserviceserver_dsid_serverid.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/client/deliveryserviceserver.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/delete.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/common/api/DeliveryServiceService.js
Labels: Traffic Ops, documentation, tech debt

#4517 Collapse cdns/{{ID}}/snapshot & snapshot/{{CDN}} to snapshot route
  CHANGELOG.md
  docs/source/api/v1/cdns_id_snapshot.rst
  docs/source/api/v1/snapshot_name.rst
  docs/source/api/v2/cdns_id_snapshot.rst
  docs/source/api/v2/snapshot.rst
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/common/api/CDNService.js
Labels: Traffic Ops, documentation, tech debt

#4519 Rework deliveryservices/xmlId/:XMLID/sslkeys/delete
  CHANGELOG.md
  docs/source/api/v1/deliveryservices_xmlid_xmlid_sslkeys_delete.rst
  docs/source/api/v2/deliveryservices_xmlid_xmlid_sslkeys.rst
  docs/source/api/v2/deliveryservices_xmlid_xmlid_sslkeys_delete.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4512 Deprecate servers/hostname/hostName/details
  CHANGELOG.md
  docs/source/api/v1/servers_hostname_name_details.rst
  docs/source/api/v2/servers_details.rst
  docs/source/api/v2/servers_hostname_name_details.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/detail.go
Labels: Traffic Ops, documentation, tech debt

#4538 Deprecate steering/:ds/targets/:target
  CHANGELOG.md
  docs/source/api/v1/steering_id_targets_targetID.rst
  docs/source/api/v2/steering_id_targets_targetID.rst
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4539 Fix ORT missing import
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug

#4542 Fix v2 tests for CRConfig
  traffic_ops/client/crconfig.go
  traffic_ops/testing/api/v2/crconfig_test.go
Labels: TO Client (Go), Traffic Ops, bug, tests

#4527 Limit the amount of calls needed on ds regexes and jobs
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
Labels: Traffic Ops, performance

#4481 Rework to_extensions to servercheck/extensions & plugins in 2.x
  CHANGELOG.md
  docs/source/api/v1/to_extensions.rst
  docs/source/api/v1/to_extensions_id_delete.rst
  docs/source/api/v2/plugins.rst
  docs/source/api/v2/servercheck_extensions.rst
  docs/source/api/v2/servercheck_extensions_id.rst
  docs/source/development/traffic_ops.rst
  lib/go-tc/plugins.go
  lib/go-tc/servercheckextensions.go
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/app/lib/API/ToExtension.pm
  traffic_ops/client/servercheckextensions.go
  traffic_ops/testing/api/v2/servercheckextension_test.go
  traffic_ops/testing/api/v2/serverchecks_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v2/traffic_control_test.go
  traffic_ops/testing/api/v2/withobjs_test.go
  traffic_ops/traffic_ops_golang/plugins/plugins.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/servercheck/extensions/extension.go
  traffic_ops/v1-client/toextension.go
Labels: TO Client (Go), Traffic Ops, documentation, enhancement

#4545 added isServiceAddress to TP test
  traffic_portal/test/end_to_end/servers/pageData.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, tests

#4546 removed /servers/checks documentation from v2
  docs/source/api/v2/servers_checks.rst
Labels: documentation

#4532 fixed nil exception in cert autorenewal
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
Labels: Traffic Ops, bug

#4540 updated Lets Encrypt endpoint to perform checks
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/letsencryptcert.go
Labels: Traffic Ops

#4554 Fixed snapshots passing cdnID in body not qstring
  traffic_portal/app/src/common/api/CDNService.js
Labels: Traffic Portal, bug, medium

#4550 Run go fmt
  grove/remap/remap.go
  infrastructure/cdn-in-a-box/enroller/enroller.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
  traffic_ops/client/cdn.go
  traffic_ops/client/deliveryservice.go
  traffic_ops/client/profile.go
  traffic_ops/ort/atstccfg/cfgfile/remapdotconfig.go
  traffic_ops/testing/api/v1/capabilities_test.go
  traffic_ops/testing/api/v1/deliveryservice_safe_update_test.go
  traffic_ops/testing/api/v1/jobs_test.go
  traffic_ops/testing/api/v1/user_test.go
  traffic_ops/testing/api/v2/capabilities_test.go
  traffic_ops/testing/api/v2/jobs_test.go
  traffic_ops/testing/api/v2/user_test.go
  traffic_ops/traffic_ops_golang/api/api_test.go
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/region/name.go
  traffic_ops/traffic_ops_golang/trafficstats/deliveryservice.go
  traffic_ops/traffic_ops_golang/types/types_test.go
  traffic_ops/v1-client/cachegroup.go
  traffic_ops/v1-client/cdn.go
  traffic_ops/v1-client/user.go
Labels: TO Client (Go), Traffic Ops, Traffic Ops ORT, cdn-in-a-box, grove

#4528 Deprecate users/{userId}/deliveryServices
  CHANGELOG.md
  docs/source/api/v1/users_id_deliveryservices.rst
  docs/source/api/v2/deliveryservices.rst
  docs/source/api/v2/users_id_deliveryservices.rst
  traffic_ops/client/deliveryservice.go
  traffic_ops/client/dsuser.go
  traffic_ops/testing/api/v2/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/user/deliveryservices.go
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/form/user/FormUserController.js
  traffic_portal/app/src/common/modules/table/userDeliveryServices/TableUserDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/userDeliveryServices/index.js
  traffic_portal/app/src/common/modules/table/userDeliveryServices/table.userDeliveryServices.tpl.html
  traffic_portal/app/src/modules/private/tenants/deliveryServices/index.js
  traffic_portal/app/src/modules/private/users/deliveryServices/index.js
Labels: Traffic Ops, Traffic Portal, documentation, tech debt

#4555 updated letsencrypt endpoints to require ops permissions
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, bug

#4547 Add default sort to phys_locations
  traffic_ops/client/phys_location.go
  traffic_ops/client/util.go
  traffic_ops/testing/api/v1/phys_locations_test.go
  traffic_ops/testing/api/v2/phys_locations_test.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations.go
Labels: Traffic Ops, improvement
