Repository apache/trafficcontrol, pull requests merged in 2020-06, with the labels that each got.

#4721 Queries with invalid type parameter should return 400s, not 500s
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/api/shared_handlers_test.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups_test.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, bug, minor

#4702 Prohibit assigning topology-based delivery services to caches
  CHANGELOG.md
  lib/go-tc/deliveryservices.go
  traffic_ops/client/cachegroup.go
  traffic_ops/client/coordinate.go
  traffic_ops/client/deliveryservice.go
  traffic_ops/client/deliveryserviceserver.go
  traffic_ops/client/server.go
  traffic_ops/client/util.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/coordinate.go
  traffic_ops/testing/api/v1/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v2/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v3/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v3/crconfig_test.go
  traffic_ops/testing/api/v3/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/traffic_ops_golang/cachegroup/dspost.go
  traffic_ops/traffic_ops_golang/cachegroup/queueupdate.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/unassigned_parameters.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_ops/v1-client/coordinate.go
  traffic_ops/v2-client/coordinate.go
Labels: TO Client (Go), Traffic Ops, enhancement

#4750 Remove wrong error logs
  traffic_ops/traffic_ops_golang/ats/atsserver/hostingdotconfig.go
Labels: bug, minor

#4749 Pin FFI gem version to 1.12.2 for Ruby 2.0 compatibility in Traffic Portal builder image
  infrastructure/docker/build/Dockerfile-traffic_portal
Labels: 4.1.x-backport-candidate, Traffic Portal, build

#4734 Type for a steering target should match only applicable values
  CHANGELOG.md
  docs/source/api/v3/steering_id_targets.rst
  docs/source/api/v3/steering_id_targets_targetID.rst
  docs/source/overview/delivery_services.rst
  lib/go-tc/steeringtarget.go
  traffic_ops/traffic_ops_golang/steeringtargets/steeringtargets_test.go
Labels: Traffic Ops, bug, minor

#4757 Add Raw Remap Range Directive
  CHANGELOG.md
  docs/source/overview/delivery_services.rst
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: 4.1.x-backport-candidate, Traffic Ops, Traffic Ops ORT, bug

#4756 POST deliveryservices/request - deep caching type and routing name are optional
  CHANGELOG.md
  docs/source/api/v1/deliveryservices_request.rst
  docs/source/api/v2/deliveryservices_request.rst
  docs/source/api/v3/deliveryservices_request.rst
  lib/go-tc/deliveryservice_requests.go
Labels: 4.1.x-backport-candidate, Traffic Ops, bug, regression

#4760 Updated to weasel v0.4.
  .dependency_license
  infrastructure/docker/build/docker-compose.yml
  misc/git/pre-commit-hooks/01-gofmt
  misc/traffic-control-cdn/css/bootstrap-theme.css
  misc/traffic-control-cdn/css/bootstrap-theme.min.css
  misc/traffic-control-cdn/css/bootstrap.css
  misc/traffic-control-cdn/css/bootstrap.min.css
  misc/traffic-control-cdn/js/bootstrap.js
  misc/traffic-control-cdn/js/bootstrap.min.js
  traffic_portal/app/src/assets/css/angular-moment-picker_0.10.2.css
  traffic_portal/app/src/assets/js/chartjs/Chart.min_2.7.2.js
  traffic_portal/app/src/assets/js/downloadjs-min_v4.21.js
  traffic_portal/app/src/assets/js/moment-picker/angular-moment-picker.min_0.10.2.js
  traffic_portal/app/src/assets/js/underscore-min_1.8.3.js
  traffic_portal/app/src/styles/loading.scss
  traffic_portal/app/src/styles/theme.scss
Labels: build, enhancement

#4744 Fixes minor bugs with topology create/update UI
  traffic_portal/app/src/common/modules/form/topology/FormTopologyController.js
  traffic_portal/app/src/common/modules/form/topology/form.topology.tpl.html
  traffic_portal/app/src/common/modules/table/topologyCacheGroups/TableSelectTopologyCacheGroupsController.js
  traffic_portal/app/src/common/modules/table/topologyCacheGroups/table.selectTopologyCacheGroups.tpl.html
Labels: Traffic Portal, improvement

#4716 API Guidelines
  CONTRIBUTING.md
  docs/source/development/api_guidelines.rst
  docs/source/development/documentation_guidelines.rst
  docs/source/development/index.rst
  docs/source/development/traffic_ops.rst
Labels: documentation, improvement, minor

#4752 Apache TC builder images
  infrastructure/docker/build/docker-compose.yml
Labels: build, enhancement, process

#4444 Document undocumented Traffic Ops routes
  docs/source/admin/traffic_ops.rst
  docs/source/api/v1/deliveryservices_xmlid_xmlid_urlkeys.rst
  docs/source/api/v2/about.rst
  docs/source/api/v2/asns.rst
  docs/source/api/v2/cdns_dnsseckeys_generate.rst
  docs/source/api/v2/deliveryservice_request_comments.rst
  docs/source/api/v2/deliveryservice_requests.rst
  docs/source/api/v2/deliveryservice_requests_id_assign.rst
  docs/source/api/v2/deliveryservice_requests_id_status.rst
  docs/source/api/v2/deliveryservices_dnsseckeys_generate.rst
  docs/source/api/v2/deliveryservices_id_urlkeys.rst
  docs/source/api/v2/deliveryservices_request.rst
  docs/source/api/v2/deliveryservices_xmlid_xmlid_urlkeys.rst
  docs/source/api/v2/federations_all.rst
  docs/source/api/v2/ping.rst
  docs/source/api/v2/servers_details.rst
  docs/source/api/v2/servers_id_deliveryservices.rst
  docs/source/api/v2/steering.rst
  docs/source/api/v3/about.rst
  docs/source/api/v3/asns.rst
  docs/source/api/v3/cdns_dnsseckeys_generate.rst
  docs/source/api/v3/deliveryservice_request_comments.rst
  docs/source/api/v3/deliveryservice_requests.rst
  docs/source/api/v3/deliveryservice_requests_id_assign.rst
  docs/source/api/v3/deliveryservice_requests_id_status.rst
  docs/source/api/v3/deliveryservices_id_urlkeys.rst
  docs/source/api/v3/deliveryservices_request.rst
  docs/source/api/v3/deliveryservices_xmlid_xmlid_urlkeys.rst
  docs/source/api/v3/federations_all.rst
  docs/source/api/v3/ping.rst
  docs/source/api/v3/servers_details.rst
  docs/source/api/v3/servers_id_deliveryservices.rst
  docs/source/api/v3/steering.rst
  docs/source/glossary.rst
  docs/source/overview/delivery_services.rst
  traffic_control/clients/python/trafficops/tosession.py
Labels: TC Client (python), bug, documentation, medium

#4764 Made admin user compliant with restrictions (API and TP)
  infrastructure/cdn-in-a-box/traffic_ops/adduser.pl
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/run.sh
  infrastructure/cdn-in-a-box/variables.env
Labels: cdn-in-a-box, improvement, minor

#4771 adds slice plugin to collection used to display magic numbers
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
Labels: Traffic Portal, bug

#4765 Fix a couple TR NullPointerExceptions when no caches are available
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/edge/Node.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouter.java
Labels: 4.1.x-backport-candidate, Traffic Router, bug

#4773 Use cachegroupIndex to find cachegroup type, not parentIndex
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/topology/validation.go
Labels: Traffic Ops, bug

#4754 Fix API (deliveryserviceserver and deliveryservices/dsName/servers) should not assign Server from different CDN to Delivery Service
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers_test.go
Labels: Traffic Ops, improvement, minor

#4709 Snapshot interfaces
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/ats/db.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
Labels: Traffic Ops, improvement, minor

#4784 Common build stage for TO and TO Perl CDN-in-a-Box images
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go
Labels: cdn-in-a-box, improvement, minor, performance

#4794 Servers fixes
  traffic_control/clients/python/trafficops/restapi.py
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: TC Client (python), Traffic Ops, bug, minor

#4786 Permit edge -> edge topology node parentage
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/api/shared_interfaces.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
  traffic_ops/traffic_ops_golang/topology/validation.go
  traffic_portal/app/src/common/modules/form/topology/FormTopologyController.js
  traffic_portal/app/src/common/modules/form/topology/edit/FormEditTopologyController.js
  traffic_portal/app/src/common/modules/form/topology/form.topology.tpl.html
  traffic_portal/app/src/common/modules/form/topology/new/FormNewTopologyController.js
  traffic_portal/app/src/common/modules/table/topologyCacheGroups/TableSelectTopologyCacheGroupsController.js
  traffic_portal/app/src/common/service/utils/TopologyUtils.js
  traffic_portal/app/src/styles/main.scss
Labels: Traffic Ops, Traffic Portal, enhancement

#4798 Fix /servers dsId parameter
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, regression

#4797 Fixed filtering query parameters in the /servers API
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, minor, regression

#4769 Servers table switch to ag-grid
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/table/_table.scss
  traffic_portal/app/src/common/modules/table/cacheGroupServers/TableCacheGroupServersController.js
  traffic_portal/app/src/common/modules/table/cdnServers/TableCDNServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
  traffic_portal/app/src/common/modules/table/physLocationServers/TablePhysLocationServersController.js
  traffic_portal/app/src/common/modules/table/profileServers/TableProfileServersController.js
  traffic_portal/app/src/common/modules/table/serverCapabilityServers/TableServerCapabilityServersController.js
  traffic_portal/app/src/common/modules/table/servers/TableParentServersController.js
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/servers/index.js
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
  traffic_portal/app/src/common/modules/table/statusServers/TableStatusServersController.js
  traffic_portal/app/src/common/modules/table/typeServers/TableTypeServersController.js
  traffic_portal/app/src/index.html
  traffic_portal/grunt/copy.js
  traffic_portal/grunt/globalConfig.js
  traffic_portal/package-lock.json
  traffic_portal/package.json
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, improvement, minor, performance

#4803 Changed two column names
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
Labels: Traffic Portal, minor

#4805 Updated list of releases receiving security updates
  SECURITY.md
Labels: minor, process

#4815 Fix validation for an edge node parenting a mid node in a Topology
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/traffic_ops_golang/topology/validation.go
Labels: Traffic Ops, bug

#4813 Fix TM panic on startup
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
Labels: Traffic Monitor, bug, critical

#4817 Fix test failure for GetMidServers
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: tests

#4816 fixed an issue with ipv4 whitelist being intialized for ipv6.
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/AnonymousIp.java
Labels: Traffic Router, bug

#4818 Fix flaky DSS TO API test (sometimes CDN doesn't match)
  traffic_ops/testing/api/v1/deliveryserviceservers_test.go
  traffic_ops/testing/api/v2/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
Labels: tests

#4807 Add new header_rewrite fields for topology-based DSes
  CHANGELOG.md
  docs/source/api/v3/deliveryservice_requests.rst
  docs/source/api/v3/deliveryservice_requests_id_assign.rst
  docs/source/api/v3/deliveryservice_requests_id_status.rst
  docs/source/api/v3/deliveryservices.rst
  docs/source/api/v3/deliveryservices_id.rst
  docs/source/api/v3/deliveryservices_id_safe.rst
  docs/source/api/v3/servers_id_deliveryservices.rst
  docs/source/glossary.rst
  docs/source/overview/delivery_services.rst
  lib/go-tc/deliveryservices.go
  traffic_ops/app/db/migrations/2020061622101648_add_new_header_rewrite.sql
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
Labels: Traffic Ops, enhancement

#4821 Ciab scope drop
  infrastructure/cdn-in-a-box/docker-compose.readiness.yml
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/optional/docker-compose.debugging.yml
  infrastructure/cdn-in-a-box/readiness/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go.dockerignore
Labels: cdn-in-a-box, improvement, minor

#4724 Supporting routing for topology-based delivery services
  CHANGELOG.md
  docs/source/api/v3/cdns_name_snapshot.rst
  docs/source/api/v3/cdns_name_snapshot_new.rst
  docs/source/glossary.rst
  lib/go-tc/crconfig.go
  traffic_ops/traffic_ops_golang/crconfig/crconfig.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice_test.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/crconfig/topologies.go
  traffic_ops/traffic_ops_golang/crconfig/topologies_test.go
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/config/ConfigHandler.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/DeliveryService.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/DeliveryServiceMatcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/edge/CacheRegister.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/edge/Node.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/request/RequestMatcher.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/config/ConfigHandlerTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/DeliveryServiceTest.java
Labels: Traffic Ops, Traffic Router, documentation, enhancement

#4671 Ciab atstccfg
  docs/source/tools/atstccfg.rst
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/edge/run.sh
  infrastructure/cdn-in-a-box/mid/run.sh
  infrastructure/cdn-in-a-box/ort/README.rst
  infrastructure/cdn-in-a-box/ort/doctest-runner.py
  infrastructure/cdn-in-a-box/ort/setup.py
  infrastructure/cdn-in-a-box/ort/tests/test_api_version_replacement.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort.crontab
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/config_files.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/configuration.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/main_routines.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/utils.py
  traffic_ops_ort/atstccfg/README.md
  traffic_ops_ort/atstccfg/config/config.go
Labels: Traffic Ops ORT, cdn-in-a-box, documentation, enhancement, medium

#4774 Update /cdns/:name/configs/monitoring for multiple interfaces
  CHANGELOG.md
  docs/source/api/v3/cdns_name_configs_monitoring.rst
  lib/go-tc/crconfig.go
  lib/go-tc/traffic_monitor.go
  lib/go-tc/traffic_router.go
  lib/go-util/ptr.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/cache_test.go
  traffic_monitor/datareq/cachedowncount.go
  traffic_monitor/datareq/cachestate.go
  traffic_monitor/ds/stat.go
  traffic_monitor/ds/stat_test.go
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/manager/monitorconfig_test.go
  traffic_monitor/manager/stat.go
  traffic_monitor/poller/monitorconfig.go
  traffic_monitor/threadsafe/monitorconfig.go
  traffic_monitor/threadsafe/resultstathistory.go
  traffic_monitor/threadsafe/resultstathistory_test.go
  traffic_monitor/towrap/towrap.go
  traffic_monitor/towrap/towrap_test.go
  traffic_ops/testing/api/v1/federation_resolvers_test.go
  traffic_ops/testing/api/v2/federation_resolvers_test.go
  traffic_ops/testing/api/v2/monitoring_test.go
  traffic_ops/testing/api/v3/federation_resolvers_test.go
  traffic_ops/testing/api/v3/monitoring_test.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
  traffic_ops/traffic_ops_golang/riaksvc/riak_services.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/trafficstats/util_test.go
  traffic_ops/v1-client/traffic_monitor.go
  traffic_ops/v2-client/traffic_monitor.go
Labels: Traffic Monitor, Traffic Ops, documentation, improvement, minor

#4830 Traffic Monitor excessive log errors fix
  traffic_monitor/cache/astats.go
  traffic_monitor/cache/cache.go
  traffic_monitor/threadsafe/resultstathistory.go
Labels: Traffic Monitor, bug, critical

#4832 Validation to prevent parentage cycles among different Topologies
  traffic_ops/testing/api/v3/cachegroups_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
  traffic_ops/traffic_ops_golang/topology/validation.go
Labels: Traffic Ops, enhancement

#4828 Servers service interface fix
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, bug, minor, tests

#4747 Tp interface servers
  traffic_portal/app/src/common/api/ServerService.js
  traffic_portal/app/src/common/modules/form/_form.scss
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/edit/FormEditServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/form/server/new/FormNewServerController.js
  traffic_portal/app/src/common/modules/table/_table.scss
  traffic_portal/app/src/common/modules/table/cacheGroupServers/table.cacheGroupServers.tpl.html
  traffic_portal/app/src/common/modules/table/cdnServers/table.cdnServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/physLocationServers/table.physLocationServers.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/serverConfigFiles/TableServerConfigFilesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverServerCapabilities/TableServerServerCapabilitiesController.js
  traffic_portal/app/src/common/modules/table/servers/TableParentServersController.js
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/statusServers/table.statusServers.tpl.html
  traffic_portal/app/src/common/modules/table/typeServers/table.typeServers.tpl.html
  traffic_portal/app/src/common/service/utils/ServerUtils.js
  traffic_portal/app/src/modules/private/servers/capabilities/index.js
  traffic_portal/app/src/modules/private/servers/configFiles/index.js
  traffic_portal/app/src/modules/private/servers/deliveryServices/index.js
  traffic_portal/app/src/modules/private/servers/edit/index.js
  traffic_portal/test/end_to_end/servers/pageData.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, improvement, medium

#4823 CDN-in-a-Box image rebuilding speedups
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-debug
  infrastructure/cdn-in-a-box/traffic_portal/Dockerfile
  infrastructure/cdn-in-a-box/traffic_router/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
Labels: cdn-in-a-box, improvement

#4846 Fixed logging.yaml generation to properly add a newline after filters are emitted.
  lib/go-atscfg/loggingdotyaml.go
  lib/go-atscfg/loggingdotyaml_test.go
Labels: Traffic Ops ORT, bug

#4827 TP: adds first, inner and last header rewrite fields for topologies
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
Labels: Traffic Portal, enhancement
