Repository apache/trafficcontrol, pull requests merged in 2020-01, with the labels that each got.

#4251 Fixed CiaB build issue
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/000-GLOBAL.json
Labels: bug, cdn-in-a-box, major

#4247 TO image: Copy files from a previous build stage instead of trafficops-perl
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go.dockerignore
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile.dockerignore
Labels: cdn-in-a-box, enhancement

#4127 Rewrite GET stats_summary from Perl to Golang
  CHANGELOG.md
  docs/source/api/stats_summary.rst
  lib/go-tc/stats_summary.go
  traffic_ops/client/stats_summary.go
  traffic_ops/testing/api/v14/stats_summary_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/testing/api/v14/traffic_control_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/trafficstats/stats_summary.go
  traffic_stats/traffic_stats.go
  traffic_stats/vendor/github.com/apache/trafficcontrol/lib
  traffic_stats/vendor/github.com/apache/trafficcontrol/traffic_ops/client
Labels: TO Client (Go), Traffic Ops, Traffic Stats, documentation

#4253 Fixed improperly labeled 'httpRoute' field in api_capabilities responses
  docs/source/api/api_capabilities.rst
  lib/go-tc/api_capabilities.go
Labels: Traffic Ops, bug, documentation, regression

#4205 Add waits on generate keys buttons to show up in TP tests
  traffic_portal/test/end_to_end/CDNs/cdns-spec.js
Labels: Traffic Portal, tests

#4208 Block DSRC assignment when DS type is not HTTP or DNS
  traffic_ops/testing/api/v14/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v14/deliveryserviceservers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
Labels: Traffic Ops, Traffic Portal, improvement

#4234 TP: removed references to deprecated routes
  traffic_portal/app/src/common/api/ASNService.js
  traffic_portal/app/src/common/api/CDNService.js
  traffic_portal/app/src/common/api/CacheGroupService.js
  traffic_portal/app/src/common/api/CapabilityService.js
  traffic_portal/app/src/common/api/DeliveryServiceRequestService.js
  traffic_portal/app/src/common/api/DeliveryServiceService.js
  traffic_portal/app/src/common/api/DivisionService.js
  traffic_portal/app/src/common/api/EndpointService.js
  traffic_portal/app/src/common/api/ParameterService.js
  traffic_portal/app/src/common/api/PhysLocationService.js
  traffic_portal/app/src/common/api/ProfileService.js
  traffic_portal/app/src/common/api/RegionService.js
  traffic_portal/app/src/common/api/ServerService.js
  traffic_portal/app/src/common/api/StatusService.js
  traffic_portal/app/src/common/api/TenantService.js
  traffic_portal/app/src/common/api/TypeService.js
  traffic_portal/app/src/common/api/UserService.js
  traffic_portal/app/src/modules/private/user/UserController.js
Labels: Traffic Portal, tech debt

#4198 EDNS0 Client Subnet for Delivery Services
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  docs/source/api/cdns_name_snapshot.rst
  docs/source/api/cdns_name_snapshot_new.rst
  docs/source/api/deliveryservices.rst
  docs/source/api/deliveryservices_id.rst
  docs/source/api/deliveryservices_id_safe.rst
  docs/source/api/servers_id_deliveryservices.rst
  docs/source/api/users_id_deliveryservices.rst
  docs/source/overview/delivery_services.rst
  lib/go-tc/crconfig.go
  lib/go-tc/deliveryservices.go
  traffic_ops/app/db/migrations/20191215000000_add_ecs_enabled.sql
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/config/ConfigHandler.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/DeliveryService.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServerTest.java
Labels: Traffic Ops, Traffic Portal, Traffic Router, documentation, enhancement

#4254 updated TP to use API 1.5 and TO perl to use 1.5
  traffic_ops/app/lib/TrafficOpsRoutes.pm
  traffic_portal/app/src/scripts/config.js
Labels: Traffic Ops, Traffic Portal

#4236 TP: Removes the UI screens that allow CRUD of api_capabilities
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/api/EndpointService.js
  traffic_portal/app/src/common/modules/form/endpoint/FormEndpointController.js
  traffic_portal/app/src/common/modules/form/endpoint/edit/FormEditEndpointController.js
  traffic_portal/app/src/common/modules/form/endpoint/edit/index.js
  traffic_portal/app/src/common/modules/form/endpoint/form.endpoint.tpl.html
  traffic_portal/app/src/common/modules/form/endpoint/index.js
  traffic_portal/app/src/common/modules/form/endpoint/new/FormNewEndpointController.js
  traffic_portal/app/src/common/modules/form/endpoint/new/index.js
  traffic_portal/app/src/common/modules/table/endpoints/TableEndpointsController.js
  traffic_portal/app/src/common/modules/table/endpoints/table.endpoints.tpl.html
  traffic_portal/app/src/modules/private/endpoints/edit/index.js
  traffic_portal/app/src/modules/private/endpoints/new/index.js
Labels: Traffic Portal, tech debt

#4223 Traffic Ops Development documentation updates
  docs/source/_ext/atc.py
  docs/source/admin/quick_howto/ciab.rst
  docs/source/admin/traffic_ops.rst
  docs/source/development/documentation_guidelines.rst
  docs/source/development/index.rst
  docs/source/development/traffic_ops.rst
  docs/source/development/traffic_ops_golang.rst
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops.spec
  traffic_ops/doc/coverage-zone.json
  traffic_ops/testing/api/conf/traffic-ops-test.conf
Labels: documentation, improvement, minor

#4255 Fix incorrect documented roles
  docs/source/api/deliveryservices_id_capacity.rst
  docs/source/api/deliveryservices_id_health.rst
  docs/source/api/deliveryservices_id_routing.rst
  docs/source/api/deliveryservices_id_safe.rst
  docs/source/api/deliveryservices_id_servers.rst
  docs/source/api/deliveryservices_id_servers_eligible.rst
Labels: bug, documentation, minor

#4233 TP: unregisters resize event handler when navigating away from dashboard
  traffic_portal/app/src/common/modules/chart/bps/ChartBPSController.js
  traffic_portal/app/src/common/modules/chart/httpStatus/ChartHttpStatusController.js
  traffic_portal/app/src/common/modules/chart/tps/ChartTPSController.js
  traffic_portal/app/src/common/modules/widget/cdnChart/WidgetCDNChartController.js
Labels: Traffic Portal, bug, regression

#4264 TP: unregisters resize event handler when navigating away from dashboard
  traffic_portal/app/src/common/modules/chart/bps/ChartBPSController.js
  traffic_portal/app/src/common/modules/chart/httpStatus/ChartHttpStatusController.js
  traffic_portal/app/src/common/modules/chart/tps/ChartTPSController.js
  traffic_portal/app/src/common/modules/widget/cdnChart/WidgetCDNChartController.js
Labels: Traffic Portal, backport, bug, regression

#4262 Fix atscfg errors to include DS name
  lib/go-atscfg/remapdotconfig.go
Labels: enhancement, to-cache-configs

#4263 Fix DSRC error response
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities_test.go
Labels: Traffic Ops, improvement

#4261 Fix atstccfg to not log errors for unrelated dses
  traffic_ops/ort/atstccfg/cfgfile/regexremapdotconfig.go
Labels: bug, to-cache-configs

#4256 Fix atscfg meta to omit config files for nonexistent delivery services
  CHANGELOG.md
  lib/go-atscfg/meta.go
  lib/go-atscfg/meta_test.go
  traffic_ops/ort/atstccfg/cfgfile/meta.go
  traffic_ops/testing/api/v14/atsconfig_meta_test.go
  traffic_ops/traffic_ops_golang/ats/atsserver/meta.go
  traffic_ops/traffic_ops_golang/ats/db.go
Labels: bug, major, to-cache-configs

#4267 Remove TP tests setting DSRC on non HTTP/DNS dses
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
Labels: Traffic Portal, tests

#4270 Ciab build fix backport
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/000-GLOBAL.json
Labels: backport, bug, cdn-in-a-box, major

#2458 Add TO Go deliveryservices/id/health
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/health.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#4272 Fix incorrect VNC information
  docs/source/admin/quick_howto/ciab.rst
Labels: bug, cdn-in-a-box, documentation, minor

#4273 TP: ensures that the DS view state is not reloaded until the DS update is complete
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: Traffic Portal, bug

#4274 TP: adds tr request and response header fields to steering* ds forms
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
Labels: Traffic Portal, bug

#4276 TP: ensures that the DS view state is not reloaded until the DS update is complete
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: Traffic Portal, backport, bug

#4279 TP: adds tr request and response header fields to steering* ds forms
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
Labels: Traffic Portal, backport, bug

#4275 Backport 4.0.x: Fix atscfg errors to include DS name (#4262)
  lib/go-atscfg/remapdotconfig.go
Labels: Traffic Ops ORT, backport, to-cache-configs

#4277 Backport 4.0.x: Fix atstccfg to not log errors for unrelated dses (#4261)
  traffic_ops/ort/atstccfg/cfgfile/regexremapdotconfig.go
Labels: Traffic Ops ORT, backport, to-cache-configs

#4278 Backport 4.0.x: Fix atscfg meta to omit config files for nonexistent delivery services ( #4256)
  CHANGELOG.md
  lib/go-atscfg/meta.go
  lib/go-atscfg/meta_test.go
  traffic_ops/ort/atstccfg/cfgfile/meta.go
  traffic_ops/testing/api/v14/atsconfig_meta_test.go
  traffic_ops/traffic_ops_golang/ats/atsserver/meta.go
  traffic_ops/traffic_ops_golang/ats/db.go
Labels: Traffic Ops ORT, backport, to-cache-configs

#4221 Hotfix for broken docs link
  docs/source/api/staticdnsentries.rst
Labels: backport, bug, documentation, minor

#4280 Fix atstccfg logging non-errors
  traffic_ops/ort/atstccfg/cfgfile/cacheurldotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/sslmulticertdotconfig.go
Labels: bug, minor, to-cache-configs

#4284 Fix misleading wording on Traffic Router docs
  docs/source/development/traffic_router.rst
Labels: bug, documentation, minor

#4282 Fix role name not being set on users get
  lib/go-tc/users.go
Labels: Traffic Ops, backport, bug

#4283 Backport 4.0.x: Fix atstccfg logging non-errors (#4280)
  traffic_ops/ort/atstccfg/cfgfile/cacheurldotconfig.go
  traffic_ops/ort/atstccfg/cfgfile/sslmulticertdotconfig.go
Labels: backport, bug, minor, to-cache-configs

#4286 Fixed wrong import order and Py3-incompatibility
  misc/kickstart_create_network_line.py
Labels: bug, regression, tools

#4287 Clarify dev setup for Traffic Portal
  docs/source/development/traffic_portal.rst
Labels: documentation, improvement, minor

#4304 Fix atscfg not adding hdr_rw_mid files to meta cfg
  lib/go-atscfg/meta.go
  traffic_ops/ort/atstccfg/cfgfile/meta.go
  traffic_ops/testing/api/v14/atsconfig_meta_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/ats/db.go
Labels: Traffic Ops, bug, major, to-cache-configs

#4296 Fix ip_allow config generation for mids to include rascal servers
  lib/go-util/net.go
  lib/go-util/net_test.go
  traffic_ops/ort/atstccfg/cfgfile/ipallowdotconfig.go
  traffic_ops/testing/api/v14/ip_allow_dot_config_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/ats/atsserver/ipallowdotconfig.go
Labels: Traffic Ops, regression, to-cache-configs

#4297 added ecsEnabled field to DS table
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/table.deliveryServices.tpl.html
Labels: Traffic Portal, improvement

#4305 Prevents line breaks in delivery service remapText field (UI and API)
  lib/go-tc/deliveryservices.go
  lib/go-tc/tovalidate/rules.go
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Ops, Traffic Portal, bug

#4294 TP: globally adds the ability to rearrange/reorder table columns
  traffic_portal/app/src/common/modules/table/cacheGroupServers/TableCacheGroupServersController.js
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/TableCDNDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/cdnServers/TableCDNServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/physLocationServers/TablePhysLocationServersController.js
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/TableProfileDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/profileServers/TableProfileServersController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/statusServers/TableStatusServersController.js
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/TableTenantDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/TableTypeDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/typeServers/TableTypeServersController.js
  traffic_portal/app/src/common/modules/table/types/TableTypesController.js
  traffic_portal/app/src/common/modules/table/userDeliveryServices/TableUserDeliveryServicesController.js
  traffic_portal/app/src/common/service/application/ApplicationService.js
Labels: Traffic Portal, improvement

#4306 Fix omitempty issue for ATS config metadata generation
  lib/go-atscfg/meta_test.go
  lib/go-tc/ats.go
Labels: Traffic Ops, Traffic Ops ORT, regression, to-cache-configs

#4315 [Backport 4.0.x] Fix atscfg not adding hdr_rw_mid files to meta cfg (#4304)
  lib/go-atscfg/meta.go
  traffic_ops/ort/atstccfg/cfgfile/meta.go
  traffic_ops/testing/api/v14/atsconfig_meta_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/ats/db.go
Labels: Traffic Ops, Traffic Ops ORT, backport, regression, to-cache-configs

#4308 Backport 4.0.x: Fix ip_allow config generation for mids to include rascal servers
  lib/go-util/net.go
  lib/go-util/net_test.go
  traffic_ops/ort/atstccfg/cfgfile/ipallowdotconfig.go
  traffic_ops/testing/api/v14/ip_allow_dot_config_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_ops/traffic_ops_golang/ats/atsserver/ipallowdotconfig.go
Labels: Traffic Ops, Traffic Ops ORT, backport

#4317 [Backport] Prevents line breaks in delivery service remapText field (UI and API)
  lib/go-tc/deliveryservices.go
  lib/go-tc/tovalidate/rules.go
  traffic_ops/testing/api/v14/deliveryservices_test.go
  traffic_ops/testing/api/v14/tc-fixtures.json
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Ops, Traffic Portal, backport, bug

#4313 [Backport] Fix omitempty issue for ATS config metadata generation (#4306)
  lib/go-atscfg/meta_test.go
  lib/go-tc/ats.go
Labels: Traffic Ops, backport, regression

#4307 Add an optimistic quorum feature to peering within Traffic Monitor to prevent false negatives from propagating to downstream components when network isolation occurs
  CHANGELOG.md
  docs/source/admin/traffic_monitor.rst
  docs/source/overview/traffic_monitor.rst
  infrastructure/cdn-in-a-box/traffic_monitor/traffic_monitor.cfg
  traffic_monitor/conf/traffic_monitor.cfg
  traffic_monitor/config/config.go
  traffic_monitor/datareq/crstate.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/datareq/datareq_test.go
  traffic_monitor/manager/manager.go
  traffic_monitor/peer/crstates.go
Labels: Traffic Monitor, enhancement

#4321 Fix API capabilities rewrite bugs
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/apicapability/api_capabilities.go
Labels: Traffic Ops, bug, regression

#4320 Deprecate api_capabilities/:id route
  CHANGELOG.md
  docs/source/api/api_capabilities_id.rst
  traffic_ops/app/lib/API/ApiCapability.pm
Labels: Traffic Ops, tech debt

#4319 Deprecate cachegroup parameters by param id
  CHANGELOG.md
  docs/source/api/cachegroup_parameterID_parameter.rst
  traffic_ops/app/lib/API/Cachegroup.pm
Labels: Traffic Ops, documentation, tech debt

#4318 Deprecate cachegroup parameters available
  CHANGELOG.md
  docs/source/api/cachegroups_parameterID_parameter_available.rst
  traffic_ops/app/lib/API/Cachegroup.pm
Labels: Traffic Ops, tech debt

#4316 Rewrite cachegroup parameter delete to Go
  CHANGELOG.md
  docs/source/api/cachegroupparameters_id_parameterID.rst
  traffic_ops/testing/api/v1/cachegroups_parameters_test.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#4328 Fixed inconsistent indentation in API docs
  docs/source/api/profiles_id_export.rst
  docs/source/api/profiles_import.rst
Labels: documentation, minor

#4331 Added deprecation notice to /hwinfo/dtdata
  traffic_ops/app/lib/API/HwInfo.pm
  traffic_ops/app/lib/MojoPlugins/Response.pm
Labels: Traffic Ops, minor, tech debt

#4323 TP: fixes broken message when assigning servers to a delivery service
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/modules/private/deliveryServices/servers/index.js
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
  traffic_portal/test/end_to_end/deliveryServices/pageData.js
  traffic_portal/test/end_to_end/profiles/profiles-spec.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, bug

#4338 Fixed bad rebase that created test file in wrong dir
  traffic_ops/testing/api/v1/capabilities_test.go
Labels: TO Client (Go), Traffic Ops, bug, minor, tests

#4337 Deprecate parameter unassigned/assigned profiles
  CHANGELOG.md
  docs/source/api/parameters_id_profiles.rst
  docs/source/api/parameters_id_unassigned_profiles.rst
  traffic_ops/app/lib/API/Profile.pm
Labels: Traffic Ops, documentation, tech debt

#4334 Deprecate /divisions/:division_name/regions
  CHANGELOG.md
  docs/source/api/divisions_name_regions.rst
  traffic_ops/app/lib/API/Region.pm
Labels: Traffic Ops, documentation, tech debt

#4289 Fix atstccfg caching
  traffic_ops/ort/atstccfg/toreq/caching.go
  traffic_ops/ort/atstccfg/toreq/caching_test.go
  traffic_ops/ort/atstccfg/toreq/toreq.go
Labels: bug, to-cache-configs

#4335 Deprecate parameters/validate
  CHANGELOG.md
  docs/source/api/parameters_validate.rst
  traffic_ops/app/lib/API/Parameter.pm
Labels: Traffic Ops, documentation, tech debt

#4336 Deprecate /regions/:region_name/phys_locations
  CHANGELOG.md
  docs/source/api/regions_name_phys_locations.rst
  traffic_ops/app/lib/API/PhysLocation.pm
Labels: Traffic Ops, documentation, tech debt

#4340 Fix and deprecate /cdns/{name}/configs/routing in Perl
  CHANGELOG.md
  docs/source/api/cdns_name_configs_routing.rst
  traffic_ops/app/lib/API/Cdn.pm
Labels: Traffic Ops, documentation, tech debt

#4329 Fixed incorrect /cachegroupparameters docs, added caveat
  docs/source/api/cachegroupparameters.rst
Labels: documentation, minor

#4345 Substitute tab for leading 4 spaces in documentation
  docs/source/admin/traffic_ops.rst
  docs/source/admin/traffic_vault.rst
  docs/source/api/api_capabilities.rst
  docs/source/api/api_capabilities_id.rst
  docs/source/api/cdns_name_configs_routing.rst
  docs/source/api/current_stats.rst
  docs/source/api/osversions.rst
  docs/source/api/servers_status.rst
  docs/source/development/ort/traffic_ops_ort.to_api.rst
  docs/source/development/traffic_router.rst
Labels: bug, documentation, minor

#4332 Added deprecation notice to /divisions/name/{{name}}
  CHANGELOG.md
  traffic_ops/app/lib/API/Division.pm
  traffic_ops/client/division.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, tech debt

#4327 Rewrite to_extension POST
  CHANGELOG.md
  docs/source/api/to_extensions.rst
  lib/go-tc/toextension.go
  traffic_ops/client/toextension.go
  traffic_ops/testing/api/v1/toextension_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/toextension/toextension.go
Labels: TO Client (Go), Traffic Ops, documentation, tech debt, tests

#4325 Servers/checks go
  docs/source/api/servers_checks.rst
  lib/go-tc/serverchecks.go
  traffic_ops/client/servercheck.go
  traffic_ops/testing/api/v1/serverchecks_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/servercheck/servercheck.go
Labels: TO Client (Go), Traffic Ops, documentation, tech debt, tests

#4347 Fix internal server error in user current put
  docs/source/api/user_current.rst
  traffic_ops/traffic_ops_golang/user/current.go
Labels: Traffic Ops, bug, documentation, minor, regression

#4350 Up TP test wait time for key generation
  traffic_portal/test/end_to_end/CDNs/cdns-spec.js
Labels: Traffic Portal, improvement, minor, tests

#4349 Deprecate /riak/stats
  CHANGELOG.md
  traffic_ops/app/lib/API/Riak.pm
Labels: Traffic Ops, tech debt

#4346 Fix user current update required email
  docs/source/api/user_current.rst
  lib/go-tc/users.go
  traffic_ops/testing/api/v1/user_test.go
Labels: Traffic Ops, bug, documentation, minor

#4173 Rewrite stats summary post to golang
  CHANGELOG.md
  docs/source/api/stats_summary.rst
  lib/go-tc/stats_summary.go
  traffic_ops/client/stats_summary.go
  traffic_ops/testing/api/v1/stats_summary_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/trafficstats/stats_summary.go
  traffic_stats/traffic_stats.go
Labels: Traffic Ops, tech debt

#4348 Deprecate GET jobs/{id}
  CHANGELOG.md
  docs/source/api/jobs_id.rst
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4186 Add deprecation notices to stats_summary/create
  CHANGELOG.md
  traffic_ops/app/lib/API/StatsSummary.pm
Labels: Traffic Ops, tech debt

#4344 Fix TO atscfg missing max origin conns
  traffic_ops/testing/api/v1/hdr_rw_dot_config_test.go
  traffic_ops/traffic_ops_golang/ats/atscdn/headerrewritedotconfig.go
Labels: Traffic Ops, bug, to-cache-configs

#4353 Deprecate /cdns/configs
  CHANGELOG.md
  docs/source/api/cdns_configs.rst
  traffic_ops/traffic_ops_golang/cdn/configs.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4355 Fix API tests for header rewrite
  traffic_ops/testing/api/v1/hdr_rw_dot_config_test.go
Labels: Traffic Ops, tests

#4358 [Backport 4.0.x] Fix atstccfg caching (#4289)
  traffic_ops/ort/atstccfg/toreq/caching.go
  traffic_ops/ort/atstccfg/toreq/caching_test.go
  traffic_ops/ort/atstccfg/toreq/toreq.go
Labels: Traffic Ops ORT, backport, improvement

#4359 [Backport 4.0.x] Fix TO atscfg missing max origin conns (#4344)
  traffic_ops/testing/api/v14/hdr_rw_dot_config_test.go
  traffic_ops/traffic_ops_golang/ats/atscdn/headerrewritedotconfig.go
Labels: Traffic Ops, backport, bug, to-cache-configs

#4360 Fix API tests for header rewrite (#4355)
  traffic_ops/testing/api/v14/hdr_rw_dot_config_test.go
Labels: Traffic Ops, tests

#3880 Deprecate /capabilities/{{name}}
  docs/source/api/capabilities_name.rst
  traffic_ops/app/lib/API/Capability.pm
  traffic_ops/app/lib/MojoPlugins/Response.pm
Labels: Traffic Ops, documentation, tech debt

#4343 traffic_ops_ort: fix for syncds having too many header rewrite false …
  CHANGELOG.md
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug

#4362 traffic_ops_ort: fix for syncds having too many header rewrite false …
  CHANGELOG.md
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug

#4341 Rewrite get to_extensions
  CHANGELOG.md
  docs/source/api/to_extensions.rst
  lib/go-tc/toextension.go
  traffic_ops/testing/api/v1/toextension_test.go
  traffic_ops/traffic_ops_golang/plugin/README.md
  traffic_ops/traffic_ops_golang/plugin/hello_config.go
  traffic_ops/traffic_ops_golang/plugin/hello_context.go
  traffic_ops/traffic_ops_golang/plugin/hello_middleware.go
  traffic_ops/traffic_ops_golang/plugin/hello_shared_config.go
  traffic_ops/traffic_ops_golang/plugin/hello_startup.go
  traffic_ops/traffic_ops_golang/plugin/hello_world.go
  traffic_ops/traffic_ops_golang/plugin/plugin.go
  traffic_ops/traffic_ops_golang/plugin/proxy.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/toextension/toextension.go
Labels: Traffic Ops, documentation, tech debt

#4268 Fix Traffic Ops Perl endpoints to always be numbers
  traffic_ops/app/lib/API/ServerCheck.pm
  traffic_ops/app/lib/API/ToExtension.pm
Labels: Traffic Ops, bug

#4364 deprecate /servercheck/aadata
  CHANGELOG.md
  traffic_ops/app/lib/API/ServerCheck.pm
Labels: Traffic Ops, tech debt

#4363 Deprecate types/trimmed
  CHANGELOG.md
  docs/source/api/types_trimmed.rst
  traffic_ops/app/lib/API/Types.pm
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#4366 Deprecate traffic_monitor/stats
  CHANGELOG.md
  docs/source/api/traffic_monitor_stats.rst
  traffic_ops/app/lib/API/TrafficMonitor.pm
Labels: Traffic Ops, documentation, tech debt

#4367 Deprecate /deliveryservice_user/:dsId/:userId
  CHANGELOG.md
  docs/source/api/deliveryservice_user_dsid_userid.rst
  traffic_ops/app/lib/API/DeliveryServiceUser.pm
Labels: Traffic Ops, documentation, tech debt

#4365 Add missing deprecation notices to /user/current/jobs
  CHANGELOG.md
  docs/source/api/user_current_jobs.rst
  traffic_ops/app/lib/API/Job.pm
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/invalidationjobs/userinvalidationjobs.go
Labels: Traffic Ops, improvement, minor, tech debt
