Repository apache/trafficcontrol, pull requests merged in 2020-09, with the labels that each got.

#4990 ORT Multi-Interface Support
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/atscfg_test.go
  lib/go-atscfg/hostingdotconfig.go
  lib/go-atscfg/hostingdotconfig_test.go
  lib/go-atscfg/ipallowdotconfig.go
  lib/go-atscfg/ipallowdotconfig_test.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/meta_test.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/recordsdotconfig.go
  lib/go-atscfg/recordsdotconfig_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
  lib/go-atscfg/topologyheaderrewritedotconfig.go
  lib/go-tc/ats.go
  traffic_ops_ort/atstccfg/cfgfile/all.go
  traffic_ops_ort/atstccfg/cfgfile/astatsdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/atsdotrules.go
  traffic_ops_ort/atstccfg/cfgfile/bgfetchdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/cachedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/cacheurldotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile_test.go
  traffic_ops_ort/atstccfg/cfgfile/dropqstringdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/facts.go
  traffic_ops_ort/atstccfg/cfgfile/headerrewritedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/headerrewritemiddotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/hostingdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/ipallowdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/loggingdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/loggingdotyaml.go
  traffic_ops_ort/atstccfg/cfgfile/logsxmldotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/meta.go
  traffic_ops_ort/atstccfg/cfgfile/parentdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/plugindotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/recordsdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/regexremapdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/regexrevalidatedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/remapdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/routing.go
  traffic_ops_ort/atstccfg/cfgfile/servercachedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/serverunknownconfig.go
  traffic_ops_ort/atstccfg/cfgfile/setdscpdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/sslmulticertdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/storagedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/sysctldotconf.go
  traffic_ops_ort/atstccfg/cfgfile/unknownconfig.go
  traffic_ops_ort/atstccfg/cfgfile/urlsigconfig.go
  traffic_ops_ort/atstccfg/cfgfile/volumedotconfig.go
  traffic_ops_ort/atstccfg/config/config.go
  traffic_ops_ort/atstccfg/plugin/plugin_test.go
  traffic_ops_ort/atstccfg/toreq/toreq.go
  traffic_ops_ort/atstccfg/toreqnew/toreqnew.go
Labels: Traffic Ops ORT, enhancement

#4991 Store the result of GET /api/2.0/cdns/{{name}}/configs/monitoring to tmconfig.backup
  CHANGELOG.md
  docs/source/development/traffic_monitor.rst
  lib/go-tc/traffic_monitor.go
  lib/go-tc/traffic_monitor_test.go
  traffic_monitor/towrap/towrap.go
  traffic_ops/testing/api/v2/monitoring_test.go
  traffic_ops/testing/api/v3/monitoring_test.go
  traffic_ops/v2-client/traffic_monitor.go
  traffic_ops/v3-client/traffic_monitor.go
Labels: Traffic Monitor, improvement

#5008 Fix license file for bbolt change
  LICENSE
Labels: bug, license

#4966 TO/TP: View servers by topology-based delivery service
  CHANGELOG.md
  docs/source/api/v3/servers.rst
  docs/source/glossary.rst
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
  traffic_ops/v3-client/server.go
  traffic_ops/v3-client/type.go
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/form/topology/form.topology.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/topologies/table.topologies.tpl.html
  traffic_portal/app/src/modules/private/deliveryServices/servers/index.js
  traffic_portal/app/src/styles/main.scss
  traffic_portal/test/end_to_end/conf.json
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
  traffic_portal/test/end_to_end/deliveryServices/pageData.js
  traffic_portal/test/end_to_end/topologies/pageData.js
  traffic_portal/test/end_to_end/topologies/topologies-spec.js
Labels: Traffic Ops, Traffic Portal, enhancement

#4987 Fix TO API tests with go 1.15
  traffic_ops/testing/api/v1/deliveryservices_test.go
  traffic_ops/testing/api/v1/readonlycannotmodify_test.go
  traffic_ops/testing/api/v2/deliveryservices_test.go
  traffic_ops/testing/api/v2/readonlycannotmodify_test.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/testing/api/v3/readonlycannotmodify_test.go
Labels: Traffic Ops, tests

#5003 Missing ProfileId during server creation returns Bad Request error
  CHANGELOG.md
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/v3-client/server.go
Labels: Traffic Ops, regression bug

#4916 Multi interface health
  CHANGELOG.md
  docs/source/api/v3/cdns_name_configs_monitoring.rst
  docs/source/overview/profiles_and_parameters.rst
  lib/go-tc/enum.go
  lib/go-tc/servers.go
  lib/go-tc/servers_test.go
  lib/go-tc/traffic_monitor.go
  lib/go-tc/traffic_monitor_test.go
  lib/go-tc/traffic_router.go
  lib/go-tc/traffic_router_test.go
  traffic_monitor/cache/astats.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/cache_test.go
  traffic_monitor/cache/data.go
  traffic_monitor/cache/data_test.go
  traffic_monitor/cache/stats_over_http.go
  traffic_monitor/datareq/bandwidthcapacity.go
  traffic_monitor/datareq/cachedowncount.go
  traffic_monitor/datareq/cachestate.go
  traffic_monitor/datareq/cachestatfilter.go
  traffic_monitor/datareq/crconfig.go
  traffic_monitor/datareq/crconfighist.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/datareq/statsummary.go
  traffic_monitor/ds/stat.go
  traffic_monitor/ds/stat_test.go
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
  traffic_monitor/manager/manager.go
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/manager/monitorconfig_test.go
  traffic_monitor/manager/opsconfig.go
  traffic_monitor/manager/stat.go
  traffic_monitor/poller/monitorconfig.go
  traffic_monitor/static/style.css
  traffic_monitor/threadsafe/cacheavailablestatus.go
  traffic_monitor/threadsafe/cachemaxkbpses.go
  traffic_monitor/threadsafe/monitorconfig.go
  traffic_monitor/threadsafe/resultstathistory.go
  traffic_monitor/threadsafe/resultstathistory_test.go
  traffic_monitor/todata/todata.go
  traffic_monitor/tools/testcaches/.gitignore
  traffic_monitor/towrap/towrap.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/capacity.go
Labels: Traffic Monitor, Traffic Ops, enhancement, major

#4746 Update TM UI for multiple interfaces
  CHANGELOG.md
  traffic_monitor/static/index.html
  traffic_monitor/static/script.js
  traffic_monitor/static/style.css
Labels: Traffic Monitor, enhancement, minor

#4994 change server primary key to only id
  traffic_ops/app/db/migrations/2020082700000000_server_id_primary_key.sql
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, bug, database, minor

#5011 Enhanced Geo Location bypass in Traffic Router
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/StatTracker.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouterTest.java
Labels: Traffic Router, enhancement

#5000 Set content-type json on TR auth requests
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/Fetcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/ProtectedFetcher.java
Labels: Traffic Router, bug

#5036 GitHub Actions: Cache Maven dependencies
  .github/workflows/ciab.yaml
Labels: Traffic Router, ci

#4988 Fix DS SSL keys not updating when updating CDN
  CHANGELOG.md
  lib/go-tc/deliveryservice_ssl_keys.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/v3-client/deliveryservice.go
Labels: Traffic Ops, bug

#5017 Validating pattern for POST regex call in DS
  CHANGELOG.md
  traffic_ops/testing/api/v2/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v3/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes_test.go
  traffic_ops/v2-client/deliveryservice_regexes.go
  traffic_ops/v3-client/deliveryservice_regexes.go
Labels: Traffic Ops, regression bug

#5037 Fix ORT/atscfg ip_allow coalese determinism
  lib/go-atscfg/ipallowdotconfig.go
Labels: 4.1.x-backport-candidate, Traffic Ops ORT, bug

#5041 Change ORT to not update ip_allow except badass
  CHANGELOG.md
  traffic_ops_ort/traffic_ops_ort.pl
Labels: 4.1.x-backport-candidate, Traffic Ops ORT, bug

#5045 Fix ORT remap.config cachekey to be deterministic
  lib/go-atscfg/remapdotconfig.go
Labels: 4.1.x-backport-candidate, Traffic Ops ORT, enhancement

#5048 Fix ORT parent orders to be deterministic
  lib/go-atscfg/parentdotconfig.go
Labels: 4.1.x-backport-candidate, Traffic Ops ORT, enhancement

#5039 4.1.x Backport - Fix ORT/atscfg ip_allow coalese determinism
  lib/go-atscfg/ipallowdotconfig.go
Labels: backport

#5046 4.1.x Backport: Fix ORT remap.config cachekey to be deterministic
  lib/go-atscfg/remapdotconfig.go
Labels: backport

#5049 4.1.x Backport: Fix ORT parent orders to be deterministic
  lib/go-atscfg/parentdotconfig.go
Labels: backport

#5051 4.1.x Backport: Change ORT to not update ip_allow except badass #5041
  traffic_ops/ort/traffic_ops_ort.pl
Labels: backport

#5002 added missing API tests for snapshot endpoints
  docs/source/api/v1/snapshot_name.rst
  docs/source/api/v2/snapshot.rst
  docs/source/api/v3/snapshot.rst
  traffic_ops/testing/api/v1/crconfig_test.go
  traffic_ops/testing/api/v1/monitoring_test.go
  traffic_ops/testing/api/v2/crconfig_test.go
  traffic_ops/testing/api/v3/crconfig_test.go
  traffic_ops/v1-client/crconfig.go
  traffic_ops/v2-client/crconfig.go
  traffic_ops/v3-client/crconfig.go
Labels: Traffic Ops, documentation, tests

#5057 [BACKPORT 4.1.x] Traffic Monitor excessive log errors fix (#4830)
  traffic_monitor/cache/astats.go
  traffic_monitor/cache/cache.go
  traffic_monitor/threadsafe/resultstathistory.go
Labels: Traffic Monitor, backport, bug

#4927 Updates for traffic_ops_ort.pl for 4.1.x for CentOS 8
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, backport, bug, enhancement

#5059 Update TO for minimum TLS version for 4.1
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops, backport, configuration, enhancement

#5055 Add Docker Health Checks to Traffic Ops and Traffic Monitor CiaB images
  CHANGELOG.md
  docs/source/development/debugging.rst
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_monitor/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
Labels: cdn-in-a-box, documentation, enhancement

#5053 Make CiaB's delivery service topology-based and add a mid
  .github/actions/run-ciab/entrypoint.sh
  CHANGELOG.md
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/README.md
  infrastructure/cdn-in-a-box/dns/zone.ip4.arpa
  infrastructure/cdn-in-a-box/dns/zone.ip6.arpa
  infrastructure/cdn-in-a-box/docker-compose.expose-ports.yml
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/mid/init.d/99-run.sh
  infrastructure/cdn-in-a-box/optional/docker-compose.grafana.yml
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/cachegroups/060-ciabMid-01.json
  infrastructure/cdn-in-a-box/traffic_ops_data/cachegroups/070-ciabMid-02.json
  infrastructure/cdn-in-a-box/traffic_ops_data/cachegroups/080-ciabEdge.json
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservice_servers/010-demo1.json
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices/010-ciab.json
  infrastructure/cdn-in-a-box/traffic_ops_data/topologies/010-CDN_in_a_Box_Topology.json
  infrastructure/cdn-in-a-box/variables.env
Labels: cdn-in-a-box, documentation, improvement

#5016 New endpoint: Queue updates on the servers in a topology
  CHANGELOG.md
  docs/source/api/v3/topologies_name_queue_update.rst
  lib/go-tc/cdns.go
  lib/go-tc/topologies.go
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api/v3/topologies_queue_update_test.go
  traffic_ops/traffic_ops_golang/cdn/queue.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/topology/queue_update.go
  traffic_ops/v3-client/topology_queue_updates.go
  traffic_portal/app/src/common/api/TopologyService.js
  traffic_portal/app/src/common/modules/form/topology/edit/FormEditTopologyController.js
  traffic_portal/app/src/common/modules/form/topology/form.topology.tpl.html
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
Labels: Traffic Ops, Traffic Portal, documentation, tests

#5062 Fix DS 3.0 fields for DSRs
  lib/go-tc/deliveryservice_requests.go
  lib/go-tc/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests_test.go
Labels: Traffic Ops, bug

#5056 Query servers by topology
  CHANGELOG.md
  docs/source/api/v3/servers.rst
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/common/modules/form/topology/FormTopologyController.js
  traffic_portal/app/src/common/modules/form/topology/form.topology.tpl.html
  traffic_portal/app/src/common/modules/table/topologies/table.topologies.tpl.html
  traffic_portal/app/src/common/modules/table/topologyCacheGroups/table.topologyCacheGroups.tpl.html
  traffic_portal/app/src/common/modules/table/topologyDeliveryServices/table.topologyDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/topologyServers/TableTopologyServersController.js
  traffic_portal/app/src/common/modules/table/topologyServers/table.topologyServers.tpl.html
  traffic_portal/test/end_to_end/topologies/pageData.js
  traffic_portal/test/end_to_end/topologies/topologies-spec.js
Labels: Traffic Ops, Traffic Portal, documentation, enhancement

#5054 For topology-based deliveryservices, exclude deliveryservice server assignments when querying servers by dsId
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, bug, tests

#5052 TP: adds warning message for large IP CIDR
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/_form.scss
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
Labels: Traffic Portal, improvement

#5067 Manage extensions on traffic ops - ToORTCheck fix
  docs/source/admin/traffic_ops.rst
  traffic_ops/app/bin/checks/ToORTCheck.pl
Labels: Traffic Ops, bug, documentation

#5047 Separate bug, feature request, and improvement request issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-improvement-request.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/ciab.yaml
Labels: improvement, process

#5013 Upgrade Tomcat to 8.5.57
  traffic_router/build/build_rpm.sh
  traffic_router/connector/pom.xml
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterSslUtil.java
  traffic_router/core/pom.xml
Labels: Traffic Router, improvement

#5032 Fix status badges in README
  README.md
Labels: improvement, process

#5065 TP: Allows the TP administrator to optionally display a environment name
  CHANGELOG.md
  traffic_portal/app/src/common/modules/header/HeaderController.js
  traffic_portal/app/src/common/modules/header/_header.scss
  traffic_portal/app/src/common/modules/header/header.tpl.html
  traffic_portal/app/src/common/modules/navigation/NavigationController.js
  traffic_portal/app/src/common/modules/navigation/_navigation.scss
  traffic_portal/app/src/common/modules/navigation/navigation.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/table.deliveryServiceRequests.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
  traffic_portal/test/end_to_end/login/login-spec.js
Labels: Traffic Portal, enhancement

#5070 GitHub Action for Traffic Router unit tests
  .github/actions/tr-tests/Dockerfile
  .github/actions/tr-tests/README.md
  .github/actions/tr-tests/action.yml
  .github/workflows/tr.unit.tests.yaml
  CHANGELOG.md
  docs/source/development/traffic_router.rst
  traffic_router/core/CHANGELOG
  traffic_router/tests/Dockerfile-test
  traffic_router/tests/Dockerfile-test-alpine
  traffic_router/tests/Dockerfile-test-centos
Labels: Traffic Router, automation, tests

#5072 Add missing TP configuration options to ansible infra code and improve TP configuration safety
  infrastructure/ansible/roles/traffic_portal/defaults/main.yml
  traffic_portal/app/src/common/modules/header/HeaderController.js
  traffic_portal/app/src/common/modules/navigation/NavigationController.js
Labels: Traffic Portal, automation, bug

#5043 Creating an ASN with the same number and same cache group should not be allowed
  CHANGELOG.md
  docs/source/api/v3/asns.rst
  traffic_ops/traffic_ops_golang/asn/asns.go
  traffic_ops/traffic_ops_golang/asn/asns_test.go
Labels: Traffic Ops, bug

#5077 Go fmt action
  .github/actions/go-fmt/Dockerfile
  .github/actions/go-fmt/README.md
  .github/actions/go-fmt/action.yml
  .github/actions/go-fmt/entrypoint.sh
  .github/workflows/go.fmt.yml
  .gitignore
  README.md
  misc/parse_diffs.py
  traffic_ops_ort/t3c/util/util.go
Labels: automation, enhancement, process

#5031 Fix CacheStats api to allow upgrading
  lib/go-tc/invalidationjobs.go
  lib/go-tc/invalidationjobs_test.go
  lib/go-tc/traffic_monitor.go
  lib/go-tc/traffic_monitor_test.go
  lib/go-util/num.go
  lib/go-util/num_test.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/data.go
  traffic_monitor/datareq/cachestat.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/datareq/peerstate.go
  traffic_monitor/datareq/statsummary.go
  traffic_monitor/dsdata/stat.go
  traffic_monitor/srvhttp/srvhttp.go
  traffic_monitor/static/index.html
  traffic_monitor/threadsafe/resultstathistory.go
  traffic_monitor/threadsafe/resultstathistory_test.go
  traffic_ops/testing/api/v3/jobs_test.go
  traffic_ops/traffic_ops_golang/cachesstats/cachesstats.go
  traffic_ops/traffic_ops_golang/cdn/capacity.go
  traffic_ops/traffic_ops_golang/cdn/capacity_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/capacity.go
  traffic_ops/traffic_ops_golang/util/monitorhlp/monitorhlp.go
  traffic_stats/traffic_stats.go
Labels: Traffic Monitor, Traffic Ops, Traffic Stats, enhancement

#5082 Fix querying by non-topology-based delivery service ID
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, regression bug

#5073 Backport 4.1.x: Add ORT atstccfg log appending and logrotate (#4923)
  traffic_ops/build/traffic_ops_ort.spec
  traffic_ops/ort/README.md
  traffic_ops/ort/atstccfg/atstccfg.go
  traffic_ops/ort/build/atstccfg.logrotate
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, backport, improvement
