Repository apache/trafficcontrol, pull requests merged in 2020-08, with the labels that each got.

#4891 TP: adds ability to perform a quick search, override default pagination size and clear column filters to servers table
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/_table.scss
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
  traffic_portal/app/src/styles/main.scss
  traffic_portal/test/end_to_end/servers/pageData.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, improvement

#4932 updated server ip_address usage
  traffic_ops/traffic_ops_golang/cachesstats/cachesstats.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
  traffic_ops/traffic_ops_golang/server/detail.go
  traffic_ops/traffic_ops_golang/server/detail_test.go
Labels: Traffic Ops, bug, major

#4931 Debug Traffic Stats in CDN-in-a-Box
  CHANGELOG.md
  docs/source/development/debugging.rst
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/optional/docker-compose.debugging.yml
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile-debug
  infrastructure/cdn-in-a-box/traffic_stats/run.sh
  infrastructure/cdn-in-a-box/variables.env
  traffic_stats/build/build_rpm.sh
Labels: Traffic Stats, build, cdn-in-a-box, documentation, enhancement, minor

#4901 Consider Topologies parentage when queueing or checking server updates
  CHANGELOG.md
  docs/source/api/v3/servers_hostname_update_status.rst
  docs/source/api/v3/servers_id_status.rst
  lib/go-tc/enum.go
  traffic_ops/client/server.go
  traffic_ops/testing/api/v3/serverupdatestatus_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/ats/db.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_ops/traffic_ops_golang/login/register.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/put_status.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
  traffic_ops/traffic_ops_golang/systeminfo/system_info.go
  traffic_ops/traffic_ops_golang/systeminfo/system_info_test.go
Labels: Traffic Ops, enhancement

#4930 clean_build.sh rsync: Prefix exclude patterns with /, not ^
  build/clean_build.sh
Labels: bug, build, minor

#4929 Dont allow selecting rows for topology ds
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableAssignDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.assignDeliveryServices.tpl.html
Labels: Traffic Portal, bug

#4922 Mark topology-based delivery services as available in Traffic Monitor
  CHANGELOG.md
  docs/source/development/traffic_monitor.rst
  lib/go-tc/enum.go
  traffic_monitor/todata/todata.go
  traffic_monitor/todata/todata_test.go
Labels: Traffic Monitor, bug

#4790 Add Topology ATS Config Generation
  CHANGELOG.md
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/hostingdotconfig.go
  lib/go-atscfg/hostingdotconfig_test.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/meta_test.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
  lib/go-atscfg/topologyheaderrewritedotconfig.go
  traffic_ops/traffic_ops_golang/ats/atsserver/hostingdotconfig.go
  traffic_ops/traffic_ops_golang/ats/atsserver/meta.go
  traffic_ops/traffic_ops_golang/ats/db.go
  traffic_ops_ort/atstccfg/cfgfile/cachedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/cacheurldotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops_ort/atstccfg/cfgfile/headerrewritedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/headerrewritemiddotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/hostingdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/meta.go
  traffic_ops_ort/atstccfg/cfgfile/parentdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/remapdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/routing.go
  traffic_ops_ort/atstccfg/cfgfile/topologyheaderrewritedotconfig.go
  traffic_ops_ort/atstccfg/config/config.go
  traffic_ops_ort/atstccfg/getdata/getdata.go
  traffic_ops_ort/atstccfg/toreqnew/toreqnew.go
Labels: Traffic Ops ORT, enhancement

#4887 Atstccfg doc update
  docs/source/admin/traffic_ops.rst
  docs/source/api/v3/cdns_name_snapshot.rst
  docs/source/api/v3/cdns_name_snapshot_new.rst
  docs/source/tools/atstccfg.rst
  traffic_ops_ort/atstccfg/README.md
Labels: documentation, tech debt

#4936 Update status: Support more than 1 server for a given hostname
  docs/source/api/v3/servers_hostname_update_status.rst
  traffic_ops/testing/api/v3/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/server/put_status.go
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
Labels: Traffic Ops, bug

#4225 Add some Javadocs
  traffic_router/connector/src/test/java/secure/CertificateRegistryTest.java
  traffic_router/core/pom.xml
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/StatTracker.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouter.java
Labels: Traffic Router, documentation, improvement, minor

#4943 CiaB: Use rpm command instead of yum to avoid fetching repo metadata that will go unused
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-go
  infrastructure/cdn-in-a-box/traffic_portal/Dockerfile
  infrastructure/cdn-in-a-box/traffic_router/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
Labels: cdn-in-a-box

#4801 Remove API 1.x configfile routes
  CHANGELOG.md
  docs/source/api/v1/cdns_cdn_configfiles_ats_filename.rst
  docs/source/api/v1/profiles_profile_configfiles_ats_filename.rst
  docs/source/api/v1/servers_server_configfiles_ats.rst
  docs/source/api/v1/servers_server_configfiles_ats_filename.rst
  traffic_ops/testing/api/v1/atsconfig_meta_test.go
  traffic_ops/testing/api/v1/atsconfig_test.go
  traffic_ops/testing/api/v1/hdr_rw_dot_config_test.go
  traffic_ops/testing/api/v1/profileconfig_test.go
  traffic_ops/testing/api/v1/regexrevalidatedotconfig_test.go
  traffic_ops/testing/api/v1/updatestatus_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/ats/atscdn/atscdn.go
  traffic_ops/traffic_ops_golang/ats/atscdn/bgfetch.go
  traffic_ops/traffic_ops_golang/ats/atscdn/cacheurldotconfig.go
  traffic_ops/traffic_ops_golang/ats/atscdn/headerrewritedotconfig.go
  traffic_ops/traffic_ops_golang/ats/atscdn/regexremapdotconfig.go
  traffic_ops/traffic_ops_golang/ats/atscdn/regexrevalidatedotconfig.go
  traffic_ops/traffic_ops_golang/ats/atscdn/setdscpdotconfig.go
  traffic_ops/traffic_ops_golang/ats/atscdn/sslmulticertdotconfig.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/astats.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/atsdotrules.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/cache.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/dropqstring.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/facts.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/logging.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/loggingyaml.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/logsxml.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/plugin.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/profile.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/records.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/storage.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/sysctl.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/unknown.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/urisigning.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/urlsig.go
  traffic_ops/traffic_ops_golang/ats/atsprofile/volume.go
  traffic_ops/traffic_ops_golang/ats/atsserver/cachedotconfig.go
  traffic_ops/traffic_ops_golang/ats/atsserver/chkconfig.go
  traffic_ops/traffic_ops_golang/ats/atsserver/hostingdotconfig.go
  traffic_ops/traffic_ops_golang/ats/atsserver/meta.go
  traffic_ops/traffic_ops_golang/ats/atsserver/packages.go
  traffic_ops/traffic_ops_golang/ats/atsserver/server.go
  traffic_ops/traffic_ops_golang/ats/atsserver/unknown.go
  traffic_ops/traffic_ops_golang/ats/config.go
  traffic_ops/traffic_ops_golang/ats/db.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/api/ServerService.js
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/table/serverConfigFiles/TableServerConfigFilesController.js
  traffic_portal/app/src/common/modules/table/serverConfigFiles/index.js
  traffic_portal/app/src/common/modules/table/serverConfigFiles/table.serverConfigFiles.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableParentServersController.js
  traffic_portal/app/src/modules/private/servers/configFiles/index.js
Labels: TO Client (Go), Traffic Ops, Traffic Portal, documentation, minor, tech debt

#4938 Fix ORT Max Origin Connections for Mids
  CHANGELOG.md
  traffic_ops_ort/atstccfg/cfgfile/headerrewritemiddotconfig.go
Labels: Traffic Ops ORT, bug

#4944 Error message does not display after user try to delete Region and PhysLocation and Divisions
  traffic_portal/app/src/common/api/DivisionService.js
  traffic_portal/app/src/common/api/PhysLocationService.js
  traffic_portal/app/src/common/api/RegionService.js
  traffic_portal/app/src/common/modules/form/division/edit/FormEditDivisionController.js
  traffic_portal/app/src/common/modules/form/profile/edit/FormEditProfileController.js
  traffic_portal/app/src/common/modules/form/region/edit/FormEditRegionController.js
Labels: Traffic Portal, bug, minor

#4934 Validating absolute DNS name requirement on Static DNS Entry Type
  CHANGELOG.md
  docs/source/api/v2/staticdnsentries.rst
  docs/source/api/v3/staticdnsentries.rst
  traffic_ops/testing/api/v2/staticdnsentries_test.go
  traffic_ops/testing/api/v3/staticdnsentries_test.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
  traffic_portal/app/src/common/modules/form/deliveryServiceStaticDnsEntry/form.deliveryServiceStaticDnsEntry.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceStaticDnsEntries/table.deliveryServiceStaticDnsEntries.tpl.html
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
  traffic_portal/test/end_to_end/deliveryServices/pageData.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Ops, Traffic Portal, improvement

#4925 Add indicator when using a UI backup
  CHANGELOG.md
  traffic_monitor/handler/handler.go
  traffic_monitor/manager/opsconfig.go
  traffic_monitor/static/index.html
  traffic_monitor/static/script.js
  traffic_monitor/static/style.css
Labels: Traffic Monitor, enhancement, minor

#4857 fixed TR to use default watcher URL when parameter is not present
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/LetsEncryptDnsChallengeWatcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/SteeringWatcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/AbstractServiceUpdater.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/FederationsWatcher.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/AbstractResourceWatcher.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/util/AbstractResourceWatcherTest.java
Labels: Traffic Router, bug, minor, regression

#4948 Unit test checks
  .github/actions/go-test/Dockerfile
  .github/actions/go-test/README.md
  .github/actions/go-test/action.yml
  .github/actions/go-test/entrypoint.sh
  .github/workflows/go.unit.tests.yaml
  lib/go-util/join_test.go
Labels: automation, enhancement, tests

#4923 Add ORT atstccfg log appending and logrotate
  CHANGELOG.md
  traffic_ops_ort/README.md
  traffic_ops_ort/atstccfg/atstccfg.go
  traffic_ops_ort/build/atstccfg.logrotate
  traffic_ops_ort/build/build_rpm.sh
  traffic_ops_ort/build/traffic_ops_ort.spec
  traffic_ops_ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, bug

#4863 updated the autorenew script to call 2.0 login endpoint
  traffic_ops/app/bin/checks/ToAutorenewCerts.pl
Labels: Traffic Ops, improvement, minor

#4907 Add verification for TO server ips across a profile
  traffic_ops/app/db/migrations/20200811082611_add_server_ip_profile_trigger.sql
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, Traffic Portal, bug

#4957 Perl-less tests
  traffic_ops/testing/api/conf/traffic-ops-test.conf
  traffic_ops/testing/api/config/config.go
  traffic_ops/testing/api/v1/iso_test.go
  traffic_ops/testing/api/v1/userdeliveryservices_test.go
  traffic_ops/testing/api/v2/iso_test.go
  traffic_ops/testing/api/v3/iso_test.go
Labels: enhancement, tests

#4953 GET /api/3.0/servers?dsId=1 500s when requested with If-Modified-Since header
  traffic_ops/client/deliveryserviceserver.go
  traffic_ops/client/server.go
  traffic_ops/testing/api/v3/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/servers_to_deliveryservice_assignment_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/util/ims/ims.go
Labels: Traffic Ops, bug, major

#4910 Prevents DS regexes with non-consecutive order from generating invalid CRconfig/Snapshot
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes_test.go
Labels: Traffic Ops, Traffic Router, bug

#4960 Fixes a bug in the ort t3c command
  traffic_ops_ort/t3c/config/config.go
  traffic_ops_ort/t3c/torequest/torequest.go
Labels: Traffic Ops ORT, bug

#4963 Fix db migration down
  traffic_ops/app/db/migrations/20200811082611_add_server_ip_profile_trigger.sql
Labels: Traffic Ops, bug, database

#4955 Allow '0' as a valid value for TTL field in DNS static entry
  CHANGELOG.md
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
  traffic_portal/app/src/common/modules/form/deliveryServiceStaticDnsEntry/form.deliveryServiceStaticDnsEntry.tpl.html
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
Labels: Traffic Ops, Traffic Portal, regression bug

#4962 fix service category delete bug
  docs/source/api/v3/servicecategories.rst
  traffic_portal/app/src/common/modules/form/serviceCategory/edit/FormEditServiceCategoryController.js
Labels: Traffic Portal, bug, minor

#4802 Replace `json_build_object` from multi-interface implementations
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers_test.go
  traffic_ops/traffic_ops_golang/server/detail.go
  traffic_ops/traffic_ops_golang/server/detail_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, enhancement, minor, performance

#4968 Move client to versioned package
  CHANGELOG.md
  traffic_ops/README.md
  traffic_ops/client
  traffic_ops/v3-client/README.md
  traffic_ops/v3-client/about.go
  traffic_ops/v3-client/api_capability.go
  traffic_ops/v3-client/asn.go
  traffic_ops/v3-client/cachegroup.go
  traffic_ops/v3-client/cachegroup_parameters.go
  traffic_ops/v3-client/capability.go
  traffic_ops/v3-client/cdn.go
  traffic_ops/v3-client/cdn_domains.go
  traffic_ops/v3-client/cdnfederations.go
  traffic_ops/v3-client/coordinate.go
  traffic_ops/v3-client/crconfig.go
  traffic_ops/v3-client/deliveryservice.go
  traffic_ops/v3-client/deliveryservice_regexes.go
  traffic_ops/v3-client/deliveryservice_request_comments.go
  traffic_ops/v3-client/deliveryservice_requests.go
  traffic_ops/v3-client/deliveryservices_required_capabilities.go
  traffic_ops/v3-client/deliveryserviceserver.go
  traffic_ops/v3-client/division.go
  traffic_ops/v3-client/dsuser.go
  traffic_ops/v3-client/endpoints.go
  traffic_ops/v3-client/federation.go
  traffic_ops/v3-client/federation_federation_resolver.go
  traffic_ops/v3-client/federation_resolver.go
  traffic_ops/v3-client/iso.go
  traffic_ops/v3-client/job.go
  traffic_ops/v3-client/log.go
  traffic_ops/v3-client/origin.go
  traffic_ops/v3-client/parameter.go
  traffic_ops/v3-client/phys_location.go
  traffic_ops/v3-client/ping.go
  traffic_ops/v3-client/profile.go
  traffic_ops/v3-client/profile_parameter.go
  traffic_ops/v3-client/region.go
  traffic_ops/v3-client/role.go
  traffic_ops/v3-client/server.go
  traffic_ops/v3-client/server_server_capabilities.go
  traffic_ops/v3-client/server_update_status.go
  traffic_ops/v3-client/servercapability.go
  traffic_ops/v3-client/servercheck.go
  traffic_ops/v3-client/servercheckextensions.go
  traffic_ops/v3-client/serviceCategory.go
  traffic_ops/v3-client/session.go
  traffic_ops/v3-client/staticdnsentry.go
  traffic_ops/v3-client/stats_summary.go
  traffic_ops/v3-client/status.go
  traffic_ops/v3-client/steering.go
  traffic_ops/v3-client/steeringtarget.go
  traffic_ops/v3-client/tenant.go
  traffic_ops/v3-client/topology.go
  traffic_ops/v3-client/traffic_monitor.go
  traffic_ops/v3-client/traffic_stats.go
  traffic_ops/v3-client/type.go
  traffic_ops/v3-client/user.go
  traffic_ops/v3-client/util.go
Labels: TO Client (Go), tech debt

#4959 Traffic Ops integration tests
  .github/actions/to-integration-tests/Dockerfile
  .github/actions/to-integration-tests/README.md
  .github/actions/to-integration-tests/action.yml
  .github/actions/to-integration-tests/cdn.json
  .github/actions/to-integration-tests/database.json
  .github/actions/to-integration-tests/dbconf.yml
  .github/actions/to-integration-tests/entrypoint.sh
  .github/actions/to-integration-tests/traffic-ops-test.json
  .github/actions/todb-init/Dockerfile
  .github/actions/todb-init/README.md
  .github/actions/todb-init/action.yml
  .github/actions/todb-init/dbconf.yml
  .github/actions/todb-init/entrypoint.sh
  .github/workflows/traffic ops.yml
  traffic_ops/testing/api/v1/federation_users_test.go
  traffic_ops/testing/api/v1/federations_test.go
Labels: automation, enhancement, tests

#4933 Update TO for minimum TLS version
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops, configuration, enhancement

#4975 Revert Delivery Service type alias
  lib/go-atscfg/cacheurldotconfig.go
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/hostingdotconfig.go
  lib/go-atscfg/hostingdotconfig_test.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/meta_test.go
  lib/go-atscfg/regexremapdotconfig.go
  lib/go-atscfg/sslmulticertdotconfig.go
  lib/go-atscfg/topologyheaderrewritedotconfig.go
  lib/go-tc/deliveryservices.go
  traffic_ops/testing/api/v3/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/session_test.go
  traffic_ops/testing/api/v3/traffic_control_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/safe.go
  traffic_ops/v3-client/deliveryservice.go
  traffic_ops_ort/atstccfg/cfgfile/cacheurldotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile_test.go
  traffic_ops_ort/atstccfg/cfgfile/headerrewritedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/headerrewritemiddotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/hostingdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/meta.go
  traffic_ops_ort/atstccfg/cfgfile/parentdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/regexremapdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/remapdotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/topologyheaderrewritedotconfig.go
  traffic_ops_ort/atstccfg/config/config.go
  traffic_ops_ort/atstccfg/toreqnew/toreqnew.go
Labels: TO Client (Go), Traffic Ops, Traffic Ops ORT, cdn-in-a-box, documentation, regression bug

#4977 Added action to build documentation
  .github/workflows/ciab.yaml
  .github/workflows/docs.yml
  docs/requirements.txt
  docs/source/api/v2/deliveryservice_requests.rst
  docs/source/api/v2/deliveryservice_requests_id_assign.rst
  docs/source/api/v2/deliveryservice_requests_id_status.rst
  docs/source/api/v3/deliveryservice_requests.rst
  docs/source/api/v3/deliveryservice_requests_id_assign.rst
  docs/source/api/v3/deliveryservice_requests_id_status.rst
  docs/source/api/v3/servers_hostname_update_status.rst
  docs/source/api/v3/servers_id_status.rst
  docs/source/development/traffic_ops.rst
Labels: automation, documentation

#4976 Update ATC version to 5.0.0
  VERSION
  traffic_control/clients/python/trafficops/__version__.py
  traffic_portal/app/src/index.html
  traffic_portal/package.json
  traffic_router/build/pom.xml
  traffic_router/configuration/pom.xml
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
  traffic_router/geolocation/pom.xml
  traffic_router/neustar/pom.xml
  traffic_router/pom.xml
  traffic_router/shared/pom.xml
Labels: minor, process

#4980 ORT t3c command fixes:
  traffic_ops_ort/t3c/config/config.go
  traffic_ops_ort/t3c/torequest/torequest.go
  traffic_ops_ort/t3c/util/util.go
Labels: Traffic Ops ORT, bug

#4951 Use RFC lib and correct Content-Type on TM api
  lib/go-rfc/http.go
  traffic_monitor/datareq/datareq.go
Labels: Traffic Monitor, improvement

#4967 Allow Traffic Router binding DNS sockets to specific IP Address
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/webapp/WEB-INF/applicationContext.xml
Labels: Traffic Router, enhancement

#4997 Fix Error when Cloning Delivery Services in TP
  traffic_portal/app/src/common/modules/form/deliveryService/clone/FormCloneDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/app/src/modules/private/deliveryServices/clone/index.js
Labels: Traffic Portal, regression bug

#3567 New fakeOrigin testing tool
  LICENSE
  test/fakeOrigin/.dockerignore
  test/fakeOrigin/.gitignore
  test/fakeOrigin/Dockerfile
  test/fakeOrigin/Dockerfile.build_rpm
  test/fakeOrigin/README.md
  test/fakeOrigin/build/README.md
  test/fakeOrigin/build/build_rpm.sh
  test/fakeOrigin/build/config.json
  test/fakeOrigin/build/fakeOrigin.init
  test/fakeOrigin/build/fakeOrigin.logrotate
  test/fakeOrigin/build/fakeOrigin.spec
  test/fakeOrigin/docker-compose.build_rpm.yml
  test/fakeOrigin/docker-compose.yml
  test/fakeOrigin/docs/Configuration.md
  test/fakeOrigin/docs/Endpoint.Examples.md
  test/fakeOrigin/endpoint/endpoint.go
  test/fakeOrigin/endpoint/endpoint_enums.go
  test/fakeOrigin/endpoint/type_jsonenums.go
  test/fakeOrigin/example/crossdomain.xml
  test/fakeOrigin/example/video/LICENSE
  test/fakeOrigin/example/video/kelloggs.mp4
  test/fakeOrigin/fakeOrigin.go
  test/fakeOrigin/httpService/filter.go
  test/fakeOrigin/httpService/handler.go
  test/fakeOrigin/httpService/httpService.go
  test/fakeOrigin/httpService/rangerequest.go
  test/fakeOrigin/httpService/ssl.keygen.go
  test/fakeOrigin/m3u8/m3u8.go
  test/fakeOrigin/shard.sh
  test/fakeOrigin/transcode/transcode.go
  test/fakeOrigin/version/VERSION
  test/fakeOrigin/version/version.go
Labels: enhancement, tests

#4989 Find a better way to determine last status change
  CHANGELOG.md
  lib/go-tc/servers.go
  traffic_ops/app/db/migrations/2020082000000000_add_server_status_last_updated.sql
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/traffic_ops_golang/server/put_status.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
Labels: Traffic Ops, Traffic Portal, database, enhancement
