Repository apache/trafficcontrol, pull requests merged in 2020-10, with the labels that each got.

#5089 Fix 4.1.x Backport bad cherrypick missing file
  traffic_ops/build/atstccfg.logrotate
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops_ort.spec
Labels: Traffic Ops ORT, backport

#5064 Sorting Traffic Ops GET /api/*/cdns alphabetically
  CHANGELOG.md
  traffic_ops/testing/api/v2/cdns_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v3/cdns_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/cdn/cdns.go
Labels: Traffic Ops, enhancement

#5091 Validate DS Topologies when deleting a server capability
  CHANGELOG.md
  traffic_ops/testing/api/v3/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/traffic_control_test.go
  traffic_ops/testing/api/v3/withobjs_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability.go
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
Labels: Traffic Ops, enhancement

#5088 Add availability data for mids not associated with a delivery service
  docs/source/development/traffic_monitor.rst
  traffic_monitor/ds/stat.go
  traffic_monitor/ds/stat_test.go
Labels: Traffic Monitor, bug, documentation

#5058 changed OAuth workflow to allow local accounts too
  CHANGELOG.md
  docs/source/admin/quick_howto/oauth_login.rst
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_portal/app/src/modules/public/login/login.tpl.html
Labels: Traffic Ops, Traffic Portal, documentation, enhancement

#4999 deliveryservices/id/capacity no longer gives Internal Server Error
  CHANGELOG.md
  traffic_ops/testing/api/v2/deliveryservices_test.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/capacity.go
Labels: Traffic Ops, regression bug

#5100 Docs warnings fix
  docs/source/admin/traffic_ops.rst
  docs/source/development/environment_variables.rst
  docs/source/development/index.rst
  docs/source/development/ort/traffic_ops_ort.rst
  docs/source/development/traffic_ops.rst
  docs/source/tools/atstccfg.rst
  docs/source/tools/compare.rst
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  traffic_control/clients/python/to_access/__init__.py
Labels: documentation, enhancement, minor

#5080 Remove dependencies on internal-only Sun packages
  traffic_router/connector/pom.xml
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateDataConverter.java
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateRegistry.java
  traffic_router/pom.xml
  traffic_router/shared/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/Pkcs.java
  traffic_router/shared/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/Pkcs1KeySpecDecoder.java
Labels: Traffic Router, improvement, tech debt

#5096 Update Spring to 5.2.9
  traffic_router/core/pom.xml
  traffic_router/core/src/main/webapp/WEB-INF/applicationContext.xml
  traffic_router/pom.xml
Labels: Traffic Router, improvement

#5108 Add GOPATH bin directory to the PATH
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  traffic_ops/app/bin/tests/Dockerfile-golangtest
Labels: Traffic Ops, automation, regression bug

#5093 Validate addition of DS required capabilities w.r.t its topology
  CHANGELOG.md
  traffic_ops/testing/api/v3/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities_test.go
Labels: Traffic Ops, enhancement

#5111 Set root ownership of TM logrotate file
  CHANGELOG.md
  traffic_monitor/build/traffic_monitor.spec
Labels: Traffic Monitor, bug

#5066 Fix TO to generate monitoring if no snapshot
  CHANGELOG.md
  traffic_ops/testing/api/v2/monitoring_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v3/monitoring_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/crconfig/snapshot.go
Labels: 4.1.x-backport-candidate, Traffic Ops, bug

#5094 Fix creating a ds with non-existent topology causing ISE
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/topology/queue_update.go
Labels: Traffic Ops, bug, minor

#5112 In monitoring.json ignore non-ONLINE/REPORTED/ADMIN_DOWN caches
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
Labels: Traffic Monitor, Traffic Ops, bug

#5120 Add .asf.yaml file to add repo metadata
  .asf.yaml
Labels: documentation

#5092 Add warning when creating/updating jobs that overlap.
  CHANGELOG.md
  lib/go-tc/invalidationjobs.go
  lib/go-tc/invalidationjobs_test.go
  traffic_ops/testing/api/v3/jobs_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
  traffic_ops/v3-client/job.go
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/new/FormNewDeliveryServiceJobController.js
  traffic_portal/app/src/common/modules/form/job/new/FormNewJobController.js
Labels: Traffic Ops, Traffic Portal, improvement

#5124 fixed TestLogs
  traffic_ops/testing/api/v1/logs_test.go
  traffic_ops/testing/api/v2/logs_test.go
  traffic_ops/testing/api/v3/logs_test.go
Labels: Traffic Ops, minor, tests

#5126 Fix repo labels
  .asf.yaml
Labels: documentation

#5083 Prevent changing DS fields that would invalidate its SSL key
  CHANGELOG.md
  docs/source/api/v3/deliveryservices_id.rst
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/user/deliveryservices.go
  traffic_ops/v3-client/deliveryservice.go
  traffic_portal/app/src/common/modules/dialog/text/dialog.text.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: Traffic Ops, Traffic Portal, Traffic Vault, improvement

#5121 When updating a DS, validate its topology w.r.t. required capabilities
  lib/go-tc/deliveryservices.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
Labels: Traffic Ops, enhancement

#5085 Fix bug that doesn't let you change the cachegroup of an ASN
  docs/source/api/v3/asns.rst
  traffic_ops/traffic_ops_golang/asn/asns.go
  traffic_ops/traffic_ops_golang/asn/asns_test.go
Labels: Traffic Ops, bug

#5136 Updated Traffic Portal Installation Doc to NodeJS 12
  docs/source/admin/traffic_portal/installation.rst
Labels: Traffic Portal, documentation

#5113 Fix 4.1 ORT to work with 3.0 Traffic Ops
  traffic_ops/ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops/ort/atstccfg/getdata/getdata.go
  traffic_ops/ort/atstccfg/toreq/toreq.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/LICENSE
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/VERSION
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/changeset.txt
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/asn.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/atsconfig.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/cachegroup.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/cachegroup_parameters.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/cdn.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/crconfig.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/deliveryservice.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/deliveryservice_endpoints.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/deliveryservice_requests.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/deliveryservices_required_capabilities.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/deliveryserviceserver.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/dsuser.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/endpoints.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/federation.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/federation_resolver.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/hardware.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/iso.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/job.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/log.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/origin.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/parameter.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/phys_location.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/profile.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/profile_parameter.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/region.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/role.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/server.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/server_server_capabilities.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/server_update_status.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/servercapability.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/servercheck.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/serversstatus.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/session.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/staticdnsentry.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/status.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/steering.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/steeringtarget.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/tenant.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/toextension.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/traffic_monitor.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/traffic_stats.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/user.go
  traffic_ops/ort/atstccfg/toreq/vendor/github.com/apache/trafficcontrol/traffic_ops/client/util.go
  traffic_ops/ort/atstccfg/toreqnew/toreqnew.go
Labels: 4.1.x-backport-candidate, bug

#5133 TR: set cache to unavailable if not found in TM health data
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/edge/Node.java
Labels: Traffic Router, bug

#5139 [Backport 4.1.x] TR: set cache to unavailable if not found in TM health data (#5133)
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/cache/Cache.java
Labels: Traffic Router, backport, bug

#5141 [Backport 4.1.x] Fix TO to generate monitoring if no snapshot (#5066)
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/crconfig/snapshot.go
Labels: Traffic Ops, backport

#5140 fixes broken TP tests
  traffic_portal/test/end_to_end/conf.json
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, tests

#5145 Add documentation for Edge Traffic Routing params
  docs/source/admin/traffic_router.rst
Labels: documentation

#5107 Fix Traffic Ops looking for influxdb.conf in the wrong place
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  traffic_ops/traffic_ops_golang/config/config.go
Labels: Traffic Ops, configuration, documentation, regression bug

#5087 Add default sort functionality to all read()
  CHANGELOG.md
  traffic_ops/testing/api/v3/asns_test.go
  traffic_ops/testing/api/v3/cdnfederations_test.go
  traffic_ops/testing/api/v3/cdns_test.go
  traffic_ops/testing/api/v3/coordinates_test.go
  traffic_ops/testing/api/v3/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v3/divisions_test.go
  traffic_ops/testing/api/v3/parameters_test.go
  traffic_ops/testing/api/v3/phys_locations_test.go
  traffic_ops/testing/api/v3/profile_parameters_test.go
  traffic_ops/testing/api/v3/regions_test.go
  traffic_ops/testing/api/v3/roles_test.go
  traffic_ops/testing/api/v3/servercapabilities_test.go
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/testing/api/v3/servicecategories_test.go
  traffic_ops/testing/api/v3/staticdnsentries_test.go
  traffic_ops/testing/api/v3/statuses_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/tenants_test.go
  traffic_ops/testing/api/v3/types_test.go
  traffic_ops/testing/api/v3/user_test.go
  traffic_ops/testing/api/v3/withobjs_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/apitenant/tenant.go
  traffic_ops/traffic_ops_golang/asn/asns.go
  traffic_ops/traffic_ops_golang/cdn/cdns.go
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
  traffic_ops/traffic_ops_golang/coordinate/coordinates.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/comment/comments.go
  traffic_ops/traffic_ops_golang/division/divisions.go
  traffic_ops/traffic_ops_golang/federations/ds.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
  traffic_ops/traffic_ops_golang/region/regions.go
  traffic_ops/traffic_ops_golang/role/roles.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability.go
  traffic_ops/traffic_ops_golang/servercapability/servercapability.go
  traffic_ops/traffic_ops_golang/servicecategory/servicecategories.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
  traffic_ops/traffic_ops_golang/status/statuses.go
  traffic_ops/traffic_ops_golang/types/types.go
  traffic_ops/traffic_ops_golang/user/user.go
  traffic_ops/v3-client/asn.go
  traffic_ops/v3-client/cdnfederations.go
Labels: Traffic Ops, enhancement

#5104 Python client fixes
  CHANGELOG.md
  traffic_control/clients/python/to_access/__init__.py
  traffic_control/clients/python/trafficops/__version__.py
Labels: TC Client (python), bug, minor

#5144 Prohibit adding a cache group with no servers to a topology
  CHANGELOG.md
  docs/source/api/v3/topologies.rst
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
  traffic_ops/testing/api/v3/cachegroups_test.go
  traffic_ops/testing/api/v3/cdnfederations_test.go
  traffic_ops/testing/api/v3/federation_users_test.go
  traffic_ops/testing/api/v3/federations_test.go
  traffic_ops/testing/api/v3/readonlycannotmodify_test.go
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/tenants_test.go
  traffic_ops/testing/api/v3/topologies_queue_update_test.go
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
Labels: Traffic Ops, enhancement

#4883 Fixing the tag name for %pre - preinstall script
  CHANGELOG.md
  traffic_router/build/pom.xml
Labels: Traffic Router, bug

#5119 Fix ORT Topology Generation to Omit OFFLINE, Other CDNs, and MSO Origins without DeliveryServiceServers
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/topologyheaderrewritedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops_ort/atstccfg/cfgfile/topologyheaderrewritedotconfig.go
Labels: Traffic Ops ORT, bug

#5155 Disallow deleting or moving the last server in a Cache Group used by a topology
  CHANGELOG.md
  docs/source/api/v3/cachegroups.rst
  docs/source/api/v3/servers.rst
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
  traffic_ops/v3-client/server.go
Labels: TO Client (Go), Traffic Ops, enhancement

#4998 Fix subject name validation in TR certificate loading
  CHANGELOG.md
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/secure/CertificateDataConverter.java
  traffic_router/connector/src/test/java/secure/CertificateDataConverterTest.java
Labels: Traffic Router, bug

#5134 Added `--traffic_ops_insecure=<0|1>` optional option to traffic_ops_ort.pl
  CHANGELOG.md
  traffic_ops_ort/traffic_ops_ort.pl
Labels: 4.1.x-backport-candidate, Traffic Ops ORT, enhancement

#5135 Added a --traffic_ops_insecure optional option to traffic_ops_ort.pl
  CHANGELOG.md
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, backport, enhancement

#5156 Fix TO Integration Jobs Test
  traffic_ops/testing/api/v3/jobs_test.go
  traffic_ops/v3-client/job.go
Labels: Traffic Ops, tests

#5110 AsyncHttpClient library update
  CHANGELOG.md
  traffic_router/core/pom.xml
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/PeriodicResourceUpdater.java
Labels: Traffic Router, improvement

#5131 Added User-Agent String to Traffic Router Log Output
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/http/HTTPAccessEventBuilder.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/http/HTTPAccessEventBuilderTest.java
Labels: Traffic Router, enhancement

#5138 Idempotentiate create_tables.sql
  CHANGELOG.md
  traffic_ops/app/db/create_tables.sql
  traffic_ops_db/test/docker/run-db-test.sh
Labels: Traffic Ops, database, improvement

#5127 Add ORT Secondary Mode
  CHANGELOG.md
  docs/source/overview/profiles_and_parameters.rst
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: Traffic Ops ORT, enhancement

#5128 strips out mids in the wrong cdn when requesting servers for a ds
  CHANGELOG.md
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, bug

#5142 Return last-modified header only in case of IMS requests
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/api/shared_handlers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/federation_resolvers/federation_resolvers.go
  traffic_ops/traffic_ops_golang/federations/allfederations.go
  traffic_ops/traffic_ops_golang/federations/federations.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/app.js
Labels: Traffic Ops

#5068 [4.1.x] Make 4.1.x TM backwards compatible with pre-4.0 TO
  CHANGELOG.md
  traffic_monitor/datareq/crconfig.go
  traffic_monitor/datareq/crconfighist.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/handler/handler.go
  traffic_monitor/manager/manager.go
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/manager/opsconfig.go
  traffic_monitor/poller/monitorconfig.go
  traffic_monitor/todata/todata.go
  traffic_monitor/towrap/towrap.go
  traffic_ops/v1-3-client/README.md
  traffic_ops/v1-3-client/about.go
  traffic_ops/v1-3-client/asn.go
  traffic_ops/v1-3-client/cachegroup.go
  traffic_ops/v1-3-client/cdn.go
  traffic_ops/v1-3-client/cdn_domains.go
  traffic_ops/v1-3-client/cdnfederations.go
  traffic_ops/v1-3-client/coordinate.go
  traffic_ops/v1-3-client/crconfig.go
  traffic_ops/v1-3-client/deliveryservice.go
  traffic_ops/v1-3-client/deliveryservice_endpoints.go
  traffic_ops/v1-3-client/deliveryservice_request_comments.go
  traffic_ops/v1-3-client/deliveryservice_requests.go
  traffic_ops/v1-3-client/deliveryserviceserver.go
  traffic_ops/v1-3-client/division.go
  traffic_ops/v1-3-client/dsuser.go
  traffic_ops/v1-3-client/endpoints.go
  traffic_ops/v1-3-client/hardware.go
  traffic_ops/v1-3-client/origin.go
  traffic_ops/v1-3-client/parameter.go
  traffic_ops/v1-3-client/phys_location.go
  traffic_ops/v1-3-client/ping.go
  traffic_ops/v1-3-client/profile.go
  traffic_ops/v1-3-client/profile_parameter.go
  traffic_ops/v1-3-client/region.go
  traffic_ops/v1-3-client/role.go
  traffic_ops/v1-3-client/server.go
  traffic_ops/v1-3-client/session.go
  traffic_ops/v1-3-client/staticdnsentry.go
  traffic_ops/v1-3-client/stats_summary.go
  traffic_ops/v1-3-client/status.go
  traffic_ops/v1-3-client/steeringtarget.go
  traffic_ops/v1-3-client/tenant.go
  traffic_ops/v1-3-client/tenant_endpoints.go
  traffic_ops/v1-3-client/traffic_monitor.go
  traffic_ops/v1-3-client/type.go
  traffic_ops/v1-3-client/update.go
  traffic_ops/v1-3-client/user.go
  traffic_ops/v1-3-client/util.go
Labels: Traffic Monitor, backport, bug

#5160 [Backport 4.1.x] Add availability data for mids not associated with a delivery service #5088
  CHANGELOG.md
  docs/source/development/traffic_monitor.rst
  traffic_monitor/ds/stat.go
  traffic_monitor/ds/stat_test.go
Labels: Traffic Monitor, backport, bug

#5148 Removing ORT ntpd checks
  CHANGELOG.md
  traffic_ops_ort/traffic_ops_ort.pl
Labels: 4.1.x-backport-candidate, Traffic Ops ORT

#5166 Only run Last-Server-In-Cache Group validation when Cache Group has changed
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, regression bug

#5169 [Backport 4.1.x] Removing ORT ntpd checks (#5148)
  CHANGELOG.md
  traffic_ops/ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, backport

#5164 Topologies support for assigning ORG servers to Delivery Services
  CHANGELOG.md
  docs/source/api/v3/servers.rst
  docs/source/glossary.rst
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/origin/Dockerfile
  infrastructure/cdn-in-a-box/origin/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/cachegroups/085-ciabOrigin.json
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservice_servers/020-demo1.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/085-ORG_MSO.json
  infrastructure/cdn-in-a-box/traffic_ops_data/topologies/010-CDN_in_a_Box_Topology.json
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/topologies_queue_update_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.assignDSServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/test/end_to_end/conf.json
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
Labels: Traffic Ops, Traffic Portal, cdn-in-a-box, enhancement

#5163 Fix right click context menu on ag-grid tables
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/jobs/TableJobsController.js
  traffic_portal/app/src/common/modules/table/jobs/table.jobs.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
Labels: Traffic Portal, bug

#5170 Validate topology updates w.r.t. DS required capabilities
  CHANGELOG.md
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
Labels: Traffic Ops, enhancement

#5176 Prevent resource leak in API Tests WithObjs()
  traffic_ops/testing/api/v1/withobjs_test.go
  traffic_ops/testing/api/v2/withobjs_test.go
  traffic_ops/testing/api/v3/withobjs_test.go
Labels: Traffic Ops, automation, tests

#5178 Use 5.0.x release branch for builder images
  infrastructure/docker/build/docker-compose.yml
Labels: automation, build, process

#5184 Remove unnecessary JOIN
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
Labels: Traffic Ops, bug, medium

#5109 Clear column filters when hiding columns on jobs and servers tables
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/cacheGroupServers/table.cacheGroupServers.tpl.html
  traffic_portal/app/src/common/modules/table/cdnServers/table.cdnServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/table.deliveryServiceJobs.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/jobs/TableJobsController.js
  traffic_portal/app/src/common/modules/table/jobs/table.jobs.tpl.html
  traffic_portal/app/src/common/modules/table/physLocationServers/table.physLocationServers.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
  traffic_portal/app/src/common/modules/table/statusServers/table.statusServers.tpl.html
  traffic_portal/app/src/common/modules/table/topologyServers/table.topologyServers.tpl.html
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, improvement, minor

#5189 [Backport 4.1.x] Updated to weasel v0.4. (#4760)
  .dependency_license
  infrastructure/docker/build/docker-compose.yml
  misc/git/pre-commit-hooks/01-gofmt
  misc/traffic-control-cdn/css/bootstrap-theme.css
  misc/traffic-control-cdn/css/bootstrap-theme.min.css
  misc/traffic-control-cdn/css/bootstrap.css
  misc/traffic-control-cdn/css/bootstrap.min.css
  misc/traffic-control-cdn/js/bootstrap.js
  misc/traffic-control-cdn/js/bootstrap.min.js
  traffic_portal/app/src/assets/css/angular-moment-picker_0.10.2.css
  traffic_portal/app/src/assets/js/chartjs/Chart.min_2.7.2.js
  traffic_portal/app/src/assets/js/downloadjs-min_v4.21.js
  traffic_portal/app/src/assets/js/moment-picker/angular-moment-picker.min_0.10.2.js
  traffic_portal/app/src/assets/js/underscore-min_1.8.3.js
  traffic_portal/app/src/styles/loading.scss
  traffic_portal/app/src/styles/theme.scss
Labels: backport, build, enhancement

#5193 TP: handles error scenario when fulfilling a dsr immediately and ds update fails validation
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: 4.1.x-backport-candidate, Traffic Portal, bug

#5194 [Backport 4.1.x] TP: handles error scenario when fulfilling a dsr immediately and ds update fails validation #5193
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: Traffic Portal, backport, bug

#5196 [4.1.x backport] Do not require .git to build (#5181)
  infrastructure/docker/build/clean_build.sh
Labels: backport, bug, build

#5199 [4.1.x] change order of weasel build
  infrastructure/docker/build/docker-compose.yml
Labels: build

#5198 TP: do not mark DSR (ds request) complete if ds update fails due to validation error
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: 4.1.x-backport-candidate, Traffic Portal, bug

#5200 [Backport 4.1.x] TP: do not mark DSR (ds request) complete if ds update fails due to validation error #5198
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: Traffic Portal, backport, bug

#5177 traffic router re-authentication on unauthorized
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/ProtectedFetcher.java
Labels: 4.1.x-backport-candidate, Traffic Router, bug

#5201 fix typo for peer_optimisitc_quorum_min
  traffic_monitor/conf/traffic_monitor.cfg
Labels: 4.1.x-backport-candidate, Traffic Monitor

#5202 Fix changelog entry for If-Match/If-Unmodified-Since
  CHANGELOG.md
Labels: documentation

#5204 [4.1.x backport] Remove unnecessary JOIN (#5184)
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
Labels: Traffic Monitor, Traffic Ops, backport, bug

#5205 [4.1.x backport] traffic router re-authentication on unauthorized #5177
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/ProtectedFetcher.java
Labels: Traffic Router, backport, bug

#5206 [4.1.x backport] fix typo for peer_optimisitc_quorum_min #5201
  traffic_monitor/conf/traffic_monitor.cfg
Labels: Traffic Monitor, backport

#5207 [4.1.x] add changelogs
  CHANGELOG.md
Labels: documentation

#5146 Service Categories tenancy cross referencing DS tenancy
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/servicecategory/servicecategories.go
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
Labels: Traffic Ops, Traffic Portal, minor

#5210 Fix POST /profileparameters validation error message
  CHANGELOG.md
  traffic_ops/testing/api/v3/profile_parameters_test.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
Labels: Traffic Ops, bug, minor

#5214 Fix 403 forbidden in deliveryservices_test
  traffic_ops/testing/api/v3/deliveryservices_test.go
Labels: Traffic Ops, bug, tests

#5215 TP: fixes broken context menus due to missing id
  traffic_portal/app/src/common/modules/table/cacheGroupServers/table.cacheGroupServers.tpl.html
  traffic_portal/app/src/common/modules/table/cdnServers/table.cdnServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/table.deliveryServiceJobs.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/physLocationServers/table.physLocationServers.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/statusServers/table.statusServers.tpl.html
  traffic_portal/app/src/common/modules/table/topologyServers/table.topologyServers.tpl.html
  traffic_portal/app/src/common/modules/table/typeServers/table.typeServers.tpl.html
Labels: Traffic Portal, bug

#5158 Update Go version to 1.15.3
  .github/workflows/go.fmt.yml
  .github/workflows/go.unit.tests.yaml
  .github/workflows/traffic ops.yml
  GO_VERSION
Labels: TO Client (Go), Traffic Monitor, Traffic Ops, Traffic Ops ORT, Traffic Stats, automation, cdn-in-a-box, grove

#5168 Enable includeSystemTests in the API tests GitHub Action
  .github/actions/to-integration-tests/.eslintrc
  .github/actions/to-integration-tests/Dockerfile
  .github/actions/to-integration-tests/README.md
  .github/actions/to-integration-tests/action.yml
  .github/actions/to-integration-tests/cdn.json
  .github/actions/to-integration-tests/database.json
  .github/actions/to-integration-tests/dbconf.yml
  .github/actions/to-integration-tests/dist/to-integration-tests.js
  .github/actions/to-integration-tests/entrypoint.sh
  .github/actions/to-integration-tests/package-lock.json
  .github/actions/to-integration-tests/package.json
  .github/actions/to-integration-tests/riak.json
  .github/actions/to-integration-tests/to-integration-tests.ts
  .github/actions/to-integration-tests/traffic-ops-test.json
  .github/actions/to-integration-tests/tsconfig.json
  .github/workflows/traffic ops.yml
  .gitignore
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
Labels: Traffic Ops, automation, enhancement

#5217 Servers Table - Single Click Navigation
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, improvement

#5220 Fix compilation error in experimental tool
  experimental/traffic_ops_auth/traffic_ops_auth.go
Labels: bug, experimental, minor

#5222 [5.0.x backport] Clear column filters when hiding columns on jobs and servers tables (#5109)
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/cacheGroupServers/table.cacheGroupServers.tpl.html
  traffic_portal/app/src/common/modules/table/cdnServers/table.cdnServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/table.deliveryServiceJobs.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/jobs/TableJobsController.js
  traffic_portal/app/src/common/modules/table/jobs/table.jobs.tpl.html
  traffic_portal/app/src/common/modules/table/physLocationServers/table.physLocationServers.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
  traffic_portal/app/src/common/modules/table/statusServers/table.statusServers.tpl.html
  traffic_portal/app/src/common/modules/table/topologyServers/table.topologyServers.tpl.html
  traffic_portal/test/end_to_end/servers/servers-spec.js
Labels: Traffic Portal, backport, improvement

#5223 [5.0.x backport] traffic router re-authentication on unauthorized (#5177)
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/util/ProtectedFetcher.java
Labels: Traffic Router, backport, bug

#5219 Removed duplicate button to link delivery service to server
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
Labels: Traffic Portal, improvement

#5225 removed tenancy from service categories
  docs/source/api/v3/servicecategories.rst
  lib/go-tc/service_category.go
  lib/go-tc/tovalidate/rules.go
  traffic_ops/app/db/migrations/2020103000000000_remove_service_category_tenancy.sql
  traffic_ops/testing/api/v3/servicecategories_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/servicecategory/servicecategories.go
  traffic_ops/traffic_ops_golang/tenant/tenancy.go
  traffic_portal/app/src/common/api/ServiceCategoryService.js
  traffic_portal/app/src/common/modules/form/serviceCategory/FormServiceCategoryController.js
  traffic_portal/app/src/common/modules/form/serviceCategory/edit/FormEditServiceCategoryController.js
  traffic_portal/app/src/common/modules/form/serviceCategory/form.serviceCategory.tpl.html
  traffic_portal/app/src/common/modules/form/serviceCategory/new/FormNewServiceCategoryController.js
  traffic_portal/app/src/common/modules/table/serviceCategories/table.serviceCategories.tpl.html
Labels: Traffic Ops, Traffic Portal, improvement

#5227 Fix CIAB mid enrollment
  infrastructure/cdn-in-a-box/mid/init.d/99-run.sh
Labels: bug, cdn-in-a-box
