Repository apache/trafficcontrol, pull requests merged in 2021-02, with the labels that each got.

#5482 TR: Fix potential steering registry race, improve steering logging
  CHANGELOG.md
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/Steering.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/ds/SteeringRegistry.java
Labels: Traffic Router, bug

#5480 Added a check against cdn.id when updating DS with existing SSL keys
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_test.go
Labels: Traffic Ops, bug

#5466 ACME integration and external account binding
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  docs/source/admin/traffic_router.rst
  docs/source/api/v3/deliveryservices_xmlid_xmlid_sslkeys_renew.rst
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme.go
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
  traffic_ops/traffic_ops_golang/deliveryservice/letsencryptcert.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/common/api/DeliveryServiceSslKeysService.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/FormDeliveryServiceSslKeysController.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/form.deliveryServiceSslKeys.tpl.html
Labels: Traffic Ops, Traffic Portal, documentation, enhancement

#5459 Code QL workflow
  .github/workflows/codeql.go.yml
  .github/workflows/codeql.javascript.yml
  .github/workflows/codeql.python.yml
  docs/source/conf.py
  lib/go-rfc/caching_test.go
  traffic_portal/app/src/common/service/utils/DateUtils.js
Labels: enhancement, process

#5483 Disallow updating the Type of a Cache Group if it is in use by a Topology
  CHANGELOG.md
  traffic_ops/testing/api/v4/cachegroups_test.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups_test.go
Labels: Traffic Ops, bug

#5468 Add the Traffic Ops ORT requester.
  traffic_ops_ort/to_requester/README.md
  traffic_ops_ort/to_requester/config/config.go
  traffic_ops_ort/to_requester/getdata/getdata.go
  traffic_ops_ort/to_requester/to_requester.go
Labels: Traffic Ops ORT, enhancement

#5470 Adding atscfg overrides to insert the Release version in via string
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/__init__.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/configuration.py
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
  lib/go-atscfg/recordsdotconfig.go
  lib/go-atscfg/recordsdotconfig_test.go
  traffic_ops_ort/atstccfg/README.md
  traffic_ops_ort/atstccfg/atstccfg.go
  traffic_ops_ort/atstccfg/cfgfile/all.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile_test.go
  traffic_ops_ort/atstccfg/cfgfile/routing.go
  traffic_ops_ort/atstccfg/cfgfile/wrappers.go
  traffic_ops_ort/atstccfg/config/config.go
  traffic_ops_ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, cdn-in-a-box, enhancement

#5132 Update flot libraries to earliest stable version
  CHANGELOG.md
  traffic_portal/bower.json
  traffic_portal/grunt/browserify.js
Labels: Traffic Portal, tech debt

#5475 Remove tm_path from CDN Snapshots
  docs/source/api/v1/cdns_name_snapshot.rst
  docs/source/api/v1/cdns_name_snapshot_new.rst
  docs/source/api/v2/cdns_name_snapshot.rst
  docs/source/api/v2/cdns_name_snapshot_new.rst
  docs/source/api/v3/cdns_name_snapshot.rst
  docs/source/api/v3/cdns_name_snapshot_new.rst
  docs/source/api/v4/cdns_name_snapshot.rst
  docs/source/api/v4/cdns_name_snapshot_new.rst
  lib/go-tc/crconfig.go
  traffic_ops/app/db/migrations/2021012800000000_remove_tm_path.sql
  traffic_ops/testing/api/v1/crconfig_test.go
  traffic_ops/testing/api/v2/crconfig_test.go
  traffic_ops/testing/api/v3/crconfig_test.go
  traffic_ops/testing/api/v4/crconfig_test.go
  traffic_ops/traffic_ops_golang/crconfig/crconfig.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/crconfig/stats.go
  traffic_ops/traffic_ops_golang/crconfig/stats_test.go
  traffic_router/core/src/test/resources/publish/CrConfig.json
  traffic_router/core/src/test/resources/publish/CrConfig2.json
  traffic_router/core/src/test/resources/publish/CrConfig3.json
  traffic_router/core/src/test/resources/publish/CrConfig4.json
Labels: Traffic Ops, enhancement, minor

#5491 Add API v4 integration tests to those run on PRs
  .github/workflows/traffic ops.yml
Labels: enhancement, process

#5494 GitHub Actions: Cache NPM packages + other speedups
  .github/actions/build-rpms/main.js
  .github/actions/run-ciab/run-ciab.sh
  .github/actions/to-integration-tests/entrypoint.sh
  .github/workflows/ciab.yaml
  .github/workflows/tp.e2e.tests.yml
  .gitignore
  infrastructure/docker/build/docker-compose.yml
Labels: automation

#5498 GitHub Actions workflow to validate go.mod, go.sum, and vendor directory
  .github/actions/check-go-modules/README.md
  .github/actions/check-go-modules/entrypoint.sh
  .github/actions/tp-e2e-tests/entrypoint.sh
  .github/workflows/check-go-modules.yml
  build/functions.sh
  go.sum
  infrastructure/cdn-in-a-box/enroller/Dockerfile
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/traffic_monitor/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/run.sh
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/run.sh
  infrastructure/cdn-in-a-box/traffic_stats/run.sh
  traffic_monitor/tests/Dockerfile-golangtest
  traffic_ops/app/bin/tests/Dockerfile-golangtest
  traffic_ops/testing/api/v3/cookie_test.go
  traffic_ops/testing/api/v3/loginfail_test.go
  traffic_ops/testing/api/v3/origins_test.go
  traffic_ops/testing/api/v3/readonlycannotmodify_test.go
  traffic_ops/testing/api/v3/steeringtargets_test.go
  traffic_ops/testing/api/v3/tenants_test.go
  traffic_ops/testing/api/v3/user_test.go
  traffic_ops/testing/api/v4/cookie_test.go
  traffic_ops/testing/api/v4/loginfail_test.go
  traffic_ops/testing/api/v4/origins_test.go
  traffic_ops/testing/api/v4/readonlycannotmodify_test.go
  traffic_ops/testing/api/v4/steeringtargets_test.go
  traffic_ops/testing/api/v4/tenants_test.go
  traffic_ops/testing/api/v4/user_test.go
  traffic_ops_ort/testing/docker/ort_test/run.sh
  vendor/github.com/kelseyhightower/envconfig/envconfig_1.8_test.go
  vendor/github.com/kelseyhightower/envconfig/envconfig_test.go
  vendor/github.com/kelseyhightower/envconfig/testdata/custom.txt
  vendor/github.com/kelseyhightower/envconfig/testdata/default_list.txt
  vendor/github.com/kelseyhightower/envconfig/testdata/default_table.txt
  vendor/github.com/kelseyhightower/envconfig/testdata/fault.txt
  vendor/github.com/kelseyhightower/envconfig/usage_test.go
Labels: automation, cdn-in-a-box, dependencies, tests

#5500 Cache Alpine image to avoid Docker Hub pull rate limit
  .github/actions/go-fmt/Dockerfile
  .github/actions/go-test/Dockerfile
  .github/actions/save-alpine-tar/README.md
  .github/actions/save-alpine-tar/entrypoint.sh
  .github/actions/todb-init/Dockerfile
  .github/actions/todb-tests/Dockerfile
  .github/actions/tr-tests/Dockerfile
  .github/workflows/ciab.yaml
  .github/workflows/go.fmt.yml
  .github/workflows/go.unit.tests.yaml
  .github/workflows/tp.e2e.tests.yml
  .github/workflows/tr.unit.tests.yaml
  .github/workflows/traffic ops.yml
  .github/workflows/traffic.ops.database.yml
  infrastructure/cdn-in-a-box/origin/Dockerfile
  infrastructure/cdn-in-a-box/readiness/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  tools/golang/Dockerfile
  traffic_router/tests/Dockerfile-test-alpine
Labels: automation, bug, improvement, performance

#5469 Remove test that checks system-dependent value
  traffic_monitor/datareq/datareq_test.go
Labels: Traffic Monitor, enhancement, minor

#5501 Renaming TP server columns for IPv4 address fields
  CHANGELOG.md
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  experimental/traffic-portal/src/app/components/servers/servers-table/servers-table.component.ts
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
Labels: Traffic Portal, improvement, minor

#5497 Update parallelization configuration and readme file instruction
  traffic_portal/test/integration/Readme.md
  traffic_portal/test/integration/config.ts
Labels: Traffic Portal, tests

#5490 TP Remember Pagination on ag-grids
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/changeLogs/TableChangeLogsController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/common/modules/table/jobs/TableJobsController.js
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
Labels: Traffic Portal, improvement

#5513 Log when getting errors from TO but backup configs exist
  CHANGELOG.md
  lib/go-tc/traffic_monitor.go
  lib/go-tc/traffic_monitor_test.go
  traffic_monitor/towrap/towrap.go
Labels: Traffic Monitor, bug

#5509 Update to DB migration server_id_primary_key.sql
  CHANGELOG.md
  traffic_ops/app/db/migrations/2020082700000000_server_id_primary_key.sql
Labels: Traffic Ops, bug, database, install

#5508 Add 'value' query parameter to /parameters
  docs/source/api/v1/parameters.rst
  docs/source/api/v2/parameters.rst
  docs/source/api/v3/parameters.rst
  docs/source/api/v4/parameters.rst
  traffic_ops/traffic_ops_golang/parameter/parameters.go
  traffic_ops/v4-client/parameter.go
Labels: TO Client (Go), Traffic Ops, enhancement

#5430 Add Traffic Ops Client Minor Fallback
  CHANGELOG.md
  traffic_ops/v3-client/about.go
  traffic_ops/v3-client/api_capability.go
  traffic_ops/v3-client/asn.go
  traffic_ops/v3-client/cachegroup.go
  traffic_ops/v3-client/cachegroup_parameters.go
  traffic_ops/v3-client/capability.go
  traffic_ops/v3-client/cdn.go
  traffic_ops/v3-client/cdn_domains.go
  traffic_ops/v3-client/cdnfederations.go
  traffic_ops/v3-client/coordinate.go
  traffic_ops/v3-client/crconfig.go
  traffic_ops/v3-client/deliveryservice.go
  traffic_ops/v3-client/deliveryservice_regexes.go
  traffic_ops/v3-client/deliveryservice_request_comments.go
  traffic_ops/v3-client/deliveryservice_requests.go
  traffic_ops/v3-client/deliveryservices_required_capabilities.go
  traffic_ops/v3-client/deliveryserviceserver.go
  traffic_ops/v3-client/division.go
  traffic_ops/v3-client/dsuser.go
  traffic_ops/v3-client/endpoints.go
  traffic_ops/v3-client/federation.go
  traffic_ops/v3-client/federation_federation_resolver.go
  traffic_ops/v3-client/federation_resolver.go
  traffic_ops/v3-client/iso.go
  traffic_ops/v3-client/job.go
  traffic_ops/v3-client/log.go
  traffic_ops/v3-client/origin.go
  traffic_ops/v3-client/parameter.go
  traffic_ops/v3-client/phys_location.go
  traffic_ops/v3-client/ping.go
  traffic_ops/v3-client/profile.go
  traffic_ops/v3-client/profile_parameter.go
  traffic_ops/v3-client/region.go
  traffic_ops/v3-client/role.go
  traffic_ops/v3-client/server.go
  traffic_ops/v3-client/server_server_capabilities.go
  traffic_ops/v3-client/server_update_status.go
  traffic_ops/v3-client/servercapability.go
  traffic_ops/v3-client/servercheck.go
  traffic_ops/v3-client/servercheckextensions.go
  traffic_ops/v3-client/serviceCategory.go
  traffic_ops/v3-client/session.go
  traffic_ops/v3-client/staticdnsentry.go
  traffic_ops/v3-client/stats_summary.go
  traffic_ops/v3-client/status.go
  traffic_ops/v3-client/steering.go
  traffic_ops/v3-client/steeringtarget.go
  traffic_ops/v3-client/tenant.go
  traffic_ops/v3-client/topology.go
  traffic_ops/v3-client/topology_queue_updates.go
  traffic_ops/v3-client/traffic_monitor.go
  traffic_ops/v3-client/traffic_stats.go
  traffic_ops/v3-client/type.go
  traffic_ops/v3-client/user.go
Labels: TO Client (Go), enhancement

#5517 Disallow updating the Type of a Cache Group if it is in use by a Topology (#5483)
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups_test.go
Labels: backport

#5519 Fixes click functions on server ip addresses in the server table
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
Labels: Traffic Portal, regression bug

#5528 Reorder SQL migrations to fix some upgrade issues
  CHANGELOG.md
  traffic_ops/app/db/migrations/2021010900000001_move_lets_encrypt_to_acme.sql
  traffic_ops/app/db/migrations/2021010900000002_add_max_request_header_size_delivery_service.sql
  traffic_ops/app/db/migrations/2021010900000003_server_interface_ip_address_cascade.sql
Labels: bug, database

#5506 Workflow to check for and PR minor Go revision updates
  .github/actions/pr-to-update-go/README.rst
  .github/actions/pr-to-update-go/pr_to_update_go/__main__.py
  .github/actions/pr-to-update-go/pr_to_update_go/constants.py
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
  .github/actions/pr-to-update-go/pr_to_update_go/pr_template.md
  .github/actions/pr-to-update-go/requirements.txt
  .github/actions/pr-to-update-go/setup.cfg
  .github/actions/pr-to-update-go/setup.py
  .github/actions/pr-to-update-go/tests/test_go_pr_maker.py
  .github/actions/pr-to-update-go/update_golang_org_x.sh
  .github/workflows/pr-to-update-go.yml
Labels: automation, dependencies, go version

#4763 Rewrote postinstall to Python (3.6+)
  traffic_control/clients/python/pylint.rc
  traffic_ops/install/bin/postinstall.py
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, configuration, enhancement, minor, tools

#5532 Remember page on DS grid
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
Labels: Traffic Portal, bug

#5542 Use a Python 2.7-specific version of get-pip.py
  traffic_server/tsb/Dockerfile
Labels: Traffic Server, bug, build, dependencies, minor

#5535 Update Tomcat to 8.5.63
  CHANGELOG.md
  docs/source/development/traffic_router.rst
  traffic_router/build/build_rpm.sh
  traffic_router/build/pom.xml
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
Labels: Traffic Router, dependencies, enhancement

#5547 Set Traffic Router to only accept TLSv1.1 and TLSv1.2
  CHANGELOG.md
  traffic_router/core/src/main/conf/server.xml
Labels: Traffic Router, enhancement, improvement

#5546 Changed the condition for displaying success message when updating a topology
  traffic_portal/app/src/common/modules/form/topology/edit/FormEditTopologyController.js
Labels: Traffic Portal, bug

#5534 Update Tomcat to 9.0.43
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/build/build_rpm.sh
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
  traffic_router/tomcat-rpm/build_rpm.sh
  traffic_router/tomcat-rpm/tomcat.spec
Labels: Traffic Router, dependencies, improvement

#4644 Remove cacheurl from Delivery Services
  docs/source/api/v4/deliveryservice_requests.rst
  docs/source/api/v4/deliveryservice_requests_id_assign.rst
  docs/source/api/v4/deliveryservice_requests_id_status.rst
  docs/source/api/v4/deliveryservices.rst
  docs/source/api/v4/deliveryservices_id.rst
  docs/source/api/v4/deliveryservices_id_safe.rst
  docs/source/api/v4/servers_id_deliveryservices.rst
  docs/source/overview/delivery_services.rst
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/docker/traffic_router/run.sh
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/atscfg_test.go
  lib/go-atscfg/cacheurldotconfig.go
  lib/go-atscfg/cacheurldotconfig_test.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/regexremapdotconfig.go
  lib/go-atscfg/regexremapdotconfig_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
  lib/go-tc/deliveryservice_requests.go
  lib/go-tc/deliveryservices.go
  traffic_ops/client
  traffic_ops/testing/api/v1/federation_users_test.go
  traffic_ops/testing/api/v1/federations_test.go
  traffic_ops/testing/api/v4/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v4/cookie_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/testing/api/v4/serverservercapability_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/topologies_queue_update_test.go
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/testing/api/v4/traffic_control_test.go
  traffic_ops/traffic_ops_golang/cachegroup/dspost.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/validate.go
  traffic_ops/traffic_ops_golang/deliveryservice/safe.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v4-client/deliveryservice.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile_test.go
  traffic_ops_ort/atstccfg/cfgfile/routing.go
  traffic_ops_ort/atstccfg/cfgfile/wrappers.go
  traffic_ops_ort/atstccfg/toreq/toreq.go
  traffic_ops_ort/atstccfg/toreqnew/toreqnew.go
  traffic_ops_ort/testing/ort-tests/tcdata/steeringtargets.go
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: TO Client (Go), Traffic Ops, Traffic Portal, Traffic Router, cdn-in-a-box, documentation

#5550 TR: fix server.xml protocols list to use '+' instead of ','
  CHANGELOG.md
  traffic_router/core/src/main/conf/server.xml
Labels: Traffic Router, improvement

#5543 TR: Fix NullPointerException when given SNI hostname is null
  CHANGELOG.md
  traffic_router/connector/src/main/java/com/comcast/cdn/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
Labels: Traffic Router, bug

#5521 Fix TOclient topologies path
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/v3-client/topology.go
Labels: TO Client (Go), bug

#5515 Fix migration due to different constraint naming across PGSQL versions
  traffic_ops/app/db/migrations/2021010900000003_server_interface_ip_address_cascade.sql
Labels: Traffic Ops, bug, database

#5560 CiaB: Unset DIG_IP_RETRY for TO test and TP test
  infrastructure/cdn-in-a-box/docker-compose.traffic-ops-test.yml
  infrastructure/cdn-in-a-box/docker-compose.traffic-portal-test.yml
Labels: automation, cdn-in-a-box, minor, regression bug

#5568 CDN in a Box Traffic Ops: Add iproute package for ip command
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
Labels: cdn-in-a-box, dependencies, minor, regression bug

#5570 Update the Python TO client to API 3.0
  CHANGELOG.md
  infrastructure/cdn-in-a-box/ort/traffic_ops_ort/to_api.py
  traffic_control/clients/python/to_access/__init__.py
  traffic_control/clients/python/trafficops/__version__.py
  traffic_control/clients/python/trafficops/tosession.py
Labels: TC Client (python), tech debt

#5549 Update git ignore license headers for Traffic Portal integration test
  traffic_portal/test/integration/.gitignore
Labels: Traffic Portal, license, tests

#5573 Add missing TR HTTPS connector protocols
  infrastructure/ansible/roles/traffic-router/defaults/main.yml
Labels: Traffic Router, automation, configuration

#5564 Python 2.7 support for Python postinstall script
  docs/source/admin/traffic_ops.rst
  traffic_ops/build/traffic_ops.spec
  traffic_ops/install/bin/postinstall.py
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, configuration, improvement, minor, tech debt, tools

#5567 Take unmonitored interfaces into account while calculating bandwidth_kbps for caches
  CHANGELOG.md
  traffic_monitor/datareq/cachestate.go
  traffic_monitor/datareq/cachestate_test.go
Labels: Traffic Monitor, bug, improvement

#5538 Fix servers?dsID=<> route to return mids correctly
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, bug

#5572 Fix broken reference in docs to removed section
  docs/source/admin/traffic_ops.rst
Labels: bug, documentation, minor

#5577 Add terminating newline to stylesheet
  traffic_portal/app/src/common/modules/message/_message.scss
Labels: Traffic Portal, tech debt

#5579 Add TP login test and fix login function
  traffic_portal/test/integration/Data/Login/TestCases.json
  traffic_portal/test/integration/PageObjects/LoginPage.po.ts
  traffic_portal/test/integration/specs/ASNs.spec.ts
  traffic_portal/test/integration/specs/CDNs.spec.ts
  traffic_portal/test/integration/specs/CacheGroup.spec.ts
  traffic_portal/test/integration/specs/Coordinates.spec.ts
  traffic_portal/test/integration/specs/Divisions.spec.ts
  traffic_portal/test/integration/specs/Login.spec.ts
  traffic_portal/test/integration/specs/Origins.spec.ts
  traffic_portal/test/integration/specs/Parameters.spec.ts
  traffic_portal/test/integration/specs/PhysLocations.spec.ts
  traffic_portal/test/integration/specs/Profiles.spec.ts
  traffic_portal/test/integration/specs/Regions.spec.ts
  traffic_portal/test/integration/specs/ServerCapabilities.spec.ts
  traffic_portal/test/integration/specs/ServerServerCapabilities.spec.ts
  traffic_portal/test/integration/specs/Servers.spec.ts
  traffic_portal/test/integration/specs/ServiceCategories.spec.ts
  traffic_portal/test/integration/specs/Statuses.spec.ts
  traffic_portal/test/integration/specs/Types.spec.ts
Labels: Traffic Portal, cdn-in-a-box, tests

#5578 Select server topology ancestors from the same CDN as the base server
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
Labels: Traffic Ops, bug, medium

#5585 Fix TOclient topologies path (#5521)
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/v3-client/topology.go
Labels: backport

#5588 Fix servers?dsID=<> route to return mids correctly (#5538)
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: backport
