Repository apache/trafficcontrol, pull requests merged in 2021-11, with the labels that each got.

#6307 Add logic to every endpoint to be able to use the new permissions based authorization system
  .github/actions/to-integration-tests/cdn.json
  .github/actions/tp-integration-tests/cdn.json
  CHANGELOG.md
  docs/source/api/v3/capabilities.rst
  docs/source/api/v4/deliveryservices_dnsseckeys_generate.rst
  docs/source/api/v4/parameters_id.rst
  docs/source/api/v4/servers_hostname_update.rst
  docs/source/api/v4/service_categories_name.rst
  docs/source/api/v4/staticdnsentries.rst
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  traffic_ops/app/conf/cdn.conf
  traffic_ops/app/db/migrations/202110191500000000_add_permissions.down.sql
  traffic_ops/app/db/migrations/202110191500000000_add_permissions.up.sql
  traffic_ops/testing/api/v4/todb_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/cdn_lock/cdn_lock.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops_db/test/docker/run-db-test.sh
  traffic_portal/test/integration/Data/asns.ts
  traffic_portal/test/integration/Data/cachegroup.ts
  traffic_portal/test/integration/Data/cdn.ts
  traffic_portal/test/integration/Data/coordinates.ts
  traffic_portal/test/integration/Data/deliveryservices.ts
  traffic_portal/test/integration/Data/divisions.ts
  traffic_portal/test/integration/Data/origins.ts
  traffic_portal/test/integration/Data/parameters.ts
  traffic_portal/test/integration/Data/physlocations.ts
  traffic_portal/test/integration/Data/profiles.ts
  traffic_portal/test/integration/Data/regions.ts
  traffic_portal/test/integration/Data/servercapabilities.ts
  traffic_portal/test/integration/Data/servers.ts
  traffic_portal/test/integration/Data/serverservercapabilities.ts
  traffic_portal/test/integration/Data/servicecategories.ts
  traffic_portal/test/integration/Data/statuses.ts
  traffic_portal/test/integration/Data/tenant.ts
  traffic_portal/test/integration/Data/types.ts
Labels: Traffic Ops, medium, improvement

#6322 Fix GHA that checks db migration filenames to properly check timestamp digits
  .github/actions/todb-tests/entrypoint.sh
Labels: bug, minor, automation

#6310 Add ability to disable TM stats polling
  CHANGELOG.md
  docs/source/admin/traffic_monitor.rst
  traffic_monitor/config/config.go
  traffic_monitor/config/config_test.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/manager/health.go
  traffic_monitor/manager/manager.go
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/manager/opsconfig.go
  traffic_monitor/manager/stat.go
  traffic_monitor/threadsafe/polledcaches.go
Labels: new feature, Traffic Monitor

#6321 Fix the names of the migrations for roles and perms
  traffic_ops/app/db/migrations/2021110210014200_roles_and_permissions.down.sql
  traffic_ops/app/db/migrations/2021110210014200_roles_and_permissions.up.sql
  traffic_ops/app/db/migrations/2021110210031500_no_null_username.down.sql
  traffic_ops/app/db/migrations/2021110210031500_no_null_username.up.sql
  traffic_ops/app/db/migrations/2021110210060800_add_job_start_time_idx.down.sql
  traffic_ops/app/db/migrations/2021110210060800_add_job_start_time_idx.up.sql
  traffic_ops/app/db/migrations/2021110210075100_remove_user_role.down.sql
  traffic_ops/app/db/migrations/2021110210075100_remove_user_role.up.sql
  traffic_ops/app/db/migrations/2021110210085600_add_permissions.down.sql
  traffic_ops/app/db/migrations/2021110210085600_add_permissions.up.sql
Labels: bug, medium, database

#6118 Feature/refetch
  CHANGELOG.md
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  cache-config/t3cutil/getdatacfg.go
  cache-config/t3cutil/toreq/clientfuncs.go
  cache-config/t3cutil/toreq/conversions.go
  cache-config/testing/ort-tests/tcdata/todb.go
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/regexrevalidatedotconfig.go
  lib/go-atscfg/regexrevalidatedotconfig_test.go
  lib/go-tc/enum.go
  lib/go-tc/invalidationjobs.go
  lib/go-util/ptr.go
  traffic_ops/app/db/migrations/2021110211525600_refetch.down.sql
  traffic_ops/app/db/migrations/2021110211525600_refetch.up.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/testing/api/README.md
  traffic_ops/testing/api/v2/todb_test.go
  traffic_ops/testing/api/v3/todb_test.go
  traffic_ops/testing/api/v4/jobs_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/todb_test.go
  traffic_ops/testing/api/v4/traffic_control_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v4-client/job.go
  traffic_ops_db/test/docker/run-db-test.sh
  traffic_portal/app/src/common/api/JobService.js
Labels: new feature, Traffic Ops, cache-config

#6217 Traffic Stats logging use lib/go-log
  CHANGELOG.md
  docs/source/admin/traffic_stats.rst
  traffic_stats/traffic_stats.go
Labels: Traffic Stats, tech debt

#6320 Adds support to the tc-health-client for querying Traffic Monitors via a caching Proxy server.
  tc-health-client/README.md
  tc-health-client/config/config.go
  tc-health-client/tc-health-client.json
  tc-health-client/tmagent/tmagent.go
  traffic_monitor/tmclient/tmclient.go
Labels: improvement, tc-health-client

#6329 Allow 0 commits between latest release tag and release branch head
  .github/actions/fetch-github-branch-sha/Dockerfile
  .github/actions/fetch-github-branch-sha/README.md
  .github/actions/fetch-github-branch-sha/action.yml
  .github/actions/fetch-github-branch-sha/entrypoint.sh
  .github/workflows/cache-config-tests.yml
  .github/workflows/ciab.yaml
  infrastructure/cdn-in-a-box/bin/ats-version.sh
  infrastructure/cdn-in-a-box/traffic_portal/Dockerfile
Labels: bug, cdn-in-a-box, automation

#6330 #2770: Add validation for httpBypassFqdn as hostname in Traffic Ops
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
Labels: bug, Traffic Ops

#6328 Fix json response for invalid invalidation job. Moved CHANGELOG entry
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
Labels: bug, Traffic Ops, minor

#6296 Add Tests to the TO Go Client Federation API (Pagination controls)
  traffic_ops/testing/api/v4/cdnfederations_test.go
  traffic_ops/testing/api/v4/federation_resolvers_test.go
  traffic_ops/testing/api/v4/federation_users_test.go
  traffic_ops/testing/api/v4/federations_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: tests, improvement, TO Client (Go)

#6333 Fix nil panic from using var when err exists
  cache-config/t3c-apply/torequest/torequest.go
Labels: bug, minor, cache-config

#6325 Feature/tp refetch
  CHANGELOG.md
  cache-config/testing/ort-tests/tcdata/todb.go
  traffic_ops/testing/api/v2/todb_test.go
  traffic_ops/testing/api/v3/todb_test.go
  traffic_ops/testing/api/v4/crconfig_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/todb_test.go
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_portal/app/src/common/api/JobService.js
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/form.deliveryServiceJob.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/new/FormNewDeliveryServiceJobController.js
  traffic_portal/app/src/common/modules/form/job/form.job.tpl.html
  traffic_portal/app/src/common/modules/form/job/new/FormNewJobController.js
  traffic_portal/app/src/common/modules/table/jobs/TableJobsController.js
  traffic_portal/package-lock.json
  traffic_portal/test/integration/Data/jobs.ts
  traffic_portal/test/integration/PageObjects/Jobs.po.ts
Labels: Traffic Portal, improvement

#6332 Add warnings for Content Invalidation creation and documentation
  CHANGELOG.md
  docs/source/admin/quick_howto/content_invalidation.rst
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/form.deliveryServiceJob.tpl.html
  traffic_portal/app/src/common/modules/form/job/form.job.tpl.html
Labels: Traffic Portal, documentation, improvement

#6301 Removed log line making t3c-apply very repetitive.
  cache-config/t3c-apply/torequest/torequest.go
Labels: minor, cache-config, improvement

#6240 t3c setting mode 0600 for secure files
  CHANGELOG.md
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-apply/util/util.go
  cache-config/t3c-check-reload/README.md
  cache-config/t3c-check-reload/t3c-check-reload.go
  cache-config/t3c-diff/t3c-diff.go
  cache-config/t3c-generate/cfgfile/all.go
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  cache-config/t3c-generate/cfgfile/routing.go
  cache-config/t3c-generate/cfgfile/sslkeys.go
  cache-config/t3cutil/t3cutil.go
  cache-config/testing/ort-tests/t3c-check-reload_test.go
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/sslmulticertdotconfig.go
  lib/go-atscfg/urisigningconfig.go
  lib/go-atscfg/urlsigconfig.go
Labels: cache-config, improvement

#6341 Changes the t3c process locking so that no two simultaneous t3c instances run.
  cache-config/t3c-apply/t3c-apply.go
Labels: bug, minor, cache-config

#6345 Reference #6285 in changelog entry for #6286
  CHANGELOG.md
Labels: bug, minor, changelog

#6317 Add missing fields to PUT /topologies docs (v3 and v4)
  docs/source/api/v3/topologies.rst
  docs/source/api/v4/topologies.rst
Labels: bug, documentation, minor

#6311 Traffic Ops scripts: Do not set GOPATH
  CHANGELOG.md
  traffic_ops/etc/profile.d/traffic_ops.sh
  traffic_ops/install/bin/_postinstall.pl
Labels: Traffic Ops, install, improvement, unused code

#6324 Disallow affecting the "admin" Role.
  CHANGELOG.md
  docs/source/api/v4/roles.rst
  docs/source/glossary.rst
  docs/source/overview/roles.rst
  lib/go-tc/roles.go
  traffic_ops/app/db/migrations/2021111212042120_admin_all_permission.down.sql
  traffic_ops/app/db/migrations/2021111212042120_admin_all_permission.up.sql
  traffic_ops/app/db/patches.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/testing/api/v4/roles_test.go
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/role/roles.go
  traffic_portal/app/src/common/modules/form/role/FormRoleController.js
  traffic_portal/app/src/common/modules/form/role/form.role.tpl.html
Labels: Traffic Ops, Traffic Portal, documentation, improvement

#6349 Fix admin_all_permission down script invalid column
  traffic_ops/app/db/migrations/2021111212042120_admin_all_permission.down.sql
Labels: major, regression bug, database

#6350 Change hostnames used in docs
  docs/source/admin/traffic_router.rst
  docs/source/api/v2/cdns_name_snapshot_new.rst
  docs/source/api/v2/servercheck_extensions.rst
  docs/source/api/v3/servercheck_extensions.rst
  docs/source/api/v4/servercheck_extensions.rst
Labels: documentation

#6303 Remove references to previous repo path
  build/README.md
  cache-config/testing/docker/variables.env
  infrastructure/cdn-in-a-box/variables.env
  infrastructure/docker/README.md
  infrastructure/docker/traffic_ops/Dockerfile
  infrastructure/docker/traffic_ops/docker-compose.yml
  infrastructure/docker/traffic_server_edge/Dockerfile
  infrastructure/docker/traffic_server_mid/Dockerfile
  infrastructure/docker/traffic_stats/Dockerfile
  infrastructure/docker/traffic_vault/Dockerfile
  misc/git/README.md
  misc/git/pre-commit-hooks/01-gofmt
  misc/git/pre-commit-hooks/02-govet
  misc/git/pre-commit-hooks/03-golangci-lint
  misc/git/pre-commit-hooks/03-golint
  misc/git/pre-commit-hooks/99-gotest
Labels: minor, improvement, automation, process

#6351 TO DB Tests: Always run db downgrades
  traffic_ops_db/test/docker/run-db-test.sh
Labels: tests, database

#6342 Add/update documentation for content invalidation jobs in TO API v4
  docs/source/_static/theme_overrides.css
  docs/source/admin/quick_howto/content_invalidation.rst
  docs/source/admin/quick_howto/content_invalidation/01.png
  docs/source/admin/quick_howto/content_invalidation/03.png
  docs/source/admin/quick_howto/content_invalidation/04.png
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/api/v2/deliveryservices_request.rst
  docs/source/api/v2/jobs.rst
  docs/source/api/v2/servers_hostname_update_status.rst
  docs/source/api/v3/deliveryservices_request.rst
  docs/source/api/v3/jobs.rst
  docs/source/api/v3/servers_hostname_update_status.rst
  docs/source/api/v4/jobs.rst
  docs/source/api/v4/servers_hostname_update_status.rst
  docs/source/glossary.rst
  docs/source/overview/delivery_service_requests.rst
  docs/source/overview/jobs.rst
  docs/source/overview/profiles_and_parameters.rst
  docs/source/tools/atstccfg.rst
  lib/go-tc/invalidationjobs.go
  lib/go-tc/invalidationjobs_test.go
Labels: documentation, improvement

#6353 Handle `-` correctly in `traffic_vault_migrate`
  traffic_ops/app/db/traffic_vault_migrate/riak.go
Labels: bug, Traffic Vault, tools

#6355 Make t3c jobs work with previous TO 4.0
  cache-config/t3c-request/config/config.go
  cache-config/t3cutil/toreq/clientfuncs.go
  cache-config/t3cutil/toreq/conversions.go
  cache-config/testing/ort-tests/t3c-jobs_test.go
  lib/go-atscfg/atscfg.go
Labels: cache-config, improvement

#6346 Fix TO login DB contexts to inherit from the request context
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/login/login.go
Labels: bug, Traffic Ops, performance

#6360 disabled cgo in enroller in CiaB
  infrastructure/cdn-in-a-box/enroller/Dockerfile
Labels: cdn-in-a-box

#6359 Remove old E2E TP Test
  traffic_portal/test/e2e_deprecated/CDNs/cdns-spec.js
  traffic_portal/test/e2e_deprecated/CDNs/pageData.js
  traffic_portal/test/e2e_deprecated/README.md
  traffic_portal/test/e2e_deprecated/cacheGroups/cache-groups-spec.js
  traffic_portal/test/e2e_deprecated/cacheGroups/pageData.js
  traffic_portal/test/e2e_deprecated/common/commonFunctions.js
  traffic_portal/test/e2e_deprecated/conf-delivery-service-requests.js
  traffic_portal/test/e2e_deprecated/conf.js
  traffic_portal/test/e2e_deprecated/conf.json
  traffic_portal/test/e2e_deprecated/deliveryServiceRequests/delivery-service-requests-spec.js
  traffic_portal/test/e2e_deprecated/deliveryServiceRequests/pageData.js
  traffic_portal/test/e2e_deprecated/deliveryServices/delivery-services-spec.js
  traffic_portal/test/e2e_deprecated/deliveryServices/pageData.js
  traffic_portal/test/e2e_deprecated/divisions/divisions-spec.js
  traffic_portal/test/e2e_deprecated/divisions/pageData.js
  traffic_portal/test/e2e_deprecated/jobs/jobs-spec.js
  traffic_portal/test/e2e_deprecated/jobs/pageData.js
  traffic_portal/test/e2e_deprecated/login/login-spec.js
  traffic_portal/test/e2e_deprecated/parameters/pageData.js
  traffic_portal/test/e2e_deprecated/parameters/parameters-spec.js
  traffic_portal/test/e2e_deprecated/physLocations/pageData.js
  traffic_portal/test/e2e_deprecated/physLocations/phys-locations-spec.js
  traffic_portal/test/e2e_deprecated/profiles/pageData.js
  traffic_portal/test/e2e_deprecated/profiles/profiles-spec.js
  traffic_portal/test/e2e_deprecated/regions/pageData.js
  traffic_portal/test/e2e_deprecated/regions/regions-spec.js
  traffic_portal/test/e2e_deprecated/serverCapabilities/pageData.js
  traffic_portal/test/e2e_deprecated/serverCapabilities/server-capabilities-spec.js
  traffic_portal/test/e2e_deprecated/servers/pageData.js
  traffic_portal/test/e2e_deprecated/servers/servers-spec.js
  traffic_portal/test/e2e_deprecated/tenants/pageData.js
  traffic_portal/test/e2e_deprecated/tenants/tenants-spec.js
  traffic_portal/test/e2e_deprecated/topologies/pageData.js
  traffic_portal/test/e2e_deprecated/topologies/topologies-spec.js
  traffic_portal/test/e2e_deprecated/types/types-spec.js
  traffic_portal/test/e2e_deprecated/users/pageData.js
  traffic_portal/test/e2e_deprecated/users/users-spec.js
Labels: Traffic Portal, low impact, tests, tech debt, low effort

#6357 Add t3c retrying app lock
  CHANGELOG.md
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/util/util.go
  cache-config/testing/ort-tests/t3c-lockfile_test.go
Labels: cache-config, improvement

#6327 Fix t3c to invalidate cache if req keys change
  CHANGELOG.md
  cache-config/t3cutil/getdatacfg.go
  cache-config/testing/ort-tests/t3c-ims_test.go
  cache-config/testing/ort-tests/tc-fixtures.json
Labels: bug, cache-config

#6352 Migrate Delivery Service Request from E2E to integrated
  traffic_portal/test/integration/Data/deliveryservicerequest.ts
  traffic_portal/test/integration/PageObjects/DeliveryServiceRequestPage.po.ts
  traffic_portal/test/integration/specs/DeliveryServiceRequest.spec.ts
Labels: Traffic Portal, tests, improvement

#6363 Fix GET /cdns/routing endpoint
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/crstats/routing.go
  traffic_ops/traffic_ops_golang/crstats/routing_test.go
Labels: bug, Traffic Ops

#6356 Fix possible overflow in DNSSEC key parsing
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec.go
  traffic_ops/traffic_ops_golang/deliveryservice/dnssec_test.go
Labels: Traffic Ops, low impact, tech debt, low effort

#6337 updated database and added script to pull expiration info from cert data
  tools/fill_expiration_and_provider/fill_expiration_and_provider.go
  tools/fill_expiration_and_provider/fill_expiration_and_provider_conf.json
  traffic_ops/app/db/trafficvault/migrations/2021101310511200_add_expiration_and_provider_to_sslkeys.down.sql
  traffic_ops/app/db/trafficvault/migrations/2021101310511200_add_expiration_and_provider_to_sslkeys.up.sql
Labels: new feature, SSL, Traffic Vault

#6388 Print single quote in heredoc in subshell for Bash 3 compatibility
  pkg
Labels: bug, build
