Repository apache/trafficcontrol, pull requests merged in 2021-12, with the labels that each got.

#6313 Reduce Mutable State in t3c-apply
  CHANGELOG.md
  cache-config/t3c-apply/torequest/torequest.go
Labels: tech debt, cache-config, improvement

#6389 Update PUT user/current to work with v4 User Roles
  CHANGELOG.md
  lib/go-tc/users.go
  traffic_ops/traffic_ops_golang/user/current.go
Labels: Traffic Ops, high impact, regression bug

#6398 Add clarity and emphasis to REFRESH REFETCH options
  traffic_portal/app/src/common/modules/form/_form.scss
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/form.deliveryServiceJob.tpl.html
  traffic_portal/app/src/common/modules/form/job/form.job.tpl.html
Labels: Traffic Portal, improvement

#6408 Take topology-based DSes into account when checking DSS assignments
  CHANGELOG.md
  traffic_ops/testing/api/v4/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/delete.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
Labels: bug, Traffic Ops, high impact

#6409 Fix invalid option for "Build all projects, including optional ones."
  docs/source/development/building.rst
Labels: bug, documentation, low impact, build

#6406 Update README help doc for experimental package traffic_router_golang
  experimental/traffic_router_golang/README.md
Labels: documentation, experimental

#6362 Add deprecation notices to legacy Riak tools
  docs/source/tools/traffic_vault_util.rst
  experimental/emulated_vault/README.md
Labels: documentation, low impact, Traffic Vault, tech debt, experimental, low effort

#6418 GH Branch SHA GHA: Store commit SHA to _sha variable
  .github/actions/fetch-github-branch-sha/entrypoint.sh
Labels: bug, Traffic Server, automation

#6405 Fix t3c version in build
  CHANGELOG.md
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-check-refs/README.md
  cache-config/t3c-check-refs/config/config.go
  cache-config/t3c-check-refs/t3c-check-refs.go
  cache-config/t3c-check-reload/README.md
  cache-config/t3c-check-reload/t3c-check-reload.go
  cache-config/t3c-check/README.md
  cache-config/t3c-check/t3c-check.go
  cache-config/t3c-diff/README.md
  cache-config/t3c-diff/t3c-diff.go
  cache-config/t3c-generate/cfgfile/all.go
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  cache-config/t3c-generate/config/config.go
  cache-config/t3c-generate/t3c-generate.go
  cache-config/t3c-preprocess/README.md
  cache-config/t3c-preprocess/t3c-preprocess.go
  cache-config/t3c-request/README.md
  cache-config/t3c-request/config/config.go
  cache-config/t3c-request/t3c-request.go
  cache-config/t3c-update/README.md
  cache-config/t3c-update/config/config.go
  cache-config/t3c-update/t3c-update.go
  cache-config/t3c/README.md
  cache-config/t3c/t3c.go
  cache-config/t3cutil/t3cutil.go
Labels: cache-config, improvement

#6413 Remove t3c unused code
  cache-config/t3c-apply/torequest/torequest.go
Labels: tech debt, cache-config

#6386 Add t3c log for TO response Age and other things
  cache-config/t3cutil/getdatacfg.go
  cache-config/t3cutil/toreq/client.go
  cache-config/t3cutil/toreq/client_test.go
  cache-config/t3cutil/toreq/torequtil/torequtil.go
  cache-config/t3cutil/toreq/torequtil/torequtil_test.go
  lib/go-rfc/http.go
Labels: cache-config, improvement

#6414 Remove t3c unused plugin symbols
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-check-reload/t3c-check-reload.go
  cache-config/testing/ort-tests/t3c-check-reload_test.go
Labels: tech debt, cache-config

#6420 Set defaults for simplicity environment variables
  build/clean_build.sh
Labels: bug, build

#6426 TM peer and cache polling protocols default and docs
  docs/source/admin/traffic_monitor.rst
  traffic_monitor/conf/traffic_monitor.cfg
Labels: Traffic Monitor, documentation

#6428 Updated TM HTTP Poller to poll securely
  traffic_monitor/poller/poller_type_http.go
Labels: Traffic Monitor, SSL, improvement

#6338 Cert Expirations Traffic Ops Endpoint
  docs/source/api/v4/sslkey_expirations.rst
  lib/go-tc/deliveryservice_ssl_keys.go
  traffic_ops/app/db/trafficvault/migrations/2021121011532000_set_provider_not_null.down.sql
  traffic_ops/app/db/trafficvault/migrations/2021121011532000_set_provider_not_null.up.sql
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/disabled/disabled.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/riaksvc/riak.go
  traffic_ops/traffic_ops_golang/trafficvault/trafficvault.go
Labels: new feature, Traffic Ops, SSL

#6425 adds note to blueprint regarding lazy consensus option
  CONTRIBUTING.md
Labels: documentation

#6391 TPv2 Update Angular and make compilation stricter
  experimental/traffic-portal/.gitignore
  experimental/traffic-portal/angular.json
  experimental/traffic-portal/e2e/src/app.e2e-spec.ts
  experimental/traffic-portal/e2e/tsconfig.json
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/app.component.ts
  experimental/traffic-portal/src/app/core/currentuser/currentuser.component.html
  experimental/traffic-portal/src/app/core/currentuser/currentuser.component.spec.ts
  experimental/traffic-portal/src/app/core/currentuser/currentuser.component.ts
  experimental/traffic-portal/src/app/core/invalidation-jobs/invalidation-jobs.component.ts
  experimental/traffic-portal/src/app/core/new-delivery-service/new-delivery-service.component.ts
  experimental/traffic-portal/src/app/core/servers/servers-table/servers-table.component.ts
  experimental/traffic-portal/src/app/core/servers/update-status/update-status.component.html
  experimental/traffic-portal/src/app/core/servers/update-status/update-status.component.ts
  experimental/traffic-portal/src/app/core/users/users.component.html
  experimental/traffic-portal/src/app/models/invalidation.ts
  experimental/traffic-portal/src/app/models/user.ts
  experimental/traffic-portal/src/app/shared/api/UserService.ts
  experimental/traffic-portal/src/app/shared/charts/linechart.directive.ts
  experimental/traffic-portal/src/app/shared/currentUser/current-user.service.spec.ts
  experimental/traffic-portal/src/app/shared/currentUser/current-user.service.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.html
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.spec.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.ts
  experimental/traffic-portal/tsconfig.json
Labels: low impact, tech debt, experimental

#6438 Update log4j to 2.17
  CHANGELOG.md
  traffic_router/pom.xml
Labels: Traffic Router, tech debt

#6437 Removes invalid 'ALL cdn' options from TP
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/cdn/form.cdn.tpl.html
  traffic_portal/app/src/common/modules/header/HeaderController.js
Labels: Traffic Portal, regression bug

#6423 Fix TM stats_over_http parsing to sum DS data
  CHANGELOG.md
  traffic_monitor/cache/astats.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/stats_over_http.go
  traffic_monitor/ds/stat.go
  traffic_monitor/ds/stat_test.go
  traffic_monitor/manager/manager.go
  traffic_monitor/manager/stat.go
Labels: bug, Traffic Monitor
