Repository apache/trafficcontrol, pull requests merged in 2021-06, with the labels that each got.

#5897 Fix t3c rpm to create var/lib dir
  cache-config/build/trafficcontrol-cache-config.spec
  cache-config/testing/docker/ort_test/Dockerfile
  cache-config/testing/ort-tests/t3c-dirs_test.go
Labels: bug, cache configs, minor

#5885 Add TO Client API for Service Categories Automation
  traffic_ops/testing/api/v4/servicecategories_test.go
Labels: TO Client (Go), improvement, tests

#5907 Fix postinstall issues for new Traffic Vault PostgreSQL config
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/variables.env
  traffic_ops/install/bin/_postinstall
  traffic_ops/install/bin/input.json
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Vault, improvement, install

#5901 Remove TM build.sh script to avoid implicit rule build.sh -> build
  traffic_monitor/build.sh
Labels: Traffic Monitor, bug, cdn-in-a-box, minor

#5889 Add TO Client API for Cachegroup Automation
  traffic_ops/testing/api/v4/cachegroups_test.go
Labels: TO Client (Go), improvement, tests

#5908 Fix t3c parent.config gen for EDGE/MID+ Types
  CHANGELOG.md
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: bug, cache-config

#5923 Fix codeql t3c false positives
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/parentdotconfig.go
Labels: cache-config

#5920 Use ATS 8.1 in CDN in a Box
  .github/workflows/cache-config-tests.yml
  .github/workflows/ciab.yaml
  CHANGELOG.md
  build/clean_build.sh
  cache-config/testing/docker/docker-compose-ats-build.yml
  cache-config/testing/docker/trafficserver/Dockerfile
  cache-config/testing/docker/trafficserver/run.sh
  cache-config/testing/docker/trafficserver/trafficserver-8.spec
  cache-config/testing/docker/trafficserver/trafficserver-9.spec
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/.gitignore
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/cdn-in-a-box/bin/ats-version.sh
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/cache/run.sh
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/edge/init.d/99-run.sh
  infrastructure/cdn-in-a-box/mid/init.d/99-run.sh
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/020-ATS_MID_TIER_CACHE.json
Labels: Traffic Server, build, cache-config, cdn-in-a-box, improvement, os, tech debt

#5925 Use -p flag with `rpm -q` on the trafficserver RPM file
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/cache/run.sh
Labels: cdn-in-a-box, regression bug

#5917 ATS TSB Dockerfile: Define RHEL_VERSION in CMD
  pkg
  traffic_server/_tsb/Dockerfile
  traffic_server/_tsb/docker-compose.yml
  traffic_server/_tsb/run.sh
Labels: Traffic Server, bug, build

#5895 Add the ability to CRD CDN Locks
  CHANGELOG.md
  docs/source/api/v4/cdn_locks.rst
  lib/go-tc/cdn_lock.go
  traffic_ops/app/db/migrations/2021052400000000_add_cdn_lock.sql
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/traffic_ops_golang/cdn_lock/cdn_lock.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v4-client/cdn_lock.go
Labels: TO Client (Go), Traffic Ops, database, documentation

#5931 Add t3c test for dispersion flag
  cache-config/testing/ort-tests/t3c-apply-dispersion_test.go
  cache-config/testing/ort-tests/t3c_mode_test.go
  cache-config/testing/ort-tests/t3c_update_to_flags_test.go
  cache-config/testing/ort-tests/traffic_ops_ort_test.go
Labels: cache-config, tests

#5926 Add t3c-apply flag to wait for parents in syncds mode
  CHANGELOG.md
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-apply/torequest/torequest_test.go
  cache-config/testing/ort-tests/t3c-apply-wait-for-parents_test.go
Labels: cache-config, enhancement

#5900 Make TC Cache Config RPM dependencies platform-agnostic
  cache-config/build/trafficcontrol-cache-config.spec
Labels: bug, build, cache-config, minor

#5913 Re-encrypt Tool for TV Postgres
  .gitignore
  CHANGELOG.md
  docs/source/admin/traffic_vault.rst
  lib/go-util/encrypt.go
  traffic_ops/app/db/reencrypt/reencrypt.conf
  traffic_ops/app/db/reencrypt/reencrypt.go
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops.spec
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/encrypt.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/uri_signing_keys.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/url_sig_keys.go
Labels: Traffic Ops, Traffic Vault, enhancement

#5943 Bash 3 compatibility
  infrastructure/cdn-in-a-box/bin/ats-version.sh
  pkg
Labels: bug, build, cdn-in-a-box

#5940 Migrate division test from E2E to Integration
  traffic_portal/test/integration/Data/divisions.ts
  traffic_portal/test/integration/Data/users.ts
  traffic_portal/test/integration/PageObjects/Divisions.po.ts
  traffic_portal/test/integration/specs/Divisions.spec.ts
Labels: Traffic Portal, tests

#5896 Add TO Client API for Cachegroup Parameters Automation
  traffic_ops/testing/api/v4/cachegroups_parameters_test.go
  traffic_ops/v4-client/cachegroup_parameters.go
Labels: TO Client (Go), improvement, tests

#5948 Fix Traffic Monitor warning logger
  CHANGELOG.md
  traffic_monitor/config/config.go
  traffic_monitor/config/config_test.go
Labels: Traffic Monitor, bug

#5949 Remove /deliveryservices/request
  CHANGELOG.md
  docs/source/api/v1/deliveryservices_request.rst
  docs/source/api/v2/deliveryservice_requests.rst
  docs/source/api/v2/deliveryservices_request.rst
  docs/source/api/v3/deliveryservices_request.rst
  docs/source/api/v4/deliveryservice_requests.rst
  docs/source/api/v4/deliveryservices_request.rst
  docs/source/overview/delivery_service_requests.rst
  traffic_ops/traffic_ops_golang/deliveryservicerequests/deliveryservicerequests.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, tech debt

#5955 Fix failing CDNs integration tests in APIv4
  traffic_ops/testing/api/v4/cdns_test.go
Labels: TO Client (Go), bug, minor, tests

#5924 Add tool to migrate data between TV backends
  .gitignore
  CHANGELOG.md
  docs/source/development/traffic_ops.rst
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-util/encrypt.go
  lib/go-util/encrypt_test.go
  traffic_ops/app/db/reencrypt/reencrypt.go
  traffic_ops/app/db/traffic_vault_migrate/README.md
  traffic_ops/app/db/traffic_vault_migrate/pg.json
  traffic_ops/app/db/traffic_vault_migrate/postgres.go
  traffic_ops/app/db/traffic_vault_migrate/riak.go
  traffic_ops/app/db/traffic_vault_migrate/riak.json
  traffic_ops/app/db/traffic_vault_migrate/traffic_vault_migrate.go
  traffic_ops/app/db/traffic_vault_migrate/traffic_vault_migrate_test.go
  traffic_ops/app/db/trafficvault/create_tables.sql
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops.spec
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/uri_signing_keys.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/riaksvc/dsutil.go
  traffic_ops/v4-client/deliveryservice.go
Labels: Traffic Vault, database, tools

#5882 Move static files
  infrastructure/ansible/roles/dataset_loader/README.md
  infrastructure/ansible/roles/dataset_loader/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
Labels: ansible, automation, configuration

#5910 Blueprint/refetch
  blueprints/refetch-invalidation.md
Labels: blueprint

#5929 Migrate Delivery Service test from e2e to integration suite TP
  traffic_portal/test/integration/Data/deliveryservices.ts
  traffic_portal/test/integration/PageObjects/DeliveryServicePage.po.ts
  traffic_portal/test/integration/config.ts
  traffic_portal/test/integration/specs/DeliveryServices.spec.ts
Labels: Traffic Portal, tests

#5930 Locking down snap/ queue/ update status endpoints for a CDN
  blueprints/to-locks.md
  docs/source/api/v4/cdn_locks.rst
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/traffic_ops_golang/cachegroup/queueupdate.go
  traffic_ops/traffic_ops_golang/cdn/queue.go
  traffic_ops/traffic_ops_golang/cdn_lock/cdn_lock.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/server/put_status.go
  traffic_ops/traffic_ops_golang/server/queue_update.go
  traffic_ops/traffic_ops_golang/server/update.go
  traffic_ops/traffic_ops_golang/topology/queue_update.go
Labels: Traffic Ops, enhancement

#5973 Do not pick up release candidate tags when running `git describe`
  .github/workflows/ciab.yaml
  cache-config/testing/docker/trafficserver/trafficserver.spec
Labels: cache-config, cdn-in-a-box

#5976 Update Mockito to v3 and PowerMock to v2
  traffic_router/connector/pom.xml
  traffic_router/connector/src/test/java/secure/CertificateDataListenerTest.java
  traffic_router/core/pom.xml
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/config/ConfigHandlerTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/DNSAccessEventBuilderTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/NameServerTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManagerUnitTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneSignerImplTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/AbstractProtocolTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/TCPTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/protocol/UDPTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/hashing/ConsistentHasherTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/hashing/HashableTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/http/HTTPAccessEventBuilderTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/AbstractServiceUpdaterTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/loc/CoverageZoneTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/router/DNSRoutingMissesTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/router/GeoSortSteeringResultsTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouterTest.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/util/FetcherTest.java
  traffic_router/geolocation/pom.xml
  traffic_router/neustar/src/test/java/configuration/TrafficRouterConfigurationListenerTest.java
  traffic_router/neustar/src/test/java/data/NeustarDatabaseUpdaterTest.java
  traffic_router/neustar/src/test/java/data/TarExtractorTest.java
  traffic_router/pom.xml
  traffic_router/shared/pom.xml
Labels: Traffic Router, tech debt, tests

#5964 t3c-apply: enable and enhance reload states test
  CHANGELOG.md
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/testing/ort-tests/t3c-reload_test.go
Labels: cache-config, tests

#5933 Add t3c diff test
  cache-config/testing/ort-tests/t3c-apply-diff_test.go
Labels: cache-config, tests

#5986 Remove Long Desc 1 and Long Desc 2 fields from API 4.0
  CHANGELOG.md
  docs/source/api/v4/deliveryservice_requests.rst
  docs/source/api/v4/deliveryservice_requests_id_assign.rst
  docs/source/api/v4/deliveryservice_requests_id_status.rst
  docs/source/api/v4/deliveryservices.rst
  docs/source/api/v4/deliveryservices_id.rst
  docs/source/api/v4/deliveryservices_id_safe.rst
  docs/source/api/v4/servers_id_deliveryservices.rst
  docs/source/overview/delivery_services.rst
  lib/go-tc/deliveryservices.go
  traffic_ops/testing/api/v4/deliveryservice_requests_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/assign.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/status.go
  traffic_ops/traffic_ops_golang/deliveryservice/safe.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Ops, tech debt
