Repository apache/trafficcontrol, pull requests merged in 2021-10, with the labels that each got.

#6124 Role and User struct changes for permission based roles
  docs/source/api/v4/roles.rst
  docs/source/api/v4/user_current.rst
  docs/source/api/v4/users.rst
  docs/source/api/v4/users_id.rst
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/traffic_ops_data/users/010-tmonitor.json
  infrastructure/cdn-in-a-box/traffic_ops_data/users/020-tvault.json
  infrastructure/cdn-in-a-box/traffic_ops_data/users/030-tstats.json
  lib/go-tc/roles.go
  lib/go-tc/roles_test.go
  lib/go-tc/users.go
  lib/go-tc/users_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/cachegroups_test.go
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/testing/api/v4/crconfig_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/jobs_test.go
  traffic_ops/testing/api/v4/loginfail_test.go
  traffic_ops/testing/api/v4/profile_parameters_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/testing/api/v4/roles_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/testing/api/v4/staticdnsentries_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/testing/api/v4/traffic_control_test.go
  traffic_ops/testing/api/v4/user_test.go
  traffic_ops/traffic_ops_golang/apicapability/api_capabilities.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/login/register.go
  traffic_ops/traffic_ops_golang/role/roles.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/user/current.go
  traffic_ops/traffic_ops_golang/user/user.go
  traffic_ops/v4-client/role.go
  traffic_ops/v4-client/user.go
  traffic_portal/app/src/common/api/RoleService.js
  traffic_portal/app/src/common/modules/form/role/edit/FormEditRoleController.js
  traffic_portal/app/src/common/modules/form/role/form.role.tpl.html
  traffic_portal/app/src/common/modules/form/user/FormUserController.js
  traffic_portal/app/src/common/modules/form/user/form.user.tpl.html
  traffic_portal/app/src/common/modules/form/user/register/FormRegisterUserController.js
  traffic_portal/app/src/common/modules/form/user/register/form.user.register.tpl.html
  traffic_portal/app/src/common/modules/table/roleCapabilities/table.roleCapabilities.tpl.html
  traffic_portal/app/src/common/modules/table/roleUsers/table.roleUsers.tpl.html
  traffic_portal/app/src/common/modules/table/roles/TableRolesController.js
  traffic_portal/app/src/common/modules/table/roles/table.roles.tpl.html
  traffic_portal/app/src/common/modules/table/users/table.users.tpl.html
  traffic_portal/app/src/modules/private/roles/capabilities/index.js
  traffic_portal/app/src/modules/private/roles/edit/index.js
  traffic_portal/app/src/modules/private/roles/list/index.js
  traffic_portal/app/src/modules/private/roles/users/index.js
  traffic_portal/app/src/modules/private/user/UserController.js
  traffic_portal/app/src/modules/private/user/edit/UserEditController.js
  traffic_portal/test/integration/Data/prerequisites.ts
Labels: new feature, Traffic Ops, TO Client (Go)

#6243 Add cdn.conf option to disable automatic cert deletion
  .github/actions/to-integration-tests/cdn.json
  .github/actions/tp-integration-tests/cdn.json
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  docs/source/api/v2/snapshot.rst
  docs/source/api/v3/snapshot.rst
  docs/source/api/v4/snapshot.rst
  infrastructure/ansible/roles/traffic_ops/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/config/config_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deleteoldcerts.go
Labels: new feature, Traffic Ops, documentation, cdn-in-a-box, automation, ansible

#6253 Fix TP roles navigation
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/user/form.user.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/roleUsers/table.roleUsers.tpl.html
  traffic_portal/app/src/common/modules/table/tenantUsers/table.tenantUsers.tpl.html
  traffic_portal/app/src/modules/private/roles/users/index.js
Labels: bug, Traffic Portal
