Repository apache/trafficcontrol, pull requests merged in 2021-08, with the labels that each got.

#6075 Remove unused TM options from GHA
  .github/actions/tm-integration-tests/entrypoint.sh
Labels: tech debt, tests

#6063 Migrate Parameter test from E2E to integrate test suite TP
  traffic_portal/app/src/common/modules/table/parameters/table.parameters.tpl.html
  traffic_portal/test/integration/Data/parameters.ts
  traffic_portal/test/integration/PageObjects/ParametersPage.po.ts
  traffic_portal/test/integration/specs/Parameters.spec.ts
Labels: Traffic Portal, tests

#6076 Adding locks to federation resolvers
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/federation_resolvers/federation_resolvers.go
  traffic_ops/traffic_ops_golang/federations/federation_resolvers.go
  traffic_portal/app/src/common/modules/form/federation/edit/FormEditFederationController.js
Labels: Traffic Ops, new feature

#5467 T3c: DS parameter plugin args for slice, cache_range_requets, cachekey, url_sig, background_fetch
  CHANGELOG.md
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  cache-config/t3c-generate/cfgfile/wrappers.go
  cache-config/t3c-generate/config/config.go
  cache-config/t3cutil/getdatacfg.go
  docs/source/overview/profiles_and_parameters.rst
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: cache-config, new feature

#6079 Fix problems with the docs for the remap.config ConfigFile Parameters
  docs/source/overview/delivery_services.rst
  docs/source/overview/profiles_and_parameters.rst
Labels: bug, documentation

#6077 Prevent unassigning all ONLINE ORG servers from an active, MSO-enabled DS
  CHANGELOG.md
  traffic_ops/testing/api/v2/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/delete.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/server/put_status.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
Labels: Traffic Ops, new feature

#6070 Fix issues with Traffic Vault Migrate tool
  docs/source/development/traffic_ops.rst
  traffic_ops/app/db/traffic_vault_migrate/postgres.go
  traffic_ops/app/db/traffic_vault_migrate/traffic_vault_migrate.go
  traffic_ops/app/db/traffic_vault_migrate/traffic_vault_migrate_test.go
Labels: Traffic Vault, bug

#6047 Add t3c dns_local not inserting if it exists
  lib/go-atscfg/recordsdotconfig.go
  lib/go-atscfg/recordsdotconfig_test.go
Labels: cache-config, new feature

#6084 Fix atscfg tests
  lib/go-atscfg/recordsdotconfig_test.go
Labels: tests

#6086 Check if migration version is valid before all Migrate commands
  traffic_ops/app/db/admin.go
  traffic_ops_db/test/docker/run-db-test.sh
Labels: bug, Traffic Ops, database

#6055 Shorten and clarify PR and Issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-improvement-request.md
  PULL_REQUEST_TEMPLATE.md
  SECURITY.md
Labels: process

#6085 Deprecate old Traffic Ops API versions
  CHANGELOG.md
  docs/source/api/index.rst
  traffic_ops/v2-client/README.md
  traffic_ops/v3-client/README.md
  traffic_ops/v4-client/README.md
Labels: documentation, process

#6089 Traffic_vault_migrate strip riak formatting from URL Sig keys
  traffic_ops/app/db/traffic_vault_migrate/riak.go
Labels: bug, Traffic Vault

#6018 Consistent profile name restrictions
  CHANGELOG.md
  docs/source/overview/profiles_and_parameters.rst
  lib/go-tc/profiles.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/traffic_ops_golang/profile/copy.go
  traffic_ops/traffic_ops_golang/profile/profiles.go
  traffic_ops/traffic_ops_golang/profile/profiles_test.go
  traffic_portal/app/src/common/modules/form/profile/form.profile.tpl.html
Labels: bug, Traffic Ops, Traffic Portal, minor

#6040 Add/Update/Correct GoDoc comments under `lib/`
  lib/go-nagios/nagios.go
  lib/go-tc/cachegroup_parameter_associations.go
  lib/go-tc/cachegroup_parameters.go
  lib/go-tc/cachegroups.go
  lib/go-tc/capabilities.go
  lib/go-tc/cdns.go
  lib/go-tc/cdns_dnssec.go
  lib/go-tc/constants.go
  lib/go-tc/coordinates.go
  lib/go-tc/crconfig.go
  lib/go-tc/crsstats.go
  lib/go-tc/deliveryservice_regexes.go
  lib/go-tc/deliveryservice_requests.go
  lib/go-tc/deliveryservice_servers.go
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-tc/deliveryservices.go
  lib/go-tc/divisions.go
  lib/go-tc/doc.go
  lib/go-tc/domains.go
  lib/go-tc/enum.go
  lib/go-tc/federation.go
  lib/go-tc/invalidationjobs.go
  lib/go-tc/jobs.go
  lib/go-tc/origins.go
  lib/go-tc/parameters.go
  lib/go-tc/profile_parameters.go
  lib/go-tc/profiles.go
  lib/go-tc/regions.go
  lib/go-tc/roles.go
  lib/go-tc/servercheckextensions.go
  lib/go-tc/serverchecks.go
  lib/go-tc/servers.go
  lib/go-tc/stats_summary.go
  lib/go-tc/steeringtarget.go
  lib/go-tc/tenants.go
  lib/go-tc/time.go
  lib/go-tc/toextension.go
  lib/go-tc/topologies.go
  lib/go-tc/tovalidate/db.go
  lib/go-tc/tovalidate/doc.go
  lib/go-tc/tovalidate/rules.go
  lib/go-tc/tovalidate/validate.go
  lib/go-tc/traffic_monitor.go
  lib/go-tc/traffic_router.go
  lib/go-tc/traffic_stats.go
  lib/go-tc/types.go
  lib/go-tc/users.go
Labels: tech debt

#6045 Add an example/test for a utility function
  lib/go-util/join_test.go
Labels: minor, tests, improvement

#6054 Traffic Portal controls for Delivery Service TLS Versions
  traffic_portal/.gitignore
  traffic_portal/app/src/common/modules/form/_form.scss
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/clone/FormCloneDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/conf/configDev.js
Labels: Traffic Portal, minor, improvement

#6049 Add t3c arg to not set outgoing ip
  CHANGELOG.md
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-generate/README.md
  cache-config/t3c-generate/cfgfile/wrappers.go
  cache-config/t3c-generate/config/config.go
  cache-config/testing/ort-tests/t3c-no-outgoing-ip-flag_test.go
  lib/go-atscfg/recordsdotconfig.go
Labels: new feature, cache-config

#5937 Add atscfg volume.config tests.
  lib/go-atscfg/volumedotconfig.go
  lib/go-atscfg/volumedotconfig_test.go
Labels: tests, cache-config

#5935 Add atscfg storage.config generation tests
  lib/go-atscfg/storagedotconfig.go
  lib/go-atscfg/storagedotconfig_test.go
Labels: tests, cache-config

#6000 Add t3c mode flags
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-apply/torequest/torequest_test.go
  cache-config/t3c-apply/util/gitutil.go
  cache-config/t3c-apply/util/util.go
  cache-config/t3c-check-reload/t3c-check-reload.go
  cache-config/t3cutil/enum.go
  cache-config/testing/ort-tests/t3c-check-reload_test.go
  lib/go-atscfg/storagedotconfig_test.go
Labels: new feature, tech debt, cache-config

#6091 Fix cache config for https origins
  CHANGELOG.md
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: bug, cache-config

#6097 Adds the Traffic Monitor health client.
  cache-config/build/build_rpm.sh
  cache-config/build/trafficcontrol-cache-config.spec
  cache-config/tm-health-client/README.md
  cache-config/tm-health-client/config/config.go
  cache-config/tm-health-client/config/config_test.go
  cache-config/tm-health-client/config/test_files/credentials
  cache-config/tm-health-client/config/test_files/tm-health-client.json
  cache-config/tm-health-client/tm-health-client-logrotate
  cache-config/tm-health-client/tm-health-client.go
  cache-config/tm-health-client/tm-health-client.json
  cache-config/tm-health-client/tm-health-client.service
  cache-config/tm-health-client/tmutil/test_files/bin/traffic_ctl
  cache-config/tm-health-client/tmutil/test_files/etc/parent.config
  cache-config/tm-health-client/tmutil/test_files/etc/strategies.yaml
  cache-config/tm-health-client/tmutil/test_files/tm-health-client.json
  cache-config/tm-health-client/tmutil/tmutil.go
  cache-config/tm-health-client/tmutil/tmutil_test.go
Labels: new feature, cache-config

#6105 Remove t3c dispersion flags
  CHANGELOG.md
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-apply/torequest/torequest_test.go
  cache-config/testing/ort-tests/t3c-apply-dispersion_test.go
  cache-config/testing/ort-tests/t3c-apply-unset-update_test.go
  cache-config/testing/ort-tests/t3c-apply-wait-for-parents_test.go
  cache-config/testing/ort-tests/t3c-create-empty-file_test.go
  cache-config/testing/ort-tests/t3c-dns-local-bind_test.go
  cache-config/testing/ort-tests/t3c-git_test.go
  cache-config/testing/ort-tests/t3c-ims_test.go
  cache-config/testing/ort-tests/t3c-no-outgoing-ip-flag_test.go
  cache-config/testing/ort-tests/t3c-reload_test.go
  cache-config/testing/ort-tests/t3c_mode_test.go
  cache-config/testing/ort-tests/t3c_update_to_flags_test.go
  cache-config/testing/ort-tests/to_requester_test.go
  cache-config/testing/ort-tests/to_updater_test.go
  cache-config/testing/ort-tests/traffic_ops_ort_test.go
  cache-config/traffic_ops_ort.pl
  infrastructure/ansible/roles/ats/README.md
  infrastructure/ansible/roles/ats/defaults/main.yml
  infrastructure/ansible/roles/ats/tasks/ats.yml
  infrastructure/cdn-in-a-box/cache/run.sh
  infrastructure/cdn-in-a-box/cache/traffic_ops_ort.crontab
Labels: new feature, cache-config

#5848 User Permissions Blueprint
  blueprints/user.permissions.md
Labels: blueprint

#6096 `db/admin migrate`: Migrate first migration explicitly if DB version's migration is squashed
  docs/source/development/traffic_ops.rst
  traffic_ops/app/db/SQUASH.md
  traffic_ops/app/db/admin.go
  traffic_ops/app/db/squash_migrations.sh
  traffic_ops/build/traffic_ops.spec
Labels: bug, Traffic Ops, database

#6103 Add `.py` file extension to Python Postinstall script
  .github/actions/tp-integration-tests/entrypoint.sh
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/adduser.pl
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  traffic_ops/install/bin/_postinstall.py
  traffic_ops/install/bin/postinstall
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, cdn-in-a-box, install, automation

#6107 Use Python shebang in Python Postinstall
  traffic_ops/install/bin/_postinstall.py
  traffic_ops/install/bin/postinstall
Labels: Traffic Ops, install, improvement

#6110 Do not interpret horizontal rule as a setext-style header
  PULL_REQUEST_TEMPLATE.md
Labels: improvement, process

#6100 Remove more unused TM config options
  .github/actions/tm-integration-tests/entrypoint.sh
  CHANGELOG.md
  infrastructure/ansible/roles/traffic-monitor/defaults/main.yml
  infrastructure/ansible/roles/traffic-monitor/templates/traffic_monitor.cfg.j2
  infrastructure/cdn-in-a-box/traffic_monitor/traffic_monitor.cfg
  infrastructure/docker/traffic_monitor/run.sh
  traffic_monitor/cache/cache.go
  traffic_monitor/conf/traffic_monitor.cfg
  traffic_monitor/config/config.go
  traffic_monitor/config/config_test.go
  traffic_monitor/manager/manager.go
  traffic_monitor/manager/stat.go
  traffic_monitor/peer/peer.go
  traffic_monitor/poller/cache.go
  traffic_monitor/poller/monitorconfig.go
  traffic_monitor/tests/_integration/tm/Dockerfile_run.sh
  traffic_monitor/threadsafe/durationmap.go
Labels: Traffic Monitor, tech debt

#6108 Fix email content injection
  CHANGELOG.md
  docs/source/api/v2/deliveryservices_request.rst
  docs/source/api/v3/deliveryservices_request.rst
  lib/go-tc/deliveryservice_requests.go
Labels: bug, Traffic Ops, minor

#6087 TP fix styling issues on ag-grid component
  traffic_portal/app/src/common/modules/table/_table.scss
  traffic_portal/app/src/common/modules/table/agGrid/grid.tpl.html
Labels: bug, Traffic Portal, minor

#6109 Fix federations API when using same resolvers for multiple DSes
  CHANGELOG.md
  traffic_ops/testing/api/v4/federations_test.go
  traffic_ops/traffic_ops_golang/federations/federations.go
Labels: bug, Traffic Ops, major

#6121 Use `go install` to install go-junit-report
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
Labels: Traffic Ops, cdn-in-a-box, automation, dependencies

#6119 added rel="noreferrer" to the anchor where '<a href="{{::url}}" target="_blank"> is used
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
Labels: Traffic Portal, improvement

#6122 Fixed Federations IMS
  CHANGELOG.md
  traffic_ops/testing/api/v4/cdnfederations_test.go
  traffic_ops/testing/api/v4/federations_test.go
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
  traffic_ops/traffic_ops_golang/federations/allfederations.go
  traffic_ops/traffic_ops_golang/federations/federations.go
Labels: bug, Traffic Ops, improvement

#6120 TP tests alert logging
  .github/actions/tp-integration-tests/cdn.json
  .github/actions/tp-integration-tests/entrypoint.sh
  traffic_portal/test/integration/CommonUtils/API.ts
  traffic_portal/test/integration/CommonUtils/index.ts
  traffic_portal/test/integration/CommonUtils/utils.ts
  traffic_portal/test/integration/config.model.ts
  traffic_portal/test/integration/config.ts
  traffic_portal/test/integration/specs/ASNs.spec.ts
  traffic_portal/test/integration/specs/Coordinates.spec.ts
  traffic_portal/test/integration/specs/DeliveryServices.spec.ts
  traffic_portal/test/integration/specs/Divisions.spec.ts
  traffic_portal/test/integration/specs/Jobs.spec.ts
  traffic_portal/test/integration/specs/Origins.spec.ts
  traffic_portal/test/integration/specs/Parameters.spec.ts
  traffic_portal/test/integration/specs/PhysLocations.spec.ts
  traffic_portal/test/integration/specs/Profiles.spec.ts
  traffic_portal/test/integration/specs/Regions.spec.ts
  traffic_portal/test/integration/specs/ServerServerCapabilities.spec.ts
  traffic_portal/test/integration/specs/Servers.spec.ts
  traffic_portal/test/integration/specs/ServiceCategories.spec.ts
  traffic_portal/test/integration/specs/Statuses.spec.ts
  traffic_portal/test/integration/specs/Topologies.spec.ts
  traffic_portal/test/integration/specs/Types.spec.ts
Labels: Traffic Portal, tests, tech debt, automation

#6134 Run goose~schema_migrations trigger after UPDATE, not INSERT
  traffic_ops/app/db/migrations/00000000000000_init.up.sql
Labels: bug, Traffic Ops, database

#6128 Skip check for the past dbversion's migration existing if it is squashed
  .github/actions/todb-tests/entrypoint.sh
  traffic_ops/app/db/admin.go
  traffic_ops_db/test/docker/Dockerfile-db-admin
  traffic_ops_db/test/docker/run-db-test.sh
Labels: Traffic Ops, regression bug, tests, database

#6117 Prepare database for Roles and Permissions
  traffic_ops/app/db/migrations/2021081800000000_roles_and_permissions.down.sql
  traffic_ops/app/db/migrations/2021081800000000_roles_and_permissions.up.sql
  traffic_ops/app/db/migrations/2021081800000001_no_null_username.down.sql
  traffic_ops/app/db/migrations/2021081800000001_no_null_username.up.sql
Labels: database, improvement

#6149 Enable GH wiki
  .asf.yaml
Labels: new feature, process

#6150 Re-enable accidentally disabled features
  .asf.yaml
Labels: bug, major, process

#6153 Fix a null pointer exception when delivery service doesn't exist
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManager.java
Labels: Traffic Router
