Repository apache/trafficcontrol, pull requests merged in 2021-07, with the labels that each got.

#5984 Traffic Ops: log a warning instead of ignoring write errors
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/dbdump/dbdump.go
  traffic_ops/traffic_ops_golang/federation_resolvers/federation_resolvers.go
  traffic_ops/traffic_ops_golang/federations/federations.go
  traffic_ops/traffic_ops_golang/hwinfo/hwinfo.go
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_ops/traffic_ops_golang/login/logout.go
  traffic_ops/traffic_ops_golang/ping/ping.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/trafficstats/cache.go
  traffic_ops/traffic_ops_golang/trafficstats/deliveryservice.go
  traffic_ops/traffic_ops_golang/urisigning/urisigning.go
Labels: Traffic Ops, bug

#5982 Updated gopkg.in/yaml.v2 module to 2.2.8 and updated go version to 1.15.13
  GO_VERSION
  LICENSE
  go.mod
  go.sum
  vendor/github.com/ogier/pflag/.travis.yml
  vendor/github.com/ogier/pflag/LICENSE
  vendor/github.com/ogier/pflag/README.md
  vendor/github.com/ogier/pflag/bool.go
  vendor/github.com/ogier/pflag/duration.go
  vendor/github.com/ogier/pflag/flag.go
  vendor/github.com/ogier/pflag/float32.go
  vendor/github.com/ogier/pflag/float64.go
  vendor/github.com/ogier/pflag/int.go
  vendor/github.com/ogier/pflag/int32.go
  vendor/github.com/ogier/pflag/int64.go
  vendor/github.com/ogier/pflag/int8.go
  vendor/github.com/ogier/pflag/ip.go
  vendor/github.com/ogier/pflag/ipmask.go
  vendor/github.com/ogier/pflag/string.go
  vendor/github.com/ogier/pflag/uint.go
  vendor/github.com/ogier/pflag/uint16.go
  vendor/github.com/ogier/pflag/uint32.go
  vendor/github.com/ogier/pflag/uint64.go
  vendor/github.com/ogier/pflag/uint8.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/modules.txt
Labels: dependencies, go version

#5983 Make Traffic Stats fail over to other Traffic Monitors
  CHANGELOG.md
  traffic_stats/traffic_stats.go
  traffic_stats/traffic_stats_test.go
Labels: Traffic Stats, bug

#5989 Removing LD2 and LD3 fields from TP
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
Labels: Traffic Portal, tech debt

#5996 Remove references to unused use_tenancy parameter
  cache-config/testing/ort-tests/tc-fixtures.json
  docs/source/api/v4/profiles_id_parameters.rst
  docs/source/api/v4/profiles_name_name_parameters.rst
  docs/source/api/v4/system_info.rst
  docs/source/overview/profiles_and_parameters.rst
  infrastructure/ansible/roles/dataset_loader/defaults/main.yml
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/000-GLOBAL.json
  traffic_ops/app/db/patches.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
Labels: Traffic Ops, database, documentation, tech debt

#5957 Fix integration test
  .github/workflows/traffic-ops.yml
  lib/go-tc/constants.go
  traffic_ops/testing/api/v4/cachegroups_parameters_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_test.go
Labels: TO Client (Go), Traffic Ops, bug, tests

#5932 Add t3c-check-reload test
  cache-config/testing/ort-tests/t3c-check-reload_test.go
Labels: cache-config, tests

#5963 Fix t3c docs missing commands
  cache-config/t3c/README.md
  cache-config/t3c/t3c.go
Labels: cache-config, documentation

#5965 Fix Traffic Ops /deliveryserviceserver IMS requests
  CHANGELOG.md
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, bug

#5999 Change t3c-apply log options to -v and -s
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-check-refs/README.md
  cache-config/t3c-check-refs/config/config.go
  cache-config/t3c-check-refs/t3c-check-refs.go
  cache-config/t3c-generate/README.md
  cache-config/t3c-generate/config/config.go
  cache-config/t3c-request/README.md
  cache-config/t3c-request/config/config.go
  cache-config/t3c-request/t3c-request.go
  cache-config/t3c-update/README.md
  cache-config/t3c-update/config/config.go
  cache-config/testing/docker/ort_test/run.sh
  cache-config/testing/ort-tests/t3c-apply-unset-update_test.go
  cache-config/testing/ort-tests/t3c-apply-wait-for-parents_test.go
  cache-config/testing/ort-tests/t3c-create-empty-file_test.go
  cache-config/testing/ort-tests/t3c-dns-local-bind_test.go
  cache-config/testing/ort-tests/t3c-git_test.go
  cache-config/testing/ort-tests/t3c-reload_test.go
  cache-config/testing/ort-tests/to_requester_test.go
  cache-config/testing/ort-tests/to_updater_test.go
  cache-config/testing/ort-tests/traffic_ops_ort_test.go
  infrastructure/cdn-in-a-box/cache/run.sh
  infrastructure/cdn-in-a-box/cache/traffic_ops_ort.crontab
Labels: cache-config, enhancement

#5922 Per-Delivery Service TLS versions
  CHANGELOG.md
  docs/source/api/v4/deliveryservice_requests.rst
  docs/source/api/v4/deliveryservice_requests_id_assign.rst
  docs/source/api/v4/deliveryservice_requests_id_status.rst
  docs/source/api/v4/deliveryservices.rst
  docs/source/api/v4/deliveryservices_id.rst
  docs/source/api/v4/deliveryservices_id_safe.rst
  docs/source/api/v4/servers_id_deliveryservices.rst
  docs/source/overview/delivery_services.rst
  lib/go-tc/deliveryservices.go
  lib/go-tc/deliveryservices_test.go
  traffic_ops/app/db/migrations/2021061100000000_ds_tls_versions.sql
  traffic_ops/testing/api/v4/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v4/deliveryservice_requests_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/validate.go
  traffic_ops/traffic_ops_golang/deliveryservice/safe.go
  traffic_ops/v4-client/deliveryservice.go
Labels: Traffic Ops, enhancement

#6004 Less verbose CI test output
  .github/actions/go-test/entrypoint.sh
  .github/actions/tm-integration-tests/entrypoint.sh
  .github/actions/to-integration-tests/cdn.json
  .github/actions/to-integration-tests/entrypoint.sh
  .github/workflows/traffic-ops.yml
Labels: automation, improvement, tests

#5980 Handle pageination in Riak search
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/trafficvault/backends/riaksvc/riak_services.go
Labels: Traffic Ops, Traffic Vault, bug

#6007 Change warning on Server mask length to trigger at < 24 and reword message
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
Labels: Traffic Portal, improvement

#5974 Every endpoint that modifies a CDN, or components related to a CDN, needs to be "lock safe"
  traffic_ops/testing/api/v4/cachegroups_test.go
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/profile_parameters_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/dspost.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters.go
  traffic_ops/traffic_ops_golang/cdn/cdns.go
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/traffic_ops_golang/cdn/genksk.go
  traffic_ops/traffic_ops_golang/cdn/namedelete.go
  traffic_ops/traffic_ops_golang/cdn_lock/cdn_lock.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme_renew.go
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/safe.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/delete.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
  traffic_ops/traffic_ops_golang/deliveryservice/urlkey.go
  traffic_ops/traffic_ops_golang/deliveryservicesregexes/deliveryservicesregexes.go
  traffic_ops/traffic_ops_golang/federations/ds.go
  traffic_ops/traffic_ops_golang/origin/origins.go
  traffic_ops/traffic_ops_golang/profile/copy.go
  traffic_ops/traffic_ops_golang/profile/copy_test.go
  traffic_ops/traffic_ops_golang/profile/profile_import.go
  traffic_ops/traffic_ops_golang/profile/profiles.go
  traffic_ops/traffic_ops_golang/profileparameter/postparameterprofile.go
  traffic_ops/traffic_ops_golang/profileparameter/postprofileparameter.go
  traffic_ops/traffic_ops_golang/profileparameter/postprofileparametersbyid.go
  traffic_ops/traffic_ops_golang/profileparameter/postprofileparametersbyname.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/put_status.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
  traffic_ops/traffic_ops_golang/steeringtargets/steeringtargets.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
  traffic_ops/traffic_ops_golang/urisigning/urisigning.go
Labels: Traffic Ops, enhancement

#5993 Deprecate cachegroup parameters and remove from TO API v4 and TP
  CHANGELOG.md
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/api/migrating-from-v1.rst
  docs/source/api/v1/deliveryservices.rst
  docs/source/api/v1/deliveryservices_id.rst
  docs/source/api/v1/deliveryservices_id_safe.rst
  docs/source/api/v1/servers_id_deliveryservices.rst
  docs/source/api/v1/users_id_deliveryservices.rst
  docs/source/api/v2/cachegroupparameters.rst
  docs/source/api/v2/cachegroupparameters_id_parameterID.rst
  docs/source/api/v2/cachegroups_id_parameters.rst
  docs/source/api/v2/deliveryservice_requests.rst
  docs/source/api/v2/deliveryservice_requests_id_assign.rst
  docs/source/api/v2/deliveryservice_requests_id_status.rst
  docs/source/api/v2/deliveryservices.rst
  docs/source/api/v2/deliveryservices_id.rst
  docs/source/api/v2/deliveryservices_id_safe.rst
  docs/source/api/v2/servers_id_deliveryservices.rst
  docs/source/api/v3/cachegroupparameters.rst
  docs/source/api/v3/cachegroupparameters_id_parameterID.rst
  docs/source/api/v3/cachegroups_id_parameters.rst
  docs/source/api/v3/deliveryservice_requests.rst
  docs/source/api/v3/deliveryservice_requests_id_assign.rst
  docs/source/api/v3/deliveryservice_requests_id_status.rst
  docs/source/api/v3/deliveryservices.rst
  docs/source/api/v3/deliveryservices_id.rst
  docs/source/api/v3/deliveryservices_id_safe.rst
  docs/source/api/v3/servers_id_deliveryservices.rst
  docs/source/api/v4/cachegroupparameters.rst
  docs/source/api/v4/cachegroupparameters_id_parameterID.rst
  docs/source/api/v4/cachegroups_id_parameters.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api/v4/cachegroups_parameters_test.go
  traffic_ops/testing/api/v4/traffic_control_test.go
  traffic_ops/testing/api/v4/withobjs_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters_test.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/unassigned_parameters.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v4-client/cachegroup_parameters.go
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/api/CacheGroupParameterService.js
  traffic_portal/app/src/common/api/index.js
  traffic_portal/app/src/common/modules/form/cacheGroup/FormCacheGroupController.js
  traffic_portal/app/src/common/modules/form/cacheGroup/form.cacheGroup.tpl.html
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/TableCacheGroupParametersController.js
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/TableCacheGroupParamsUnassignedController.js
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/index.js
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/table.cacheGroupParameters.tpl.html
  traffic_portal/app/src/common/modules/table/cacheGroupParameters/table.cacheGroupParamsUnassigned.tpl.html
  traffic_portal/app/src/common/modules/table/cacheGroups/TableCacheGroupsController.js
  traffic_portal/app/src/modules/private/cacheGroups/parameters/index.js
Labels: Traffic Ops, Traffic Portal, tech debt

#5998 Remove unused deliveryservice.multi_site_origin_algorithm column
  traffic_ops/app/db/migrations/2021070600000000_remove_ds_mso_alg.sql
Labels: database, tech debt

#6013 Remove ort.py
  .github/workflows/docs.yml
  cache-config/.gitignore
  docs/source/admin/traffic_server.rst
  docs/source/api/v4/deliveryservices.rst
  docs/source/api/v4/deliveryservices_id.rst
  docs/source/conf.py
  docs/source/development/environment_variables.rst
  docs/source/development/index.rst
  docs/source/development/ort/traffic_ops_ort.configuration.rst
  docs/source/development/ort/traffic_ops_ort.main_routines.rst
  docs/source/development/ort/traffic_ops_ort.packaging.rst
  docs/source/development/ort/traffic_ops_ort.rst
  docs/source/development/ort/traffic_ops_ort.to_api.rst
  docs/source/development/ort/traffic_ops_ort.utils.rst
  docs/source/overview/delivery_services.rst
  docs/source/overview/profiles_and_parameters.rst
  docs/source/requirements.txt
  experimental/ort-python/README.rst
  experimental/ort-python/setup.py
  experimental/ort-python/traffic_ops_ort/__init__.py
  experimental/ort-python/traffic_ops_ort/config_files.py
  experimental/ort-python/traffic_ops_ort/configuration.py
  experimental/ort-python/traffic_ops_ort/main_routines.py
  experimental/ort-python/traffic_ops_ort/packaging.py
  experimental/ort-python/traffic_ops_ort/services.py
  experimental/ort-python/traffic_ops_ort/to_api.py
  experimental/ort-python/traffic_ops_ort/utils.py
  infrastructure/docker/build/Dockerfile-docs
Labels: Traffic Ops ORT *DEPRECATED*, automation, bug, documentation, tech debt

#5985 Add t3c If-Modified-Since Support
  CHANGELOG.md
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  cache-config/t3c-generate/toreq/clientfuncs.go
  cache-config/t3c-generate/toreqold/clientfuncs.go
  cache-config/t3c-request/README.md
  cache-config/t3c-request/config/config.go
  cache-config/t3c-request/getdata/getdata.go
  cache-config/t3cutil/enum.go
  cache-config/t3cutil/getdata.go
  cache-config/t3cutil/getdatacfg.go
  cache-config/testing/docker/traffic_ops/run.sh
  cache-config/testing/ort-tests/t3c-ims_test.go
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/regexrevalidatedotconfig.go
  lib/go-atscfg/regexrevalidatedotconfig_test.go
  lib/go-rfc/cachecontrol.go
  traffic_ops/toclientlib/toclientlib.go
  traffic_ops/v3-client/job.go
Labels: cache-config, enhancement

#6020 Update requests version required by the TO Python client
  traffic_control/clients/python/setup.py
Labels: TC Client (python), dependencies, tech debt

#5997 Remove unused backend_max_connections option from cdn.conf
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/config/config.go
Labels: Traffic Ops, tech debt

#6025 Remove now-unused ATS structures from lib/go-tc
  lib/go-tc/ats.go
Labels: tech debt

#5962 Expect redirect to edge-cache-010 through 012, not edge-cache-900 through edge-cache-902
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/RouterTest.java
  traffic_router/core/src/test/resources/publish/CrConfig3.json
Labels: Traffic Router, minor, tests

#6002 Remove test that isn't working properly
  traffic_ops/testing/api/v3/profile_parameters_test.go
Labels: TO Client (Go), bug, minor, tests

#6028 Remove types used only by removed APIv1 endpoints/client
  lib/go-tc/cachegroupfallback.go
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-tc/deliveryservices.go
  lib/go-tc/nullable_test.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/parameters_test.go
  traffic_ops/traffic_ops_golang/cachegroupparameter/unassigned_parameters.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/riaksvc/dsutil.go
  traffic_ops/v2-client/dsuser.go
Labels: Traffic Ops, tech debt

#6019 Add ability for TR to strip its special query params from responses
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/router/TrafficRouterTest.java
Labels: Traffic Router, enhancement

#6015 Add Go TO client method for getting servers by deliveryservice
  CHANGELOG.md
  lib/go-tc/deliveryservice_servers.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/v3-client/deliveryserviceserver.go
  traffic_ops/v4-client/deliveryserviceserver.go
Labels: TO Client (Go), enhancement

#6029 Fix maxmind database update and reload
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-apply/util/util.go
Labels: cache-config

#6014 Support queueing updates by type and profile
  CHANGELOG.md
  docs/source/api/v4/cdns_id_queue_update.rst
  traffic_ops/testing/api/v4/cdn_queue_updates_by_type_profile_test.go
  traffic_ops/traffic_ops_golang/cdn/queue.go
  traffic_ops/v4-client/cdn.go
  traffic_portal/app/src/common/api/ProfileService.js
  traffic_portal/app/src/common/api/TypeService.js
  traffic_portal/app/src/common/modules/form/profile/FormProfileController.js
  traffic_portal/app/src/common/modules/form/profile/form.profile.tpl.html
  traffic_portal/app/src/common/modules/form/type/FormTypeController.js
  traffic_portal/app/src/common/modules/form/type/form.type.tpl.html
Labels: Traffic Ops, Traffic Portal, enhancement

#6041 Remove API 1.x references
  test/router/js/load-test.jsx
  test/router/server/server.go
Labels: experimental, tech debt

#6044 Remove unmaintained, unused, legacy ATC website
  .dependency_license
  .gitignore
  LICENSE
  misc/traffic-control-cdn/css/bootstrap-theme.css
  misc/traffic-control-cdn/css/bootstrap-theme.css.map
  misc/traffic-control-cdn/css/bootstrap-theme.min.css
  misc/traffic-control-cdn/css/bootstrap.css
  misc/traffic-control-cdn/css/bootstrap.css.map
  misc/traffic-control-cdn/css/bootstrap.min.css
  misc/traffic-control-cdn/css/home.css
  misc/traffic-control-cdn/downloads/index.html
  misc/traffic-control-cdn/favicon.ico
  misc/traffic-control-cdn/images/atc_logo.png
  misc/traffic-control-cdn/images/header_bkgd.png
  misc/traffic-control-cdn/images/main_bkgd.png
  misc/traffic-control-cdn/images/tc_logo.png
  misc/traffic-control-cdn/images/traffic_monitor_logo.png
  misc/traffic-control-cdn/images/traffic_operations_logo.png
  misc/traffic-control-cdn/images/traffic_portal_logo.png
  misc/traffic-control-cdn/images/traffic_router_logo.png
  misc/traffic-control-cdn/images/traffic_stats_logo.png
  misc/traffic-control-cdn/index.html
  misc/traffic-control-cdn/js/bootstrap.js
  misc/traffic-control-cdn/js/bootstrap.min.js
  misc/traffic-control-cdn/traffic_monitor/index.html
  misc/traffic-control-cdn/traffic_ops/index.html
  misc/traffic-control-cdn/traffic_portal/index.html
  misc/traffic-control-cdn/traffic_router/index.html
  misc/traffic-control-cdn/traffic_stats/index.html
Labels: tech debt

#6050 Do not display the "More" button on the types that are not used by server table
  traffic_portal/app/src/common/modules/form/type/form.type.tpl.html
Labels: Traffic Portal, bug, minor

#6046 Improve the DNSSEC refresh API
  CHANGELOG.md
  docs/source/api/v4/cdns_dnsseckeys_refresh.rst
  lib/go-tc/async_status.go
  traffic_ops/app/bin/checks/DnssecRefresh/ToDnssecRefresh.go
  traffic_ops/app/bin/checks/ToDnssecRefresh.pl
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/traffic_ops_golang/api/async_status.go
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v4-client/async_status.go
  traffic_ops/v4-client/cdn_dnssec.go
Labels: Traffic Ops, documentation, enhancement

#6026 Remove duplicate download go func
  .github/actions/check-go-modules/entrypoint.sh
  .github/actions/pr-to-update-go/update_golang_org_x.sh
  .github/actions/tm-integration-tests/entrypoint.sh
  .github/actions/to-integration-tests/entrypoint.sh
  .github/actions/tp-integration-tests/entrypoint.sh
  .github/workflows/check-go-modules.yml
  .github/workflows/go.vet.yml
  .github/workflows/pr-to-update-go.yml
  .github/workflows/tm.integration.tests.yml
  .github/workflows/tp.integration.tests.yml
  .github/workflows/traffic-ops.yml
  go.sum
Labels: automation, improvement, tech debt

#6006 Fix CLI flags being ignored in traffic_vault_migrate
  traffic_ops/app/db/traffic_vault_migrate/postgres.go
  traffic_ops/app/db/traffic_vault_migrate/riak.go
  traffic_ops/app/db/traffic_vault_migrate/traffic_vault_migrate.go
Labels: Traffic Vault, database, tools

#6031 TP convert ag-grid tables to component
  traffic_portal/app/src/common/modules/table/agGrid/CommonGridController.d.ts
  traffic_portal/app/src/common/modules/table/agGrid/CommonGridController.js
  traffic_portal/app/src/common/modules/table/agGrid/grid.tpl.html
  traffic_portal/app/src/common/modules/table/cacheGroupServers/TableCacheGroupServersController.js
  traffic_portal/app/src/common/modules/table/cacheGroupServers/table.cacheGroupServers.tpl.html
  traffic_portal/app/src/common/modules/table/cdnNotifications/TableCDNNotificationsController.js
  traffic_portal/app/src/common/modules/table/cdnNotifications/table.cdnNotifications.tpl.html
  traffic_portal/app/src/common/modules/table/cdnServers/TableCDNServersController.js
  traffic_portal/app/src/common/modules/table/cdnServers/table.cdnServers.tpl.html
  traffic_portal/app/src/common/modules/table/changeLogs/TableChangeLogsController.js
  traffic_portal/app/src/common/modules/table/changeLogs/table.changeLogs.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/TableDeliveryServiceJobsController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/table.deliveryServiceJobs.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/jobs/TableJobsController.js
  traffic_portal/app/src/common/modules/table/jobs/table.jobs.tpl.html
  traffic_portal/app/src/common/modules/table/notifications/TableNotificationsController.js
  traffic_portal/app/src/common/modules/table/notifications/table.notifications.tpl.html
  traffic_portal/app/src/common/modules/table/physLocationServers/TablePhysLocationServersController.js
  traffic_portal/app/src/common/modules/table/physLocationServers/table.physLocationServers.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/TableProfileServersController.js
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
  traffic_portal/app/src/common/modules/table/statusServers/TableStatusServersController.js
  traffic_portal/app/src/common/modules/table/statusServers/table.statusServers.tpl.html
  traffic_portal/app/src/common/modules/table/topologyServers/TableTopologyServersController.js
  traffic_portal/app/src/common/modules/table/topologyServers/table.topologyServers.tpl.html
  traffic_portal/app/src/common/modules/table/typeServers/TableTypeServersController.js
  traffic_portal/app/src/common/modules/table/typeServers/table.typeServers.tpl.html
  traffic_portal/app/src/styles/theme.scss
  traffic_portal/test/integration/PageObjects/ServersPage.po.ts
Labels: Traffic Portal, improvement

#6035 Fix Internal server error in delete types by invalid id
  traffic_ops/traffic_ops_golang/types/types.go
  traffic_ops/traffic_ops_golang/types/types_test.go
Labels: Traffic Ops, bug

#5990 Add TO Client API for Servercapabilityautomation Automation
  traffic_ops/testing/api/v4/servercapabilities_test.go
Labels: Traffic Ops, cdn-in-a-box, tests

#6056 Remove unused TM config options
  CHANGELOG.md
  infrastructure/ansible/roles/traffic-monitor/defaults/main.yml
  infrastructure/ansible/roles/traffic-monitor/templates/traffic_monitor.cfg.j2
  infrastructure/cdn-in-a-box/traffic_monitor/traffic_monitor.cfg
  infrastructure/docker/traffic_monitor/run.sh
  traffic_monitor/conf/traffic_monitor.cfg
  traffic_monitor/config/config.go
  traffic_monitor/config/config_test.go
  traffic_monitor/tests/_integration/tm/Dockerfile_run.sh
Labels: Traffic Monitor, tech debt

#6038 Remove structs/funcs only used by the removed TO API version 1
  lib/go-tc/hardware.go
  lib/go-tc/profiles.go
  lib/go-tc/servers.go
  lib/go-tc/stats_summary.go
  lib/go-tc/traffic_stats.go
  lib/go-tc/users.go
  traffic_ops/traffic_ops_golang/crconfig/handler.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/region/name.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: tech debt

#6051 TM: do not populate delivery service disabled locations
  CHANGELOG.md
  traffic_monitor/datareq/datareq_test.go
  traffic_monitor/ds/stat.go
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
  traffic_monitor/manager/statecombiner.go
Labels: Traffic Monitor, bug

#5941 Show delivery service ID in TR log output
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/DNSAccessEventBuilder.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/DNSAccessRecord.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManager.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/http/HTTPAccessEventBuilder.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/http/HTTPAccessRecord.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/http/RouterFilter.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/router/HTTPRouteResult.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/DNSAccessEventBuilderTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/protocol/AbstractProtocolTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/http/HTTPAccessEventBuilderTest.java
Labels: Traffic Router, improvement

#6065 Collapse DB migrations that have already been released (pre-ATCv6)
  .github/actions/todb-tests/entrypoint.sh
  CHANGELOG.md
  traffic_ops/app/db/create_tables.sql
  traffic_ops/app/db/migrations/20181206000000_create_monitor_snapshots.sql
  traffic_ops/app/db/migrations/20190219000000_add_consistent_hash_regex.sql
  traffic_ops/app/db/migrations/20190319000000_add_max_origin_connections.sql
  traffic_ops/app/db/migrations/20190513000000_add-allowed_query_keys.sql
  traffic_ops/app/db/migrations/20191004000000_add_server_capabilities.sql
  traffic_ops/app/db/migrations/20191005000000_add_server_server_capability.sql
  traffic_ops/app/db/migrations/20191024000000_add_deliveryservices_required_capability.sql
  traffic_ops/app/db/migrations/20191215000000_add_ecs_enabled.sql
  traffic_ops/app/db/migrations/20200218000000_add_dns_challenges.sql
  traffic_ops/app/db/migrations/20200227000000_add_ds_slice_block_size.sql
  traffic_ops/app/db/migrations/20200313000000_add_server_ip_toggles.sql
  traffic_ops/app/db/migrations/20200408000000_add_lets_encrypt_account_info.sql
  traffic_ops/app/db/migrations/20200422101648_create_topology_tables.sql
  traffic_ops/app/db/migrations/20200507000000_interfaces.sql
  traffic_ops/app/db/migrations/2020061622101648_add_new_header_rewrite.sql
  traffic_ops/app/db/migrations/2020062923101648_add_deleted_tables.sql
  traffic_ops/app/db/migrations/2020072700000000_remove_redundancy.sql
  traffic_ops/app/db/migrations/2020081000000000_add_deliveryservice_service_category.sql
  traffic_ops/app/db/migrations/2020081108261100_add_server_ip_profile_trigger.sql
  traffic_ops/app/db/migrations/2020082000000000_add_server_status_last_updated.sql
  traffic_ops/app/db/migrations/2020082700000000_server_id_primary_key.sql
  traffic_ops/app/db/migrations/2020103000000000_remove_service_category_tenancy.sql
  traffic_ops/app/db/migrations/2020110200000000_add_service_category_deleted.sql
  traffic_ops/app/db/migrations/2021010900000000_server_ip_profile_trigger_update.sql
  traffic_ops/app/db/migrations/2021010900000001_move_lets_encrypt_to_acme.sql
  traffic_ops/app/db/migrations/2021010900000002_add_max_request_header_size_delivery_service.sql
  traffic_ops/app/db/migrations/2021010900000003_server_interface_ip_address_cascade.sql
  traffic_ops/app/db/migrations/2021012200000000_max_request_header_bytes_default_zero.sql
Labels: Traffic Ops, database, improvement

#5960 Add TO Client API for Origin Automation
  traffic_ops/testing/api/v4/origins_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: Traffic Ops, tests

#5905 Add TO Client API for Jobs Automation
  traffic_ops/testing/api/v4/jobs_test.go
Labels: TO Client (Go), improvement, tests

#6043 Adding CDN locks for remaining endpoints
  traffic_ops/testing/api/v4/staticdnsentries_test.go
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
  traffic_ops/traffic_ops_golang/deliveryservice/urlkey.go
  traffic_ops/traffic_ops_golang/federations/ds.go
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
  traffic_portal/app/src/common/api/FederationService.js
Labels: Traffic Ops, new feature

#6062 Fix TV Postgres reencrypt tool
  .dependency_license
  .github/actions/todb-tests/README.md
  .github/actions/todb-tests/entrypoint.sh
  .github/workflows/traffic.ops.database.yml
  traffic_ops/app/db/reencrypt/reencrypt.go
  traffic_ops/app/db/trafficvault/test/.gitignore
  traffic_ops/app/db/trafficvault/test/Dockerfile-db-admin
  traffic_ops/app/db/trafficvault/test/Dockerfile-tvdb
  traffic_ops/app/db/trafficvault/test/README.md
  traffic_ops/app/db/trafficvault/test/aes.key
  traffic_ops/app/db/trafficvault/test/data/dnssec.dat
  traffic_ops/app/db/trafficvault/test/data/sslkey.dat
  traffic_ops/app/db/trafficvault/test/data/urisigningkey.dat
  traffic_ops/app/db/trafficvault/test/data/urlsigkey.dat
  traffic_ops/app/db/trafficvault/test/docker-compose.yml
  traffic_ops/app/db/trafficvault/test/goose-config.sh
  traffic_ops/app/db/trafficvault/test/initdb.d/01-turn-on-logging.sh
  traffic_ops/app/db/trafficvault/test/initdb.d/10-create-roles.sh
  traffic_ops/app/db/trafficvault/test/initdb.d/90-load-dumps.sh
  traffic_ops/app/db/trafficvault/test/new-aes.key
  traffic_ops/app/db/trafficvault/test/reencrypt-config.sh
  traffic_ops/app/db/trafficvault/test/run-tvdb-test.sh
  traffic_ops/build/traffic_ops.spec
Labels: Traffic Vault, bug

#6067 Migrate Physical Location test from E2E to integrate test suite TP
  traffic_portal/test/integration/Data/physlocations.ts
  traffic_portal/test/integration/PageObjects/PhysLocationsPage.po.ts
  traffic_portal/test/integration/specs/PhysLocations.spec.ts
Labels: Traffic Portal, tests

#6073 t3c updates in ansible playbooks
  CHANGELOG.md
  infrastructure/ansible/roles/ats/defaults/main.yml
  infrastructure/ansible/roles/ats/tasks/ats.yml
Labels: ansible, automation, configuration

#6059 updating all APi 1.x endpoints to 2.0 for compatibility
  CHANGELOG.md
  infrastructure/ansible/influxdb_relay.yml
  infrastructure/ansible/roles/dataset_loader/defaults/main.yml
  infrastructure/ansible/roles/dataset_loader/profile.parameter.conversion.md
  infrastructure/ansible/roles/dataset_loader/tasks/dataset_loader.yml
  infrastructure/ansible/roles/dataset_loader/tasks/ds_loader.yml
  infrastructure/ansible/roles/dataset_loader/tasks/update_mso_servers.yml
  infrastructure/ansible/roles/dataset_loader/templates/server.j2
  infrastructure/ansible/roles/to_api/tasks/login.yml
  infrastructure/ansible/roles/to_api/tasks/queue_updates.yml
  infrastructure/ansible/roles/to_api/tasks/set_server_status.yml
  infrastructure/ansible/roles/to_api/tasks/snapshot.yml
  infrastructure/ansible/roles/traffic_portal/defaults/main.yml
  infrastructure/ansible/sample.lab/ansible/vars.yml
Labels: ansible, automation, improvement
