Repository apache/trafficcontrol, pull requests merged in 2021-03, with the labels that each got.

#5582 Copying over tests and config changes from 5.1
  traffic_ops/testing/api/v4/serverservercapability_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: Traffic Ops, tests

#5544 added status endpoint for async tasks
  CHANGELOG.md
  docs/source/api/v4/acme_autorenew.rst
  docs/source/api/v4/async_status.rst
  traffic_ops/app/db/migrations/2021022300000000_add_async_status_table.sql
  traffic_ops/traffic_ops_golang/api/async_status.go
  traffic_ops/traffic_ops_golang/api/async_status_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
  traffic_ops/traffic_ops_golang/deliveryservice/letsencryptcert.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, documentation, minor

#5569 Replace outdated Traffic Control graphic
  docs/source/overview/images/traffic.control.overview.png
  docs/source/overview/images/traffic.control.overview.svg
  docs/source/overview/images/traffic_control_overview_3.png
  docs/source/overview/introduction.rst
Labels: documentation, enhancement

#5594 Remove tests for non existent perl endpoints
  .github/actions/to-integration-tests/traffic-ops-test.json
  traffic_ops/testing/api/conf/traffic-ops-test.conf
  traffic_ops/testing/api/config/config.go
  traffic_ops/testing/api/v1/federation_users_test.go
  traffic_ops/testing/api/v1/federations_test.go
  traffic_ops/testing/api/v1/userdeliveryservices_test.go
  traffic_ops/testing/api/v1/withobjs_test.go
Labels: Traffic Ops, regression bug, tests

#5596 Updates for cdn/{{name}}/snapshot endpoint in ansible roles
  infrastructure/ansible/roles/dataset_loader/tasks/dataset_loader.yml
  infrastructure/ansible/roles/to_api/tasks/snapshot.yml
Labels: automation, regression bug

#5592 DNSSEC keys should not be created with ANY_MAP services
  lib/go-tc/enum.go
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
Labels: Traffic Ops, enhancement

#5526 Fix issues with flot
  .github/actions/tp-e2e-tests/entrypoint.sh
  build/functions.sh
  traffic_portal/app/src/common/modules/chart/bps/ChartBPSController.js
  traffic_portal/app/src/common/modules/chart/httpStatus/ChartHttpStatusController.js
  traffic_portal/app/src/common/modules/chart/tps/ChartTPSController.js
  traffic_portal/app/src/common/modules/widget/cdnChart/WidgetCDNChartController.js
  traffic_portal/bower.json
  traffic_portal/grunt/browserify.js
  traffic_portal/package-lock.json
  traffic_portal/package.json
Labels: Traffic Portal, medium, regression bug

#5598 TR: cache and reuse RRSIG records to avoid unnecessary re-signing
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/RRSIGCacheKey.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/RRsetKey.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/SignatureManager.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/SignedZoneKey.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneManager.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneSigner.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneSignerImpl.java
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/java/com/comcast/cdn/traffic_control/traffic_router/core/dns/ZoneSignerImplTest.java
Labels: Traffic Router, improvement, performance

#5595 Fixes the ORT Integration tests TO docker container.
  traffic_ops_ort/testing/docker/docker-compose.yml
  traffic_ops_ort/testing/docker/traffic_ops/Dockerfile
  traffic_ops_ort/testing/docker/traffic_ops/run.sh
  traffic_ops_ort/testing/docker/variables.env
Labels: Traffic Ops ORT

#5527 LICENSE file cleanup
  .github/workflows/ciab.yaml
  LICENSE
  licenses/AL2-RobotoSlab
  licenses/BSD-go-sqlmock
  licenses/BSD-go-uuid
  licenses/BSD-miekg-dns
  licenses/BSD-pflag
  licenses/BSD-seelog
  licenses/BSD-sphinx_rtd_theme_search
  licenses/MIT-angular_bootstrap_contextmenu
  licenses/MIT-asn1-ber
  licenses/MIT-bootstrap
  licenses/MIT-ldap
  licenses/MIT-modernizr
  licenses/MIT-sphinx_rtd_theme
  licenses/MIT-sqlx
  licenses/MIT-tc_angular_chartjs
Labels: license

#5612 More LICENSE file cleanup
  LICENSE
Labels: license

#5603 Removing non existent route /tools/flash_and_close/{message}
  traffic_ops/traffic_ops_golang/crconfig/handler.go
Labels: Traffic Ops, minor, regression bug

#5600 Adding check for safer conversion between types
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/cachesstats/cachesstats.go
  traffic_ops/traffic_ops_golang/cachesstats/cachesstats_test.go
Labels: Traffic Ops, improvement

#5623 Limit HTTP GET method for TR endpoint ‘/crs/stats’ (#3741)
  traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_router/api/controllers/StatsController.java
Labels: Traffic Router, tech debt

#5616 Fixed GET /servercheck filtering for unknown and extra query param
  CHANGELOG.md
  traffic_ops/testing/api/v4/serverchecks_test.go
  traffic_ops/traffic_ops_golang/servercheck/servercheck.go
Labels: Traffic Ops, bug, minor

#5489 Non-"CRUD-er" DSRs
  CHANGELOG.md
  docs/source/api/v2/deliveryservice_requests.rst
  docs/source/api/v3/deliveryservice_requests.rst
  docs/source/api/v4/deliveryservice_requests.rst
  docs/source/api/v4/deliveryservice_requests_id_assign.rst
  docs/source/api/v4/deliveryservice_requests_id_status.rst
  docs/source/glossary.rst
  lib/go-rfc/cachecontrol.go
  lib/go-rfc/http.go
  lib/go-tc/deliveryservice_requests.go
  lib/go-tc/deliveryservice_requests_test.go
  lib/go-tc/time.go
  traffic_ops/testing/api/v1/deliveryservice_requests_test.go
  traffic_ops/testing/api/v2/deliveryservice_requests_test.go
  traffic_ops/testing/api/v3/deliveryservice_requests_test.go
  traffic_ops/testing/api/v4/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v4/deliveryservice_requests_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/traffic_control_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/generic_crud.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/assign.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/status.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/validate.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/util/ims/ims.go
  traffic_ops/v3-client/session.go
  traffic_ops/v4-client/deliveryservice_requests.go
  traffic_portal/app/src/common/api/DeliveryServiceRequestService.js
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
Labels: Traffic Ops, bug, enhancement

#5619 Fix Ordering of PURGE Deny for atscfg
  CHANGELOG.md
  lib/go-atscfg/ipallowdotconfig.go
  lib/go-atscfg/ipallowdotconfig_test.go
Labels: Traffic Ops ORT, improvement

#5620 Convert the fakeOrigin tool to leverage pkg and standard ATC version
  infrastructure/docker/build/Dockerfile-fakeOrigin
  infrastructure/docker/build/docker-compose-opt.yml
  pkg
  test/fakeOrigin/Dockerfile.build_rpm
  test/fakeOrigin/README.md
  test/fakeOrigin/build/README.md
  test/fakeOrigin/build/build_rpm.sh
  test/fakeOrigin/build/fakeOrigin.spec
  test/fakeOrigin/docker-compose.build_rpm.yml
  test/fakeOrigin/docker-compose.yml
  test/fakeOrigin/fakeOrigin.go
  test/fakeOrigin/version.go
  test/fakeOrigin/version/VERSION
  test/fakeOrigin/version/version.go
Labels: build, minor, tools

#5631 Add RHEL version to grove RPM filename
  grove/build/build_rpm.sh
  grove/grovetccfg/build/build_rpm.sh
Labels: build, grove, minor

#5632 Allow sphinx to use multiple cpu cores
  docs/Makefile
Labels: build, documentation, minor

#5637 Fix malformed table
  docs/source/api/v4/deliveryservice_requests_id_status.rst
Labels: bug, documentation, minor

#5639 Rename tsb directory to _tsb to have `go` ignore it
  infrastructure/docker/build/docker-compose-opt.yml
  infrastructure/docker/build/docker-compose-opt.yml.ats
  traffic_server/_tsb/.dependency_license
  traffic_server/_tsb/.gitignore
  traffic_server/_tsb/Dockerfile
  traffic_server/_tsb/cjose.pic.patch
  traffic_server/_tsb/docker-compose.yml
  traffic_server/_tsb/jansson.pic.patch
  traffic_server/_tsb/patches.yml
  traffic_server/_tsb/repos.yml
  traffic_server/_tsb/run.sh
  traffic_server/_tsb/traffic_server_jemalloc
  traffic_server/_tsb/trafficserver.spec
Labels: Traffic Server, build

#5644 Add ORT ATS9 ip_allow.yaml generation
  CHANGELOG.md
  lib/go-atscfg/ipallowdotyaml.go
  lib/go-atscfg/ipallowdotyaml_test.go
  lib/go-atscfg/meta.go
  traffic_ops_ort/atstccfg/cfgfile/routing.go
  traffic_ops_ort/atstccfg/cfgfile/wrappers.go
Labels: Traffic Ops ORT, enhancement

#5583 Fix t3c reload and updPending unset
  traffic_ops_ort/t3c/torequest/torequest.go
Labels: Traffic Ops ORT, bug

#5536 Fix atscfg comparing pointers not values
  CHANGELOG.md
  lib/go-atscfg/headerrewritemiddotconfig.go
  lib/go-atscfg/headerrewritemiddotconfig_test.go
Labels: Traffic Ops ORT, bug

#5634 Update changelog and security
  CHANGELOG.md
  SECURITY.md
Labels: process, tech debt

#5646 List 1 path specification and license per bundled dependency
  LICENSE
Labels: license

#5611 servers/details endpoint
  CHANGELOG.md
  traffic_control/clients/python/trafficops/tosession.py
Labels: TC Client (python), enhancement

#5551 Update ORT/atstccfg old client to V3
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/atscfg_test.go
  traffic_ops_ort/atstccfg/atstccfg.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile.go
  traffic_ops_ort/atstccfg/cfgfile/cfgfile_test.go
  traffic_ops_ort/atstccfg/config/config.go
  traffic_ops_ort/atstccfg/getdata/getdata.go
  traffic_ops_ort/atstccfg/toreq/client.go
  traffic_ops_ort/atstccfg/toreq/clientfuncs.go
  traffic_ops_ort/atstccfg/toreq/conversions.go
  traffic_ops_ort/atstccfg/toreqnew/toreqnew.go
  traffic_ops_ort/atstccfg/toreqold/client.go
  traffic_ops_ort/atstccfg/toreqold/clientfuncs.go
  traffic_ops_ort/atstccfg/toreqold/conversions.go
  traffic_ops_ort/atstccfg/torequtil/torequtil.go
  traffic_ops_ort/to_requester/config/config.go
  traffic_ops_ort/to_requester/getdata/getdata.go
  traffic_ops_ort/to_requester/to_requester.go
Labels: Traffic Ops ORT, tech debt

#5645 Add ORT dns local bind inference
  CHANGELOG.md
  lib/go-atscfg/atscfg_test.go
  lib/go-atscfg/recordsdotconfig.go
  lib/go-atscfg/recordsdotconfig_test.go
  traffic_ops_ort/atstccfg/cfgfile/wrappers.go
  traffic_ops_ort/atstccfg/config/config.go
  traffic_ops_ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, enhancement

#5650 Fix logrotate permissions for Traffic Stats
  CHANGELOG.md
  traffic_stats/build/traffic_stats.spec
Labels: Traffic Stats, bug

#5610 [5.1.x backport] LICENSE file cleanup
  .github/workflows/ciab.yaml
  LICENSE
  licenses/AL2-RobotoSlab
  licenses/BSD-go-sqlmock
  licenses/BSD-go-uuid
  licenses/BSD-miekg-dns
  licenses/BSD-pflag
  licenses/BSD-seelog
  licenses/BSD-sphinx_rtd_theme_search
  licenses/MIT-angular_bootstrap_contextmenu
  licenses/MIT-asn1-ber
  licenses/MIT-bootstrap
  licenses/MIT-ldap
  licenses/MIT-modernizr
  licenses/MIT-sphinx_rtd_theme
  licenses/MIT-sqlx
  licenses/MIT-tc_angular_chartjs
Labels: backport

#5615 If-UnModified-Since/If-Match Improvements
  traffic_ops/testing/api/v4/servercapabilities_test.go
  traffic_ops/testing/api/v4/serverservercapability_test.go
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/servercapability/servercapability.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
  traffic_ops/v4-client/servercapability.go
  traffic_ops/v4-client/topology.go
Labels: Traffic Ops, improvement

#5651 Le fix 5.1.x
  traffic_ops/traffic_ops_golang/deliveryservice/letsencryptcert.go
Labels: Traffic Ops, bug

#5654 Remove crconfig generation warning for topology-based DSes
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/crconfig/servers.go
Labels: Traffic Ops, bug

#5537 update service category header rewrite logic
  lib/go-atscfg/headerrewritedotconfig.go
Labels: Traffic Ops ORT, bug

#5655 TM init.d script: Append to traffic_monitor.log
  CHANGELOG.md
  traffic_monitor/build/traffic_monitor.init
Labels: Traffic Monitor, bug, logging

#5574 Fix ORT to reload traffic server when lua scripts are added or changed.
  CHANGELOG.md
  traffic_ops_ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT

#5641 Fix atscfg header rewrite injection
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/headerrewritedotconfig_test.go
  lib/go-atscfg/headerrewritemiddotconfig.go
  lib/go-atscfg/headerrewritemiddotconfig_test.go
  lib/go-atscfg/topologyheaderrewritedotconfig.go
  traffic_ops_ort/atstccfg/cfgfile/routing.go
  traffic_ops_ort/atstccfg/cfgfile/wrappers.go
Labels: Traffic Ops ORT, bug

#5648 Add t3c git flag to track config changes in git
  CHANGELOG.md
  traffic_ops_ort/build/traffic_ops_ort.spec
  traffic_ops_ort/t3c/README.md
  traffic_ops_ort/t3c/config/config.go
  traffic_ops_ort/t3c/t3c.go
  traffic_ops_ort/t3c/util/gitutil.go
  traffic_ops_ort/testing/ort-tests/t3c-git_test.go
Labels: Traffic Ops ORT, enhancement

#5657 Fix atscfg Service Category Header to be Internal
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/remapdotconfig.go
Labels: Traffic Ops ORT, bug

#5642 Fix ORT TO minor fallback
  CHANGELOG.md
  traffic_ops_ort/atstccfg/toreq/client.go
  traffic_ops_ort/atstccfg/toreqold/client.go
Labels: Traffic Ops ORT, bug

#5660 Fix TP E2E CI Tests
  .github/actions/tp-e2e-tests/entrypoint.sh
Labels: automation, bug, minor, tests

#5659 Fix atscfg edge case where a remap line could get added without a file
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: Traffic Ops ORT, bug

#5656 Add t3c dns-local-bind
  traffic_ops_ort/t3c/README.md
  traffic_ops_ort/t3c/config/config.go
  traffic_ops_ort/t3c/torequest/torequest.go
  traffic_ops_ort/testing/docker/ort_test/run.sh
  traffic_ops_ort/testing/ort-tests/t3c-dns-local-bind_test.go
Labels: Traffic Ops ORT, enhancement

#5566 Fix table styling causing horizontal overflow
  CHANGELOG.md
  traffic_monitor/static/style.css
Labels: Traffic Monitor, bug

#5652 A PR check to ensure migration file added is the latest
  .github/actions/todb-tests/Dockerfile
  .github/actions/todb-tests/entrypoint.sh
  .github/workflows/traffic.ops.database.yml
  CHANGELOG.md
Labels: enhancement, tests

#5669 Fix ORT integration tests
  traffic_ops_ort/testing/ort-tests/t3c-git_test.go
  traffic_ops_ort/testing/ort-tests/t3c_mode_test.go
  traffic_ops_ort/testing/ort-tests/util/util.go
Labels: Traffic Ops ORT, tests

#5672 Fix TODB tests when providing initial DB dump to test with
  traffic_ops_db/test/docker/initdb.d/90-load-dumps.sh
  traffic_ops_db/test/docker/run-db-test.sh
Labels: bug, database, tests

#5673 Support testing PostgreSQL 9.6 dumps under PostgreSQL 13
  traffic_ops_db/test/docker/Dockerfile-db
  traffic_ops_db/test/docker/Dockerfile-db-admin
  traffic_ops_db/test/docker/docker-compose.yml
  traffic_ops_db/test/docker/goose-config.sh
  traffic_ops_db/test/docker/initdb.d/90-load-dumps.sh
  traffic_ops_db/test/docker/run-db-test.sh
Labels: bug, database, tests

#5668 Added tests for Cachegroup and Deliveryservice Pagination
  traffic_ops/testing/api/v4/cachegroups_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
Labels: Traffic Ops, tests

#5684 Remove extra TP Integration Tests readme
  traffic_portal/test/integration/Readme.md
Labels: Traffic Portal, documentation, tests

#5681 Use the Python Postinstall implementation by default
  .github/workflows/postinstall.tests.yml
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  docs/source/development/traffic_ops.rst
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/variables.env
  traffic_ops/install/bin/_postinstall
  traffic_ops/install/bin/_postinstall.pl
  traffic_ops/install/bin/input.json
  traffic_ops/install/bin/postinstall
  traffic_ops/install/bin/postinstall.py
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, automation, cdn-in-a-box, dependencies, improvement, install

#5584 Tp/remove unused integration test imports
  .dependency_license
  traffic_portal/test/integration/PageObjects/ASNs.po.ts
  traffic_portal/test/integration/PageObjects/CDNPage.po.ts
  traffic_portal/test/integration/PageObjects/CacheGroup.po.ts
  traffic_portal/test/integration/PageObjects/Divisions.po.ts
  traffic_portal/test/integration/PageObjects/OriginsPage.po.ts
  traffic_portal/test/integration/PageObjects/PhysLocationsPage.po.ts
  traffic_portal/test/integration/PageObjects/ProfilesPage.po.ts
  traffic_portal/test/integration/PageObjects/RegionsPage.po.ts
  traffic_portal/test/integration/PageObjects/ServerCapabilitiesPage.po.ts
  traffic_portal/test/integration/PageObjects/ServersPage.po.ts
  traffic_portal/test/integration/PageObjects/ServiceCategories.po.ts
  traffic_portal/test/integration/PageObjects/SideNavigationPage.po.ts
  traffic_portal/test/integration/PageObjects/Statuses.po.ts
  traffic_portal/test/integration/PageObjects/TenantsPage.po.ts
  traffic_portal/test/integration/PageObjects/TopNavigationPage.po.ts
  traffic_portal/test/integration/PageObjects/Types.po.ts
  traffic_portal/test/integration/PageObjects/UsersPage.po.ts
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
  traffic_portal/test/integration/pnpm-lock.yaml
  traffic_portal/test/integration/specs/CDNs.spec.ts
Labels: Traffic Portal, tech debt, tests

#5688 Remove compare tool
  CHANGELOG.md
  docs/source/development/environment_variables.rst
  docs/source/development/traffic_ops.rst
  docs/source/tools/compare.rst
  traffic_ops/testing/compare/.gitignore
  traffic_ops/testing/compare/Dockerfile
  traffic_ops/testing/compare/README.md
  traffic_ops/testing/compare/compare.go
  traffic_ops/testing/compare/genConfigRoutes.py
  traffic_ops/testing/compare/testroutes.txt
Labels: tech debt, tests

#5691 Convert deprecated LDAP key `hostname` to `host`
  infrastructure/ansible/roles/traffic_ops/templates/postinstall.input.j2
  traffic_ops/install/bin/_postinstall
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, automation, configuration, install, regression bug

#5649 Add blueprint for Traffic Vault Interface
  blueprints/trafficvault-interface.md
Labels: blueprint

#5692 Use `curl` to download the MaxMind database, not `wget`
  traffic_ops/install/bin/_postinstall
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, install, regression bug

#5653 Remove CDN in a Box Makefile directory check
  infrastructure/cdn-in-a-box/Makefile
Labels: build, cdn-in-a-box, improvement

#5693 Add `goose` to the `PATH` and log to `stdout`
  traffic_ops/install/bin/_postinstall
  traffic_ops/install/bin/postinstall
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, install
