Repository apache/trafficcontrol, pull requests merged in 2021-01, with the labels that each got.

#5392 Updating a non existent DS should return a 404, instead of a 500
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_test.go
Labels: Traffic Ops, bug

#5399 fixed docs for acme_accounts endpoints
  docs/source/api/v3/acme_accounts.rst
  docs/source/api/v3/acme_accounts_provider_email.rst
Labels: documentation, minor

#5397 Return the correct error while trying to update the root tenant
  CHANGELOG.md
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tenants_test.go
  traffic_ops/traffic_ops_golang/apitenant/tenant.go
  traffic_ops/v3-client/tenant.go
Labels: Traffic Ops, bug

#5400 TP: adds the ability to clone a topology
  CHANGELOG.md
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/form/topology/FormTopologyController.js
  traffic_portal/app/src/common/modules/form/topology/clone/FormCloneTopologyController.js
  traffic_portal/app/src/common/modules/form/topology/clone/index.js
  traffic_portal/app/src/common/modules/form/topology/form.topology.tpl.html
  traffic_portal/app/src/modules/private/topologies/clone/index.js
  traffic_portal/test/end_to_end/topologies/pageData.js
  traffic_portal/test/end_to_end/topologies/topologies-spec.js
Labels: Traffic Portal, enhancement

#5403 Fixed TP and ATC documentation for field: Max DNS Answers
  CHANGELOG.md
  docs/source/overview/delivery_services.rst
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
Labels: Traffic Ops, Traffic Portal, bug, documentation

#5411 Fix TP docker test
  infrastructure/cdn-in-a-box/docker-compose.traffic-portal-test.yml
Labels: Traffic Portal, cdn-in-a-box, tests

#5404 TO unable to unassign ORG server from delivery services if it's the last assigned
  CHANGELOG.md
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/delete.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, bug

#5416 Limit which Topology parent CacheGroup Servers to check for updates
  lib/go-tc/enum.go
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
Labels: Traffic Ops

#5402 Cascade server delete to ip address and interfaces
  CHANGELOG.md
  traffic_ops/app/db/migrations/2021010600000000_server_interface_ip_address_cascade.sql
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, improvement, minor

#5387 Add a required capability to CDN in a Box's demo1 Delivery Service
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices_required_capabilities/010-HDD-demo1.json
  infrastructure/cdn-in-a-box/traffic_ops_data/server_capabilities/010-HDD.json
  infrastructure/cdn-in-a-box/traffic_ops_data/server_server_capabilities/010-HDD-edge.json
  infrastructure/cdn-in-a-box/traffic_ops_data/server_server_capabilities/010-HDD-mid-01.json
  infrastructure/cdn-in-a-box/traffic_ops_data/server_server_capabilities/010-HDD-mid-02.json
Labels: cdn-in-a-box, enhancement

#5337 Ort diff-tool for t3c
  .dependency_license
  LICENSE
  traffic_ops_ort/t3c-diff-tool/t3c-diff-tool.go
  traffic_ops_ort/t3cutil/t3cutil.go
  vendor/github.com/kylelemons/godebug/.travis.yml
  vendor/github.com/kylelemons/godebug/LICENSE
  vendor/github.com/kylelemons/godebug/README.md
  vendor/github.com/kylelemons/godebug/diff/diff.go
  vendor/github.com/kylelemons/godebug/diff/diff_test.go
  vendor/github.com/kylelemons/godebug/go.mod
  vendor/github.com/kylelemons/godebug/pretty/doc.go
  vendor/github.com/kylelemons/godebug/pretty/examples_test.go
  vendor/github.com/kylelemons/godebug/pretty/public.go
  vendor/github.com/kylelemons/godebug/pretty/public_test.go
  vendor/github.com/kylelemons/godebug/pretty/reflect.go
  vendor/github.com/kylelemons/godebug/pretty/reflect_test.go
  vendor/github.com/kylelemons/godebug/pretty/structure.go
  vendor/github.com/kylelemons/godebug/pretty/structure_test.go
Labels: Traffic Ops ORT, enhancement, experimental

#5388 CDN in a Box: Origin fixes
  infrastructure/cdn-in-a-box/origin/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices/010-ciab.json
Labels: bug, cdn-in-a-box, minor

#5428 Fixed TO log warning when generating snapshots for topology-based delivery services
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/crconfig/servers.go
Labels: Traffic Ops, bug

#5414 Add atscfg parent.config topology and delivery service comment
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  traffic_ops_ort/atstccfg/cfgfile/wrappers.go
Labels: Traffic Ops ORT, enhancement

#5425 Ignore parent upd_pending for parent ORG_LOC-type Cache Groups
  traffic_ops/testing/api/v3/serverupdatestatus_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
Labels: Traffic Ops, regression bug

#5429 Remove debug print
  lib/go-atscfg/headerrewritemiddotconfig.go
Labels: Traffic Ops ORT, tech debt

#5434 GHA: Pin each third-party action and Docker image to a commit hash
  .github/actions/tr-tests/Dockerfile
  .github/workflows/docs.yml
  .github/workflows/tr.unit.tests.yaml
  .github/workflows/weasel.yml
  CHANGELOG.md
Labels: automation, regression bug

#5415 Adding check to make sure that you cannot add two servers with identical content
  CHANGELOG.md
  traffic_ops/app/db/migrations/2021010900000000_server_ip_profile_trigger_update.sql
  traffic_ops/testing/api/v1/servers_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, bug, major

#5440 Fix failing servers test because of unique service ip/profile combo
  traffic_ops/testing/api/v3/servers_test.go
Labels: Traffic Ops, bug, minor

#5423 Ensure SSL changes are logged.
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
Labels: Traffic Ops, bug

#5417 Fixed https status code when updating CDN for a DS for existing SSL keys
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_test.go
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
Labels: Traffic Ops, Traffic Portal, bug

#5406 Add TO validation to ensure a parent.config weight parameter is a float
  CHANGELOG.md
  docs/source/development/traffic_ops.rst
  lib/go-atscfg/parentdotconfig.go
  lib/go-tc/tovalidate/rules.go
  traffic_ops/testing/api/v3/parameters_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/parameter/parameters.go
Labels: Traffic Ops, enhancement

#5441 Only additionally get MID servers if Delivery Service is not topology-based
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, bug

#5408 TP: converts DS tables to more performant and powerful ag-grid
  CHANGELOG.md
  docs/source/admin/traffic_portal/images/tp_menu_services.png
  docs/source/admin/traffic_portal/images/tp_table_ds.png
  docs/source/admin/traffic_portal/images/tp_table_ds_requests.png
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/form/tenant/form.tenant.tpl.html
  traffic_portal/app/src/common/modules/table/cacheGroupServers/table.cacheGroupServers.tpl.html
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/TableCDNDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/table.cdnDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/cdnServers/table.cdnServers.tpl.html
  traffic_portal/app/src/common/modules/table/changeLogs/TableChangeLogsController.js
  traffic_portal/app/src/common/modules/table/changeLogs/table.changeLogs.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/table.deliveryServiceJobs.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/table.deliveryServiceRequests.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/table.deliveryServiceServers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/table.deliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/jobs/TableJobsController.js
  traffic_portal/app/src/common/modules/table/jobs/table.jobs.tpl.html
  traffic_portal/app/src/common/modules/table/physLocationServers/table.physLocationServers.tpl.html
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/TableProfileDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/table.profileDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/servers/table.servers.tpl.html
  traffic_portal/app/src/common/modules/table/serviceCategoryDeliveryServices/TableServiceCategoryDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serviceCategoryDeliveryServices/table.serviceCategoryDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/statusServers/table.statusServers.tpl.html
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/TableTenantDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/table.tenantDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/topologyCacheGroups/table.topologyCacheGroups.tpl.html
  traffic_portal/app/src/common/modules/table/topologyDeliveryServices/TableTopologyDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/topologyDeliveryServices/table.topologyDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/topologyServers/table.topologyServers.tpl.html
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/TableTypeDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/table.typeDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/typeServers/table.typeServers.tpl.html
  traffic_portal/app/src/modules/private/cdns/deliveryServices/index.js
  traffic_portal/app/src/modules/private/deliveryServices/list/index.js
  traffic_portal/app/src/modules/private/profiles/deliveryServices/index.js
  traffic_portal/app/src/modules/private/servers/deliveryServices/index.js
  traffic_portal/app/src/modules/private/serviceCategories/deliveryServices/index.js
  traffic_portal/app/src/modules/private/tenants/deliveryServices/index.js
  traffic_portal/app/src/modules/private/topologies/deliveryServices/index.js
  traffic_portal/app/src/modules/private/types/deliveryServices/index.js
  traffic_portal/test/end_to_end/deliveryServices/delivery-services-spec.js
  traffic_portal/test/end_to_end/deliveryServices/pageData.js
Labels: Traffic Portal, improvement, performance

#5410 Dont show changelog msg for primary origin if it wasn't updated
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_test.go
Labels: Traffic Ops, improvement

#5456 Update supported versions
  SECURITY.md
Labels: enhancement, process

#5457 Fix changelog to account for things that actually went into 5.0
  CHANGELOG.md
Labels: bug, minor, process

#5448 Update Go version to 1.15.7
  GO_VERSION
Labels: go version

#5464 Add license to RPMs
  CHANGELOG.md
  grove/build/grove.spec
  grove/grovetccfg/build/grovetccfg.spec
  infrastructure/cdn-in-a-box/Makefile
  test/fakeOrigin/build/build_rpm.sh
  test/fakeOrigin/build/fakeOrigin.spec
  traffic_monitor/build/build_rpm.sh
  traffic_monitor/build/traffic_monitor.spec
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops.spec
  traffic_ops_ort/build/build_rpm.sh
  traffic_ops_ort/build/traffic_ops_ort.spec
  traffic_portal/build/build_rpm.sh
  traffic_portal/build/traffic_portal.spec
  traffic_router/build/pom.xml
  traffic_router/tomcat-rpm/tomcat.spec
  traffic_server/plugins/astats_over_http/astats-git-build.spec
  traffic_server/spec/trafficserver.spec
  traffic_server/tsb/trafficserver.spec
  traffic_stats/build/build_rpm.sh
  traffic_stats/build/traffic_stats.spec
Labels: build, improvement, license

#5455 Change lib/go-log to always log UTC
  lib/go-log/log.go
  lib/go-log/log_test.go
Labels: enhancement

#5458 Allow max request header bytes to be 0
  infrastructure/ansible/roles/traffic_portal/defaults/main.yml
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices/010-ciab.json
  lib/go-tc/deliveryservices.go
  traffic_ops/app/db/migrations/2021012200000000_max_request_header_bytes_default_zero.sql
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
Labels: Traffic Ops, Traffic Portal, database, enhancement

#5471 Steering returns ordered results
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/steering/steering.go
Labels: Traffic Ops, Traffic Router, bug

#5442 Added logic for resending registration for new-user
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/user/edit/FormEditUserController.js
  traffic_portal/app/src/common/modules/form/user/form.user.tpl.html
  traffic_portal/app/src/common/modules/table/capabilityUsers/table.capabilityUsers.tpl.html
  traffic_portal/app/src/common/modules/table/roleUsers/table.roleUsers.tpl.html
  traffic_portal/app/src/common/modules/table/tenantUsers/table.tenantUsers.tpl.html
  traffic_portal/app/src/common/modules/table/users/TableUsersController.js
  traffic_portal/app/src/common/modules/table/users/table.users.tpl.html
  traffic_portal/test/end_to_end/conf.json
  traffic_portal/test/end_to_end/users/pageData.js
  traffic_portal/test/end_to_end/users/users-spec.js
Labels: Traffic Portal, improvement

#5474 Bugfix/5405 parent child tenant update
  .gitignore
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/apitenant/tenant.go
  traffic_ops/traffic_ops_golang/apitenant/tenant_test.go
Labels: Traffic Ops, bug, major

#5420 Postgres version agnostic
  CHANGELOG.md
  infrastructure/ansible/roles/traffic_ops/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/tasks/traffic_ops.yml
  infrastructure/ansible/roles/traffic_ops/vars/main.yml
  infrastructure/ansible/roles/traffic_opsdb/defaults/main.yml
  infrastructure/ansible/roles/traffic_opsdb/tasks/traffic_opsdb.yml
  infrastructure/ansible/roles/traffic_opsdb/vars/main.yml
Labels: Traffic Ops, automation, improvement
