Repository apache/trafficcontrol, pull requests merged in 2021-05, with the labels that each got.

#5553 Removing Tomcat build lock
  CHANGELOG.md
  infrastructure/cdn-in-a-box/Makefile
  traffic_router/build/build_rpm.sh
  traffic_router/build/pom.xml
  traffic_router/tomcat-rpm/build_rpm.sh
  traffic_router/tomcat-rpm/tomcat.spec
Labels: Traffic Router

#5736 Adds TO client api tests for DS automation
  .github/actions/to-integration-tests/entrypoint.sh
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: TO Client (Go), Traffic Ops, improvement, tests

#5801 URL Sig Keys in Postgres and DELETE methods
  CHANGELOG.md
  docs/source/api/v4/deliveryservices_id_urlkeys.rst
  docs/source/api/v4/deliveryservices_xmlid_xmlid_urlkeys.rst
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/urlkey.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/disabled/disabled.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/url_sig_keys.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/riaksvc/dsutil.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/riaksvc/riak.go
  traffic_ops/traffic_ops_golang/trafficvault/trafficvault.go
  traffic_ops/v4-client/deliveryservice.go
Labels: Traffic Ops, Traffic Vault, enhancement

#5806 t3c: consider plugin config files to determine if remap.config needs reload
  CHANGELOG.md
  traffic_ops_ort/t3c/torequest/torequest.go
Labels: Traffic Ops ORT

#5769 Switch random-ipv6 typings to use new DefinitelyTyped definition
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
  traffic_portal/test/integration/pnpm-lock.yaml
  traffic_portal/test/integration/types/random-ipv6.d.ts
Labels: Traffic Portal, improvement, minor, tests

#5807 t3c/torequest: syncds only checks if packages exist, doesn't try to fix them
  CHANGELOG.md
  traffic_ops_ort/t3c/torequest/torequest.go
Labels: Traffic Ops ORT

#5810 Fix CDN DNSSEC key generation timeout
  CHANGELOG.md
  docs/source/api/v2/cdns_dnsseckeys_generate.rst
  docs/source/api/v3/cdns_dnsseckeys_generate.rst
  docs/source/api/v4/cdns_dnsseckeys_generate.rst
  lib/go-tc/cdns_dnssec.go
  lib/go-tc/deliveryservice_ssl_keys.go
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/traffic_ops_golang/cdn/dnssec.go
  traffic_ops/v4-client/cdn_dnssec.go
Labels: TO Client (Go), Traffic Ops, Traffic Vault, improvement, performance

#5800 Do not depend on Traffic Ops static web server
  .github/actions/run-ciab/run-ciab.sh
  .github/actions/to-integration-tests/cdn.json
  .github/actions/tp-integration-tests/cdn.json
  CHANGELOG.md
  docs/source/admin/quick_howto/kickstart.rst
  docs/source/admin/traffic_ops.rst
  docs/source/admin/traffic_portal/usingtrafficportal.rst
  docs/source/api/v1/system_info.rst
  docs/source/api/v2/system_info.rst
  docs/source/api/v3/system_info.rst
  docs/source/api/v4/cdns_name_snapshot.rst
  docs/source/api/v4/cdns_name_snapshot_new.rst
  docs/source/api/v4/system_info.rst
  docs/source/overview/profiles_and_parameters.rst
  infrastructure/cdn-in-a-box/docker-compose.expose-ports.yml
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/static/Dockerfile
  infrastructure/cdn-in-a-box/static/lighttpd.conf
  infrastructure/cdn-in-a-box/static/run.sh
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/000-GLOBAL.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-CCR_CIAB.json
  traffic_ops/app/conf/cdn.conf
  traffic_ops/app/public/coverage-zone.json
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops.spec
  traffic_ops/install/bin/_postinstall
  traffic_ops/install/bin/_postinstall.pl
  traffic_ops/install/bin/input.json
  traffic_ops/install/bin/postinstall.test.sh
  traffic_ops/traffic_ops_golang/config/config_test.go
Labels: Traffic Ops, configuration, install, regression bug

#5791 Ats 9 logging support
  CHANGELOG.md
  lib/go-atscfg/loggingdotyaml.go
Labels: Traffic Ops ORT, enhancement

#5803 TP: creates notifications interval on login, cancels on logout
  traffic_portal/app/src/common/api/AuthService.js
  traffic_portal/app/src/common/modules/notifications/NotificationsController.js
Labels: Traffic Portal, bug

#5786 Adding TO Client API tests for LetsEncrypt
  traffic_ops/testing/api/v4/acme_test.go
  traffic_ops/v4-client/acme.go
Labels: TO Client (Go), improvement, tests

#5813 Remove STATSSUMMARY from Portal change log
  traffic_ops/traffic_ops_golang/trafficstats/stats_summary.go
Labels: Traffic Ops

#5815 5.1.x Add Mid and Topology Service Category Config Generation
  CHANGELOG.md
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/headerrewritemiddotconfig.go
  lib/go-atscfg/headerrewritemiddotconfig_test.go
  lib/go-atscfg/topologyheaderrewritedotconfig.go
Labels: backport, bug, cache configs

#5802 Add Per-DS HTTP/2 and TLS Versions Support
  CHANGELOG.md
  docs/source/overview/delivery_services.rst
  docs/source/overview/profiles_and_parameters.rst
  lib/go-atscfg/meta.go
  lib/go-atscfg/meta_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
  lib/go-atscfg/snidotyaml.go
  lib/go-atscfg/sslservernamedotyaml.go
  lib/go-atscfg/sslservernamedotyaml_test.go
  traffic_ops_ort/atstccfg/cfgfile/routing.go
  traffic_ops_ort/atstccfg/cfgfile/wrappers.go
  traffic_ops_ort/atstccfg/config/config.go
  traffic_ops_ort/t3c/README.md
  traffic_ops_ort/t3c/config/config.go
  traffic_ops_ort/t3c/torequest/torequest.go
Labels: Traffic Ops ORT, enhancement

#5812 Implement SSLKeys methods for PostgreSQL Traffic Vault backend
  lib/go-tc/deliveryservice_ssl_keys.go
  traffic_ops/app/db/trafficvault/create_tables.sql
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme_renew.go
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/v4-client/deliveryservice.go
Labels: Traffic Ops, Traffic Vault, enhancement

#5814 Uri Sig Keys in Postgres
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/uri_signing_keys.go
  traffic_ops/v4-client/deliveryservice.go
Labels: Traffic Ops, Traffic Vault, enhancement

#5822 Add TO Client API for Physical Location Automation
  traffic_ops/testing/api/v4/phys_locations_test.go
Labels: TO Client (Go), enhancement, tests

#5781 Deprecate ort.pl, change to proxy t3c
  CHANGELOG.md
  docs/source/admin/traffic_server.rst
  docs/source/glossary.rst
  traffic_ops_ort/README.md
  traffic_ops_ort/build/traffic_ops_ort.spec
  traffic_ops_ort/t3c/config/config.go
  traffic_ops_ort/t3c/torequest/torequest.go
  traffic_ops_ort/t3c/util/util.go
  traffic_ops_ort/testing/ort-tests/t3c-git_test.go
  traffic_ops_ort/testing/ort-tests/t3c-testlibs.go
  traffic_ops_ort/traffic_ops_ort.pl
Labels: Traffic Ops ORT, enhancement

#5833 Fix regression sslkeys api test
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/v3-client/deliveryservice.go
Labels: Traffic Ops, tests

#5841 Add sleep to make DS test pass
  traffic_ops/testing/api/v4/deliveryservices_test.go
Labels: Traffic Ops, tests

#5835 Implement DNSSEC key methods for Postgres Traffic Vault backend
  lib/go-tc/cdns_dnssec.go
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/v4-client/cdn_dnssec.go
Labels: TO Client (Go), Traffic Ops, Traffic Vault

#5798 Migrate CDN test from E2E to integrate test suite
  traffic_portal/test/integration/Data/cdn.ts
  traffic_portal/test/integration/PageObjects/CDNPage.po.ts
  traffic_portal/test/integration/specs/CDNs.spec.ts
Labels: Traffic Portal, improvement, tests

#5836 Call cancel functions to avoid context leaks
  .github/workflows/go.vet.yml
  lib/go-tc/invalidationjobs.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/crconfig/config_test.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice_test.go
  traffic_ops/traffic_ops_golang/crconfig/edgelocations_test.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/crconfig/snapshot_test.go
  traffic_ops/traffic_ops_golang/crconfig/topologies_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme_renew.go
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
  traffic_ops/traffic_ops_golang/deliveryservice/deleteoldcerts.go
  traffic_ops/traffic_ops_golang/hwinfo/hwinfo_test.go
  traffic_ops/traffic_ops_golang/login/logout_test.go
  traffic_ops/traffic_ops_golang/server/servers_assignment_test.go
  traffic_ops/traffic_ops_golang/systeminfo/system_info_test.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/riaksvc/riak_services_test.go
Labels: Traffic Ops, bug, minor, tech debt

#5828 Add TO Client API for Profiles Automation
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/v4-client/profile.go
Labels: TO Client (Go), enhancement, tests

#5830 atstccfg: add support for handling ##REFETCH## directive for regex_revalidate
  CHANGELOG.md
  lib/go-atscfg/regexrevalidatedotconfig.go
  lib/go-atscfg/regexrevalidatedotconfig_test.go
Labels: Traffic Ops ORT, enhancement

#5839 Fix ort references to t3c
  docs/source/development/building.rst
  infrastructure/ansible/roles/ats/README.md
  infrastructure/ansible/roles/ats/defaults/main.yml
  infrastructure/ansible/roles/ats/tasks/ats.yml
  infrastructure/ansible/roles/grove/tasks/grove.yml
  tools/golang/unit-tests.sh
Labels: automation, bug

#5846 Add struct name to example function name
  .github/workflows/go.vet.yml
  .golangci.yml
  traffic_monitor/cache/statistics_test.go
Labels: Traffic Monitor, bug, minor, tests

#5843 Updated TV Postgres to use AES encryption for URL Sig Keys
  docs/source/admin/traffic_vault.rst
  traffic_ops/app/db/trafficvault/create_tables.sql
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/encrypt.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/url_sig_keys.go
Labels: Traffic Ops, Traffic Vault, documentation

#5700 Add topologies test to integration test suite in TP
  traffic_portal/test/integration/Data/topologies.ts
  traffic_portal/test/integration/PageObjects/Divisions.po.ts
  traffic_portal/test/integration/PageObjects/TopologiesPage.po.ts
  traffic_portal/test/integration/specs/Topologies.spec.ts
Labels: Traffic Portal, enhancement, tests

#5854 Fix printf usage
  .github/workflows/go.vet.yml
  .golangci.yml
  cache-config/testing/ort-tests/tcdata/todb.go
  experimental/traffic_ops_auth/traffic_ops_auth.go
  infrastructure/cdn-in-a-box/enroller/enroller.go
Labels: Traffic Ops ORT, bug, cdn-in-a-box, experimental, minor, tech debt

#5860 AES encryption for all Postgres TV
  traffic_ops/app/db/trafficvault/create_tables.sql
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/uri_signing_keys.go
Labels: Traffic Ops, Traffic Vault, enhancement

#5850 Fix login issues for TP integration test
  traffic_portal/test/integration/PageObjects/LoginPage.po.ts
  traffic_portal/test/integration/config.json
Labels: Traffic Portal, bug, minor, tests

#5862 Update changelog for 5.1.2 release
  CHANGELOG.md
Labels: process, tech debt

#5858 Fix t3c diff for empty files
  cache-config/t3c-diff/t3c-diff.go
  cache-config/testing/ort-tests/t3c-create-empty-file_test.go
  cache-config/testing/ort-tests/tc-fixtures.json
Labels: bug, cache configs

#5864 Update the default TM write timeout to 20s
  CHANGELOG.md
  infrastructure/ansible/roles/traffic-monitor/defaults/main.yml
Labels: Traffic Monitor, ansible, improvement

#5866 Do not rebuild layer that installs dlv if only the RPM or other ATC files changed
  infrastructure/cdn-in-a-box/enroller/Dockerfile
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
Labels: cdn-in-a-box, improvement, performance

#5856 Fix CDN in a Box vnc dependencies in Dockerfile
  .github/workflows/ciab.yaml
  infrastructure/cdn-in-a-box/optional/vnc/Dockerfile
  infrastructure/cdn-in-a-box/optional/vnc/run.sh
Labels: bug, cdn-in-a-box, dependencies

#5871 Bump Bouncy Castle to version 1.68
  CHANGELOG.md
  traffic_router/connector/pom.xml
  traffic_router/pom.xml
  traffic_router/shared/pom.xml
Labels: Traffic Router, bug, dependencies

#5865 Provide ability to fetch Traffic Vault secret key from HashiCorp Vault
  docs/source/admin/traffic_vault.rst
  lib/go-rfc/http.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/encrypt.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/hashicorpvault/client.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
Labels: Traffic Ops, Traffic Vault, enhancement

#5867 t3c-preprocessor app
  cache-config/build/build_rpm.sh
  cache-config/build/trafficcontrol-cache-config.spec
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-generate/cfgfile/all.go
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  cache-config/t3c-generate/config/config.go
  cache-config/t3c-generate/t3c-generate.go
  cache-config/t3c-preprocess/t3c-preprocess.go
  cache-config/t3c-preprocess/t3c-preprocess_test.go
  cache-config/t3c-preprocess/util/util.go
  cache-config/t3cutil/t3cutil.go
Labels: cache configs, improvement

#5797 Add TO Client api for Parameters Automation
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/parameters_test.go
Labels: Traffic Ops, improvement, tests

#5870 Migrate user tests from E2E to integration
  traffic_portal/test/integration/Data/users.ts
  traffic_portal/test/integration/PageObjects/BasePage.po.ts
  traffic_portal/test/integration/PageObjects/UsersPage.po.ts
  traffic_portal/test/integration/specs/Users.spec.ts
Labels: Traffic Portal, improvement, tests

#5852 Fix ort references
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-check-refs/README.md
  cache-config/t3c/README.md
  cache-config/t3c/t3c.go
  cache-config/t3cutil/getdata.go
  infrastructure/ansible/roles/ats/defaults/main.yml
  infrastructure/ansible/roles/ats/tasks/ats.yml
Labels: ansible, bug

#5872 Fix enroller build error due to out-of-scope ARG
  infrastructure/cdn-in-a-box/enroller/Dockerfile
Labels: cdn-in-a-box, regression bug

#5834 CDN Locks Blueprint
  blueprints/to-locks.md
Labels: blueprint

#5875 Fix t3c unsetting to update flag
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/testing/ort-tests/t3c-apply-unset-update_test.go
  cache-config/testing/ort-tests/t3c-create-empty-file_test.go
  cache-config/testing/ort-tests/t3c-dns-local-bind_test.go
  cache-config/testing/ort-tests/t3c-git_test.go
  cache-config/testing/ort-tests/traffic_ops_ort_test.go
Labels: bug, cache configs, major

#5857 CIAB: Use postgres as the default traffic vault backend
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
  infrastructure/cdn-in-a-box/traffic_ops/tv.conf
  infrastructure/cdn-in-a-box/variables.env
  traffic_ops/install/bin/_postinstall
  traffic_ops/install/bin/input.json
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Vault, cdn-in-a-box, enhancement, install

#5873 Fix t3c reload
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/testing/ort-tests/baseline-configs/remap.config
  cache-config/testing/ort-tests/t3c-apply-unset-update_test.go
  cache-config/testing/ort-tests/t3c-reload_test.go
  cache-config/testing/ort-tests/tc-fixtures.json
Labels: bug, cache configs, major

#5868 Fix log out function in TP integration test
  traffic_portal/test/integration/PageObjects/LoginPage.po.ts
  traffic_portal/test/integration/PageObjects/TopNavigationPage.po.ts
Labels: automation, bug, minor, tests

#5883 Fix t3c apply to pass full path to check-reload
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/testing/ort-tests/t3c-reload_test.go
  cache-config/testing/ort-tests/t3c_mode_test.go
  cache-config/testing/ort-tests/tc-fixtures.json
Labels: bug, cache configs

#5869 Add DOAP file
  doap_Traffic_Control.rdf
Labels: enhancement, process

#5887 Fix t3c reval to reload
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/testing/ort-tests/t3c-reload_test.go
Labels: bug, cache configs

#5888 Fix arg placement in TM/TS Dockerfile
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
Labels: cdn-in-a-box, regression bug

#5890 Update Slack links to point to the ASF slack
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-improvement-request.md
  .github/ISSUE_TEMPLATE/config.yml
  docs/source/faq.rst
Labels: documentation, process

#5851 Delivery Service Supported TLS Versions Blueprint
  blueprints/delivery.service.tls.versions.md
  blueprints/img/ds-tls-versions-sample.checked.png
  blueprints/img/ds-tls-versions-sample.unchecked.png
Labels: blueprint

#5844 Only copy Transport exported fields
  .github/workflows/go.vet.yml
  .golangci.yml
  grove/remap/remap.go
Labels: bug, grove, minor, tech debt

#5849 Add define switch for ATS version
  traffic_server/plugins/astats_over_http/astats_over_http.c
Labels: Traffic Server, improvement, plugin

#5853 Use `t3c` for cache configuration in CDN in a Box
  .github/workflows/cache-config-tests.yml
  .github/workflows/ciab.yaml
  .github/workflows/docs.yml
  CHANGELOG.md
  docs/source/conf.py
  docs/source/development/debugging.rst
  experimental/ort-python/README.rst
  experimental/ort-python/doctest-runner.py
  experimental/ort-python/setup.py
  experimental/ort-python/traffic_ops_ort/__init__.py
  experimental/ort-python/traffic_ops_ort/config_files.py
  experimental/ort-python/traffic_ops_ort/configuration.py
  experimental/ort-python/traffic_ops_ort/main_routines.py
  experimental/ort-python/traffic_ops_ort/packaging.py
  experimental/ort-python/traffic_ops_ort/services.py
  experimental/ort-python/traffic_ops_ort/to_api.py
  experimental/ort-python/traffic_ops_ort/utils.py
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/cache/init-debug-scripts.sh
  infrastructure/cdn-in-a-box/cache/run.sh
  infrastructure/cdn-in-a-box/cache/systemctl.sh
  infrastructure/cdn-in-a-box/cache/traffic_ops_ort.crontab
  infrastructure/cdn-in-a-box/cache/traffic_ops_ort.logrotate
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/edge/init.d/99-run.sh
  infrastructure/cdn-in-a-box/mid/init.d/99-run.sh
  infrastructure/cdn-in-a-box/optional/docker-compose.debugging.yml
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/020-ATS_MID_TIER_CACHE.json
  infrastructure/cdn-in-a-box/variables.env
Labels: cdn-in-a-box, improvement, tech debt

#5876 Use `jq` to set the trafficserver package version for t3c integration tests
  .github/workflows/cache-config-tests.yml
  cache-config/testing/docker/docker-compose.yml
  cache-config/testing/docker/ort_test/Dockerfile
  cache-config/testing/docker/ort_test/run.sh
  cache-config/testing/ort-tests/tc-fixtures.json
  lib/go-atscfg/atscfg.go
Labels: cache configs, improvement, tech debt, tests
