Repository apache/trafficcontrol, pull requests merged in 2021-09, with the labels that each got.

#6148 Remove bower from TP
  .dependency_license
  .github/actions/tp-integration-tests/entrypoint.sh
  .github/workflows/ciab.yaml
  .github/workflows/tp.integration.tests.yml
  CHANGELOG.md
  build/README.md
  docs/source/development/building.rst
  docs/source/development/traffic_portal.rst
  infrastructure/docker/build/Dockerfile-traffic_portal
  traffic_portal/.bowerrc
  traffic_portal/.gitignore
  traffic_portal/.jshintignore
  traffic_portal/Dockerfile
  traffic_portal/app/src/scripts/shared-libs.js
  traffic_portal/app/src/styles/main.scss
  traffic_portal/bower.json
  traffic_portal/build/build_rpm.sh
  traffic_portal/build/traffic_portal.spec
  traffic_portal/docker/Dockerfile
  traffic_portal/grunt/browserify.js
  traffic_portal/grunt/compass.js
  traffic_portal/package-lock.json
  traffic_portal/package.json
Labels: Traffic Portal, tech debt, improvement, dependencies

#6064 Fix Internal server error in update cachegroups by already exist cg name
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
Labels: bug, Traffic Ops, minor

#6154 Add support for cdn and maxRevalDurationDays qparams to GET /jobs
  CHANGELOG.md
  docs/source/api/v2/jobs.rst
  docs/source/api/v3/jobs.rst
  docs/source/api/v4/jobs.rst
  traffic_ops/app/db/migrations/2021083121285700_add_job_start_time_idx.down.sql
  traffic_ops/app/db/migrations/2021083121285700_add_job_start_time_idx.up.sql
  traffic_ops/testing/api/v4/jobs_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
Labels: new feature, Traffic Ops, documentation, database

#6166 T3c hosting
  lib/go-atscfg/hostingdotconfig.go
  lib/go-atscfg/hostingdotconfig_test.go
Labels: bug, critical, cache-config

#6169 Fix t3c update when fallback occurs
  CHANGELOG.md
  cache-config/t3cutil/toreq/client.go
  cache-config/t3cutil/toreq/toreqold/client.go
  cache-config/t3cutil/toreq/toreqold/clientfuncs.go
Labels: bug, cache-config

#6126 Distributed Traffic Monitor blueprint
  blueprints/distributed-traffic-monitor.md
Labels: blueprint

#6177 Fix for tm-health-client systemd service
  cache-config/tm-health-client/tm-health-client.service
Labels: bug, minor, cache-config

#6178 fixes credential handling in the tm-health-client
  cache-config/tm-health-client/config/config.go
Labels: bug, minor, cache-config

#6167 Add support for "cdn" query parameter in GET /deliveryserviceserver API
  CHANGELOG.md
  docs/source/api/v2/deliveryserviceserver.rst
  docs/source/api/v3/deliveryserviceserver.rst
  docs/source/api/v4/deliveryserviceserver.rst
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: new feature, Traffic Ops

#6186 Make `t3c` request less unnecessary DSS and jobs data
  CHANGELOG.md
  cache-config/t3cutil/getdatacfg.go
  cache-config/t3cutil/toreq/clientfuncs.go
  cache-config/t3cutil/toreq/clienthlp.go
  infrastructure/cdn-in-a-box/cache/traffic_ops_ort.crontab
Labels: performance, cache-config

#6192 Updated Traffic Monitor to return a 404 if the endpoint is not supported
  CHANGELOG.md
  traffic_monitor/srvhttp/srvhttp.go
Labels: bug, Traffic Monitor, minor

#6194 Update Traffic Router to version 6.0.0
  traffic_router/pom.xml
Labels: bug, Traffic Router

#6185 Endashen ort_version comparison right-hand side
  infrastructure/ansible/roles/ats/defaults/main.yml
  infrastructure/ansible/roles/ats/tasks/ats.yml
Labels: automation, ansible

#6187 Fix t3c-apply default hostname to be short
  CHANGELOG.md
  cache-config/t3c-apply/config/config.go
  cache-config/testing/docker/docker-compose.yml
  cache-config/testing/ort-tests/t3c-os-hostname-short_test.go
Labels: tests, cache-config

#6196 Update TO v4 API tests `TestAPIBase` to API v4
  traffic_ops/testing/api/v4/traffic_ops_test.go
Labels: Traffic Ops, minor, tests

#6151 Add TO Client API for ServerServerCapability Automation
  traffic_ops/testing/api/v4/serverservercapability_test.go
Labels: tests, improvement, TO Client (Go)

#6165 Add TO Client API for Tenant Automation
  traffic_ops/testing/api/v4/tenants_test.go
Labels: tests, improvement, TO Client (Go)

#6208 Removed TM from TM_PROFILE
  docs/source/overview/profiles_and_parameters.rst
Labels: bug, documentation, minor

#6206 Fix DSRs not showing TLS version restrictions in TP
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
Labels: bug, Traffic Portal, minor

#6212 Increasing astats string buffer size
  traffic_server/plugins/astats_over_http/astats_over_http.c
Labels: bug, Traffic Server

#6164 Fixed create regions accepts mismatch values for divisionName
  traffic_ops/traffic_ops_golang/region/regions.go
Labels: bug, Traffic Ops, minor

#6209 Walk back deprecation of TO APIv3, add instability warnings for 4.0
  CHANGELOG.md
  docs/source/api/index.rst
  traffic_ops/v2-client/README.md
  traffic_ops/v3-client/README.md
  traffic_ops/v4-client/README.md
Labels: documentation, tech debt

#6211 Fixed crs/stats fields to report time correctly and not overflow and …
  CHANGELOG.md
  lib/go-tc/crsstats.go
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/router/StatTracker.java
Labels: bug, Traffic Ops, Traffic Router, minor

#6214 Handle blocked IPs as soon as possible
  traffic_server/plugins/astats_over_http/astats_over_http.c
Labels: bug, Traffic Server, plugin

#6137 Migrate Servers test from E2E to integrate test suite TP
  traffic_portal/test/integration/Data/servers.ts
  traffic_portal/test/integration/PageObjects/ServersPage.po.ts
  traffic_portal/test/integration/specs/ServerServerCapabilities.spec.ts
  traffic_portal/test/integration/specs/Servers.spec.ts
Labels: Traffic Portal, tests, improvement

#6191 Traffic Portal Server Options
  CHANGELOG.md
  docs/source/admin/index.rst
  docs/source/admin/traffic_portal/index.rst
  docs/source/admin/traffic_portal/installation.rst
  docs/source/development/traffic_portal.rst
  traffic_portal/Gruntfile.js
  traffic_portal/README.md
  traffic_portal/grunt/express.js
  traffic_portal/package-lock.json
  traffic_portal/server.js
Labels: Traffic Portal, documentation, tech debt, improvement

#6195 `pr-to-update-go` GHA: Do not hard-code branch name
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
Labels: automation, go version

#6172 Add TO Client API for Create Update Delivery Service Automation
  traffic_ops/testing/api/v4/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/cdnfederations_test.go
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/testing/api/v4/crconfig_test.go
  traffic_ops/testing/api/v4/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/deliveryservicesideligible_test.go
  traffic_ops/testing/api/v4/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v4/federation_users_test.go
  traffic_ops/testing/api/v4/federations_test.go
  traffic_ops/testing/api/v4/jobs_test.go
  traffic_ops/testing/api/v4/monitoring_test.go
  traffic_ops/testing/api/v4/origins_test.go
  traffic_ops/testing/api/v4/readonlycannotmodify_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/testing/api/v4/servers_to_deliveryservice_assignment_test.go
  traffic_ops/testing/api/v4/serverservercapability_test.go
  traffic_ops/testing/api/v4/staticdnsentries_test.go
  traffic_ops/testing/api/v4/steering_test.go
  traffic_ops/testing/api/v4/steeringtargets_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/tenants_test.go
  traffic_ops/testing/api/v4/topologies_queue_update_test.go
  traffic_ops/testing/api/v4/topologies_test.go
Labels: tests, improvement, TO Client (Go)

#6222 Fix issues with TP grids
  traffic_portal/app/src/common/modules/table/agGrid/CommonGridController.js
Labels: bug, Traffic Portal

#6140 TR Integration tests updated to use a mock server for TM and TO
  CHANGELOG.md
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/TestBase.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManagerTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/HttpDataServer.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/loc/GeoTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/router/StatelessTrafficRouterTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/util/AbstractResourceWatcherTest.java
Labels: Traffic Router, minor, tests, improvement

#6227 Fix enroller build issues
  infrastructure/cdn-in-a-box/enroller/Dockerfile
Labels: bug, cdn-in-a-box, build

#6207 Remove t3c debug print
  cache-config/t3cutil/toreq/client.go
Labels: bug, minor, cache-config

#6184 Le regex fix
  CHANGELOG.md
  traffic_ops/app/db/migrations/2021090914220900_le_dns_challenge_xml_id.down.sql
  traffic_ops/app/db/migrations/2021090914220900_le_dns_challenge_xml_id.up.sql
  traffic_ops/traffic_ops_golang/deliveryservice/acme.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme_renew.go
  traffic_ops/traffic_ops_golang/deliveryservice/letsencrypt_dns_challenge.go
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/ds/LetsEncryptDnsChallenge.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/ds/LetsEncryptDnsChallengeWatcher.java
Labels: bug, Traffic Ops, Traffic Router, database, improvement

#6003 Fix Internal server error in Get Profiles by invalid Params
  traffic_ops/testing/api/v2/profiles_test.go
  traffic_ops/testing/api/v3/profiles_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/traffic_ops_golang/profile/profiles.go
  traffic_ops/v2-client/profile.go
  traffic_ops/v3-client/profile.go
Labels: bug, Traffic Ops, minor

#6230 Update link to join #traffic-control on the ASF slack
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-improvement-request.md
  .github/ISSUE_TEMPLATE/config.yml
  docs/source/faq.rst
Labels: improvement, process

#6224 Compile ToDnssecRefresh binary into TO rpm, update cron job to use it
  CHANGELOG.md
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops.spec
  traffic_ops/etc/cron.d/trafops_dnssec_refresh
Labels: Traffic Ops, improvement

#6024 Generate a self signed cert on ds creation/update
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  traffic_ops/app/conf/cdn.conf
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
Labels: bug, Traffic Ops, improvement

#6216 TR docs for migrating removed and one example added to Traffic Router
  docs/source/admin/index.rst
  docs/source/admin/traffic_router/migrationto2-3.rst
  docs/source/development/traffic_router.rst
Labels: Traffic Router, documentation, tech debt

#6221 Refactor the tm-health-client
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-improvement-request.md
  CHANGELOG.md
  PULL_REQUEST_TEMPLATE.md
  blueprints/distributed-traffic-monitor.md
  cache-config/build/build_rpm.sh
  cache-config/build/trafficcontrol-cache-config.spec
  infrastructure/docker/build/Dockerfile-tc-health-client
  infrastructure/docker/build/docker-compose.yml
  tc-health-client/README.md
  tc-health-client/build/build_rpm.sh
  tc-health-client/build/tc-health-client.logrotate
  tc-health-client/build/trafficcontrol-health-client.spec
  tc-health-client/config/config.go
  tc-health-client/config/config_test.go
  tc-health-client/config/test_files/credentials
  tc-health-client/config/test_files/tc-health-client.json
  tc-health-client/tc-health-client.go
  tc-health-client/tc-health-client.json
  tc-health-client/tc-health-client.service
  tc-health-client/tmagent/test_files/bin/traffic_ctl
  tc-health-client/tmagent/test_files/etc/parent.config
  tc-health-client/tmagent/test_files/etc/strategies.yaml
  tc-health-client/tmagent/test_files/tc-health-client.json
  tc-health-client/tmagent/tmagent.go
  tc-health-client/tmagent/tmagent_test.go
  tc-health-client/util/util.go
Labels: new feature, tc-health-client

#6235 Removed default limits values in logs API
  docs/source/api/v2/logs.rst
  docs/source/api/v3/logs.rst
  docs/source/api/v4/logs.rst
  traffic_ops/traffic_ops_golang/logs/log.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, regression bug

#6220 Fix t3c report mode to be less spammy
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-apply/util/gitutil.go
  cache-config/t3c-diff/t3c-diff.go
  lib/go-log/log.go
  lib/go-log/standardlogger.go
Labels: cache-config, improvement
