Repository apache/trafficcontrol, pull requests merged in 2022-05, with the labels that each got.

#6804 ATC Collaborators for May 2022
  .asf.yaml
Labels: process, collaborators

#6778 Update TR to use TO API v3.1 by default
  .dependency_license
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/SignatureManager.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/ds/LetsEncryptDnsChallengeWatcher.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/ds/SteeringWatcher.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/loc/FederationsWatcher.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/secure/CertificatesClient.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/util/TrafficOpsUtils.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/ConsistentHashTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/HttpDataServer.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/RouterTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/SteeringTest.java
  traffic_router/core/src/test/resources/api/3.1/cdns/name/thecdn/sslkeys
  traffic_router/core/src/test/resources/api/3.1/cdns/name/thecdn/sslkeys-missing-1
  traffic_router/core/src/test/resources/api/3.1/federations/all
  traffic_router/core/src/test/resources/api/3.1/steering
  traffic_router/core/src/test/resources/api/3.1/steering2
  traffic_router/core/src/test/resources/publish/CrConfig.json
  traffic_router/core/src/test/resources/publish/CrConfig2.json
  traffic_router/core/src/test/resources/publish/CrConfig3.json
  traffic_router/core/src/test/resources/publish/CrConfig4.json
Labels: Traffic Router, tech debt, improvement

#6774 CDNi Capacity Update With Scope
  docs/source/api/v4/oc_fci_advertisement.rst
  traffic_ops/app/db/migrations/2022050410412200_cdni_capacity_limit_with_scopes.down.sql
  traffic_ops/app/db/migrations/2022050410412200_cdni_capacity_limit_with_scopes.up.sql
  traffic_ops/traffic_ops_golang/cdni/capacity.go
  traffic_ops/traffic_ops_golang/cdni/shared.go
Labels: Traffic Ops, documentation, database, improvement

#6807 Fix max_origin_connections calculation for topology-based DSes
  CHANGELOG.md
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/headerrewritedotconfig_test.go
Labels: bug, high impact, cache-config

#6812 Correct __HOSTNAME__ for short hostName unknown files generated by T3C
  CHANGELOG.md
  lib/go-atscfg/serverunknown.go
Labels: regression bug, cache-config

#6815 Change TR to depend on java-11-openjdk-headless instead of java-11
  traffic_router/build/pom.xml
  traffic_router/tomcat-rpm/tomcat.spec
Labels: Traffic Router, improvement

#6754 Convert Traffic Ops into a Service Oriented architecture(SOA) product
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  traffic_ops/app/conf/backends.conf
  traffic_ops/app/conf/production/backends.conf
  traffic_ops/etc/init.d/traffic_ops
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
  traffic_ops/traffic_ops_golang/routing/routing.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: new feature, Traffic Ops

#6805 Add Various E2E TPv2 DS Tests
  .github/workflows/tpv2.yml
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/globals/index.ts
  experimental/traffic-portal/nightwatch/nightwatch.conf.js
  experimental/traffic-portal/nightwatch/page_objects/common.ts
  experimental/traffic-portal/nightwatch/page_objects/deliveryServiceCard.ts
  experimental/traffic-portal/nightwatch/page_objects/deliveryServiceDetail.ts
  experimental/traffic-portal/nightwatch/page_objects/deliveryServiceInvalidationJobs.ts
  experimental/traffic-portal/nightwatch/page_objects/login.ts
  experimental/traffic-portal/nightwatch/tests/ds/ds.card.ts
  experimental/traffic-portal/nightwatch/tests/ds/ds.details.spec.ts
  experimental/traffic-portal/nightwatch/tests/ds/ds.invalidate.spec.ts
  experimental/traffic-portal/nightwatch/tests/login.spec.ts
  experimental/traffic-portal/nightwatch/tests/login/login.spec.ts
  experimental/traffic-portal/nightwatch/tests/servers.spec.ts
  experimental/traffic-portal/nightwatch/tests/servers/servers.spec.ts
  experimental/traffic-portal/nightwatch/tests/users/users.spec.ts
  experimental/traffic-portal/nightwatch/tsconfig.e2e.json
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/core/deliveryservice/deliveryservice.component.html
  experimental/traffic-portal/src/app/core/ds-card/ds-card.component.html
  experimental/traffic-portal/src/app/core/invalidation-jobs/invalidation-jobs.component.html
Labels: Traffic Portal, tests, automation

#6820 Separate the job for Traffic Ops Go client/API integration tests into one per major API version
  .github/workflows/traffic-ops.yml
Labels: tests, improvement, automation

#6618 Cleanup parent.config generation code
  lib/go-atscfg/parentdotconfig.go
Labels: tech debt, cache-config

#6821 Update Go version to 1.18.2
  .env
  GO_VERSION
Labels: go version

#6824 Remove unnecessary t3c debug logging
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
Labels: cache-config, improvement

#6825 Only set BASE_IMAGE to rockylinux when RHEL_VERSION is 8
  pkg
Labels: bug, build, os

#6817 Prevent modifying and/or deleting reserved statuses
  CHANGELOG.md
  cache-config/testing/ort-tests/t3c-apply-diff_test.go
  cache-config/testing/ort-tests/t3c-apply-unset-update_test.go
  cache-config/testing/ort-tests/t3c-apply-wait-for-parents_test.go
  cache-config/testing/ort-tests/t3c-create-empty-file_test.go
  cache-config/testing/ort-tests/t3c-dns-local-bind_test.go
  cache-config/testing/ort-tests/t3c-fail-log_test.go
  cache-config/testing/ort-tests/t3c-git_test.go
  cache-config/testing/ort-tests/t3c-ims_test.go
  cache-config/testing/ort-tests/t3c-jobs_test.go
  cache-config/testing/ort-tests/t3c-lockfile_test.go
  cache-config/testing/ort-tests/t3c-no-outgoing-ip-flag_test.go
  cache-config/testing/ort-tests/t3c-os-hostname-short_test.go
  cache-config/testing/ort-tests/t3c-reload_test.go
  cache-config/testing/ort-tests/t3c_mode_test.go
  cache-config/testing/ort-tests/t3c_update_to_flags_test.go
  cache-config/testing/ort-tests/tc-fixtures.json
  cache-config/testing/ort-tests/tcdata/statuses.go
  cache-config/testing/ort-tests/tcdata/todb.go
  cache-config/testing/ort-tests/tcdata/withobjs.go
  cache-config/testing/ort-tests/to_requester_test.go
  cache-config/testing/ort-tests/to_updater_test.go
  lib/go-tc/enum.go
  lib/go-tc/statuses.go
  tc-health-client/testing/tests/health-client-startup_test.go
  traffic_ops/app/db/migrations/2022050916074300_add_reserved_statuses.down.sql
  traffic_ops/app/db/migrations/2022050916074300_add_reserved_statuses.up.sql
  traffic_ops/testing/api/v2/statuses_test.go
  traffic_ops/testing/api/v2/tc-fixtures.json
  traffic_ops/testing/api/v2/todb_test.go
  traffic_ops/testing/api/v3/statuses_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/todb_test.go
  traffic_ops/testing/api/v4/statuses_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/todb_test.go
  traffic_ops/traffic_ops_golang/status/statuses.go
Labels: bug, Traffic Ops, medium impact

#6762 Refactor cdn_domains, cdnnotifications, cookie, logs, ping, traffic_vault_ping tests
  traffic_ops/testing/api/v3/cdn_domains_test.go
  traffic_ops/testing/api/v3/logs_test.go
  traffic_ops/testing/api/v3/ping_test.go
  traffic_ops/testing/api/v4/cdn_domains_test.go
  traffic_ops/testing/api/v4/cdnnotifications_test.go
  traffic_ops/testing/api/v4/logs_test.go
  traffic_ops/testing/api/v4/ping_test.go
  traffic_ops/testing/api/v4/traffic_vault_ping_test.go
Labels: Traffic Ops, tests, improvement

#6822 Add t3c profile layering
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/atscfg_test.go
  lib/go-atscfg/cachedotconfig.go
  lib/go-atscfg/loggingdotconfig.go
  lib/go-atscfg/loggingdotyaml.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/storagedotconfig.go
Labels: new feature, cache-config

#6823 Add t3c api profiles compatibility
  cache-config/t3cutil/toreq/clientfuncs.go
  cache-config/t3cutil/toreq/conversions.go
Labels: cache-config

#6717 Idempotentiate Traffic Vault create_tables.sql
  CHANGELOG.md
  traffic_ops/app/db/trafficvault/create_tables.sql
  traffic_ops/app/db/trafficvault/test/run-tvdb-test.sh
Labels: Traffic Ops, Traffic Vault, database, improvement

#6829 Fix Internal Server Error when updating server without the id key
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, regression bug

#6819 Remove `/servers/details` from APIv4
  CHANGELOG.md
  docs/source/api/v3/servers_details.rst
  docs/source/api/v4/servers_details.rst
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/detail.go
  traffic_ops/v3-client/server.go
  traffic_ops/v4-client/server.go
Labels: Traffic Ops, tech debt, TC Client (python), TO Client (Go)

#6826 Cdnjs integrity hashes
  test/router/index.html
  test/router/js/load-test.jsx
Labels: Traffic Router, tests, tech debt

#6770 Remove tc.DBError, make api.Validators return two errors
  lib/go-tc/constants.go
  lib/go-tc/steeringtarget.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/api/shared_handlers_test.go
  traffic_ops/traffic_ops_golang/api/shared_interfaces.go
  traffic_ops/traffic_ops_golang/apitenant/tenant.go
  traffic_ops/traffic_ops_golang/asn/asns.go
  traffic_ops/traffic_ops_golang/asn/asns_test.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups_test.go
  traffic_ops/traffic_ops_golang/cdn/cdns.go
  traffic_ops/traffic_ops_golang/cdn/cdns_test.go
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
  traffic_ops/traffic_ops_golang/coordinate/coordinates.go
  traffic_ops/traffic_ops_golang/coordinate/coordinates_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/comment/comments.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/comment/comments_test.go
  traffic_ops/traffic_ops_golang/division/divisions.go
  traffic_ops/traffic_ops_golang/division/divisions_test.go
  traffic_ops/traffic_ops_golang/origin/origins.go
  traffic_ops/traffic_ops_golang/origin/origins_test.go
  traffic_ops/traffic_ops_golang/parameter/parameters.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations_test.go
  traffic_ops/traffic_ops_golang/profile/profiles.go
  traffic_ops/traffic_ops_golang/profile/profiles_test.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
  traffic_ops/traffic_ops_golang/region/regions.go
  traffic_ops/traffic_ops_golang/region/regions_test.go
  traffic_ops/traffic_ops_golang/role/roles.go
  traffic_ops/traffic_ops_golang/role/roles_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
  traffic_ops/traffic_ops_golang/server/servers_update_status_test.go
  traffic_ops/traffic_ops_golang/servercapability/servercapability.go
  traffic_ops/traffic_ops_golang/servicecategory/servicecategories.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry.go
  traffic_ops/traffic_ops_golang/staticdnsentry/staticdnsentry_test.go
  traffic_ops/traffic_ops_golang/status/statuses.go
  traffic_ops/traffic_ops_golang/steeringtargets/steeringtargets.go
  traffic_ops/traffic_ops_golang/steeringtargets/steeringtargets_test.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
  traffic_ops/traffic_ops_golang/types/types.go
  traffic_ops/traffic_ops_golang/types/types_test.go
  traffic_ops/traffic_ops_golang/user/user.go
Labels: Traffic Ops, low impact, tech debt

#6835 Fix t3c strategy peer yaml typo
  lib/go-atscfg/strategiesdotconfig.go
  lib/go-atscfg/strategiesdotconfig_test.go
Labels: bug, cache-config

#6844 Update Traffic Stats to use TO API v3
  CHANGELOG.md
  traffic_stats/traffic_stats.go
Labels: Traffic Stats, improvement

#6847 Fixed API v4 `/servers` result for query param {profileName}
  CHANGELOG.md
  docs/source/api/v4/servers.rst
  traffic_ops/testing/api/v4/cdn_queue_updates_by_type_profile_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: bug, Traffic Ops, low impact

#6213 Remove Traffic Router Profile name restrictions
  CHANGELOG.md
  cache-config/testing/ort-tests/tcdata/profiles.go
  docs/source/overview/profiles_and_parameters.rst
  grove/grovetccfg/grovetccfg.go
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops/trafficops-init.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-TRAFFIC_ROUTER.json
  lib/go-tc/profiles.go
  traffic_ops/testing/api/v2/profiles_test.go
  traffic_ops/testing/api/v3/profiles_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
  traffic_ops/traffic_ops_golang/cdn/domains.go
  traffic_ops/traffic_ops_golang/cdn/genksk.go
  traffic_ops/traffic_ops_golang/profile/profiles_test.go
Labels: Traffic Ops, documentation, tech debt, cdn-in-a-box

#6841 Add more t3c profile layering
  cache-config/t3c-generate/config/config.go
  cache-config/t3c-generate/t3c-generate.go
  cache-config/t3cutil/getdata.go
  cache-config/t3cutil/getdatacfg.go
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: cache-config, improvement

#6809 Fix t3c peering ring strategy generation for topologies, add tests
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/strategiesdotconfig_test.go
Labels: bug, tests, cache-config

#6848 Change t3c non-topo non-parent line to origin
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: bug, cache-config

#6832 Make users use same representation across endpoints
  CHANGELOG.md
  docs/source/api/v4/user_current.rst
  docs/source/api/v4/users.rst
  docs/source/api/v4/users_id.rst
  infrastructure/cdn-in-a-box/enroller/enroller.go
  lib/go-tc/tovalidate/validate.go
  lib/go-tc/tovalidate/validate_test.go
  lib/go-tc/users.go
  lib/go-tc/users_test.go
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/testing/api/v4/crconfig_test.go
  traffic_ops/testing/api/v4/parameters_test.go
  traffic_ops/testing/api/v4/profile_parameters_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/testing/api/v4/staticdnsentries_test.go
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/testing/api/v4/user_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/user/current.go
  traffic_ops/v4-client/user.go
  traffic_portal/app/src/common/api/UserService.js
Labels: bug, Traffic Ops, regression bug, medium impact, improvement, authentication

#6827 `api/{{version}/deliveryservices/{id}/health` returns no info if the delivery service uses a topology
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/health.go
  traffic_ops/traffic_ops_golang/deliveryservice/health_test.go
Labels: bug, Traffic Ops, medium impact
