Repository apache/trafficcontrol, pull requests merged in 2022-02, with the labels that each got.

#6534 CIAB: set GOPROXY to use go module mirror for CentOS 7
  CHANGELOG.md
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
Labels: bug, cdn-in-a-box, build

#6535 Rocky Linux 8 support
  .github/actions/build-rpms/build-rpms.sh
  CHANGELOG.md
  docs/source/admin/quick_howto/ciab.rst
  docs/source/development/building.rst
  docs/source/overview/profiles_and_parameters.rst
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/cdn-in-a-box/bin/ats-version.sh
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/docker-compose.traffic-portal-test.yml
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/optional/socksproxy/Dockerfile
  infrastructure/cdn-in-a-box/optional/vnc/Dockerfile
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_portal/Dockerfile
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_router/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
  infrastructure/docker/build/Dockerfile-cache-config
  infrastructure/docker/build/Dockerfile-docs
  infrastructure/docker/build/Dockerfile-fakeOrigin
  infrastructure/docker/build/Dockerfile-grove
  infrastructure/docker/build/Dockerfile-grovetccfg
  infrastructure/docker/build/Dockerfile-source
  infrastructure/docker/build/Dockerfile-tc-health-client
  infrastructure/docker/build/Dockerfile-traffic_monitor
  infrastructure/docker/build/Dockerfile-traffic_ops
  infrastructure/docker/build/Dockerfile-traffic_portal
  infrastructure/docker/build/Dockerfile-traffic_router
  infrastructure/docker/build/Dockerfile-traffic_stats
  infrastructure/docker/build/Dockerfile-tsb
  infrastructure/docker/build/docker-compose-opt.yml
  infrastructure/docker/build/docker-compose.yml
  pkg
  traffic_monitor/tests/_integration/Dockerfile
  traffic_monitor/tests/_integration/tm/Dockerfile
  traffic_monitor/tools/testcaches/Dockerfile
  traffic_monitor/tools/testto/Dockerfile
  traffic_server/_tsb/Dockerfile
  traffic_server/_tsb/docker-compose.yml
Labels: cdn-in-a-box, build, automation

#6444 Remove unnecessary logging of SSL cert/key paths
  traffic_ops/install/bin/_postinstall.py
Labels: Traffic Ops, low impact, install, improvement

#6542 Adding support for string timestamps
  lib/go-tc/traffic_stats.go
Labels: Traffic Stats, plugin

#6545 Add struct field names to Traffic Ops Routes
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, low impact, tech debt, improvement

#6524 Added CDNi Capacity and Telemetry
  CHANGELOG.md
  docs/source/admin/cdni.rst
  docs/source/admin/index.rst
  docs/source/admin/traffic_ops.rst
  docs/source/api/v4/oc_fci_advertisement.rst
  traffic_ops/app/conf/cdn.conf
  traffic_ops/app/db/migrations/2022011112591400_added_cdni_capacity_table.down.sql
  traffic_ops/app/db/migrations/2022011112591400_added_cdni_capacity_table.up.sql
  traffic_ops/traffic_ops_golang/cdni/capacity.go
  traffic_ops/traffic_ops_golang/cdni/shared.go
  traffic_ops/traffic_ops_golang/cdni/telemetry.go
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: new feature, Traffic Ops, documentation, database

#6538 Correcting use of httpsPort instead of secure.port
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/util/LanguidState.java
Labels: bug, Traffic Router

#6531 TR Ultimate Test Harness - DNS Load Tests
  traffic_router/ultimate-test-harness/dns_test.go
  traffic_router/ultimate-test-harness/http_test.go
  traffic_router/ultimate-test-harness/main_test.go
  traffic_router/ultimate-test-harness/traffic_ops_test.go
Labels: Traffic Router, tests, performance

#6552 Validate type in topology using current cache group name
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
Labels: bug, Traffic Ops

#6557 Added CDNi ability to negotiate higher capacities
  CHANGELOG.md
  docs/source/admin/cdni.rst
  docs/source/api/v4/oc_ci_configuration.rst
  docs/source/api/v4/oc_ci_configuration_host.rst
  docs/source/api/v4/oc_ci_configuration_request_id_approved.rst
  experimental/traffic_router_golang/httpsrvr/httpsrvr.go
  lib/go-rfc/http.go
  traffic_ops/app/db/migrations/2022020114365100_capacity_updates_queue.down.sql
  traffic_ops/app/db/migrations/2022020114365100_capacity_updates_queue.up.sql
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh.go
  traffic_ops/traffic_ops_golang/cdni/shared.go
  traffic_ops/traffic_ops_golang/deliveryservice/acme.go
  traffic_ops/traffic_ops_golang/deliveryservice/autorenewcerts.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: new feature, Traffic Ops, documentation, database

#6562 Send fallbackToClosest as a boolean instead of a string
  CHANGELOG.md
  infrastructure/ansible/roles/dataset_loader/templates/cachegroup.j2
Labels: bug, ansible

#6536 TP: adds permissions to roles form
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/role/form.role.tpl.html
Labels: Traffic Portal, improvement

#6429 Collect config warnings and print a summary at the end of t3c apply
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-generate/cfgfile/all.go
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  cache-config/t3c-generate/cfgfile/routing.go
  cache-config/t3c-generate/cfgfile/sslkeys.go
  cache-config/t3cutil/t3cutil.go
Labels: cache-config

#6573 Add running db/admin for Traffic Vault in Traffic Ops upgrade example
  docs/source/admin/traffic_ops.rst
Labels: documentation, low impact, improvement

#6571 Convert Tpv2 "Users" page to an AG-Grid table
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/core/users/users.component.html
  experimental/traffic-portal/src/app/core/users/users.component.spec.ts
  experimental/traffic-portal/src/app/core/users/users.component.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.ts
  experimental/traffic-portal/src/app/shared/shared.module.ts
  experimental/traffic-portal/src/app/shared/table-components/email-cell-renderer/email-cell-renderer.component.html
  experimental/traffic-portal/src/app/shared/table-components/email-cell-renderer/email-cell-renderer.component.scss
  experimental/traffic-portal/src/app/shared/table-components/email-cell-renderer/email-cell-renderer.component.spec.ts
  experimental/traffic-portal/src/app/shared/table-components/email-cell-renderer/email-cell-renderer.component.ts
  experimental/traffic-portal/src/app/shared/table-components/telephone-cell-renderer/telephone-cell-renderer.component.html
  experimental/traffic-portal/src/app/shared/table-components/telephone-cell-renderer/telephone-cell-renderer.component.scss
  experimental/traffic-portal/src/app/shared/table-components/telephone-cell-renderer/telephone-cell-renderer.component.spec.ts
  experimental/traffic-portal/src/app/shared/table-components/telephone-cell-renderer/telephone-cell-renderer.component.ts
Labels: bug, improvement, experimental

#6568 Various changes to restore integration tests in 'verify' target
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/secure/CertificatesPublisher.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/util/Fetcher.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/TestBase.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/TrafficRouterStart.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManagerTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/ExternalTestSuite.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/HttpDataServer.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/loc/AbstractServiceUpdaterTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/router/TrafficRouterTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/util/FetcherTest.java
  traffic_router/core/src/test/resources/publish/CrConfig.json
  traffic_router/core/src/test/resources/publish/CrConfig2.json
  traffic_router/core/src/test/resources/publish/CrConfig3.json
  traffic_router/core/src/test/resources/publish/CrConfig4.json
Labels: Traffic Router

#6554 Refactor cachegroup tests
  traffic_ops/testing/api/assert/assertions.go
  traffic_ops/testing/api/utils/utils.go
  traffic_ops/testing/api/v4/cachegroups_test.go
Labels: tests, improvement, TO Client (Go)

#6558 Add t3c-preprocess cachegroup directive
  CHANGELOG.md
  cache-config/t3c-preprocess/README.md
  cache-config/t3c-preprocess/t3c-preprocess.go
  cache-config/t3c-preprocess/t3c-preprocess_test.go
Labels: cache-config, improvement

#6576 Fix logging for Traffic Stats
  traffic_stats/traffic_stats.go
Labels: bug, Traffic Stats, logging

#5804 Add cache config strategies.yaml generation
  CHANGELOG.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-generate/cfgfile/routing.go
  cache-config/t3c-generate/cfgfile/wrappers.go
  cache-config/t3c-generate/config/config.go
  cache-config/t3cutil/enum.go
  cache-config/testing/ort-tests/baseline-configs/parent.config
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/ipallowdotyaml.go
  lib/go-atscfg/loggingdotyaml.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/parentabstraction.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
  lib/go-atscfg/strategiesdotconfig.go
  lib/go-atscfg/strategiesdotconfig_test.go
Labels: new feature, cache-config

#6578 Add support for File URLs to database loader
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/loc/AbstractServiceUpdater.java
Labels: Traffic Router, low impact, improvement

#6559 Fix Security Issues in Traffic Portal Server
  .github/actions/tp-integration-tests/entrypoint.sh
  CHANGELOG.md
  infrastructure/cdn-in-a-box/traffic_portal/run.sh
  infrastructure/docker/traffic_portal/run.sh
  traffic_portal/app/src/package-lock.json
  traffic_portal/app/src/package.json
  traffic_portal/build/etc/init.d/traffic_portal
  traffic_portal/build/traffic_portal.spec
Labels: bug, Traffic Portal, cdn-in-a-box

#6580 Fix cache config generation for MIDs with a cache parent and HTTPS origin
  CHANGELOG.md
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: bug, cache-config

#6532 CDN-in-a-Box for Developers
  .dependency_license
  .env
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
  .github/workflows/ciab.yaml
  .gitignore
  Makefile
  cache-config/Makefile
  dev/README.md
  dev/atc.dev.sh
  dev/t3c/Dockerfile
  dev/t3c/run.sh
  dev/tpv2/Dockerfile
  dev/tpv2/proxy.json
  dev/tpv2/run.sh
  dev/traffic_monitor/.gitignore
  dev/traffic_monitor/Dockerfile
  dev/traffic_monitor/ops.config.json
  dev/traffic_monitor/run.sh
  dev/traffic_monitor/tm.config.json
  dev/traffic_ops/.pgpass
  dev/traffic_ops/Dockerfile
  dev/traffic_ops/cdn.json
  dev/traffic_ops/db.config.json
  dev/traffic_ops/dbconf.yml
  dev/traffic_ops/run.sh
  dev/traffic_ops/seed.psql
  dev/traffic_ops/traffic.vault.dbconf.yml
  dev/traffic_portal/Dockerfile
  dev/traffic_portal/config.js
  dev/traffic_portal/run.sh
  dev/traffic_router/.gitignore
  dev/traffic_router/Dockerfile
  dev/traffic_router/conf/https.properties
  dev/traffic_router/conf/keyStore.jks
  dev/traffic_router/conf/log4j2.xml
  dev/traffic_router/conf/logging.properties
  dev/traffic_router/conf/server.xml
  dev/traffic_router/conf/traffic_monitor.properties
  dev/traffic_router/conf/traffic_ops.properties
  dev/traffic_router/conf/trafficrouter.dev.ciab.test.crt
  dev/traffic_router/conf/web.xml
  dev/traffic_router/czf.json
  dev/traffic_router/lib
  dev/traffic_router/run.sh
  dev/traffic_router/settings.xml
  dev/traffic_router/webapps/ROOT
  docker-compose.yml
  docs/source/development/debugging.rst
  docs/source/development/index.rst
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  infrastructure/cdn-in-a-box/traffic_router/run.sh
  tc-health-client/.gitignore
  traffic_control/clients/python/pylint.rc
  traffic_portal/package-lock.json
Labels: improvement, experimental, process

#6584 Fix TR NPE when topology cachegroup doesn't exist in crconfig
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/config/ConfigHandler.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/TrafficRouterStart.java
Labels: bug, Traffic Router

#6581 TMs peer with other TMs of the same status, not just ONLINE
  CHANGELOG.md
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/manager/monitorconfig_test.go
Labels: Traffic Monitor, improvement

#6586 Add t3c final failure log msg
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/util/util.go
  cache-config/testing/ort-tests/t3c-fail-log.go
Labels: cache-config, improvement

#6432 Add the ability to close idle connections to TO Go client (all versions)
  traffic_ops/toclientlib/endpoints.go
  traffic_ops/toclientlib/toclientlib.go
Labels: low impact, tech debt, performance, TO Client (Go)

#6556 Assign Triage Role GHA: Use defaults if inputs are not set
  .github/workflows/assign-triage-role.yml
Labels: bug, automation, collaborators

#6590 Correct parameter name in TOSession.get_parameters_by_profile_id
  CHANGELOG.md
  traffic_control/clients/python/trafficops/tosession.py
Labels: bug, TC Client (python)

#6591 Fixes an issue with the dev cached snapshot causing unmarshaling failure
  dev/traffic_ops/seed.psql
Labels: bug, low impact, dev-ciab
