Repository apache/trafficcontrol, pull requests merged in 2022-06, with the labels that each got.

#6873 ATC Collaborators for June 2022
  .asf.yaml
Labels: process, collaborators

#6860 Remove hardcoded success message from Traffic Portal when creating/updating and deleting a delivery service
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/test/integration/Data/deliveryservicerequest.ts
  traffic_portal/test/integration/Data/deliveryservices.ts
  traffic_portal/test/integration/PageObjects/DeliveryServicePage.po.ts
Labels: Traffic Portal, improvement

#6870 Fix t3c log message with reversed args
  cache-config/t3cutil/toreq/client.go
Labels: bug, low impact, cache-config

#6862 Refactor Physical Locations Test
  traffic_ops/testing/api/v3/phys_locations_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/phys_locations_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: Traffic Ops, tests, improvement

#6875 Update Go version to 1.18.3
  .env
  GO_VERSION
Labels: go version

#6877 Update Traffic Portal v2 to use Traffic Ops API v3
  experimental/traffic-portal/src/environments/environment.prod.ts
Labels: experimental

#6881 Default routeID to 0, if it is not present in the request context
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
  traffic_ops/traffic_ops_golang/routing/routing.go
Labels: bug, Traffic Ops

#6851 Refactor Servers Test
  traffic_ops/testing/api/assert/assertions.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/servers_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: Traffic Ops, tests, improvement

#6887 Fix Internal Server Error when creating/updating role missing capabilities property
  traffic_ops/traffic_ops_golang/role/roles.go
  traffic_ops/traffic_ops_golang/role/roles_test.go
Labels: bug, Traffic Ops, low impact

#6852 Move duplicate rand functionality to test rand
  cache-config/t3c-generate/cfgfile/cfgfile_test.go
  grove/stat/stats_test.go
  traffic_monitor/cache/astats_test.go
  traffic_monitor/cache/data_test.go
  traffic_monitor/datareq/datareq_test.go
  traffic_monitor/ds/stat_test.go
  traffic_monitor/threadsafe/resultstathistory_test.go
  traffic_ops/app/db/traffic_vault_migrate/traffic_vault_migrate_test.go
  traffic_ops/traffic_ops_golang/crconfig/config_test.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice_test.go
  traffic_ops/traffic_ops_golang/crconfig/edgelocations_test.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/crconfig/stats_test.go
  traffic_ops/traffic_ops_golang/test/rand.go
Labels: low impact, tests, tech debt, improvement

#6888 Add the ability to view linked Delivery Service Requests for a Delivery Service in TP
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/modules/private/deliveryServiceRequests/list/index.js
Labels: new feature, Traffic Portal, low impact

#6422 update readme for TO on cross compilation
  traffic_ops/traffic_ops_golang/README.md
Labels: documentation, low impact, improvement

#6880 t3c will ensure config files are owned by ats
  CHANGELOG.md
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-diff/README.md
  cache-config/t3c-diff/t3c-diff.go
  cache-config/t3cutil/t3cutil.go
Labels: low impact, cache-config, improvement

#6891 Traffic Portal: fix profiles servers table
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/form/profile/FormProfileController.js
  traffic_portal/app/src/common/modules/form/profile/form.profile.tpl.html
  traffic_portal/app/src/common/modules/table/_table.scss
  traffic_portal/app/src/common/modules/table/agGrid/CommonGridController.js
  traffic_portal/app/src/common/modules/table/agGrid/grid.tpl.html
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/TableProfileDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/index.js
  traffic_portal/app/src/common/modules/table/profileDeliveryServices/table.profileDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/profileServers/TableProfileServersController.js
  traffic_portal/app/src/common/modules/table/profileServers/index.js
  traffic_portal/app/src/common/modules/table/profileServers/table.profileServers.tpl.html
  traffic_portal/app/src/common/modules/table/profiles/TableProfilesController.js
  traffic_portal/app/src/modules/private/profiles/deliveryServices/index.js
  traffic_portal/app/src/modules/private/profiles/servers/index.js
Labels: Traffic Portal, low impact, regression bug

#6886 Refactor Roles Tests
  traffic_ops/testing/api/v3/roles_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/roles_test.go
Labels: tests, improvement, TO Client (Go)

#6894 Refactor cdn queue updates test
  traffic_ops/testing/api/v4/cdn_queue_updates_by_type_profile_test.go
  traffic_ops/testing/api/v4/cdn_queue_updates_test.go
Labels: low impact, tests, improvement, TO Client (Go)

#6872 Traffic Ops Service Oriented Architecture blueprint
  blueprints/img/to-soa.png
  blueprints/to_soa.md
Labels: blueprint

#6897 Refactor Federation Resolvers Test
  traffic_ops/testing/api/v3/federation_resolvers_test.go
  traffic_ops/testing/api/v4/federation_resolvers_test.go
Labels: low impact, tests, improvement, TO Client (Go)

#6864 Refactor coordinates test
  traffic_ops/testing/api/v3/coordinates_test.go
  traffic_ops/testing/api/v3/origins_test.go
  traffic_ops/testing/api/v4/coordinates_test.go
  traffic_ops/testing/api/v4/origins_test.go
Labels: Traffic Ops, tests, improvement

#6906 Ignore existing capability in seeds.sql if it already exists
  traffic_ops/app/db/seeds.sql
Labels: bug, Traffic Ops, database

#6869 Update Traffic Ops API v2 usage to API v4
  docs/source/admin/quick_howto/ciab.rst
  docs/source/api/v4/regions.rst
  experimental/url-rewriter-nginx/Url_Rewriter_Dockerfile
  infrastructure/cdn-in-a-box/cache/run.sh
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/traffic_monitor/run.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-TRAFFIC_ROUTER.json
  infrastructure/docker/README.md
  infrastructure/docker/traffic_monitor/run.sh
  infrastructure/docker/traffic_ops/run.sh
  infrastructure/docker/traffic_router/run.sh
  infrastructure/docker/traffic_server_edge/run.sh
  infrastructure/docker/traffic_server_mid/run.sh
  infrastructure/docker/traffic_stats/run.sh
  infrastructure/docker/traffic_vault/run.sh
  infrastructure/test/integration/README.md
  test/astats_sim/ats_sim.js
  traffic_control/clients/java/trafficops/src/main/java/org/apache/trafficcontrol/client/trafficops/TOSession.java
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/app/bin/checks/ToAutorenewCerts.pl
  traffic_ops/app/bin/checks/ToDSCPCheck.pl
  traffic_ops/app/bin/checks/ToORTCheck.pl
  traffic_ops/traffic_ops_golang/README.md
  traffic_ops/traffic_ops_golang/routing/routing_test.go
Labels: Traffic Ops, documentation, tech debt, cdn-in-a-box, tools, automation

#6908 Fix t3c panic on failed TO request
  cache-config/t3cutil/getdatacfg.go
Labels: bug, low impact, cache-config

#6890 Add user details/edit page to TPv2
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/server.ts
  experimental/traffic-portal/src/app/api/testing/user.service.ts
  experimental/traffic-portal/src/app/api/user.service.ts
  experimental/traffic-portal/src/app/app.ui.module.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.scss
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.spec.ts
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.html
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.scss
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.spec.ts
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.ts
  experimental/traffic-portal/src/app/core/users/users.component.html
  experimental/traffic-portal/src/app/core/users/users.component.spec.ts
  experimental/traffic-portal/src/app/core/users/users.component.ts
  experimental/traffic-portal/src/app/login/login.component.spec.ts
  experimental/traffic-portal/src/app/models/user.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.html
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.scss
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.ts
  experimental/traffic-portal/src/app/shared/theme-manager/theme-manager.service.ts
Labels: new feature, low impact, experimental, TPv2

#6911 Refactor/types test
  traffic_ops/testing/api/v3/types_test.go
  traffic_ops/testing/api/v4/types_test.go
Labels: low impact, tests, improvement, TO Client (Go)

#6913 Update TR dependencies
  CHANGELOG.md
  traffic_router/core/pom.xml
  traffic_router/pom.xml
Labels: Traffic Router, low impact, dependencies

#6918 Fix TR db file permissions
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/loc/AbstractServiceUpdater.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/util/AbstractResourceWatcher.java
Labels: bug, Traffic Router

#6919 Log errors in Traffic Stats when closing influxdb client
  traffic_stats/traffic_stats.go
Labels: bug, Traffic Stats, low impact

#6920 TR: don't make file world-writable just before deletion
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/loc/AbstractServiceUpdater.java
Labels: bug, Traffic Router

#6910 TP: changes query param that dictates ds form template from type to dsType
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryServiceConsistentHashRegex/form.deliveryServiceConsistentHashRegex.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceJob/form.deliveryServiceJob.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceRegex/form.deliveryServiceRegex.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/form.deliveryServiceSslKeys.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/generate/form.GenerateDeliveryServiceSslKeys.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceStaticDnsEntry/form.deliveryServiceStaticDnsEntry.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryServiceTarget/form.deliveryServiceTarget.tpl.html
  traffic_portal/app/src/common/modules/form/origin/FormOriginController.js
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/table.cdnDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceCapabilities/table.deliveryServiceCapabilities.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceJobs/TableDeliveryServiceJobsController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceOrigins/table.deliveryServiceOrigins.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRegexes/table.deliveryServiceRegexes.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceRequestComments/TableDeliveryServiceRequestCommentsController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceRequests/TableDeliveryServiceRequestsController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceStaticDnsEntries/table.deliveryServiceStaticDnsEntries.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceTargets/table.deliveryServiceTargets.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServiceUsers/table.deliveryServiceUsers.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/table.deliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/serverCapabilityDeliveryServices/TableServerCapabilityDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/table.serverDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/serviceCategoryDeliveryServices/table.serviceCategoryDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/table.tenantDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/topologyDeliveryServices/table.topologyDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/table.typeDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/widget/deliveryServices/WidgetDeliveryServicesController.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/comments/index.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/FormEditDeliveryServiceRequestController.js
  traffic_portal/app/src/modules/private/deliveryServiceRequests/edit/index.js
  traffic_portal/app/src/modules/private/deliveryServices/capabilities/index.js
  traffic_portal/app/src/modules/private/deliveryServices/charts/charts.tpl.html
  traffic_portal/app/src/modules/private/deliveryServices/clone/index.js
  traffic_portal/app/src/modules/private/deliveryServices/edit/index.js
  traffic_portal/app/src/modules/private/deliveryServices/jobs/index.js
  traffic_portal/app/src/modules/private/deliveryServices/new/index.js
  traffic_portal/app/src/modules/private/deliveryServices/servers/index.js
  traffic_portal/app/src/modules/private/deliveryServices/uriSigningKeys/deliveryServiceUriSigningKeys.tpl.html
  traffic_portal/app/src/modules/private/deliveryServices/urlSigKeys/deliveryServiceUrlSigKeys.tpl.html
Labels: bug, Traffic Portal

#6923 Remove `client.steering.forced.diversity` from Traffic Router
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/resources/publish/CrConfig.json
Labels: Traffic Router, documentation

#6930 Adding SOA capability to CIAB
  CHANGELOG.md
  infrastructure/cdn-in-a-box/traffic_ops/run-go.sh
Labels: new feature, configuration, cdn-in-a-box

#6933 Fix tc-health-client to handle credentials files with special characters.
  CHANGELOG.md
  tc-health-client/config/config.go
  tc-health-client/config/config_test.go
Labels: bug, tc-health-client

#6932 Return the appropriate version based server structure on deletion
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, regression bug

#6935 Fix Internal Server Error in `POST api/cachegroups/{id}/queue_updates`
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
Labels: Traffic Ops, regression bug

#6889 Refactor iso, loginfail, readonlycannotmodify, steering, servercheckextension tests
  traffic_ops/testing/api/v3/cdns_test.go
  traffic_ops/testing/api/v3/iso_test.go
  traffic_ops/testing/api/v3/loginfail_test.go
  traffic_ops/testing/api/v3/readonlycannotmodify_test.go
  traffic_ops/testing/api/v3/servercheckextension_test.go
  traffic_ops/testing/api/v3/steering_test.go
  traffic_ops/testing/api/v4/cdns_test.go
  traffic_ops/testing/api/v4/iso_test.go
  traffic_ops/testing/api/v4/loginfail_test.go
  traffic_ops/testing/api/v4/readonlycannotmodify_test.go
  traffic_ops/testing/api/v4/servercheckextension_test.go
  traffic_ops/testing/api/v4/steering_test.go
Labels: Traffic Ops, tests

#6863 Refactor divisions test
  traffic_ops/testing/api/v3/divisions_test.go
  traffic_ops/testing/api/v4/divisions_test.go
Labels: Traffic Ops, tests, improvement

#6898 Refactor ServerCapabilities Tests
  traffic_ops/testing/api/v3/servercapabilities_test.go
  traffic_ops/testing/api/v4/servercapabilities_test.go
Labels: low impact, tests, improvement, TO Client (Go)

#6922 Refactor Server Checks Tests
  traffic_ops/testing/api/v3/serverchecks_test.go
  traffic_ops/testing/api/v4/serverchecks_test.go
Labels: low impact, tests, improvement, TO Client (Go)

#6926 Refactor Stats Summary Tests
  traffic_ops/testing/api/v3/stats_summary_test.go
  traffic_ops/testing/api/v4/stats_summary_test.go
Labels: low impact, tests, improvement, TO Client (Go)

#6921 Refactor Steering Targets Tests
  traffic_ops/testing/api/v3/steeringtargets_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/withobjs_test.go
  traffic_ops/testing/api/v4/steeringtargets_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/withobjs_test.go
  traffic_ops/v3-client/steeringtarget.go
Labels: low impact, tests, improvement, TO Client (Go)

#6936 Fix Federation and Steering Test Issues
  traffic_ops/testing/api/v3/federations_test.go
  traffic_ops/testing/api/v3/steering_test.go
  traffic_ops/testing/api/v4/federations_test.go
  traffic_ops/testing/api/v4/steering_test.go
Labels: bug, Traffic Ops, tests
