Repository apache/trafficcontrol, pull requests merged in 2022-04, with the labels that each got.

#6699 Prebuild trafficserver for Dev CDN-in-a-Box
  .env
  .github/actions/pr-to-update-go/pr_to_update_go/constants.py
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
  .github/actions/pr-to-update-go/requirements.txt
  .github/actions/pr-to-update-go/setup.cfg
  .github/containers/trafficserver-alpine/Dockerfile
  .github/containers/trafficserver-alpine/docker-compose.yml
  .github/workflows/container-trafficserver-alpine.yml
  dev/t3c/Dockerfile
  docker-compose.yml
Labels: performance, automation, dev-ciab

#6651 Run Angular 12/13 migrations for TPv2
  experimental/traffic-portal/.gitignore
  experimental/traffic-portal/angular.json
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/server.ts
  experimental/traffic-portal/src/environments/environment.ts
  experimental/traffic-portal/src/polyfills.ts
  experimental/traffic-portal/src/styles.scss
  experimental/traffic-portal/src/test.ts
  experimental/traffic-portal/src/theme.scss
Labels: Traffic Portal

#6721 t3c-generate fix for combining ds remap config params
  CHANGELOG.md
  cache-config/t3c-generate/cfgfile/wrappers.go
Labels: low impact, tech debt, cache-config

#6731 Fix fuzzy search not working in TP Tenant select
  traffic_portal/app/src/common/directives/treeSelect/TreeSelectDirective.js
Labels: bug, Traffic Portal

#6729 Use absolute ordering in web.xml
  traffic_router/core/src/main/webapp/WEB-INF/web.xml
Labels: bug, Traffic Router, configuration

#6727 Sync Dev CDN in a Box snapshot
  dev/traffic_ops/seed.psql
Labels: process, dev-ciab

#6696 Add E2E testing to TPv2
  .github/actions/to-integration-tests/package-lock.json
  .github/actions/tp-integration-tests/package-lock.json
  .github/actions/tpv2-integration-tests/.eslintrc
  .github/actions/tpv2-integration-tests/README.md
  .github/actions/tpv2-integration-tests/action.yml
  .github/actions/tpv2-integration-tests/cdn.json
  .github/actions/tpv2-integration-tests/database.json
  .github/actions/tpv2-integration-tests/dbconf.yml
  .github/actions/tpv2-integration-tests/dist/tpv2-integration-tests.js
  .github/actions/tpv2-integration-tests/entrypoint.sh
  .github/actions/tpv2-integration-tests/package-lock.json
  .github/actions/tpv2-integration-tests/package.json
  .github/actions/tpv2-integration-tests/tpv2-integration-tests.ts
  .github/actions/tpv2-integration-tests/tsconfig.json
  .github/workflows/tpv2.integration.tests.yml
  .github/workflows/tpv2.yml
  experimental/traffic-portal/.eslintrc.json
  experimental/traffic-portal/.gitignore
  experimental/traffic-portal/README.md
  experimental/traffic-portal/angular.json
  experimental/traffic-portal/e2e/protractor.conf.js
  experimental/traffic-portal/e2e/src/app.e2e-spec.ts
  experimental/traffic-portal/e2e/src/app.po.ts
  experimental/traffic-portal/e2e/tsconfig.json
  experimental/traffic-portal/nightwatch/.eslintrc.json
  experimental/traffic-portal/nightwatch/README.md
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/nightwatch.conf.js
  experimental/traffic-portal/nightwatch/page_objects/login.ts
  experimental/traffic-portal/nightwatch/tests/login.spec.ts
  experimental/traffic-portal/nightwatch/tsconfig.e2e.json
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/login/login.component.html
Labels: Traffic Portal, tests, automation

#6703 Don't check for locks on dequeue
  CHANGELOG.md
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/traffic_ops_golang/cachegroup/queueupdate.go
  traffic_ops/traffic_ops_golang/cdn/queue.go
  traffic_ops/traffic_ops_golang/server/queue_update.go
  traffic_ops/traffic_ops_golang/topology/queue_update.go
  traffic_portal/app/src/common/modules/dialog/select/lock/dialog.select.lock.tpl.html
Labels: bug, Traffic Ops

#6730 t3c race condition timestamp updates
  cache-config/testing/ort-tests/tc-fixtures.json
  docs/source/api/v3/servers_id.rst
  docs/source/api/v4/servers_hostname_update.rst
  traffic_ops/app/db/migrations/2022040623082100_server_config_update.down.sql
  traffic_ops/app/db/migrations/2022040623082100_server_config_update.up.sql
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/server/update.go
Labels: new feature, Traffic Ops, documentation, database

#6740 Use composite runner for TP/TPv2/TO integration test GHA
  .github/actions/to-integration-tests/.eslintrc
  .github/actions/to-integration-tests/action.yml
  .github/actions/to-integration-tests/dist/to-integration-tests.js
  .github/actions/to-integration-tests/package-lock.json
  .github/actions/to-integration-tests/package.json
  .github/actions/to-integration-tests/to-integration-tests.ts
  .github/actions/to-integration-tests/tsconfig.json
  .github/actions/tp-integration-tests/.eslintrc
  .github/actions/tp-integration-tests/README.md
  .github/actions/tp-integration-tests/action.yml
  .github/actions/tp-integration-tests/dist/tp-integration-tests.js
  .github/actions/tp-integration-tests/entrypoint.sh
  .github/actions/tp-integration-tests/package-lock.json
  .github/actions/tp-integration-tests/package.json
  .github/actions/tp-integration-tests/tp-integration-tests.ts
  .github/actions/tp-integration-tests/tsconfig.json
  .github/actions/tpv2-integration-tests/.eslintrc
  .github/actions/tpv2-integration-tests/README.md
  .github/actions/tpv2-integration-tests/action.yml
  .github/actions/tpv2-integration-tests/dist/tpv2-integration-tests.js
  .github/actions/tpv2-integration-tests/package-lock.json
  .github/actions/tpv2-integration-tests/package.json
  .github/actions/tpv2-integration-tests/tpv2-integration-tests.ts
  .github/actions/tpv2-integration-tests/tsconfig.json
Labels: automation

#6744 Fix t3c nil reference on fallback
  cache-config/t3cutil/toreq/clientfuncs.go
Labels: bug, cache-config

#6728 Refactor DeliveryServiceServers and DeliveryServiceRequiredCapabilities tests
  traffic_ops/testing/api/v3/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/testing/api/v3/deliveryserviceservers_test.go
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/testing/api/v3/withobjs_test.go
  traffic_ops/testing/api/v4/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/serverservercapability_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/testing/api/v4/withobjs_test.go
Labels: Traffic Ops, tests, tech debt

#6588 TR Ultimate Test Harness GHA workflow
  .github/workflows/tr-ultimate-test-harness.yml
  dev/atc.dev.sh
  dev/traffic_ops/seed.psql
  dev/traffic_router/Dockerfile
  dev/traffic_router/conf/log4j2.xml
  dev/traffic_router/run.sh
  dev/traffic_router/settings.xml
  docker-compose.yml
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
Labels: tests, automation, dev-ciab

#6718 Have the asf-ci user create Pull Requests for GitHub Actions
  .github/actions/assign-triage-role/README.rst
  .github/actions/assign-triage-role/assign_triage_role/constants.py
  .github/actions/assign-triage-role/assign_triage_role/triage_role_assigner.py
  .github/actions/assign-triage-role/setup.cfg
  .github/actions/pr-to-update-go/README.rst
  .github/actions/pr-to-update-go/pr_to_update_go/constants.py
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
  .github/actions/pr-to-update-go/setup.cfg
  .github/workflows/assign-triage-role.yml
  .github/workflows/pr-to-update-go.yml
Labels: improvement, automation

#6751 Update Go version to 1.18.1
  .env
  GO_VERSION
  go.mod
Labels: go version

#6732 Refactor DeliveryServices Regex tests
  traffic_ops/testing/api/v3/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: Traffic Ops, tests, tech debt, improvement

#6756 Fix t3c TO API fallback
  .github/actions/go-fmt/entrypoint.sh
  cache-config/t3cutil/toreq/client.go
  cache-config/t3cutil/toreq/clientfuncs.go
  cache-config/t3cutil/toreq/toreqold/client.go
  cache-config/t3cutil/toreq/toreqold/clientfuncs.go
Labels: bug, cache-config

#6760 Fix missing input in execution environment for API tests GHA
  .github/actions/to-integration-tests/action.yml
  .github/actions/to-integration-tests/entrypoint.sh
Labels: bug, high impact, automation, low effort

#6755 Fixes the cache-config integration tests.
  cache-config/testing/docker/db_init/Dockerfile
  cache-config/testing/docker/db_init/dbInit.sh
  cache-config/testing/docker/docker-compose.yml
  cache-config/testing/docker/ort_test/Dockerfile
  cache-config/testing/docker/ort_test/run.sh
  cache-config/testing/docker/traffic_ops/Dockerfile
  cache-config/testing/docker/traffic_ops/run.sh
  cache-config/testing/docker/variables.env
Labels: bug, low impact, tests, cache-config, automation

#6752 fixed multiple cookies
  traffic_ops/traffic_ops_golang/routing/routing.go
Labels: bug, Traffic Ops

#6745 fixed JWT Auth to have Expires and renew when Mojo renews
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/login/login.go
Labels: bug, Traffic Ops, authentication

#6639 Added Traffic Portal page for CDNi config requests
  CHANGELOG.md
  docs/source/api/v4/oc_ci_configuration_request_id_approved.rst
  docs/source/api/v4/oc_ci_configuration_requests.rst
  traffic_ops/traffic_ops_golang/cdni/shared.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/api/CdniService.js
  traffic_portal/app/src/common/api/index.js
  traffic_portal/app/src/common/modules/form/cdniConfigRequests/FormCdniRequestController.js
  traffic_portal/app/src/common/modules/form/cdniConfigRequests/form.cdniConfigRequests.tpl.html
  traffic_portal/app/src/common/modules/form/cdniConfigRequests/index.js
  traffic_portal/app/src/common/modules/navigation/navigation.tpl.html
  traffic_portal/app/src/common/modules/table/cdniConfigRequests/TableCdniController.js
  traffic_portal/app/src/common/modules/table/cdniConfigRequests/index.js
  traffic_portal/app/src/common/modules/table/cdniConfigRequests/table.cdniConfigRequests.tpl.html
  traffic_portal/app/src/modules/private/cdniConfigRequests/cdniConfigRequests.tpl.html
  traffic_portal/app/src/modules/private/cdniConfigRequests/index.js
  traffic_portal/app/src/modules/private/cdniConfigRequests/list/index.js
  traffic_portal/app/src/modules/private/cdniConfigRequests/view/index.js
Labels: new feature, Traffic Ops, Traffic Portal, documentation

#6765 When updating server status, only queue updates on children in same CDN
  CHANGELOG.md
  traffic_ops/testing/api/v4/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/server/put_status.go
Labels: bug, Traffic Ops

#6711 Layered profile for ds servers [`GET` API endpoint `deliveryservices/{id}/servers/)` and `/deliveryservices/{id}/servers/eligible`]
  CHANGELOG.md
  docs/source/api/v4/deliveryservices_id_servers.rst
  lib/go-tc/deliveryservice_servers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers_test.go
Labels: new feature, Traffic Ops

#6772 Sync TO API v3 test with v4
  traffic_ops/testing/api/v3/serverupdatestatus_test.go
Labels: Traffic Ops, tests

#6757 updated cert expirations to only show Active DSes
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
Labels: Traffic Ops, SSL

#6764 Refactor t3c client login
  cache-config/t3c-request/t3c-request.go
  cache-config/t3c-update/t3c-update.go
  cache-config/t3cutil/toreq/client.go
  cache-config/t3cutil/toreq/torequtil/torequtil.go
Labels: bug, tech debt, cache-config

#6708 adding strategies peering ring generation to t3c
  docs/source/overview/delivery_services.rst
  lib/go-atscfg/parentabstraction.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/strategiesdotconfig.go
Labels: low impact, cache-config, improvement

#6593 Layered Server Feature for `GET` API endpoint `servers/details`
  CHANGELOG.md
  docs/source/api/v4/servers_details.rst
  lib/go-tc/servers.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/server/detail.go
  traffic_ops/traffic_ops_golang/server/detail_test.go
Labels: Traffic Ops, Traffic Portal, database, cache-config

#6777 Documentation fixes
  docs/source/admin/quick_howto/ciab.rst
  docs/source/admin/traffic_ops.rst
  docs/source/admin/traffic_server.rst
  docs/source/api/v3/steering.rst
  docs/source/api/v4/steering.rst
  docs/source/development/traffic_ops.rst
  docs/source/glossary.rst
  docs/source/overview/delivery_services.rst
Labels: documentation, improvement

#6784 CodeQL workflow for Java
  .github/workflows/codeql.java.yml
Labels: new feature, automation, process, java

#6782 Fix internal server error and false positive when creating a server
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, regression bug

#6786 Update TM to use TO API 4.0/3.1
  CHANGELOG.md
  traffic_monitor/tests/_integration/Dockerfile
  traffic_monitor/tmcheck/dsstats.go
  traffic_monitor/tmcheck/offlinestates.go
  traffic_monitor/tmcheck/peerpoller.go
  traffic_monitor/tmcheck/queryinterval.go
  traffic_monitor/tmcheck/tmcheck.go
  traffic_monitor/tools/nagios-validate-deliveryservices/nagios-validate-deliveryservices.go
  traffic_monitor/tools/nagios-validate-offline/nagios-validate-offline.go
  traffic_monitor/tools/nagios-validate-peerpoller/nagios-validate-peerpoller.go
  traffic_monitor/tools/nagios-validate-queryinterval/nagios-validate-queryinterval.go
  traffic_monitor/tools/validator-service/validator-service.go
  traffic_monitor/towrap/towrap.go
Labels: Traffic Monitor, tech debt

#6785 Use v2 of the CodeQL action
  .github/workflows/codeql.go.yml
  .github/workflows/codeql.javascript.yml
  .github/workflows/codeql.python.yml
Labels: automation, process, javascript, python, go

#6769 Document Traffic Monitor configuration files
  CHANGELOG.md
  docs/source/admin/traffic_monitor.rst
  docs/source/api/v3/servers_hostname_update.rst
  docs/source/api/v4/servers_hostname_update.rst
  traffic_monitor/config/config.go
  traffic_monitor/config/config_test.go
  traffic_monitor/handler/handler.go
Labels: bug, documentation, low impact, improvement

#6761 Add "sharing" ability to CDN locks
  CHANGELOG.md
  docs/source/api/v4/cdn_locks.rst
  lib/go-tc/cdn_lock.go
  traffic_ops/app/db/migrations/2022042514493300_add_user_sharing_cdn_locks.down.sql
  traffic_ops/app/db/migrations/2022042514493300_add_user_sharing_cdn_locks.up.sql
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/traffic_ops_golang/cdn_lock/cdn_lock.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities_test.go
  traffic_ops/traffic_ops_golang/profile/copy_test.go
  traffic_portal/app/src/common/modules/dialog/select/lock/DialogSelectLockController.js
  traffic_portal/app/src/common/modules/dialog/select/lock/dialog.select.lock.tpl.html
  traffic_portal/app/src/common/modules/locks/locks.tpl.html
Labels: Traffic Ops, Traffic Portal

#6758 Refactor Delivery Service Requests
  traffic_ops/testing/api/v3/deliveryservice_requests_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/deliveryservice_requests_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: low impact, tests, improvement, TO Client (Go)
