Repository apache/trafficcontrol, pull requests merged in 2022-11, with the labels that each got.

#7166 ATC Collaborators for November 2022
  .asf.yaml
Labels: process, collaborators

#7068 Renamed rascal to tm/traffic_monitor
  CHANGELOG.md
  cache-config/testing/ort-tests/tc-fixtures.json
  dev/traffic_ops/seed.psql
  docs/source/admin/traffic_monitor.rst
  docs/source/api/v3/cdns_name_configs_monitoring.rst
  docs/source/api/v3/cdns_name_snapshot.rst
  docs/source/api/v3/cdns_name_snapshot_new.rst
  docs/source/api/v4/cdns_name_configs_monitoring.rst
  docs/source/api/v4/cdns_name_snapshot.rst
  docs/source/api/v4/cdns_name_snapshot_new.rst
  docs/source/api/v5/cdns_name_configs_monitoring.rst
  docs/source/api/v5/cdns_name_snapshot.rst
  docs/source/api/v5/cdns_name_snapshot_new.rst
  docs/source/overview/profiles_and_parameters.rst
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.spec.ts
  experimental/traffic-portal/src/app/core/servers/servers-table/servers-table.component.spec.ts
  infrastructure/ansible/roles/dataset_loader/defaults/main.yml
  infrastructure/ansible/roles/dataset_loader/parameter.diff.exclusions.yml
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/020-ATS_MID_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/070-TRAFFIC_MONITOR.json
  infrastructure/docker/traffic_monitor/run.sh
  lib/go-tc/enum.go
  tc-health-client/testing/tests/health-client-startup_test.go
  traffic_monitor/tests/_integration/monitoring.json
  traffic_monitor/tests/_integration/servers.json
  traffic_monitor/tmcheck/tmcheck.go
  traffic_ops/app/db/migrations/2022100610190300_update_rascal_to_traffic_monitor.down.sql
  traffic_ops/app/db/migrations/2022100610190300_update_rascal_to_traffic_monitor.up.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/testing/api/v3/profile_parameters_test.go
  traffic_ops/testing/api/v3/profiles_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/profile_parameters_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/profile_parameters_test.go
  traffic_ops/testing/api/v5/profiles_test.go
  traffic_ops/testing/api/v5/tc-fixtures.json
  traffic_ops/traffic_ops_golang/cdn/capacity.go
  traffic_ops/traffic_ops_golang/deliveryservice/capacity.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
Labels: Traffic Ops, Traffic Monitor, documentation, cache-config, tc-health-client

#7164 Pin node version in dev ciab TP/TPv2
  dev/tpv2/Dockerfile
  dev/traffic_portal/Dockerfile
Labels: Traffic Portal, dev-ciab, Traffic Portal v2

#7165 arm64 support for Dev CiaB's prebuilt trafficserver image
  .github/containers/trafficserver-alpine/.env
  .github/containers/trafficserver-alpine/Dockerfile
  .github/containers/trafficserver-alpine/docker-compose.yml
  .github/workflows/container-trafficserver-alpine.yml
Labels: Traffic Server, automation, dev-ciab, CPU arch

#7137 T3C parent.config simulate topology for non topo delivery services
  CHANGELOG.md
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: tech debt, medium impact, cache-config

#7153 T3c bad cert check
  CHANGELOG.md
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-apply/torequest/torequest.go
Labels: bug, SSL, low impact, cache-config, low difficulty

#7114 Refactor Snapshot Tests
  traffic_ops/testing/api/utils/utils.go
  traffic_ops/testing/api/v3/cdns_name_configs_monitoring_test.go
  traffic_ops/testing/api/v3/cdns_name_snapshot_new_test.go
  traffic_ops/testing/api/v3/cdns_name_snapshot_test.go
  traffic_ops/testing/api/v3/crconfig_test.go
  traffic_ops/testing/api/v3/snapshot_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/cdns_name_configs_monitoring_test.go
  traffic_ops/testing/api/v4/cdns_name_snapshot_new_test.go
  traffic_ops/testing/api/v4/cdns_name_snapshot_test.go
  traffic_ops/testing/api/v4/crconfig_test.go
  traffic_ops/testing/api/v4/snapshot_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v5/cdns_name_configs_monitoring_test.go
  traffic_ops/testing/api/v5/cdns_name_snapshot_new_test.go
  traffic_ops/testing/api/v5/cdns_name_snapshot_test.go
  traffic_ops/testing/api/v5/crconfig_test.go
  traffic_ops/testing/api/v5/snapshot_test.go
  traffic_ops/testing/api/v5/tc-fixtures.json
Labels: tests, improvement, TO Client (Go)

#7171 Changed Test Parameters password to not be hard coded, and instead re…
  traffic_ops/testing/api/v4/parameters_test.go
  traffic_ops/testing/api/v5/parameters_test.go
Labels: Traffic Ops, tests, tech debt, improvement, TO Client (Go)

#7163 Fix t3c multiple profile generation
  CHANGELOG.md
  cache-config/t3cutil/getdatacfg.go
Labels: bug, high impact, cache-config

#7173 Update TO tests README
  traffic_ops/testing/api/README.md
Labels: low impact, improvement, process

#7034 ASN test fixes
  traffic_ops/testing/api/v3/asns_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/asns_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: bug, Traffic Ops, low impact, tests

#7175 Dev CiaB: Prefix Traffic Monitor profile name with TM profile prefix
  dev/traffic_ops/seed.psql
Labels: bug, low impact, dev-ciab

#7178 Update log4j to version 2.19.0
  traffic_router/pom.xml
Labels: Traffic Router, low impact, improvement, dependencies, java

#7177 dep(run-ciab): update from Node12 to Node16
  .github/actions/build-ats-test-rpm/action.yaml
  .github/actions/build-ciab/action.yaml
  .github/actions/cache-config-integration-tests/action.yml
  .github/actions/health-client-integration-tests/action.yml
  .github/actions/run-ciab/action.yaml
Labels: improvement, automation, dependencies

#7174 Fixed sort in topologies table, in a DS form for topologies and DSCP and tool tip (Max DNS) opens in a new page
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/common/modules/table/topologies/table.topologies.tpl.html
Labels: Traffic Portal, low impact

#7179 Fixed column search filter in Delivery Service table
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
Labels: bug, Traffic Portal, low impact

#7176 ATC build system: aarch64 support
  CHANGELOG.md
  build/functions.sh
  cache-config/testing/docker/trafficserver/run.sh
  grove/build/build_rpm.sh
  grove/grovetccfg/build/build_rpm.sh
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/docker/build/Dockerfile-cache-config
  infrastructure/docker/build/Dockerfile-grove
  infrastructure/docker/build/Dockerfile-grovetccfg
  infrastructure/docker/build/Dockerfile-tc-health-client
  infrastructure/docker/build/Dockerfile-traffic_monitor
  infrastructure/docker/build/Dockerfile-traffic_ops
  infrastructure/docker/build/Dockerfile-traffic_stats
  infrastructure/docker/build/docker-compose.yml
  traffic_router/build/build_rpm.sh
  traffic_router/build/pom.xml
Labels: tech debt, cdn-in-a-box, build, improvement, CPU arch

#4074 Set Content-Length header in Traffic Router
  CHANGELOG.md
  docs/source/development/traffic_router/traffic_router_api.rst
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/api/controllers/LocationController.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/http/BufferedResponse.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/http/BufferedResponseFilter.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/http/RouterFilter.java
  traffic_router/core/src/main/webapp/WEB-INF/applicationContext.xml
  traffic_router/core/src/main/webapp/WEB-INF/web.xml
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/BufferedResponseTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/LocationsTest.java
Labels: bug, Traffic Router

#7142 Run CDN in a Box for Developers services as unprivileged users
  dev/atc.dev.sh
  dev/t3c/Dockerfile
  dev/t3c/run.sh
  dev/tpv2/Dockerfile
  dev/tpv2/run.sh
  dev/traffic_monitor/Dockerfile
  dev/traffic_monitor/run.sh
  dev/traffic_monitor/tm.config.json
  dev/traffic_ops/Dockerfile
  dev/traffic_ops/run.sh
  dev/traffic_portal/Dockerfile
  dev/traffic_portal/config.js
  dev/traffic_portal/run.sh
  dev/traffic_router/run.sh
  docker-compose.yml
  traffic_ops/app/db/admin.go
Labels: low impact, improvement, dev-ciab

#7185 adds issue and/or PR links to changelog entries
  CHANGELOG.md
Labels: documentation, improvement

#7188 Dev CiaB: Use Almquist shell for TP/TPv2 since the base image is Alpine
  dev/tpv2/run.sh
  dev/traffic_portal/run.sh
Labels: regression bug, dev-ciab

#7136 TO `deliveryservice/sslkeys/add` verify certificate chain
  CHANGELOG.md
  traffic_ops/testing/api/v5/deliveryservices_keys_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys_test.go
Labels: bug, Traffic Ops, SSL, low impact

#7198 Revert setting `PGPASSWORD` for entire db/admin binary
  .github/workflows/cache-config-tests.yml
  traffic_ops/app/db/admin.go
Labels: regression bug, tests, tools, database, cache-config

#7182 t3c: sort peers in strategies.yaml
  CHANGELOG.md
  lib/go-atscfg/parentabstraction.go
  lib/go-atscfg/parentdotconfig.go
Labels: bug, low impact, cache-config

#7190 Revert Traffic Monitor renaming to rascal
  CHANGELOG.md
  cache-config/testing/ort-tests/tc-fixtures.json
  dev/traffic_ops/seed.psql
  docs/source/admin/traffic_monitor.rst
  docs/source/api/v3/cdns_name_configs_monitoring.rst
  docs/source/api/v3/cdns_name_snapshot.rst
  docs/source/api/v3/cdns_name_snapshot_new.rst
  docs/source/api/v4/cdns_name_configs_monitoring.rst
  docs/source/api/v4/cdns_name_snapshot.rst
  docs/source/api/v4/cdns_name_snapshot_new.rst
  docs/source/api/v5/cdns_name_configs_monitoring.rst
  docs/source/api/v5/cdns_name_snapshot.rst
  docs/source/api/v5/cdns_name_snapshot_new.rst
  docs/source/overview/profiles_and_parameters.rst
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.spec.ts
  experimental/traffic-portal/src/app/core/servers/servers-table/servers-table.component.spec.ts
  infrastructure/ansible/roles/dataset_loader/defaults/main.yml
  infrastructure/ansible/roles/dataset_loader/parameter.diff.exclusions.yml
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/020-ATS_MID_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/070-RASCAL-Traffic_Monitor.json
  infrastructure/docker/traffic_monitor/run.sh
  lib/go-tc/enum.go
  tc-health-client/testing/tests/health-client-startup_test.go
  traffic_monitor/tests/_integration/monitoring.json
  traffic_monitor/tests/_integration/servers.json
  traffic_monitor/tmcheck/tmcheck.go
  traffic_ops/app/db/migrations/2022110215534000_rascal_to_traffic_monitor_update.down.sql
  traffic_ops/app/db/migrations/2022110215534000_rascal_to_traffic_monitor_update.up.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/testing/api/v3/profile_parameters_test.go
  traffic_ops/testing/api/v3/profiles_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/profile_parameters_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/profile_parameters_test.go
  traffic_ops/testing/api/v5/profiles_test.go
  traffic_ops/testing/api/v5/tc-fixtures.json
  traffic_ops/traffic_ops_golang/cdn/capacity.go
  traffic_ops/traffic_ops_golang/deliveryservice/capacity.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
Labels: Traffic Ops, Traffic Monitor, high impact, cdn-in-a-box, cache-config, TO Client (Go), tc-health-client

#7150 Retract versions v1.1.0 through v1.1.5 from Go modules
  go.mod
Labels: tech debt, improvement, process, go

#7187 Minimize Snapshot diff for Server Server Capabilities
  .github/workflows/ciab.yaml
  .github/workflows/tp.integration.tests.yml
  CHANGELOG.md
  traffic_portal/app/src/common/service/utils/CollectionUtils.js
  traffic_portal/app/src/common/service/utils/CollectionUtils.spec.js
  traffic_portal/app/src/modules/private/cdns/config/ConfigController.js
  traffic_portal/karma.conf.js
  traffic_portal/package-lock.json
  traffic_portal/package.json
Labels: bug, Traffic Portal, low impact

#7205 TR: use hostname from CRConfig if only a single TR in CRConfig
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManager.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManagerUnitTest.java
Labels: bug, Traffic Router, low impact

#7207 TP update dependencies to latest minor version.
  traffic_portal/app/src/package-lock.json
  traffic_portal/app/src/package.json
  traffic_portal/package-lock.json
  traffic_portal/package.json
  traffic_portal/test/integration/package-lock.json
Labels: Traffic Portal, dependencies

#7208 TP fix syntax issue with ciab tp integration tests
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/Dockerfile
Labels: Traffic Portal, tests, cdn-in-a-box

#7209 Dev-CiaB: Run db/admin as root
  dev/traffic_ops/run.sh
Labels: bug, tech debt, tools, dev-ciab

#7184 Add a button to toggle the visibility of all sensitive fields to DS forms
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal, low impact, improvement

#7194 Added catch for missing POST body when posted to profileparameters
  CHANGELOG.md
  traffic_ops/testing/api/v3/profile_parameters_test.go
  traffic_ops/testing/api/v4/profile_parameters_test.go
  traffic_ops/testing/api/v5/profile_parameters_test.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
Labels: bug, Traffic Ops, low impact

#7217 Fix unable to create DSRs for updating existing DSs
  traffic_ops/testing/api/v4/deliveryservice_requests_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
Labels: Traffic Ops, regression bug

#7218 Add a link to the blueprint to the DS active flag changelog entry
  CHANGELOG.md
Labels: low impact, tech debt, process

#7223 Use strings for JSONB string comparisons
  traffic_ops/app/db/migrations/2022110908494015_ds_active_flag.down.sql
  traffic_ops/app/db/migrations/2022110908494015_ds_active_flag.up.sql
Labels: bug, Traffic Ops, database
