Repository apache/trafficcontrol, pull requests merged in 2022-07, with the labels that each got.

#6912 Fix IMS error: Couldn't get the max last updated time
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, low impact, regression bug

#6899 TP v2 change Full Name to Name on the user page
  experimental/traffic-portal/src/app/core/currentuser/currentuser.component.html
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.html
  experimental/traffic-portal/src/app/core/users/users.component.ts
Labels: low impact, improvement, Traffic Portal v2

#6941 Readme improvements
  README.md
Labels: low impact, improvement, process

#6949 ats.yml: Filter out empty lines of storage.config
  infrastructure/ansible/roles/ats/tasks/ats.yml
Labels: bug, ansible

#6917 Update unversioned references to Traffic Ops client library to API v4
  cache-config/t3c-generate/update-to-client/update-to-client.go
  docs/source/development/traffic_ops.rst
  docs/source/development/traffic_stats.rst
  lib/go-atscfg/atscfg.go
Labels: documentation, cache-config, TO Client (Go)

#6955 TP Use Correct Name in Role Put
  traffic_portal/app/src/common/api/RoleService.js
  traffic_portal/app/src/common/modules/form/role/edit/FormEditRoleController.js
  traffic_portal/app/src/common/modules/table/roleCapabilities/TableRoleCapabilitiesController.js
Labels: Traffic Portal, regression bug

#6957 Use Traffic Ops API Version 3 for the Ansible Roles
  CHANGELOG.md
  infrastructure/ansible/roles/dataset_loader/defaults/main.yml
  infrastructure/ansible/roles/dataset_loader/tasks/dataset_loader.yml
  infrastructure/ansible/roles/dataset_loader/tasks/update_mso_servers.yml
  infrastructure/ansible/roles/dataset_loader/templates/server.j2
  infrastructure/ansible/sample.lab/ansible/vars.yml
Labels: high impact, tech debt, improvement, ansible

#6958 Allow opening `<p>` tag to contain attributes before closing `>`
  .github/actions/pr-to-update-go/pr_to_update_go/constants.py
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
  .github/actions/pr-to-update-go/tests/test_go_pr_maker.py
Labels: bug, automation, go version

#6961 Update Go version to 1.18.4
  .env
  GO_VERSION
Labels: go version

#6928 Add the ability to TPv2 to add users
  experimental/traffic-portal/angular.json
  experimental/traffic-portal/nightwatch/tests/ds/ds.card.spec.ts
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/api/testing/user.service.ts
  experimental/traffic-portal/src/app/api/user.service.ts
  experimental/traffic-portal/src/app/app-routing.module.ts
  experimental/traffic-portal/src/app/app.ui.module.ts
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-table/cache-group-table.component.ts
  experimental/traffic-portal/src/app/core/dashboard/dashboard.component.ts
  experimental/traffic-portal/src/app/core/deliveryservice/deliveryservice.component.ts
  experimental/traffic-portal/src/app/core/invalidation-jobs/new-invalidation-job-dialog/new-invalidation-job-dialog.component.ts
  experimental/traffic-portal/src/app/core/new-delivery-service/new-delivery-service.component.ts
  experimental/traffic-portal/src/app/core/servers/servers-table/servers-table.component.ts
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.html
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.spec.ts
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.ts
  experimental/traffic-portal/src/app/core/users/users.component.html
  experimental/traffic-portal/src/app/core/users/users.component.scss
  experimental/traffic-portal/src/app/core/users/users.component.spec.ts
  experimental/traffic-portal/src/app/core/users/users.component.ts
  experimental/traffic-portal/src/app/login/login.component.ts
  experimental/traffic-portal/src/app/shared/currentUser/current-user.testing-service.spec.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.html
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.ts
Labels: new feature, low impact, Traffic Portal v2

#6883 Fix t3c cache to invalidate on version change
  CHANGELOG.md
  cache-config/t3c-request/config/config.go
  cache-config/t3cutil/getdata.go
  cache-config/t3cutil/getdatacfg.go
Labels: bug, cache-config

#6954 Refactor Static DNS Entries Tests
  traffic_ops/testing/api/v3/staticdnsentries_test.go
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/staticdnsentries_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: low impact, tests, improvement, TO Client (Go)

#6969 Remove invalid 'scale' figure option
  docs/source/admin/ansible-labs/ansible_labs.rst
Labels: bug, documentation, low impact

#6946 Refactor Tenants Tests
  traffic_ops/testing/api/v3/deliveryservice_requests_test.go
  traffic_ops/testing/api/v3/deliveryservices_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/tenants_test.go
  traffic_ops/testing/api/v4/deliveryservice_requests_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/tenants_test.go
Labels: low impact, tests, improvement, TO Client (Go)

#6956 Remove wrapper around response object
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/federations/federation_resolvers.go
Labels: Traffic Ops, regression bug

#6944 Change t3c h2 disable to enable
  CHANGELOG.md
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/snidotyaml.go
  lib/go-atscfg/snidotyaml_test.go
Labels: bug, cache-config

#6914 Add Ability to Extend TPv2
  experimental/traffic-portal/README.md
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/app-routing.module.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.spec.ts
  experimental/traffic-portal/src/app/custom/README.md
  experimental/traffic-portal/src/app/custom/custom.module.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.html
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.ts
  experimental/traffic-portal/src/app/shared/table-components/boolean-filter/boolean-filter.component.spec.ts
  experimental/traffic-portal/src/app/shared/table-components/boolean-filter/boolean-filter.component.ts
  experimental/traffic-portal/src/app/shared/tp-header/tp-header.component.html
  experimental/traffic-portal/src/app/shared/tp-header/tp-header.component.spec.ts
  experimental/traffic-portal/src/app/shared/tp-header/tp-header.component.ts
  experimental/traffic-portal/src/app/shared/tp-header/tp-header.service.spec.ts
  experimental/traffic-portal/src/app/shared/tp-header/tp-header.service.ts
  experimental/traffic-portal/src/environments/environment.prod.ts
  experimental/traffic-portal/src/environments/environment.ts
  experimental/traffic-portal/tsconfig.json
Labels: new feature, experimental, Traffic Portal v2

#6973 Update Readmes/Versions for 7.0 release
  CHANGELOG.md
  SECURITY.md
  VERSION
  traffic_router/build/pom.xml
  traffic_router/configuration/pom.xml
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
  traffic_router/geolocation/pom.xml
  traffic_router/neustar/pom.xml
  traffic_router/pom.xml
  traffic_router/shared/pom.xml
Labels: documentation, configuration, changelog

#6974 Fix Pkg Build Order to Mirror docker-compose.yml
  pkg
Labels: regression bug, build

#6965 Ansible Dataset Loader: Queue Caches after performing Snapshots
  infrastructure/ansible/roles/dataset_loader/tasks/dataset_loader.yml
Labels: improvement, ansible

#6977 Fix Pkg to Only Add Weasel if Already Exists
  pkg
Labels: regression bug, build

#6968 Add the ability to register users to TPv2
  experimental/traffic-portal/src/app/api/testing/user.service.ts
  experimental/traffic-portal/src/app/api/user.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/users/user-registration-dialog/user-registration-dialog.component.html
  experimental/traffic-portal/src/app/core/users/user-registration-dialog/user-registration-dialog.component.scss
  experimental/traffic-portal/src/app/core/users/user-registration-dialog/user-registration-dialog.component.spec.ts
  experimental/traffic-portal/src/app/core/users/user-registration-dialog/user-registration-dialog.component.ts
  experimental/traffic-portal/src/app/core/users/users.component.html
  experimental/traffic-portal/src/app/core/users/users.component.spec.ts
  experimental/traffic-portal/src/app/core/users/users.component.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#6978 Add t3c support for __CACHEKEY_DIRECTIVE__ in raw remap text
  CHANGELOG.md
  docs/source/overview/delivery_services.rst
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: new feature, medium impact, cache-config

#6905 Add t3c metadata file
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3cutil/t3cutil.go
  cache-config/t3cutil/t3cutil_test.go
  cache-config/testing/ort-tests/t3c-create-metadata-file_test.go
Labels: low impact, cache-config, improvement

#6979 Refactor Topologies Queue Update Tests
  traffic_ops/testing/api/v3/topologies_queue_update_test.go
  traffic_ops/testing/api/v4/topologies_queue_update_test.go
Labels: Traffic Ops, low impact, tests, improvement

#6987 Fix t3c generate nil panic on bad input
  cache-config/t3c-generate/t3c-generate.go
Labels: low impact, cache-config, improvement

#6962 t3c to look for t3c-generate and other t3c- apps in executable directory
  CHANGELOG.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-check/t3c-check.go
  cache-config/t3c/t3c.go
  cache-config/t3cutil/t3cutil.go
Labels: low impact, tech debt, cache-config

#6976 Refactor Server Server Capabilities Tests
  traffic_ops/testing/api/v3/server_capabilities_test.go
  traffic_ops/testing/api/v3/server_server_capabilities_test.go
  traffic_ops/testing/api/v3/serverservercapability_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/testing/api/v3/withobjs_test.go
  traffic_ops/testing/api/v4/server_capabilities_test.go
  traffic_ops/testing/api/v4/server_server_capabilities_test.go
  traffic_ops/testing/api/v4/serverservercapability_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/testing/api/v4/withobjs_test.go
Labels: Traffic Ops, low impact, tests, improvement

#6859 T3c add parent retry params for first./inner./last.
  CHANGELOG.md
  docs/source/admin/quick_howto/multi_site.rst
  docs/source/overview/delivery_services.rst
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/snidotyaml_test.go
  lib/go-atscfg/sslservernamedotyaml_test.go
  lib/go-atscfg/strategiesdotconfig.go
  lib/go-atscfg/strategiesdotconfig_test.go
Labels: new feature, medium impact, cache-config

#6982 Refactor Regions Tests
  traffic_ops/testing/api/v3/regions_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/regions_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: low impact, tests, improvement, TO Client (Go)

#6924 Add cache config action log
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-apply/util/gitutil.go
  cache-config/t3cutil/actionlog.go
  cache-config/t3cutil/t3cutil.go
  cache-config/testing/ort-tests/t3c-action-log_test.go
  cache-config/testing/ort-tests/t3c-create-metadata-file_test.go
Labels: low impact, cache-config, improvement

#6994 Fix Health Client nil panic on blank parent.config lines
  CHANGELOG.md
  tc-health-client/tmagent/test_files/etc/parent.config
  tc-health-client/tmagent/tmagent.go
Labels: bug, high impact

#6991 t3c log run mode and log update flag changes
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/torequest.go
Labels: new feature, low impact, cache-config
