Repository apache/trafficcontrol, pull requests merged in 2022-03, with the labels that each got.

#6592 Go version GHA: Get SHA for env file
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
Labels: automation, go version

#6595 Fix incorrect template strings
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
Labels: bug, low impact, authentication

#6596 Remove t3c debug print
  lib/go-atscfg/parentdotconfig.go
Labels: low impact, tech debt, cache-config

#6400 Upgrade Cache Stats Traffic Portal view to use AG-Grid tables
  CHANGELOG.md
  traffic_portal/app/src/modules/private/cacheStats/CacheStatsController.js
  traffic_portal/app/src/modules/private/cacheStats/cacheStats.tpl.html
Labels: Traffic Portal, low impact, improvement

#6604 Fixed validation response from acme_accounts
  CHANGELOG.md
  lib/go-tc/acme_account.go
Labels: bug, Traffic Ops

#6605 Fix the "PR-to-Update-Go" GitHub Action
  .github/actions/pr-to-update-go/README.rst
  .github/actions/pr-to-update-go/pr_to_update_go/__main__.py
  .github/actions/pr-to-update-go/pr_to_update_go/constants.py
  .github/actions/pr-to-update-go/pr_to_update_go/go_pr_maker.py
  .github/actions/pr-to-update-go/tests/test_go_pr_maker.py
  .github/workflows/pr-to-update-go.yml
Labels: bug, low impact, automation, go version

#6608 Add missing DNSSEC Permissions to "admin-priv-level" Roles
  CHANGELOG.md
  traffic_ops/app/db/migrations/2022030308363540_add_dnssec_perms.down.sql
  traffic_ops/app/db/migrations/2022030308363540_add_dnssec_perms.up.sql
Labels: bug, Traffic Ops, low impact, database

#6602 Fixed response code and docs for acme_accounts
  CHANGELOG.md
  docs/source/api/v3/acme_accounts.rst
  docs/source/api/v4/acme_accounts.rst
  traffic_ops/traffic_ops_golang/acme/acme_account.go
Labels: bug, Traffic Ops, documentation

#6401 Upgrade CDNs Traffic Portal view to use AG-Grid tables
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/cdns/TableCDNsController.js
  traffic_portal/app/src/common/modules/table/cdns/table.cdns.tpl.html
  traffic_portal/test/integration/Data/cdn.ts
  traffic_portal/test/integration/PageObjects/CDNPage.po.ts
  traffic_portal/test/integration/specs/CDNs.spec.ts
Labels: Traffic Portal, low impact, improvement

#6615 Fix t3c parent.config abstraction bugs
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: bug, cache-config

#6611 Documentation fix-ups
  docs/source/admin/quick_howto/ciab.rst
  docs/source/admin/traffic_monitor.rst
  docs/source/admin/traffic_router.rst
  docs/source/development/index.rst
  docs/source/overview/delivery_services.rst
  docs/source/overview/profiles_and_parameters.rst
Labels: bug, documentation, low impact

#6582 Fix stored DSRs cannot be unmarshaled after changes to DS JSON representation
  traffic_ops/app/db/migrations/2022022319353588_fix_dsr_geolimit.down.sql
  traffic_ops/app/db/migrations/2022022319353588_fix_dsr_geolimit.up.sql
Labels: bug, Traffic Ops, low impact, database

#6404 Upgrade Profiles Traffic Portal view to use AG-Grid tables
  CHANGELOG.md
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/form/cdn/FormCDNController.js
  traffic_portal/app/src/common/modules/table/agGrid/CommonGridController.js
  traffic_portal/app/src/common/modules/table/cdnProfiles/TableCDNProfilesController.js
  traffic_portal/app/src/common/modules/table/cdnProfiles/index.js
  traffic_portal/app/src/common/modules/table/cdnProfiles/table.cdnProfiles.tpl.html
  traffic_portal/app/src/common/modules/table/cdns/TableCDNsController.js
  traffic_portal/app/src/common/modules/table/profiles/TableProfilesController.js
  traffic_portal/app/src/common/modules/table/profiles/table.profiles.tpl.html
  traffic_portal/app/src/modules/private/cdns/profiles/index.js
  traffic_portal/test/integration/Data/profiles.ts
  traffic_portal/test/integration/PageObjects/ProfilesPage.po.ts
  traffic_portal/test/integration/specs/Profiles.spec.ts
Labels: Traffic Portal, low impact, improvement, medium effort

#6617 Fix fail log tests not being run
  .github/actions/cache-config-integration-tests/main.js
  cache-config/testing/docker/ort_test/Dockerfile
  cache-config/testing/ort-tests/t3c-fail-log_test.go
Labels: bug, low impact, tests, cache-config

#6616 added required-priv-level const added
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, low impact, tech debt

#6626 Fix t3c Capability to not continue on error
  CHANGELOG.md
  cache-config/t3cutil/getdatacfg.go
Labels: bug, cache-config

#6632 Only update tm_user.last_authenticated once per minute
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/login/login.go
Labels: Traffic Ops, performance, improvement

#6218 Remove outdated restrictions on Profile Names for specific Types
  docs/source/overview/profiles_and_parameters.rst
Labels: documentation, tech debt

#6624 ACME Account email and URL validation
  CHANGELOG.md
  lib/go-tc/acme_account.go
Labels: bug, Traffic Ops

#6636 Modify TP init script to be systemd compliant
  traffic_portal/build/etc/init.d/traffic_portal
Labels: Traffic Portal, regression bug, automation, os

#6638 `go get`, not `go get -u`
  .github/actions/pr-to-update-go/pr_to_update_go/update_golang_org_x.sh
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
  tools/golang/Dockerfile
  traffic_monitor/tests/Dockerfile-golangtest
  traffic_monitor/tests/_integration/Dockerfile
  traffic_monitor/tools/testcaches/Dockerfile
  traffic_monitor/tools/testto/Dockerfile
Labels: bug, tests, cdn-in-a-box, automation

#6577 JWT Authorization
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  docs/source/api/v4/oc_ci_configuration.rst
  docs/source/api/v4/oc_ci_configuration_host.rst
  docs/source/api/v4/oc_fci_advertisement.rst
  docs/source/api/v4/users.rst
  docs/source/api/v4/users_id.rst
  lib/go-rfc/http.go
  lib/go-tc/users.go
  traffic_ops/app/conf/cdn.conf
  traffic_ops/app/db/migrations/2022021611354000_add_user_to_ucdn_table.down.sql
  traffic_ops/app/db/migrations/2022021611354000_add_user_to_ucdn_table.up.sql
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/cdni/shared.go
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_ops/traffic_ops_golang/login/logout.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers_test.go
  traffic_ops/traffic_ops_golang/user/user.go
  traffic_portal/app/src/common/modules/form/user/form.user.tpl.html
  traffic_portal/test/integration/Data/users.ts
  traffic_portal/test/integration/PageObjects/UsersPage.po.ts
Labels: new feature, Traffic Ops, Traffic Portal, database, authentication

#6640 Remove duplicate cdn.conf option from default file
  traffic_ops/app/conf/cdn.conf
Labels: Traffic Ops, configuration

#6650 tm int tests GHA: Make /opt/traffic_monitor/crconfig.backup exist
  .github/actions/tm-integration-tests/entrypoint.sh
Labels: bug, Traffic Monitor, automation

#6612 Adding status and lastPoll fields to CrStates
  CHANGELOG.md
  docs/source/development/traffic_monitor/traffic_monitor_api.rst
  lib/go-tc/crstates.go
  traffic_monitor/health/cache.go
  traffic_monitor/manager/statecombiner.go
Labels: new feature, Traffic Monitor

#6620 Adding access.log to Traffic Monitor
  .github/actions/tm-integration-tests/entrypoint.sh
  CHANGELOG.md
  infrastructure/ansible/roles/traffic-monitor/defaults/main.yml
  infrastructure/ansible/roles/traffic-monitor/templates/traffic_monitor.cfg.j2
  infrastructure/cdn-in-a-box/traffic_monitor/traffic_monitor.cfg
  infrastructure/cdn-in-a-box/variables.env
  lib/go-log/log.go
  traffic_monitor/build/traffic_monitor.logrotate
  traffic_monitor/conf/traffic_monitor.cfg
  traffic_monitor/config/config.go
  traffic_monitor/config/config_test.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/tests/_integration/tm/Dockerfile_run.sh
  traffic_monitor/traffic_monitor.go
Labels: new feature, Traffic Monitor

#6655 t3c parent.config: fix for merge_parent_groups cachegroup name search
  CHANGELOG.md
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: bug, low impact, cache-config

#6656 Update Go version to 1.18
  .env
  .github/actions/todb-init/Dockerfile
  .github/actions/tvdb-init/Dockerfile
  CHANGELOG.md
  GO_VERSION
  go.mod
  go.sum
  vendor/modules.txt
Labels: Traffic Ops, Traffic Stats, Traffic Monitor, grove, cache-config, TO Client (Go), go version, tc-health-client

#6660 Fix TM API /publish/CrStates response example
  docs/source/development/traffic_monitor/traffic_monitor_api.rst
Labels: bug, documentation, low impact

#6668 Minor improvements to Cachegroup Tests
  traffic_ops/testing/api/v3/cachegroups_test.go
  traffic_ops/testing/api/v4/cachegroups_test.go
Labels: Traffic Ops, tests, improvement

#6669 TO API Tests in CiaB: Do not test API v1
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
Labels: tests, tech debt, cdn-in-a-box

#6675 Fix Geo Limit Countries in versions < 4
  cache-config/testing/ort-tests/tcdata/cachegroupsdeliveryservices.go
  lib/go-tc/deliveryservice_requests.go
  lib/go-tc/deliveryservices.go
  lib/go-tc/deliveryservices_test.go
  traffic_ops/testing/api/v2/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v3/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/safe.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: Traffic Ops, regression bug

#6677 Fix build failures resulting from new bulid-time requirements in go1.18
  dev/t3c/Dockerfile
  dev/traffic_monitor/Dockerfile
  dev/traffic_ops/Dockerfile
Labels: bug, dev-ciab

#6676 Reduce over-verbose logging
  cache-config/testing/docker/ort_test/run.sh
Labels: low impact, tests, tech debt, cache-config

#6678 ATS RPM: Only match tags ending in 3 digits or dots
  cache-config/testing/docker/trafficserver/trafficserver.spec
  traffic_server/_tsb/trafficserver.spec
Labels: Traffic Server, cdn-in-a-box, cache-config, automation

#6664 Only `operations` and `admin` roles should have the `DELIVERY-SERVICE:UPDATE` permission
  CHANGELOG.md
  traffic_ops/app/db/migrations/2022031610510000_assign_correct_permissions_to_roles.down.sql
  traffic_ops/app/db/migrations/2022031610510000_assign_correct_permissions_to_roles.up.sql
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: bug, Traffic Ops

#6679 T3C integration tests - Remove RIAK and use Postgres for TV
  cache-config/testing/docker/db_init/Dockerfile
  cache-config/testing/docker/db_init/dbInit.sh
  cache-config/testing/docker/docker-compose.yml
  cache-config/testing/docker/traffic_ops/run.sh
  cache-config/testing/docker/traffic_vault/Dockerfile
  cache-config/testing/docker/traffic_vault/functions
  cache-config/testing/docker/traffic_vault/poststart.d/00-enable-security.sh
  cache-config/testing/docker/traffic_vault/poststart.d/01-add-search-group.sh
  cache-config/testing/docker/traffic_vault/poststart.d/02-add-search-schema.sh
  cache-config/testing/docker/traffic_vault/prestart.d/00-config.sh
  cache-config/testing/docker/traffic_vault/run.sh
  cache-config/testing/docker/traffic_vault/sslkeys.xml
  cache-config/testing/docker/variables.env
Labels: tests, cache-config

#6682 Fix parameters/:id/profile table
  traffic_portal/app/src/common/modules/table/parameterProfiles/TableParameterProfilesController.js
Labels: bug, Traffic Portal, regression bug

#6431 Remove deprecated error handler and references
  lib/go-tc/alerts.go
  lib/go-tc/alerts_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_ops/traffic_ops_golang/routing/routes.go
Labels: Traffic Ops, low impact, tech debt

#6430 Remove unused `deliveryservice_tmuser` table
  CHANGELOG.md
  cache-config/testing/ort-tests/tcdata/todb.go
  traffic_ops/app/db/migrations/2022031612431414_remove_unused_ds_tmuser_table.down.sql
  traffic_ops/app/db/migrations/2022031612431414_remove_unused_ds_tmuser_table.up.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/testing/api/v2/todb_test.go
  traffic_ops/testing/api/v3/todb_test.go
  traffic_ops/testing/api/v4/todb_test.go
Labels: Traffic Ops, low impact, tech debt, database

#6689 GitHub Actions ATS RPM: Verify that the cached or built RPM matches the expected RPM name
  .github/actions/repo-info/README.md
  .github/actions/repo-info/action.yml
  .github/actions/repo-info/entrypoint.sh
  .github/workflows/cache-config-tests.yml
  .github/workflows/ciab.yaml
  .github/workflows/health-client-tests.yml
  cache-config/testing/docker/trafficserver/trafficserver.spec
  traffic_server/_tsb/trafficserver.spec
Labels: tests, cdn-in-a-box, automation

#6693 Fix timestamps to the correct format
  lib/go-tc/traffic_stats.go
Labels: bug, Traffic Ops

#6671 Add TO in-memory User cache option to improve performance
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  infrastructure/ansible/roles/traffic_ops/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/auth/usercache.go
  traffic_ops/traffic_ops_golang/auth/usercache_test.go
  traffic_ops/traffic_ops_golang/cachegroup/dspost.go
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/config/config_test.go
  traffic_ops/traffic_ops_golang/login/logout_test.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops, documentation, performance, improvement, ansible

#6625 Reduce TM dependency on CRConfig
  CHANGELOG.md
  docs/source/api/v2/cdns_name_configs_monitoring.rst
  docs/source/api/v3/cdns_name_configs_monitoring.rst
  docs/source/api/v4/cdns_name_configs_monitoring.rst
  lib/go-tc/enum.go
  lib/go-tc/traffic_monitor.go
  lib/go-tc/traffic_monitor_test.go
  lib/go-tc/traffic_router.go
  lib/go-tc/traffic_router_test.go
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
  traffic_monitor/manager/monitorconfig.go
  traffic_monitor/manager/opsconfig.go
  traffic_monitor/tests/_integration/snapshot.json
  traffic_monitor/todata/todata.go
  traffic_monitor/todata/todata_test.go
  traffic_monitor/towrap/towrap.go
  traffic_ops/traffic_ops_golang/crconfig/crconfig.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice.go
  traffic_ops/traffic_ops_golang/crconfig/edgelocations_test.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring.go
  traffic_ops/traffic_ops_golang/monitoring/monitoring_test.go
  traffic_ops/traffic_ops_golang/test/rand.go
  traffic_ops/traffic_ops_golang/topology/snapshot.go
  traffic_ops/traffic_ops_golang/topology/snapshot_test.go
Labels: Traffic Ops, Traffic Monitor, medium impact, improvement

#6667 Restores logging the cache status.
  CHANGELOG.md
  tc-health-client/tmagent/tmagent.go
Labels: new feature, low impact, tc-health-client

#6705 TR upgrade spring per CVE-2022-22965
  traffic_router/pom.xml
Labels: Traffic Router, tech debt
