Repository apache/trafficcontrol, pull requests merged in 2022-09, with the labels that each got.

#7054 ATC Collaborators for September 2022
  .asf.yaml
Labels: process, collaborators

#7053 TP do not autofill password fields on non-login pages
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.html
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.ts
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
Labels: bug, Traffic Portal, Traffic Portal v2

#7009 Refactor Profiles and Profile Parameters Tests
  traffic_ops/testing/api/v3/crconfig_test.go
  traffic_ops/testing/api/v3/monitoring_test.go
  traffic_ops/testing/api/v3/parameters_test.go
  traffic_ops/testing/api/v3/profile_parameters_test.go
  traffic_ops/testing/api/v3/profiles_export_test.go
  traffic_ops/testing/api/v3/profiles_import_test.go
  traffic_ops/testing/api/v3/profiles_name_copy_test.go
  traffic_ops/testing/api/v3/profiles_test.go
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/crconfig_test.go
  traffic_ops/testing/api/v4/deliveryservices_test.go
  traffic_ops/testing/api/v4/monitoring_test.go
  traffic_ops/testing/api/v4/parameters_test.go
  traffic_ops/testing/api/v4/profile_parameters_test.go
  traffic_ops/testing/api/v4/profiles_export_test.go
  traffic_ops/testing/api/v4/profiles_import_test.go
  traffic_ops/testing/api/v4/profiles_name_copy_test.go
  traffic_ops/testing/api/v4/profiles_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
Labels: low impact, tests, improvement, TO Client (Go)

#7062 Update Go version to 1.19.1
  .env
  GO_VERSION
  go.mod
Labels: go version

#7036 TP: Add indicator to Delivery Services if they are a steering target
  CHANGELOG.md
  VERSION
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/deliveryServiceDetail.ts
  experimental/traffic-portal/nightwatch/tests/ds/ds.details.spec.ts
  experimental/traffic-portal/src/app/api/delivery-service.service.ts
  experimental/traffic-portal/src/app/api/testing/delivery-service.service.ts
  experimental/traffic-portal/src/app/app.ui.module.ts
  experimental/traffic-portal/src/app/core/deliveryservice/deliveryservice.component.html
  experimental/traffic-portal/src/app/core/deliveryservice/deliveryservice.component.scss
  experimental/traffic-portal/src/app/core/deliveryservice/deliveryservice.component.ts
  traffic_portal/Gruntfile.js
  traffic_portal/app/src/common/api/DeliveryServiceService.js
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/service/utils/DeliveryServiceUtils.js
  traffic_portal/app/src/index.html
  traffic_portal/app/src/modules/private/deliveryServices/list/index.js
  traffic_portal/build/traffic_portal.spec
  traffic_portal/grunt/install-dependencies.js
  traffic_portal/package-lock.json
  traffic_portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_router/build/pom.xml
  traffic_router/configuration/pom.xml
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
  traffic_router/geolocation/pom.xml
  traffic_router/neustar/pom.xml
  traffic_router/pom.xml
  traffic_router/shared/pom.xml
Labels: new feature, Traffic Portal, Traffic Portal v2

#7023 Add asn field to server
  CHANGELOG.md
  cache-config/t3cutil/toreq/clientfuncs.go
  cache-config/t3cutil/toreq/conversions.go
  docs/source/api/v4/servers.rst
  infrastructure/cdn-in-a-box/enroller/enroller.go
  lib/go-tc/servers.go
  traffic_monitor/towrap/towrap.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/testing/api/v4/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_router/ultimate-test-harness/http_test.go
Labels: Traffic Ops, Traffic Portal, medium impact

#7066 TP don't autocomplete on user change password field.
  traffic_portal/app/src/common/modules/form/user/form.user.tpl.html
Labels: Traffic Portal, improvement

#7067 TP fix some DS rewrite fields not working
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
Labels: Traffic Portal, regression bug

#7070 Add t3-tail to .gitignore
  cache-config/.gitignore
Labels: tech debt, cache-config, low effort

#7065 Allow update time params on Servers when CDN is locked.
  CHANGELOG.md
  traffic_ops/testing/api/v4/serverupdatestatus_test.go
  traffic_ops/testing/api/v5/serverupdatestatus_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/server/update.go
Labels: Traffic Ops, improvement, go

#7043 Fix t3c non-topo edge-origin DS params
  CHANGELOG.md
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: bug, low impact, cache-config

#7069 Fix t3c for large number of added files
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-check-refs/README.md
  cache-config/t3c-check-refs/config/config.go
  cache-config/t3c-check-refs/t3c-check-refs.go
  cache-config/t3cutil/t3cutil.go
  lib/go-util/util.go
Labels: bug, low impact, cache-config

#7077 Fix duplicate labels in the documentation
  docs/source/api/v4/deliveryservice_stats.rst
  docs/source/api/v4/osversions.rst
  docs/source/api/v5/osversions.rst
Labels: bug, documentation, low impact

#7056 Refactor Topologies Tests
  traffic_ops/testing/api/utils/utils.go
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/testing/api/v5/topologies_test.go
Labels: Traffic Ops, tests, tech debt, improvement

#7086 adds issue or PR links to unreleased change log
  CHANGELOG.md
Labels: documentation

#7073 Adding the `asn` field to all `GET` endpoints that return a `server` object
  docs/source/api/v4/deliveryservices_id_servers.rst
  docs/source/api/v4/deliveryservices_id_servers_eligible.rst
  docs/source/api/v4/servers_id.rst
  docs/source/api/v5/deliveryservices_id_servers.rst
  docs/source/api/v5/deliveryservices_id_servers_eligible.rst
  docs/source/api/v5/servers_id.rst
  lib/go-tc/deliveryservice_servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers.go
Labels: Traffic Ops, medium impact, improvement

#7098 Bugfix/server capability breadcrumb links
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/deliveryServiceCapabilities/TableDeliveryServiceCapabilitiesController.js
  traffic_portal/app/src/common/modules/table/serverCapabilityDeliveryServices/table.serverCapabilityDeliveryServices.tpl.html
  traffic_portal/app/src/common/modules/table/serverCapabilityServers/table.serverCapabilityServers.tpl.html
  traffic_portal/app/src/common/modules/table/serverServerCapabilities/TableServerServerCapabilitiesController.js
Labels: bug, Traffic Portal, low impact

#7074 Fixed server table's quick search and filter for multiple profiles
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/agGrid/CommonGridController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableAssignDSServersController.js
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
Labels: bug, Traffic Portal, low impact

#7084 TP fix filtering on Delivery Service "Targets For" column
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
Labels: bug, Traffic Portal, low impact
