Repository apache/trafficcontrol, pull requests merged in 2022-10, with the labels that each got.

#7103 ATC Collaborators for October 2022
  .asf.yaml
Labels: process, collaborators

#7093 Update Tomcat to 9.0.67
  CHANGELOG.md
  dev/traffic_router/Dockerfile
  traffic_router/build/build_rpm.sh
Labels: Traffic Router, high impact, improvement, dependencies

#7107 Update Go version to 1.19.2
  .env
  GO_VERSION
Labels: go version

#7105 Incorrect method on docs for /cdns/dnsseckeys/refresh in APIv4 and APIv5
  CHANGELOG.md
  docs/source/api/v4/cdns_dnsseckeys_refresh.rst
  docs/source/api/v5/cdns_dnsseckeys_refresh.rst
Labels: bug, documentation, low impact

#7100 Traffic Router tests GHA: Include integration tests
  .github/actions/tr-unit-tests/Dockerfile
  .github/actions/tr-unit-tests/README.md
  .github/actions/tr-unit-tests/action.yml
  .github/workflows/tpv2.yml
  .github/workflows/tr.tests.yaml
Labels: Traffic Router, low impact, tests, automation

#7108 Configure TO API tests traffic-ops-test.conf for dev CiaB by default
  traffic_ops/testing/api/conf/traffic-ops-test.conf
Labels: Traffic Ops, configuration, tests, improvement

#7075 Add Last Updated field to Traffic Portal
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal, low impact, improvement, low effort

#7102 Tpv2 server fix
  .github/actions/tpv2-integration-tests/entrypoint.sh
  .github/workflows/tpv2.yml
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/server.config.ts
  experimental/traffic-portal/server.ts
  experimental/traffic-portal/src/app/core/users/tenants/tenants.component.ts
Labels: bug, low impact, Traffic Portal v2

#7112 fix : Documentation for cdns/{{name}}/federations is missing a property
  CHANGELOG.md
  docs/source/api/v3/cdns_name_federations.rst
  docs/source/api/v4/cdns_name_federations.rst
  docs/source/api/v5/cdns_name_federations.rst
Labels: bug, documentation, low impact

#7116 Use Topology type parameter for Topology API TestCase
  traffic_ops/testing/api/utils/utils.go
  traffic_ops/testing/api/v3/topologies_test.go
  traffic_ops/testing/api/v4/topologies_test.go
  traffic_ops/testing/api/v5/topologies_test.go
Labels: Traffic Ops, tests, tech debt

#7109 Remove dnssec optimization flags from Traffic Router
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/SignatureManager.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManager.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/router/TrafficRouter.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/CatalinaTrafficRouter.java
Labels: Traffic Router, documentation, low impact, tech debt

#7106 Refactor Server ID Status Tests
  traffic_ops/testing/api/v3/servers_hostname_update_status_test.go
  traffic_ops/testing/api/v3/servers_id_queue_update_test.go
  traffic_ops/testing/api/v3/servers_id_status_test.go
  traffic_ops/testing/api/v3/serverupdatestatus_test.go
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/testing/api/v4/cdn_locks_test.go
  traffic_ops/testing/api/v4/deliveryserviceservers_test.go
  traffic_ops/testing/api/v4/servers_hostname_update_status_test.go
  traffic_ops/testing/api/v4/servers_hostname_update_test.go
  traffic_ops/testing/api/v4/servers_id_queue_update_test.go
  traffic_ops/testing/api/v4/servers_id_status_test.go
  traffic_ops/testing/api/v4/serverupdatestatus_test.go
  traffic_ops/testing/api/v4/tc-fixtures.json
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/servers_hostname_update_status_test.go
  traffic_ops/testing/api/v5/servers_hostname_update_test.go
  traffic_ops/testing/api/v5/servers_id_queue_update_test.go
  traffic_ops/testing/api/v5/servers_id_status_test.go
  traffic_ops/testing/api/v5/serverupdatestatus_test.go
  traffic_ops/v3-client/cdn.go
Labels: low impact, tests, improvement, TO Client (Go)

#7117 Remove unused TR profile params from docs
  docs/source/admin/traffic_router.rst
Labels: Traffic Router, documentation

#7115 Update TO v5 API tests `TestAPIBase` to API v5
  traffic_ops/testing/api/v5/traffic_ops_test.go
Labels: bug, Traffic Ops, low impact, tests

#7104 TP fix child DS tables not loading
  traffic_portal/app/src/common/modules/table/serverDeliveryServices/TableServerDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serviceCategoryDeliveryServices/TableServiceCategoryDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/topologyDeliveryServices/TableTopologyDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/typeDeliveryServices/TableTypeDeliveryServicesController.js
  traffic_portal/app/src/modules/private/servers/deliveryServices/index.js
  traffic_portal/app/src/modules/private/serviceCategories/deliveryServices/index.js
  traffic_portal/app/src/modules/private/topologies/deliveryServices/index.js
  traffic_portal/app/src/modules/private/types/deliveryServices/index.js
Labels: Traffic Portal, regression bug

#7087 TP Allow Change Logs to be "expanded" to see the whole message.
  CHANGELOG.md
  experimental/traffic-portal/src/app/core/change-logs/change-logs.component.html
  experimental/traffic-portal/src/app/core/change-logs/change-logs.component.ts
  experimental/traffic-portal/src/app/shared/dialogs/text-dialog/text-dialog.component.html
  experimental/traffic-portal/src/app/shared/dialogs/text-dialog/text-dialog.component.scss
  experimental/traffic-portal/src/app/shared/dialogs/text-dialog/text-dialog.component.spec.ts
  experimental/traffic-portal/src/app/shared/dialogs/text-dialog/text-dialog.component.ts
  experimental/traffic-portal/src/app/shared/shared.module.ts
  traffic_portal/app/src/common/modules/table/changeLogs/TableChangeLogsController.js
  traffic_portal/app/src/common/modules/table/changeLogs/table.changeLogs.tpl.html
Labels: bug, Traffic Portal, Traffic Portal v2

#7122 Minor TM refactor to simplify statecombiner logic
  traffic_monitor/manager/statecombiner.go
  traffic_monitor/manager/statecombiner_test.go
Labels: Traffic Monitor, tech debt

#7124 Do not include non-TR profile params in CRConfig "config" section
  traffic_ops/traffic_ops_golang/crconfig/config.go
  traffic_ops/traffic_ops_golang/crconfig/config_test.go
Labels: Traffic Ops, tech debt

#7135 Add the ability to traffic Router to customize default https cert
  CHANGELOG.md
  docs/source/development/traffic_router/traffic_router_api.rst
  traffic_router/connector/src/main/java/org/apache/traffic_control/traffic_router/secure/CertificateRegistry.java
  traffic_router/connector/src/main/java/org/apache/traffic_control/traffic_router/utils/HttpsProperties.java
  traffic_router/connector/src/test/java/conf/https.properties
  traffic_router/connector/src/test/java/utils/HttpsPropertiesTest.java
Labels: Traffic Router, improvement

#7139 TP fix child DS tables not loading
  traffic_portal/app/src/common/modules/table/cdnDeliveryServices/TableCDNDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/tenantDeliveryServices/TableTenantDeliveryServicesController.js
  traffic_portal/app/src/modules/private/cdns/deliveryServices/index.js
  traffic_portal/app/src/modules/private/tenants/deliveryServices/index.js
Labels: Traffic Portal, regression bug

#7140 fix missing lastUpdated property in docs
  CHANGELOG.md
  docs/source/api/v3/staticdnsentries.rst
  docs/source/api/v4/staticdnsentries.rst
  docs/source/api/v5/staticdnsentries.rst
Labels: bug, documentation, low impact, hacktoberfest

#7143 Override all Delivery Service TTLs in a CDN's Snapshot with a given value
  CHANGELOG.md
  docs/source/api/v4/cdns.rst
  docs/source/api/v5/cdns.rst
  lib/go-tc/cdns.go
  lib/go-tc/crconfig.go
  traffic_ops/app/db/migrations/2022101700451329_add_ttl_override_to_cdn.down.sql
  traffic_ops/app/db/migrations/2022101700451329_add_ttl_override_to_cdn.up.sql
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/cdn/cdns.go
  traffic_ops/traffic_ops_golang/cdn/cdns_test.go
  traffic_ops/traffic_ops_golang/crconfig/crconfig.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice.go
  traffic_ops/traffic_ops_golang/crconfig/deliveryservice_test.go
  traffic_ops/traffic_ops_golang/crconfig/servers.go
  traffic_ops/traffic_ops_golang/crconfig/servers_test.go
  traffic_portal/app/src/common/modules/form/cdn/form.cdn.tpl.html
  traffic_portal/test/integration/Data/cdn.ts
  traffic_portal/test/integration/PageObjects/CDNPage.po.ts
Labels: new feature, Traffic Ops, Traffic Portal

#7138 Remove expired cookie and bad signature cookie errors from error.log
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/login/logout_test.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
  traffic_ops/traffic_ops_golang/tocookie/cookie.go
Labels: bug, Traffic Ops, improvement

#7146 Better messages for Traffic Router exceptions
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/protocol/TCP.java
Labels: Traffic Router, improvement, logging

#7147 Include TO API v5 in CiaB TO API Tests
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
Labels: bug, tests, cdn-in-a-box

#7148 Check the exit code of API v5 tests also
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/run.sh
Labels: bug, tests, cdn-in-a-box

#7118 Remove ASN from servers
  CHANGELOG.md
  cache-config/t3cutil/toreq/clientfuncs.go
  cache-config/t3cutil/toreq/conversions.go
  docs/source/api/v4/deliveryservices_id_servers.rst
  docs/source/api/v4/deliveryservices_id_servers_eligible.rst
  docs/source/api/v4/servers.rst
  docs/source/api/v4/servers_id.rst
  docs/source/api/v5/deliveryservices_id_servers.rst
  docs/source/api/v5/deliveryservices_id_servers_eligible.rst
  docs/source/api/v5/servers_id.rst
  infrastructure/cdn-in-a-box/enroller/enroller.go
  lib/go-tc/deliveryservice_servers.go
  lib/go-tc/servers.go
  traffic_monitor/towrap/towrap.go
  traffic_ops/testing/api/v4/servers_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_router/ultimate-test-harness/http_test.go
Labels: Traffic Ops, Traffic Portal, documentation, low impact, unused code

#7096 Add health client parent health
  CHANGELOG.md
  lib/go-llog/llog.go
  lib/go-log/log.go
  tc-health-client/README.md
  tc-health-client/config/config.go
  tc-health-client/config/config_test.go
  tc-health-client/sar/ephemeralportholder.go
  tc-health-client/sar/multisar.go
  tc-health-client/sar/sar.go
  tc-health-client/sar/sar_test.go
  tc-health-client/sar/tcphdr.go
  tc-health-client/sar/tcphdrnative.go
  tc-health-client/sar/util.go
  tc-health-client/tc-health-client.go
  tc-health-client/testing/tests/health-client-startup_test.go
  tc-health-client/tmagent/markdownservice.go
  tc-health-client/tmagent/parenthealth.go
  tc-health-client/tmagent/parenthealthservice.go
  tc-health-client/tmagent/parentservicehealth.go
  tc-health-client/tmagent/tmagent.go
  tc-health-client/tmagent/tmagent_test.go
  tc-health-client/tmagent/tmhealthservice.go
  tc-health-client/util/util.go
  tc-health-client/util/util_test.go
Labels: new feature, medium impact, tc-health-client

#7157 Fix TP DSR edit page not rendering
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
Labels: Traffic Portal, low impact, regression bug, low difficulty

#7152 Use Generics in TO API v3 Integration Tests
  traffic_ops/testing/api/v3/about_test.go
  traffic_ops/testing/api/v3/cachegroups_test.go
  traffic_ops/testing/api/v3/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v3/cdn_domains_test.go
  traffic_ops/testing/api/v3/cdn_federations_test.go
  traffic_ops/testing/api/v3/cdns_test.go
  traffic_ops/testing/api/v3/coordinates_test.go
  traffic_ops/testing/api/v3/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v3/deliveryservices_required_capabilities_test.go
  traffic_ops/testing/api/v3/deliveryservicesideligible_test.go
  traffic_ops/testing/api/v3/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v3/divisions_test.go
  traffic_ops/testing/api/v3/federation_deliveryservices_test.go
  traffic_ops/testing/api/v3/federation_federation_resolvers_test.go
  traffic_ops/testing/api/v3/federation_resolvers_test.go
  traffic_ops/testing/api/v3/federation_users_test.go
  traffic_ops/testing/api/v3/federations_test.go
  traffic_ops/testing/api/v3/logs_test.go
  traffic_ops/testing/api/v3/origins_test.go
  traffic_ops/testing/api/v3/parameters_test.go
  traffic_ops/testing/api/v3/phys_locations_test.go
  traffic_ops/testing/api/v3/ping_test.go
  traffic_ops/testing/api/v3/profile_parameters_test.go
  traffic_ops/testing/api/v3/profiles_export_test.go
  traffic_ops/testing/api/v3/profiles_import_test.go
  traffic_ops/testing/api/v3/profiles_name_copy_test.go
  traffic_ops/testing/api/v3/profiles_test.go
  traffic_ops/testing/api/v3/regions_test.go
  traffic_ops/testing/api/v3/roles_test.go
  traffic_ops/testing/api/v3/server_capabilities_test.go
  traffic_ops/testing/api/v3/server_server_capabilities_test.go
  traffic_ops/testing/api/v3/servercheckextension_test.go
  traffic_ops/testing/api/v3/serverchecks_test.go
  traffic_ops/testing/api/v3/servers_hostname_update_status_test.go
  traffic_ops/testing/api/v3/servers_id_deliveryservices_test.go
  traffic_ops/testing/api/v3/servers_id_queue_update_test.go
  traffic_ops/testing/api/v3/servers_id_status_test.go
  traffic_ops/testing/api/v3/servicecategories_test.go
  traffic_ops/testing/api/v3/staticdnsentries_test.go
  traffic_ops/testing/api/v3/stats_summary_test.go
  traffic_ops/testing/api/v3/statuses_test.go
  traffic_ops/testing/api/v3/steering_test.go
  traffic_ops/testing/api/v3/steeringtargets_test.go
  traffic_ops/testing/api/v3/tenants_test.go
  traffic_ops/testing/api/v3/topologies_queue_update_test.go
  traffic_ops/testing/api/v3/types_test.go
  traffic_ops/testing/api/v3/users_register_test.go
Labels: Traffic Ops, tests, tech debt, improvement

#7159 Traffic Vault: Fix `reencrypt` utility to uniquely reencrypt ssl keys
  CHANGELOG.md
  traffic_ops/app/db/reencrypt/reencrypt.go
Labels: bug, Traffic Vault, medium impact, low difficulty

#7160 Consider DS Regional field for MaxOriginConnections of Edge Caches
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/headerrewritedotconfig_test.go
Labels: bug, medium impact, cache-config
