Repository apache/trafficcontrol, pull requests merged in 2023-01, with the labels that each got.

#7260 CDN in a Box: aarch64 support
  infrastructure/cdn-in-a-box/.env
  infrastructure/cdn-in-a-box/README.md
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/enroller/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_router_load_test/Dockerfile
Labels: bug, cdn-in-a-box, CPU arch

#7263 Fix a syntax error in a table on the DS overview page
  docs/source/overview/delivery_services.rst
Labels: documentation, low impact, regression bug

#7261 ATC Collaborators for January 2023
  .asf.yaml
Labels: process, collaborators

#7262 Incorrect response structure documentation for jobs
  CHANGELOG.md
  docs/source/api/v4/jobs.rst
  docs/source/api/v5/jobs.rst
Labels: bug, documentation, low impact

#7267 Copy from alpine-based Golang image for alpine Docker images
  infrastructure/cdn-in-a-box/docker-compose.tr-load-tests.yml
  infrastructure/cdn-in-a-box/docker-compose.traffic-ops-test.yml
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_router_load_test/Dockerfile
Labels: bug, cdn-in-a-box

#7265 Fixed docs for roles and cdn locks description
  CHANGELOG.md
  docs/source/api/v4/cdn_locks.rst
  docs/source/api/v4/roles.rst
  docs/source/api/v5/cdn_locks.rst
  docs/source/api/v5/roles.rst
Labels: bug, documentation, low impact

#7266 Use golang docker image
  tools/golang/.env
  tools/golang/Dockerfile
  tools/golang/docker-compose.yml
  traffic_monitor/tests/.env
  traffic_monitor/tests/Dockerfile-golangtest
  traffic_monitor/tests/_integration/.env
  traffic_monitor/tests/_integration/Dockerfile
  traffic_monitor/tests/_integration/docker-compose.yml
  traffic_monitor/tests/docker-compose.yml
  traffic_ops/app/bin/tests/.env
  traffic_ops/app/bin/tests/Dockerfile-golangtest
  traffic_ops/app/bin/tests/docker-compose.yml
  traffic_ops/traffic_ops_golang/swaggerdocs/v13/.env
  traffic_ops/traffic_ops_golang/swaggerdocs/v13/Dockerfile
  traffic_ops/traffic_ops_golang/swaggerdocs/v13/docker-compose.yml
Labels: tech debt, automation, go version

#7273 adds SSL-KEY-EXPIRATION:READ permission
  CHANGELOG.md
  traffic_ops/app/db/seeds.sql
Labels: bug, Traffic Ops, database, permissions

#7227 Traffic Portal library typings
  traffic_portal/app/src/common/modules/header/HeaderController.js
  traffic_portal/app/src/common/modules/navigation/NavigationController.js
  traffic_portal/app/src/common/modules/widget/cdnChart/WidgetCDNChartController.js
  traffic_portal/app/src/scripts/shared-libs.js
  traffic_portal/grunt/browserify.js
  traffic_portal/package-lock.json
  traffic_portal/package.json
Labels: Traffic Portal, low impact, tech debt

#7280 TM: update CDN name in shared config when overriding it
  traffic_monitor/manager/opsconfig.go
Labels: bug, Traffic Monitor, low impact

#7268 Fix edge cases for DSR creation, update, and deletion
  lib/go-tc/copy.go
  lib/go-tc/copy_test.go
  lib/go-tc/deliveryservice_requests.go
  lib/go-tc/deliveryservices.go
  lib/go-tc/users.go
  lib/go-util/ptr.go
  lib/go-util/ptr_test.go
  traffic_ops/testing/api/v3/deliveryservice_requests_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/validate.go
Labels: Traffic Ops, low impact, regression bug

#7283 Update Go version to 1.19.5
  .env
  GO_VERSION
Labels: go version

#7285 Added package procsp-ng to TM, TO, TP, TR, TS and cache docker images.
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/traffic_monitor/Dockerfile
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  infrastructure/cdn-in-a-box/traffic_portal/Dockerfile
  infrastructure/cdn-in-a-box/traffic_router/Dockerfile
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile
Labels: cdn-in-a-box, improvement

#7286 Ansible playbook API switch to variable
  infrastructure/ansible/roles/to_api/tasks/snapshot.yml
  infrastructure/ansible/roles/traffic-router/tasks/traffic_router.yml
Labels: low impact, tech debt, ansible

#7279 Wrap architecture-getting command in Makefile in Docker command
  infrastructure/cdn-in-a-box/Makefile
Labels: low impact, regression bug, cdn-in-a-box

#7296 Traffic Portal configuration option for Delivery Service active flags
  CHANGELOG.md
  traffic_portal/app/src/common/models/PropertiesModel.js
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
  traffic_portal/app/src/traffic_portal_properties.json
Labels: new feature, Traffic Portal, configuration, low impact

#7300 Rebuild RPM DB after installing NodeSource repo on RHEL 7
  infrastructure/cdn-in-a-box/traffic_portal/Dockerfile
  infrastructure/cdn-in-a-box/traffic_portal_integration_test/Dockerfile
Labels: bug, Traffic Portal, tests, cdn-in-a-box, automation, dependencies

#7298 Separate Go Unit GHA into individual workflows
  .github/actions/go-test/entrypoint.sh
  .github/workflows/cache-config.unit.tests.yml
  .github/workflows/go.lib.unit.tests.yml
  .github/workflows/go.unit.tests.yaml
  .github/workflows/grove.unit.tests.yml
  .github/workflows/tm.unit.tests.yml
  .github/workflows/to.integration.tests.yml
  .github/workflows/to.unit.tests.yml
  .github/workflows/traffic-stats.unit.tests.yml
  infrastructure/cdn-in-a-box/traffic_ops_integration_test/Dockerfile
Labels: tests, cdn-in-a-box, improvement, automation

#7294 Fix Internal Server Error when GETting sslkey_expirations endpoint
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
Labels: bug, Traffic Ops, SSL, medium impact

#7304 Added the separated workflow badges to readme
  README.md
Labels: low impact, tech debt, process

#7307 Traffic Portal Configurable DS Active Flags visibility (continued)
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
Labels: new feature, Traffic Portal, configuration, low impact

#7295 Added description and priority order for Layered Profile in server's form.
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
Labels: Traffic Portal, low impact, improvement

#7311 #7310
  docs/source/api/v4/jobs.rst
  docs/source/api/v5/jobs.rst
Labels: bug, documentation, low impact

#6622 Added Client Certificate Auth blueprint.
  blueprints/client-certificate-auth.md
Labels: blueprint

#7318 Fix Tenants dropdown in TP
  traffic_portal/app/src/common/service/utils/TenantUtils.js
Labels: Traffic Portal, high impact, regression bug

#7325 removes inaccurate federation information from glossary
  docs/source/glossary.rst
Labels: documentation, low impact, tech debt

#7327 Run TP/TPv2 tests when TO DB files have changed
  .github/workflows/tp.integration.tests.yml
  .github/workflows/tpv2.yml
Labels: low impact, automation

#7314 Add capability to Delivery Service (HTTP, DNS)
  CHANGELOG.md
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/form/_form.scss
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceCapabilities/TableDeliveryServiceCapabilitiesController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceCapabilities/index.js
  traffic_portal/app/src/common/modules/table/deliveryServiceCapabilities/table.deliveryServiceCapabilities.tpl.html
  traffic_portal/app/src/common/modules/table/deliveryServices/TableDeliveryServicesController.js
  traffic_portal/app/src/common/modules/table/serverCapabilityDeliveryServices/TableServerCapabilityDeliveryServicesController.js
  traffic_portal/app/src/modules/private/deliveryServices/capabilities/index.js
  traffic_portal/test/integration/Data/deliveryservices.ts
  traffic_portal/test/integration/PageObjects/DeliveryServicePage.po.ts
  traffic_portal/test/integration/specs/DeliveryServices.spec.ts
Labels: Traffic Portal, low impact, improvement
