Repository apache/trafficcontrol, pull requests merged in 2023-03, with the labels that each got.

#7371 Simplifies the DS button bar by moving "View Linked Delivery Service Requests" under More menu.
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.anyMap.tpl.html
Labels: Traffic Portal, improvement

#7357 Add TPv2 RPM Spec and add to `pkg`
  .github/actions/tpv2-integration-tests/config.json
  .github/actions/tpv2-integration-tests/entrypoint.sh
  .github/workflows/tpv2.yml
  build/functions.sh
  experimental/traffic-portal/.gitignore
  experimental/traffic-portal/README.md
  experimental/traffic-portal/build/build_rpm.sh
  experimental/traffic-portal/build/config.json
  experimental/traffic-portal/build/etc/init.d/traffic-portal
  experimental/traffic-portal/build/etc/logrotate.d/traffic-portal
  experimental/traffic-portal/build/package-lock.json
  experimental/traffic-portal/build/package.json
  experimental/traffic-portal/build/traffic_portal_v2.spec
  experimental/traffic-portal/package.json
  experimental/traffic-portal/server.config.ts
  experimental/traffic-portal/server.ts
  experimental/traffic-portal/src/app/shared/theme-manager/theme-manager.service.ts
  infrastructure/docker/build/Dockerfile-traffic_portal
  infrastructure/docker/build/docker-compose.yml
  traffic_monitor/build/traffic_monitor.spec
  traffic_ops/build/traffic_ops.spec
  traffic_portal/build/traffic_portal.spec
  traffic_stats/build/traffic_stats.spec
Labels: Traffic Ops, Traffic Stats, Traffic Monitor, Traffic Portal, build, install, automation, Traffic Portal v2

#7370 Add ACME permissions to Operations Role
  CHANGELOG.md
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops, low impact, database, improvement

#7355 Adding Types table and details
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/types/typeDetail.ts
  experimental/traffic-portal/nightwatch/page_objects/types/typesTable.ts
  experimental/traffic-portal/nightwatch/tests/types/detail.spec.ts
  experimental/traffic-portal/nightwatch/tests/types/table.spec.ts
  experimental/traffic-portal/src/app/api/testing/type.service.ts
  experimental/traffic-portal/src/app/api/type.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/types/detail/type-detail.component.html
  experimental/traffic-portal/src/app/core/types/detail/type-detail.component.scss
  experimental/traffic-portal/src/app/core/types/detail/type-detail.component.spec.ts
  experimental/traffic-portal/src/app/core/types/detail/type-detail.component.ts
  experimental/traffic-portal/src/app/core/types/table/types-table.component.html
  experimental/traffic-portal/src/app/core/types/table/types-table.component.scss
  experimental/traffic-portal/src/app/core/types/table/types-table.component.spec.ts
  experimental/traffic-portal/src/app/core/types/table/types-table.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7378 ATC Collaborators for March 2023
  .asf.yaml
Labels: process, collaborators

#7379 Have TPv2 reuse TPv1 builder
  build/build.sh
  infrastructure/docker/build/Dockerfile-traffic_portal
  infrastructure/docker/build/docker-compose.yml
Labels: Traffic Portal, regression bug, build, Traffic Portal v2

#7365 Add GHA to update chromedriver
  .github/actions/chromedriver-updater/README.rst
  .github/actions/chromedriver-updater/action.yml
  .github/actions/chromedriver-updater/chromedriver_updater/__main__.py
  .github/actions/chromedriver-updater/chromedriver_updater/constants.py
  .github/actions/chromedriver-updater/chromedriver_updater/templates/pr.md
  .github/actions/chromedriver-updater/entrypoint.sh
  .github/actions/chromedriver-updater/requirements.txt
  .github/actions/chromedriver-updater/setup.cfg
  .github/actions/chromedriver-updater/setup.py
  .github/workflows/chromdriver-update.yml
Labels: automation, dependencies

#7362 Added ASN table for TPv2
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/cacheGroups/asnsTable.ts
  experimental/traffic-portal/nightwatch/tests/cacheGroups/asns/table.spec.ts
  experimental/traffic-portal/src/app/api/cache-group.service.ts
  experimental/traffic-portal/src/app/api/testing/cache-group.service.ts
  experimental/traffic-portal/src/app/core/cache-groups/asns/table/asns-table.component.html
  experimental/traffic-portal/src/app/core/cache-groups/asns/table/asns-table.component.scss
  experimental/traffic-portal/src/app/core/cache-groups/asns/table/asns-table.component.spec.ts
  experimental/traffic-portal/src/app/core/cache-groups/asns/table/asns-table.component.ts
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-table/cache-group-table.component.spec.ts
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-table/cache-group-table.component.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7380 TP: adds strikethru for expired certs and red for less than 7 days until expiration
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/_table.scss
  traffic_portal/app/src/common/modules/table/certExpirations/TableCertExpirationsController.js
Labels: Traffic Portal, improvement

#7381 Update Go version to 1.19.7
  .env
  GO_VERSION
  go.mod
  go.sum
  vendor/modules.txt
Labels: go version

#7397 Update GHA CI User
  .github/actions/assign-triage-role/README.rst
  .github/actions/chromedriver-updater/README.rst
  .github/actions/pr-to-update-go/README.rst
  .github/workflows/assign-triage-role.yml
  .github/workflows/chromdriver-update.yml
  .github/workflows/pr-to-update-go.yml
Labels: configuration, automation

#7388 adding sslkey_expirations methods in clients
  CHANGELOG.md
  lib/go-tc/sslkey_expirations.go
  traffic_ops/testing/api/v4/sslkey_expirations_test.go
  traffic_ops/testing/api/v5/sslkey_expirations_test.go
  traffic_ops/v4-client/sslkey_expirations.go
  traffic_ops/v5-client/sslkey_expirations.go
Labels: new feature, Traffic Ops, low impact, TO Client (Go)

#7394 return correct error on duplicate email while updating user
  traffic_ops/traffic_ops_golang/user/current.go
Labels: bug, Traffic Ops, low impact

#7382 Fix Internal Server Error when a Delivery Service's orgServerFqdn is an empty string, in some situations
  CHANGELOG.md
  traffic_ops/testing/api/v3/tc-fixtures.json
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_test.go
Labels: bug, Traffic Ops, low impact

#7343 adds missing read permissions to roles: r/o, portal, federation, stee…
  CHANGELOG.md
  traffic_ops/app/db/seeds.sql
Labels: bug, Traffic Ops, database, permissions

#7396 Improve unit test coverage for servers folder in Traffic Ops
  traffic_ops/traffic_ops_golang/server/put_status_test.go
  traffic_ops/traffic_ops_golang/server/servers_assignment_test.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability_test.go
  traffic_ops/traffic_ops_golang/servercapability/servercapability.go
  traffic_ops/traffic_ops_golang/servercapability/servercapability_test.go
Labels: Traffic Ops, low impact, tests, tech debt

#7402 add missing lastUpdated prop to PUT /roles
  docs/source/api/v4/roles.rst
  docs/source/api/v5/roles.rst
  traffic_ops/traffic_ops_golang/role/roles.go
Labels: bug, Traffic Ops, low impact

#7409 Have `chromedriver-updater` action use correct HEAD
  .github/actions/chromedriver-updater/chromedriver_updater/__main__.py
  .github/actions/chromedriver-updater/chromedriver_updater/constants.py
Labels: bug, build, automation

#7410 Update Chromedriver Versions
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies

#7414 Fixed DSR difference for DS required capability
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
Labels: Traffic Portal, regression bug

#7415 return correct error when user updates their role
  traffic_ops/traffic_ops_golang/user/current.go
Labels: bug, Traffic Ops, low impact

#7407 Added ASN details for TPV2
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/cacheGroups/asnDetail.ts
  experimental/traffic-portal/nightwatch/tests/cacheGroups/asns/detail.spec.ts
  experimental/traffic-portal/src/app/api/cache-group.service.ts
  experimental/traffic-portal/src/app/api/testing/cache-group.service.ts
  experimental/traffic-portal/src/app/core/cache-groups/asns/detail/asn-detail.component.html
  experimental/traffic-portal/src/app/core/cache-groups/asns/detail/asn-detail.component.scss
  experimental/traffic-portal/src/app/core/cache-groups/asns/detail/asn-detail.component.spec.ts
  experimental/traffic-portal/src/app/core/cache-groups/asns/detail/asn-detail.component.ts
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-table/cache-group-table.component.ts
  experimental/traffic-portal/src/app/core/core.module.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7400 Adding API Contract Test for cdns endpoint
  traffic_ops/testing/api_contract/README.md
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/prerequisite_data.json
  traffic_ops/testing/api_contract/v4/pytest.ini
  traffic_ops/testing/api_contract/v4/requirements.txt
  traffic_ops/testing/api_contract/v4/test_cdns.py
  traffic_ops/testing/api_contract/v4/to_data.json
Labels: new feature, Traffic Ops, low impact, tests

#7406 [TO] Added unit tests for server folder
  traffic_ops/traffic_ops_golang/server/put_status_test.go
  traffic_ops/traffic_ops_golang/server/servers_assignment.go
  traffic_ops/traffic_ops_golang/server/servers_assignment_test.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
Labels: Traffic Ops, low impact, tests, tech debt

#7375 Basic ISO generation page/form
  dev/traffic_ops/Dockerfile
  experimental/traffic-portal/.eslintrc.json
  experimental/traffic-portal/angular.json
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/api/base-api.service.spec.ts
  experimental/traffic-portal/src/app/api/base-api.service.ts
  experimental/traffic-portal/src/app/api/index.ts
  experimental/traffic-portal/src/app/api/misc-apis.service.spec.ts
  experimental/traffic-portal/src/app/api/misc-apis.service.ts
  experimental/traffic-portal/src/app/api/testing/index.ts
  experimental/traffic-portal/src/app/api/testing/misc-apis.service.spec.ts
  experimental/traffic-portal/src/app/api/testing/misc-apis.service.ts
  experimental/traffic-portal/src/app/app.ui.module.ts
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-details/cache-group-details.component.scss
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-details/cache-group-details.component.ts
  experimental/traffic-portal/src/app/core/cache-groups/divisions/detail/division-detail.component.scss
  experimental/traffic-portal/src/app/core/cache-groups/divisions/detail/division-detail.component.ts
  experimental/traffic-portal/src/app/core/cache-groups/regions/detail/region-detail.component.scss
  experimental/traffic-portal/src/app/core/cache-groups/regions/detail/region-detail.component.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/deliveryservice/new-delivery-service/new-delivery-service.component.ts
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.html
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.scss
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.spec.ts
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.ts
  experimental/traffic-portal/src/app/core/servers/phys-loc/detail/phys-loc-detail.component.scss
  experimental/traffic-portal/src/app/core/servers/phys-loc/detail/phys-loc-detail.component.ts
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.html
  experimental/traffic-portal/src/app/core/styles/form.page.scss
  experimental/traffic-portal/src/app/core/users/tenants/tenant-details/tenant-details.component.ts
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.scss
  experimental/traffic-portal/src/app/shared/file-utils.service.spec.ts
  experimental/traffic-portal/src/app/shared/file-utils.service.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
  experimental/traffic-portal/src/app/shared/shared.module.ts
  experimental/traffic-portal/src/app/utils/index.spec.ts
  experimental/traffic-portal/src/app/utils/index.ts
  experimental/traffic-portal/src/app/utils/ip.ts
  experimental/traffic-portal/src/styles.scss
Labels: new feature, low impact, experimental, Traffic Portal v2

#7411 t3c parentdotconfig: ensure ocgmap is ordered by prim, sec
  CHANGELOG.md
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
Labels: bug, low impact, cache-config

#7419 Various improvements to the API contract tests
  traffic_control/clients/python/pylint.rc
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/prerequisite_data.json
  traffic_ops/testing/api_contract/v4/test_cdns.py
Labels: Traffic Ops, low impact, tests, tech debt, tools

#7353 Traffic Portal v2 CDNs detail page
  experimental/traffic-portal/.gitignore
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/cdns/cdnDetail.ts
  experimental/traffic-portal/nightwatch/tests/cdns/detail.spec.ts
  experimental/traffic-portal/src/app/api/cdn.service.ts
  experimental/traffic-portal/src/app/api/testing/cdn.service.ts
  experimental/traffic-portal/src/app/core/cdns/cdn-detail/cdn-detail.component.html
  experimental/traffic-portal/src/app/core/cdns/cdn-detail/cdn-detail.component.scss
  experimental/traffic-portal/src/app/core/cdns/cdn-detail/cdn-detail.component.spec.ts
  experimental/traffic-portal/src/app/core/cdns/cdn-detail/cdn-detail.component.ts
  experimental/traffic-portal/src/app/core/core.module.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7420 DSR Capability Checkbox auto change
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
Labels: Traffic Portal, low impact, regression bug
