Repository apache/trafficcontrol, pull requests merged in 2023-11, with the labels that each got.

#7855 ATC Collaborators for November 2023
  .asf.yaml
Labels: process, collaborators

#7853 Fix missing $scope.refresh function in CDNs table
  traffic_portal/app/src/common/modules/table/cdns/TableCDNsController.js
Labels: bug, Traffic Portal, low impact

#7847 fix cannot read property 'forEach' of null charts
  traffic_portal/app/src/common/modules/chart/bps/ChartBPSController.js
  traffic_portal/app/src/common/modules/chart/httpStatus/ChartHttpStatusController.js
  traffic_portal/app/src/common/modules/chart/tps/ChartTPSController.js
Labels: bug, Traffic Portal, low impact

#7849 Update Topology Cache Group Servers table to use AG-Grid
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_portal/app/src/common/modules/table/cacheGroups/TableCacheGroupsController.js
  traffic_portal/app/src/common/modules/table/cacheGroups/table.cacheGroups.tpl.html
  traffic_portal/test/integration/Data/cachegroup.ts
  traffic_portal/test/integration/PageObjects/CacheGroup.po.ts
  traffic_portal/test/integration/specs/CacheGroup.spec.ts
Labels: Traffic Portal, low impact, tech debt

#7859 Update Go version to 1.21.4
  .env
  GO_VERSION
Labels: go version

#7866 t3c RPM DB check to work with rocky linux 9
  CHANGELOG.md
  cache-config/t3c-apply/config/config.go
Labels: bug, medium impact, cache-config

#7846 increase state character limit to 4
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/physLocation/FormPhysLocationController.js
Labels: bug, Traffic Portal, low impact
