Repository apache/trafficcontrol, pull requests merged in 2023-04, with the labels that each got.

#7426 ATC Collaborators for April 2023
  .asf.yaml
Labels: process, collaborators

#7302 added anycast traffic routing ability, and lastpoll time for v6
  CHANGELOG.md
  docs/source/admin/traffic_monitor.rst
  docs/source/glossary.rst
  docs/source/overview/traffic_monitor.rst
  lib/go-rfc/http.go
  lib/go-tc/crstates.go
  traffic_monitor/cache/astats.go
  traffic_monitor/cache/astats_csv.go
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/data.go
  traffic_monitor/cache/stats_over_http.go
  traffic_monitor/datareq/crstate.go
  traffic_monitor/datareq/crstate_test.go
  traffic_monitor/datareq/datareq.go
  traffic_monitor/health/cache.go
  traffic_monitor/manager/manager.go
  traffic_monitor/manager/statecombiner.go
  traffic_monitor/todata/todata.go
  traffic_monitor/todata/todata_test.go
Labels: new feature, Traffic Monitor, medium impact

#7428 Update Go version to 1.19.8
  .env
  GO_VERSION
Labels: go version

#7271 Clean up unused code
  CHANGELOG.md
  infrastructure/docker/README.md
  infrastructure/docker/traffic_monitor/Dockerfile
  infrastructure/docker/traffic_monitor/run.sh
  infrastructure/docker/traffic_ops/Dockerfile
  infrastructure/docker/traffic_ops/Dockerfile_psql
  infrastructure/docker/traffic_ops/dbInit.sh
  infrastructure/docker/traffic_ops/docker-compose.yml
  infrastructure/docker/traffic_ops/profile.origin.traffic_ops
  infrastructure/docker/traffic_ops/run.sh
  infrastructure/docker/traffic_router/Dockerfile
  infrastructure/docker/traffic_router/run.sh
  infrastructure/docker/traffic_router/shutdowntr.sh
  infrastructure/docker/traffic_router/starttr.sh
  infrastructure/docker/traffic_server_edge/Dockerfile
  infrastructure/docker/traffic_server_edge/run.sh
  infrastructure/docker/traffic_server_mid/Dockerfile
  infrastructure/docker/traffic_server_mid/run.sh
  infrastructure/docker/traffic_stats/Dockerfile
  infrastructure/docker/traffic_stats/run.sh
  infrastructure/docker/traffic_vault/Dockerfile
  infrastructure/docker/traffic_vault/run.sh
  misc/jira_github_issue_import.py
  traffic_ops/build/traffic_ops.spec
  traffic_ops/install/bin/_postinstall.py
  traffic_ops/install/bin/install_go.sh
  traffic_ops/install/bin/install_goose.sh
  traffic_ops/install/bin/todb_bootstrap.sh
Labels: low impact, tech debt, tools

#7405 Fix reserved consistentHashQueryParams entries causing internal server error instead of client error
  CHANGELOG.md
  lib/go-tc/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
Labels: Traffic Ops, low impact, regression bug

#7431 renaming tm.sameipservers.control to tm.sameipservers.enabled
  docs/source/admin/traffic_monitor.rst
  traffic_monitor/datareq/crstate.go
  traffic_monitor/todata/todata.go
Labels: Traffic Monitor, low impact, tech debt

#7435 TPv2 Add missing args to chromedriver for CiaB
  experimental/traffic-portal/nightwatch/nightwatch.conf.js
Labels: bug, tests, cdn-in-a-box, Traffic Portal v2

#7436 Fix chromedriver_updater GHA
  .github/actions/chromedriver-updater/entrypoint.sh
Labels: bug, Traffic Portal, tests, automation, Traffic Portal v2

#7398 TPv2 have tests use sidebar
  .github/workflows/tpv2.yml
  experimental/traffic-portal/karma.conf.js
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/nightwatch.conf.js
  experimental/traffic-portal/nightwatch/page_objects/common.ts
  experimental/traffic-portal/nightwatch/page_objects/login.ts
  experimental/traffic-portal/nightwatch/tests/cacheGroups/asns/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/cacheGroups/coordinates/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/cacheGroups/divisions/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/cacheGroups/regions/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/cacheGroups/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/deliveryServices/ds.card.spec.ts
  experimental/traffic-portal/nightwatch/tests/deliveryServices/ds.invalidate.spec.ts
  experimental/traffic-portal/nightwatch/tests/servers/physLoc/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/servers/servers.spec.ts
  experimental/traffic-portal/nightwatch/tests/types/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/users/changeLogs.spec.ts
  experimental/traffic-portal/nightwatch/tests/users/tenant/table.spec.ts
  experimental/traffic-portal/nightwatch/tests/users/users.spec.ts
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
  experimental/traffic-portal/src/app/shared/navigation/tp-sidebar/tp-sidebar.component.html
Labels: low impact, tests, experimental, Traffic Portal v2

#7395 Add unit test for user folder in Traffic Ops
  lib/go-tc/users.go
  traffic_ops/traffic_ops_golang/test/helpers.go
  traffic_ops/traffic_ops_golang/test/helpers_test.go
  traffic_ops/traffic_ops_golang/user/current_test.go
  traffic_ops/traffic_ops_golang/user/user_test.go
Labels: Traffic Ops, low impact, tests

#7424 Api contract cachegroup
  traffic_control/clients/python/pylint.rc
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/prerequisite_data.json
  traffic_ops/testing/api_contract/v4/request_template.json
  traffic_ops/testing/api_contract/v4/response_template.json
  traffic_ops/testing/api_contract/v4/test_cachegroups.py
  traffic_ops/testing/api_contract/v4/test_cdns.py
Labels: new feature, low impact, tests, python

#7440 Fix TPv2 e2e ciab container and add config file
  experimental/traffic-portal/nightwatch/config.json
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/globals/tables/index.ts
  experimental/traffic-portal/nightwatch/nightwatch.conf.js
  experimental/traffic-portal/nightwatch/tsconfig.e2e.json
  infrastructure/cdn-in-a-box/traffic_portal_v2_e2e_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_portal_v2_e2e_test/run.sh
Labels: bug, tests, cdn-in-a-box, Traffic Portal v2

#7437 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7447 Fix issues with TPv2 CiaB Environment
  experimental/traffic-portal/nightwatch/config.json
  experimental/traffic-portal/nightwatch/nightwatch.conf.js
  infrastructure/cdn-in-a-box/traffic_portal_v2_e2e_test/Dockerfile
  infrastructure/cdn-in-a-box/traffic_portal_v2_e2e_test/run.sh
Labels: tests, cdn-in-a-box, Traffic Portal v2

#7434 Yuengling profile table parity
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/common.ts
  experimental/traffic-portal/nightwatch/page_objects/profiles/profilesTable.ts
  experimental/traffic-portal/nightwatch/tests/profiles/table.spec.ts
  experimental/traffic-portal/src/app/api/profile.service.ts
  experimental/traffic-portal/src/app/api/testing/profile.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.html
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.scss
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.spec.ts
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7408 Fixes service_category apis to respond with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/service_categories.rst
  docs/source/api/v5/service_categories_name.rst
  lib/go-tc/service_category.go
  traffic_ops/testing/api/v5/servicecategories_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/servicecategory/servicecategories.go
  traffic_ops/traffic_ops_golang/servicecategory/servicecategories_test.go
  traffic_ops/v5-client/serviceCategory.go
Labels: Traffic Ops, low impact, tech debt

#7254 Documentation-based changelog generation
  docs/Makefile
Labels: new feature, documentation, low impact, improvement

#7460 Adding unit tests for cdn folder
  traffic_ops/traffic_ops_golang/cdn/domains_test.go
  traffic_ops/traffic_ops_golang/cdn/namedelete_test.go
  traffic_ops/traffic_ops_golang/cdn/queue_test.go
Labels: Traffic Ops, low impact, tests, improvement

#7449 Added Api contract test case for tenants endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/request_template.json
  traffic_ops/testing/api_contract/v4/response_template.json
  traffic_ops/testing/api_contract/v4/test_tenants.py
Labels: new feature, low impact, tests, python

#7448 Api contract server capabilities
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/README.md
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/request_template.json
  traffic_ops/testing/api_contract/v4/requirements.txt
  traffic_ops/testing/api_contract/v4/response_template.json
  traffic_ops/testing/api_contract/v4/test_server_capabilities.py
Labels: new feature, low impact, tests, python

#7358 Kannan victory 1 - statuses table, details
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/common.ts
  experimental/traffic-portal/nightwatch/page_objects/statuses/statusDetail.ts
  experimental/traffic-portal/nightwatch/page_objects/statuses/statusesTable.ts
  experimental/traffic-portal/nightwatch/tests/statuses/detail.spec.ts
  experimental/traffic-portal/nightwatch/tests/statuses/table.spec.ts
  experimental/traffic-portal/src/app/api/server.service.ts
  experimental/traffic-portal/src/app/api/testing/server.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/statuses/status-details/status-details.component.html
  experimental/traffic-portal/src/app/core/statuses/status-details/status-details.component.scss
  experimental/traffic-portal/src/app/core/statuses/status-details/status-details.component.spec.ts
  experimental/traffic-portal/src/app/core/statuses/status-details/status-details.component.ts
  experimental/traffic-portal/src/app/core/statuses/statuses-table/statuses-table.component.html
  experimental/traffic-portal/src/app/core/statuses/statuses-table/statuses-table.component.scss
  experimental/traffic-portal/src/app/core/statuses/statuses-table/statuses-table.component.spec.ts
  experimental/traffic-portal/src/app/core/statuses/statuses-table/statuses-table.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2
