Repository apache/trafficcontrol, pull requests merged in 2023-05, with the labels that each got.

#7473 ATC Collaborators for May 2023
  .asf.yaml
Labels: low impact, process, collaborators

#7475 Fix View Regions for Divisons page
  experimental/traffic-portal/src/app/core/cache-groups/regions/table/regions-table.component.ts
Labels: bug, low impact, experimental, Traffic Portal v2

#7471 t3c parent.config fix for MSO non-topo mid cache group no parent cache groups
  CHANGELOG.md
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/remapdotconfig_test.go
  lib/go-atscfg/strategiesdotconfig_test.go
Labels: bug, low impact, cache-config

#7462 Template linting for TPv2
  experimental/traffic-portal/.eslintrc.json
  experimental/traffic-portal/nightwatch/tests/deliveryServices/ds.invalidate.spec.ts
  experimental/traffic-portal/src/app/core/cache-groups/asns/detail/asn-detail.component.html
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-table/cache-group-table.component.html
  experimental/traffic-portal/src/app/core/currentuser/currentuser.component.html
  experimental/traffic-portal/src/app/core/currentuser/currentuser.component.spec.ts
  experimental/traffic-portal/src/app/core/currentuser/currentuser.component.ts
  experimental/traffic-portal/src/app/core/currentuser/update-password-dialog/update-password-dialog.component.html
  experimental/traffic-portal/src/app/core/deliveryservice/deliveryservice.component.html
  experimental/traffic-portal/src/app/core/deliveryservice/invalidation-jobs/new-invalidation-job-dialog/new-invalidation-job-dialog.component.html
  experimental/traffic-portal/src/app/core/deliveryservice/new-delivery-service/new-delivery-service.component.html
  experimental/traffic-portal/src/app/core/servers/phys-loc/table/phys-loc-table.component.html
  experimental/traffic-portal/src/app/core/servers/server-details/server-details.component.html
  experimental/traffic-portal/src/app/core/users/user-details/user-details.component.html
  experimental/traffic-portal/src/app/core/users/user-registration-dialog/user-registration-dialog.component.html
  experimental/traffic-portal/src/app/core/users/users.component.html
  experimental/traffic-portal/src/app/login/login.component.html
  experimental/traffic-portal/src/app/login/reset-password-dialog/reset-password-dialog.component.html
  experimental/traffic-portal/src/app/shared/dialogs/collection-choice-dialog/collection-choice-dialog.component.html
  experimental/traffic-portal/src/app/shared/dialogs/decision-dialog/decision-dialog.component.html
  experimental/traffic-portal/src/app/shared/dialogs/text-dialog/text-dialog.component.html
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.html
  experimental/traffic-portal/src/app/shared/navigation/tp-header/tp-header.component.html
Labels: low impact, tech debt, Traffic Portal v2

#7463 stretch has been moved to archive.debian.org
  infrastructure/cdn-in-a-box/traffic_stats/Dockerfile-influxdb
Labels: bug, Traffic Stats, low impact, cdn-in-a-box, database

#7488 TPv2 Load in custom Certificate Authorities for the Proxy Server.
  experimental/traffic-portal/build/config.json
  experimental/traffic-portal/server.config.ts
  experimental/traffic-portal/server.ts
Labels: new feature, high impact, experimental, Traffic Portal v2

#7489 Use GitHub API to get commit count since the last ATS release
  infrastructure/cdn-in-a-box/bin/ats-version.sh
Labels: bug, low impact, cdn-in-a-box, dependencies

#7481 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7492 Update Go version to 1.19.9
  .env
  GO_VERSION
Labels: go version

#7476 Added unit tests for cdn folder
  traffic_ops/traffic_ops_golang/cdn/capacity_test.go
  traffic_ops/traffic_ops_golang/cdn/dnssecrefresh_test.go
  traffic_ops/traffic_ops_golang/cdn/genksk_test.go
Labels: Traffic Ops, low impact, tests, improvement

#7469 Maformed cookie error when empty
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers_test.go
  traffic_ops/traffic_ops_golang/tocookie/cookie.go
  traffic_ops/traffic_ops_golang/tocookie/cookie_test.go
Labels: bug, Traffic Ops, medium impact, logging

#7392 Traffic Ops client certificate authentication
  docs/source/admin/quick_howto/client_cert_auth.rst
  docs/source/admin/traffic_ops.rst
  experimental/certificate_auth/certs/generate_certs.go
  experimental/certificate_auth/example/client/client.go
  experimental/certificate_auth/example/server/server.go
  lib/go-rfc/ldap/ldap.go
  traffic_ops/app/conf/cdn.conf
  traffic_ops/app/conf/production/database.conf
  traffic_ops/build/traffic_ops.spec
  traffic_ops/traffic_ops_golang/auth/authorize.go
  traffic_ops/traffic_ops_golang/auth/certificate.go
  traffic_ops/traffic_ops_golang/auth/certificate_test.go
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/config/config_test.go
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: new feature, Traffic Ops, medium impact, authentication

#7502 Revert changes to traffic-ops-test.conf from #7287
  traffic_ops/testing/api/conf/traffic-ops-test.conf
Labels: Traffic Ops, tests

#7499 Fix incorrect API version used when fetching server DSes
  traffic_portal/app/src/common/api/DeliveryServiceService.js
Labels: Traffic Portal, low impact, regression bug

#7493 Sort role permissions
  traffic_ops/testing/api/v5/roles_test.go
  traffic_ops/traffic_ops_golang/role/roles.go
Labels: Traffic Ops, improvement, permissions

#7453 Added divisions test case
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/request_template.json
  traffic_ops/testing/api_contract/v4/response_template.json
  traffic_ops/testing/api_contract/v4/test_divisions.py
  traffic_ops/testing/api_contract/v4/to_data.json
Labels: Traffic Ops, low impact, tests, improvement, python

#7474 Add Server Capabilities to TPv2
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/common.ts
  experimental/traffic-portal/nightwatch/page_objects/servers/capabilities/capabilitiesTable.ts
  experimental/traffic-portal/nightwatch/page_objects/servers/capabilities/capabilityDetails.ts
  experimental/traffic-portal/nightwatch/tests/servers/capabilities/detail.spec.ts
  experimental/traffic-portal/nightwatch/tests/servers/capabilities/table.spec.ts
  experimental/traffic-portal/src/app/api/server.service.ts
  experimental/traffic-portal/src/app/api/testing/server.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/servers/capabilities/capabilities.component.html
  experimental/traffic-portal/src/app/core/servers/capabilities/capabilities.component.scss
  experimental/traffic-portal/src/app/core/servers/capabilities/capabilities.component.spec.ts
  experimental/traffic-portal/src/app/core/servers/capabilities/capabilities.component.ts
  experimental/traffic-portal/src/app/core/servers/capabilities/capability-details/capability-details.component.html
  experimental/traffic-portal/src/app/core/servers/capabilities/capability-details/capability-details.component.scss
  experimental/traffic-portal/src/app/core/servers/capabilities/capability-details/capability-details.component.spec.ts
  experimental/traffic-portal/src/app/core/servers/capabilities/capability-details/capability-details.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7458 Api contract regions
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/request_template.json
  traffic_ops/testing/api_contract/v4/response_template.json
  traffic_ops/testing/api_contract/v4/test_regions.py
Labels: Traffic Ops, low impact, tests, improvement, python

#7486 [TPv2] Added Roles table
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/common.ts
  experimental/traffic-portal/nightwatch/page_objects/users/rolesTable.ts
  experimental/traffic-portal/nightwatch/tests/users/role/table.spec.ts
  experimental/traffic-portal/src/app/core/cache-groups/cache-group-table/cache-group-table.component.spec.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/users/roles/table/roles-table.component.html
  experimental/traffic-portal/src/app/core/users/roles/table/roles-table.component.scss
  experimental/traffic-portal/src/app/core/users/roles/table/roles-table.component.spec.ts
  experimental/traffic-portal/src/app/core/users/roles/table/roles-table.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7505 TP Fix issue where user is unable to submit changes to DS if they had Geo Limit Countries
  CHANGELOG.md
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.DNS.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.HTTP.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/form.deliveryService.Steering.tpl.html
  traffic_portal/app/src/common/modules/form/deliveryService/new/FormNewDeliveryServiceController.js
Labels: Traffic Portal, regression bug

#7510 Postinstall tests GHA: Use Ubuntu 20.04
  .github/workflows/postinstall.tests.yml
Labels: bug, Traffic Ops, tests, install, automation, dependencies

#7518 Fix "no such route" errors in capabilities unit tests
  experimental/traffic-portal/src/app/core/servers/capabilities/capability-details/capability-details.component.spec.ts
Labels: bug, low impact, tests, experimental, Traffic Portal v2

#7511 Changing registration changelog to include username
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/login/register.go
Labels: bug, Traffic Ops, low impact

#7461 Api contract phys locations
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/request_template.json
  traffic_ops/testing/api_contract/v4/response_template.json
  traffic_ops/testing/api_contract/v4/test_phys_locations.py
Labels: Traffic Ops, low impact, tests, improvement, python

#7528 TPv2 Specify Exact Minimum Required Node Version
  experimental/traffic-portal/build/traffic_portal_v2.spec
  experimental/traffic-portal/package.json
Labels: build, improvement, experimental, Traffic Portal v2

#7523 Added API Contract test case for servers endpoint and refactored existing ones.
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/data/to_data.json
  traffic_ops/testing/api_contract/v4/request_template.json
  traffic_ops/testing/api_contract/v4/requirements.txt
  traffic_ops/testing/api_contract/v4/response_template.json
  traffic_ops/testing/api_contract/v4/test_cachegroups.py
  traffic_ops/testing/api_contract/v4/test_cdns.py
  traffic_ops/testing/api_contract/v4/test_divisions.py
  traffic_ops/testing/api_contract/v4/test_parameters.py
  traffic_ops/testing/api_contract/v4/test_phys_locations.py
  traffic_ops/testing/api_contract/v4/test_profiles.py
  traffic_ops/testing/api_contract/v4/test_regions.py
  traffic_ops/testing/api_contract/v4/test_roles.py
  traffic_ops/testing/api_contract/v4/test_server_capabilities.py
  traffic_ops/testing/api_contract/v4/test_servers.py
  traffic_ops/testing/api_contract/v4/test_tenants.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7521 Return empty array instead of null when permissions are omitted
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/role/roles.go
  traffic_ops/traffic_ops_golang/role/roles_test.go
Labels: bug, Traffic Ops, low impact

#7530 TP Fix issues with DS Geo Limit
  traffic_portal/app/src/common/modules/form/deliveryService/FormDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/clone/FormCloneDeliveryServiceController.js
  traffic_portal/app/src/common/modules/form/deliveryService/edit/FormEditDeliveryServiceController.js
Labels: Traffic Portal, high impact, regression bug

#7533 TPv2 Server Handle Errors Gracefully
  experimental/traffic-portal/build/package-lock.json
  experimental/traffic-portal/build/package.json
  experimental/traffic-portal/build/traffic_portal_v2.spec
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/server.ts
Labels: build, improvement, experimental, Traffic Portal v2

#7541 CiaB: Disable PostgreSQL 12 repo
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
Labels: bug, low impact, cdn-in-a-box, dependencies

#7534 Fix unable to delete newly created Capability
  experimental/traffic-portal/src/app/core/servers/capabilities/capability-details/capability-details.component.spec.ts
  experimental/traffic-portal/src/app/core/servers/capabilities/capability-details/capability-details.component.ts
Labels: bug, low impact, experimental, Traffic Portal v2

#7514 [TPv2] Added Role details
  experimental/traffic-portal/nightwatch/globals/globals.ts
  experimental/traffic-portal/nightwatch/page_objects/users/roleDetail.ts
  experimental/traffic-portal/nightwatch/tests/users/role/detail.spec.ts
  experimental/traffic-portal/src/app/api/testing/user.service.ts
  experimental/traffic-portal/src/app/api/user.service.spec.ts
  experimental/traffic-portal/src/app/api/user.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/users/roles/detail/role-detail.component.html
  experimental/traffic-portal/src/app/core/users/roles/detail/role-detail.component.spec.ts
  experimental/traffic-portal/src/app/core/users/roles/detail/role-detail.component.ts
  experimental/traffic-portal/src/app/core/users/roles/table/roles-table.component.html
  experimental/traffic-portal/src/app/core/users/roles/table/roles-table.component.spec.ts
  experimental/traffic-portal/src/app/core/users/roles/table/roles-table.component.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7522 Cdn folder unit test coverage
  traffic_ops/traffic_ops_golang/cdn/cdns_test.go
Labels: Traffic Ops, low impact, tests, tech debt

#7535 Added Api contract tests for statuses endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_statuses.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7543 New Ansible Role to use Traffic Portal v2
  CHANGELOG.md
  infrastructure/ansible/roles/traffic_portal_v2/README.md
  infrastructure/ansible/roles/traffic_portal_v2/defaults/main.yml
  infrastructure/ansible/roles/traffic_portal_v2/handlers/main.yml
  infrastructure/ansible/roles/traffic_portal_v2/meta/main.yml
  infrastructure/ansible/roles/traffic_portal_v2/tasks/main.yml
  infrastructure/ansible/roles/traffic_portal_v2/tasks/traffic_portal_v2.yml
  infrastructure/ansible/roles/traffic_portal_v2/templates/config_v2.json.j2
Labels: new feature, low impact, experimental, automation, ansible, Traffic Portal v2

#7546 Looser repository ownership checks
  build/clean_build.sh
Labels: bug, build, dependencies

#7450 Update cdn config (Remove hypnotoad section and update listen field)
  .github/actions/to-integration-tests/cdn.json
  .github/actions/tp-integration-tests/cdn.json
  .github/actions/tpv2-integration-tests/cdn.json
  CHANGELOG.md
  dev/traffic_ops/cdn.json
  docs/source/admin/traffic_ops.rst
  infrastructure/ansible/roles/traffic_ops/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
  infrastructure/cdn-in-a-box/traffic_ops/config.sh
  traffic_ops/app/conf/cdn.conf
  traffic_ops/etc/init.d/traffic_ops
  traffic_ops/install/bin/_postinstall.pl
  traffic_ops/install/bin/_postinstall.py
  traffic_ops/install/bin/generateCert
  traffic_ops/install/bin/postinstall.test.sh
  traffic_ops/install/lib/GenerateCert.pm
  traffic_ops/traffic_ops_golang/config/config.go
  traffic_ops/traffic_ops_golang/config/config_test.go
  traffic_ops/traffic_ops_golang/traffic_ops_golang.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7470 Add server attribute copy to TPv2 ISO generation form
  experimental/traffic-portal/src/app/api/server.service.spec.ts
  experimental/traffic-portal/src/app/api/server.service.ts
  experimental/traffic-portal/src/app/api/testing/server.service.ts
  experimental/traffic-portal/src/app/api/testing/type.service.ts
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.html
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.scss
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.spec.ts
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.ts
  experimental/traffic-portal/src/app/core/styles/form.page.scss
Labels: low impact, improvement, experimental, Traffic Portal v2

#7539 Use SOH timestamp to calculate bandwidth in TM
  CHANGELOG.md
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/cache_test.go
  traffic_monitor/cache/stats_over_http.json
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
Labels: Traffic Monitor, regression bug
