Repository apache/trafficcontrol, pull requests merged in 2023-07, with the labels that each got.

#7610 ATC Collaborators for July 2023
  .asf.yaml
Labels: process, collaborators

#7459 Traffic Portal v2 CDNs table page
  experimental/traffic-portal/src/app/core/cdns/cdn-table/cdn-table.component.html
  experimental/traffic-portal/src/app/core/cdns/cdn-table/cdn-table.component.scss
  experimental/traffic-portal/src/app/core/cdns/cdn-table/cdn-table.component.spec.ts
  experimental/traffic-portal/src/app/core/cdns/cdn-table/cdn-table.component.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7601 Added Api contract test case for delivery_Service_requests endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/requirements.txt
  traffic_ops/testing/api_contract/v4/test_delivery_service_requests.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7608 Bugfix/tm bandwidth bug
  CHANGELOG.md
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/cache_test.go
  traffic_monitor/cache/stats_over_http.json
Labels: Traffic Monitor, regression bug

#7616 [RFC3339] Using the correct function to check if existing asn was modified.
  traffic_ops/testing/api/v5/asns_test.go
  traffic_ops/traffic_ops_golang/asn/asns.go
Labels: Traffic Ops, regression bug

#7545 Fixes Stats Summary V5 apis to respond with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/stats_summary.rst
  lib/go-tc/stats_summary.go
  traffic_ops/testing/api/v5/stats_summary_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/trafficstats/stats_summary.go
  traffic_ops/traffic_ops_golang/trafficstats/stats_summary_test.go
  traffic_ops/v5-client/stats_summary.go
Labels: Traffic Ops, low impact, tech debt

#7609 Add Scope Parameter to Oauth Login
  CHANGELOG.md
  traffic_portal/app/src/modules/public/login/LoginController.js
Labels: Traffic Portal, improvement, authentication, javascript

#7575 To types rfc format
  CHANGELOG.md
  docs/source/api/v5/types.rst
  docs/source/api/v5/types_id.rst
  lib/go-tc/types.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/testing/api/v5/types_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/types/types.go
  traffic_ops/v5-client/type.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7613 View Cache Groups, View Servers buttons added in Types Detail page
  experimental/traffic-portal/src/app/core/types/detail/type-detail.component.html
Labels: new feature, low impact, experimental, Traffic Portal v2

#7618 TPv1 Add the ability to inspect a cert/DS
  CHANGELOG.md
  traffic_portal/app/src/app.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/FormDeliveryServiceSslKeysController.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/form.deliveryServiceSslKeys.tpl.html
  traffic_portal/app/src/common/modules/form/ssl/CertInspectController.js
  traffic_portal/app/src/common/modules/form/ssl/_inspect-ssl.scss
  traffic_portal/app/src/common/modules/form/ssl/cert-inspect.tpl.html
  traffic_portal/app/src/common/modules/form/ssl/index.js
  traffic_portal/app/src/common/modules/navigation/navigation.tpl.html
  traffic_portal/app/src/common/modules/ssl/CertAuthorController.js
  traffic_portal/app/src/common/modules/ssl/CertViewer.d.ts
  traffic_portal/app/src/common/modules/ssl/CertViewerController.js
  traffic_portal/app/src/common/modules/ssl/_ssl.scss
  traffic_portal/app/src/common/modules/ssl/cert-author.tpl.html
  traffic_portal/app/src/common/modules/ssl/cert-view.tpl.html
  traffic_portal/app/src/common/modules/ssl/index.js
  traffic_portal/app/src/modules/private/ssl/index.js
  traffic_portal/app/src/modules/private/ssl/inspect-cert.tpl.html
  traffic_portal/app/src/scripts/shared-libs.js
  traffic_portal/app/src/styles/main.scss
  traffic_portal/package-lock.json
  traffic_portal/package.json
Labels: new feature, Traffic Portal, SSL, medium impact

#7621 Use ID token for OAuth authentication, not Access Token
  CHANGELOG.md
  lib/go-rfc/jwt.go
  traffic_ops/app/conf/cdn.conf
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/cdni/shared.go
  traffic_ops/traffic_ops_golang/login/login.go
Labels: bug, Traffic Ops, authentication

#7622 Traffic Router DNS zone calculation optimizations
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/config/ConfigHandler.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/edge/CacheRegister.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/edge/CacheRegisterTest.java
Labels: Traffic Router, performance, improvement

#7628 Trim whitespace before comparing certificate chains
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
Labels: Traffic Ops, SSL

#7637 Include inotifywait sources to listen for
  dev/t3c/run.sh
  dev/traffic_monitor/run.sh
  dev/traffic_ops/run.sh
Labels: regression bug, performance, dependencies, dev-ciab

#7640 Fix status code and alerts when querying delivery service with no SSL keys
  CHANGELOG.md
  traffic_ops/testing/api/v5/deliveryservices_keys_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
Labels: Traffic Ops, regression bug

#7643 Update Go version to 1.19.11
  .env
  GO_VERSION
Labels: go version

#7612 Fixes Divisions V5 apis to respond with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/divisions.rst
  docs/source/api/v5/divisions_id.rst
  lib/go-tc/divisions.go
  traffic_ops/testing/api/v5/divisions_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/division/divisions.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/division.go
Labels: Traffic Ops, low impact, tech debt

#7641 Traffic Router DNS zone calculation optimizations
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/config/ConfigHandler.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/edge/CacheRegister.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/edge/CacheRegisterTest.java
Labels: Traffic Router, medium impact, performance, improvement, java

#7596 Fixed lastUpdated timestamp format in api v5 federation resolvers
  CHANGELOG.md
  docs/source/api/v5/federation_resolvers.rst
  lib/go-tc/federation_resolver.go
  traffic_ops/testing/api/v5/federation_resolvers_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/federation_resolvers/federation_resolvers.go
  traffic_ops/v5-client/federation_resolver.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7625 Add Oauth to Infra Ansible
  infrastructure/ansible/roles/traffic_ops/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/tasks/traffic_ops.yml
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
Labels: Traffic Ops, configuration, low impact, automation, ansible

#7648 Make CiaB database non-persistent
  docs/source/admin/quick_howto/ciab.rst
  infrastructure/cdn-in-a-box/docker-compose.yml
Labels: bug, cdn-in-a-box

#7647 Make t3c debugging shim inherit the CDN in a Box environment
  infrastructure/cdn-in-a-box/cache/init-debug-scripts.sh
  infrastructure/cdn-in-a-box/cache/run.sh
Labels: regression bug, cdn-in-a-box, dependencies, os

#7650 Make the socksproxy image for CDN in a Box use CentOS 7
  infrastructure/cdn-in-a-box/optional/docker-compose.socksproxy.yml
  infrastructure/cdn-in-a-box/optional/socksproxy/Dockerfile
Labels: regression bug, cdn-in-a-box, dependencies, os

#7593 TPv2 file download fix
  experimental/traffic-portal/src/app/api/profile.service.spec.ts
  experimental/traffic-portal/src/app/api/profile.service.ts
  experimental/traffic-portal/src/app/api/testing/profile.service.ts
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.spec.ts
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.ts
  experimental/traffic-portal/src/app/shared/file-utils.service.ts
Labels: bug, low impact, experimental, Traffic Portal v2

#7645 Adding a Traffic Ops client method to login with a certificate
  .github/actions/to-integration-tests/cdn.json
  .github/actions/to-integration-tests/entrypoint.sh
  .github/actions/to-integration-tests/intermediate.crt.pem
  .github/actions/to-integration-tests/intermediate.key.pem
  .github/actions/to-integration-tests/rootca.crt.pem
  .github/actions/to-integration-tests/rootca.key.pem
  .github/actions/to-integration-tests/server.crt.pem
  .github/actions/to-integration-tests/server.key.pem
  CHANGELOG.md
  traffic_ops/testing/api/v5/client-intermediate-chain.crt.pem
  traffic_ops/testing/api/v5/client.key.pem
  traffic_ops/testing/api/v5/session_test.go
  traffic_ops/toclientlib/toclientlib.go
  traffic_ops/traffic_ops_golang/auth/certificate.go
  traffic_ops/traffic_ops_golang/auth/certificate_test.go
  traffic_ops/traffic_ops_golang/login/login.go
  traffic_ops/v5-client/session.go
Labels: new feature, Traffic Ops, medium impact, authentication

#7642 Added api contract test case for delivery services regex endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_delivery_services_regex.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7646 Add Delete button to SSL Keys page
  CHANGELOG.md
  traffic_portal/app/src/common/api/DeliveryServiceSslKeysService.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/FormDeliveryServiceSslKeysController.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/form.deliveryServiceSslKeys.tpl.html
Labels: Traffic Portal, SSL, low impact, improvement

#7634 Added Api contract test case for delivery_Services/{id} endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_delivery_services.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7651 Added Api contract test case for delivery services sslkeys generate endpoint
  .github/workflows/to.api.contract.tests.yml
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_delivery_services_sslkeys.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7664 Fixing DELETE delivery service request comments getting null xml_id
  traffic_ops/traffic_ops_golang/deliveryservice/request/comment/comments.go
Labels: bug, Traffic Ops

#7620 Add Varnish Support Blueprint
  blueprints/varnish-support.md
Labels: cache-config, blueprint

#7631 Fixes Phys_Location V5 apis to respond with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/phys_locations.rst
  docs/source/api/v5/phys_locations_id.rst
  lib/go-tc/physlocations.go
  traffic_ops/testing/api/v5/phys_locations_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/phys_location.go
Labels: Traffic Ops, low impact, tech debt

#7675 Explicitly require Java timezone data dependency
  infrastructure/cdn-in-a-box/traffic_router/Dockerfile
  infrastructure/docker/build/Dockerfile-traffic_router
  traffic_router/build/pom.xml
Labels: Traffic Router, regression bug, dependencies

#7604 Added api contract profile parameters test case
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_profile_parameters.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7652 t3c to use package metadata if rpm db is unhealthy
  CHANGELOG.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
Labels: bug, low impact, cache-config

#7667 Added API contract test case for delivery_Service_required_capabiliti…
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_delivery_service_required_capabilities.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7585 tpv2 redirect to tpv1
  .github/actions/tpv2-integration-tests/config.json
  experimental/traffic-portal/server.config.ts
  experimental/traffic-portal/server.ts
  experimental/traffic-portal/src/app/app.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
  experimental/traffic-portal/src/app/shared/navigation/tp-sidebar/tp-sidebar.component.html
  experimental/traffic-portal/src/app/shared/navigation/tp-sidebar/tp-sidebar.component.ts
  experimental/traffic-portal/src/environments/environment.prod.ts
  experimental/traffic-portal/src/environments/environment.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7549 Update CDN v5 endpoints to use RFC3339 timestamps
  docs/source/api/v5/cdns.rst
  lib/go-tc/cdns.go
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/cdns_test.go
  traffic_ops/testing/api/v5/deliveryservices_keys_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/cdn/cdns.go
  traffic_ops/traffic_ops_golang/cdn_lock/cdn_lock.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/cdn.go
Labels: new feature, Traffic Ops, documentation, low impact

#7680 Fix CiaB TPv2 Container
  infrastructure/cdn-in-a-box/traffic_portal_v2/run.sh
Labels: bug, cdn-in-a-box, Traffic Portal v2

#7555 TPv2 Add the ability to inspect a cert/DS
  experimental/traffic-portal/angular.json
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/api/delivery-service.service.spec.ts
  experimental/traffic-portal/src/app/api/delivery-service.service.ts
  experimental/traffic-portal/src/app/api/testing/delivery-service.service.ts
  experimental/traffic-portal/src/app/app.ui.module.ts
  experimental/traffic-portal/src/app/core/certs/cert-author/cert-author.component.html
  experimental/traffic-portal/src/app/core/certs/cert-author/cert-author.component.scss
  experimental/traffic-portal/src/app/core/certs/cert-author/cert-author.component.spec.ts
  experimental/traffic-portal/src/app/core/certs/cert-author/cert-author.component.ts
  experimental/traffic-portal/src/app/core/certs/cert-detail/cert-detail.component.html
  experimental/traffic-portal/src/app/core/certs/cert-detail/cert-detail.component.scss
  experimental/traffic-portal/src/app/core/certs/cert-detail/cert-detail.component.spec.ts
  experimental/traffic-portal/src/app/core/certs/cert-detail/cert-detail.component.ts
  experimental/traffic-portal/src/app/core/certs/cert-viewer/cert-viewer.component.html
  experimental/traffic-portal/src/app/core/certs/cert-viewer/cert-viewer.component.scss
  experimental/traffic-portal/src/app/core/certs/cert-viewer/cert-viewer.component.spec.ts
  experimental/traffic-portal/src/app/core/certs/cert-viewer/cert-viewer.component.ts
  experimental/traffic-portal/src/app/core/certs/cert.util.spec.ts
  experimental/traffic-portal/src/app/core/certs/cert.util.ts
  experimental/traffic-portal/src/app/core/certs/certs.module.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/statuses/statuses-table/statuses-table.component.html
  experimental/traffic-portal/src/app/core/statuses/statuses-table/statuses-table.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, SSL, medium impact, experimental, Traffic Portal v2

#7660 Fix `/deliveryservices/{{ID}}/servers` and `/deliveryservices/{{ID}}/servers/eligible` to use RFC3339 timestamps
  CHANGELOG.md
  docs/source/api/v5/deliveryservices_id_servers.rst
  docs/source/api/v5/deliveryservices_id_servers_eligible.rst
  lib/go-tc/deliveryservice_servers.go
  lib/go-tc/federation_resolver.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/v5-client/deliveryservice.go
  traffic_ops/v5-client/deliveryserviceserver.go
Labels: Traffic Ops, low impact, tech debt
