Repository apache/trafficcontrol, pull requests merged in 2023-08, with the labels that each got.

#7615 Traffic Portal v2 Topologies details page
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  experimental/traffic-portal/src/app/api/index.ts
  experimental/traffic-portal/src/app/api/testing/index.ts
  experimental/traffic-portal/src/app/api/testing/topology.service.ts
  experimental/traffic-portal/src/app/api/topology.service.spec.ts
  experimental/traffic-portal/src/app/api/topology.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/topologies/topology-details/topology-details.component.html
  experimental/traffic-portal/src/app/core/topologies/topology-details/topology-details.component.scss
  experimental/traffic-portal/src/app/core/topologies/topology-details/topology-details.component.spec.ts
  experimental/traffic-portal/src/app/core/topologies/topology-details/topology-details.component.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7605 Cachegroups rfc3339 apiv5
  CHANGELOG.md
  docs/source/api/v5/cachegroups.rst
  docs/source/api/v5/cachegroups_id.rst
  lib/go-tc/cachegroups.go
  traffic_ops/testing/api/v5/cachegroups_test.go
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/cachegroup.go
Labels: Traffic Ops, low impact, tech debt, improvement

#7679 Added Api contract test case for cdn_federation, user_federation and delivery_service_federation endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_cdn_federation.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7665 Changes to Ansible role dataset_loader to add ATS 9 support
  CHANGELOG.md
  infrastructure/ansible/roles/dataset_loader/defaults/main.yml
Labels: new feature, Traffic Server, automation, ansible

#7694 Use ATS 9.2
  .github/actions/repo-info/README.md
  .github/workflows/cache-config-tests.yml
  .github/workflows/ciab.yaml
  .github/workflows/health-client-tests.yml
  CHANGELOG.md
  cache-config/testing/docker/variables.env
  docs/source/overview/delivery_services.rst
  infrastructure/cdn-in-a-box/cache/Dockerfile
  lib/go-atscfg/parentdotconfig.go
Labels: Traffic Server, tests, cdn-in-a-box, cache-config, automation, dependencies

#7690 V5 logs should return rfc3339 time format
  CHANGELOG.md
  docs/source/api/v5/logs.rst
  lib/go-tc/log.go
  traffic_ops/testing/api/v5/logs_test.go
  traffic_ops/traffic_ops_golang/logs/log.go
  traffic_ops/v5-client/log.go
Labels: Traffic Ops, low impact, tech debt

#7672 Feature/monitor peers flag
  CHANGELOG.md
  LICENSE
  go.mod
  tc-health-client/README.md
  tc-health-client/config/config.go
  tc-health-client/config/config_test.go
  tc-health-client/tc-health-client.go
  tc-health-client/tc-health-client.json
  tc-health-client/tmagent/test_files/etc/strategies.yaml
  tc-health-client/tmagent/test_files/tc-health-client.json
  tc-health-client/tmagent/tmagent.go
  tc-health-client/tmagent/tmagent_test.go
  vendor/gopkg.in/yaml.v3/LICENSE
  vendor/gopkg.in/yaml.v3/NOTICE
  vendor/gopkg.in/yaml.v3/README.md
  vendor/gopkg.in/yaml.v3/apic.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/emitterc.go
  vendor/gopkg.in/yaml.v3/encode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/gopkg.in/yaml.v3/readerc.go
  vendor/gopkg.in/yaml.v3/resolve.go
  vendor/gopkg.in/yaml.v3/scannerc.go
  vendor/gopkg.in/yaml.v3/sorter.go
  vendor/gopkg.in/yaml.v3/writerc.go
  vendor/gopkg.in/yaml.v3/yaml.go
  vendor/gopkg.in/yaml.v3/yamlh.go
  vendor/gopkg.in/yaml.v3/yamlprivateh.go
  vendor/modules.txt
Labels: low impact, cache-config, improvement, tc-health-client

#7703 Only require cjose package on RHEL 8 and above
  infrastructure/cdn-in-a-box/cache/Dockerfile
Labels: bug, cdn-in-a-box, dependencies, os

#7702 Added api contract test case for staticdnsentries endpoint
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_static_dns_entries.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7701 Added api contract test case for delivery_service health , capacity and routing endpoints
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_delivery_service_health.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7688 Display secure parameters when role has proper perms
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/parameter/parameters.go
Labels: bug, Traffic Ops, low impact, permissions

#7698 TO Fixes Region V5 apis to respond with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/regions.rst
  docs/source/api/v5/regions_id.rst
  lib/go-tc/regions.go
  traffic_ops/testing/api/v5/regions_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/region/regions.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/region.go
Labels: Traffic Ops, low impact, tech debt

#7695 Added Api contract test case for Service categories endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_cdn_federation.py
  traffic_ops/testing/api_contract/v4/test_service_categories.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7699 Disable debug logging for tc-health-client
  infrastructure/cdn-in-a-box/health/tc-health-client-ReadMe.md
  infrastructure/cdn-in-a-box/health/tc-health-client.service
  tc-health-client/README.md
  tc-health-client/config/config.go
Labels: low impact, improvement, logging, tc-health-client

#7696 t3c will not clear update flag in error condition
  CHANGELOG.md
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-check-refs/t3c-check-refs.go
Labels: medium impact, cache-config, improvement

#7692 Added Api contract test case for server server capabilities endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_server_server_capabilities.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7707 Use RFC 3339 for lastUpdated timestamp in /statuses
  CHANGELOG.md
  docs/source/api/v5/statuses.rst
  docs/source/api/v5/statuses_id.rst
  lib/go-tc/statuses.go
  traffic_ops/testing/api/v5/statuses_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/status/statuses.go
  traffic_ops/v5-client/status.go
Labels: Traffic Ops, low impact, tech debt, improvement

#7710 Unit test coverage for API v5 Statuses
  traffic_ops/traffic_ops_golang/status/statuses_test.go
Labels: Traffic Ops, tests, tech debt, improvement

#7712 Add SECURE-SERVER:READ capability to operations role
  traffic_ops/app/db/migrations/2023081112520836_operations_role_add_secure_server_read.down.sql
  traffic_ops/app/db/migrations/2023081112520836_operations_role_add_secure_server_read.up.sql
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops, database, improvement

#7715 Add t3cutil for Go unit tests
  traffic_ops/app/bin/tests/Dockerfile-golangtest
Labels: regression bug, tests, dependencies

#7691 V5 Topologies api should return timestamps in rfc3339 format
  CHANGELOG.md
  docs/source/api/v5/topologies.rst
  lib/go-tc/topologies.go
  traffic_ops/testing/api/v5/topologies_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/topology/topologies.go
  traffic_ops/traffic_ops_golang/topology/validation.go
  traffic_ops/v5-client/topology.go
Labels: Traffic Ops, low impact, tech debt

#7705 Update Go version to 1.21.0
  .env
  .github/actions/go-fmt/Dockerfile
  .github/actions/go-test/Dockerfile
  .github/actions/save-alpine-tar/entrypoint.sh
  .github/actions/todb-init/Dockerfile
  .github/actions/tvdb-init/Dockerfile
  GO_VERSION
  cache-config/build/build_rpm.sh
  grove/build/build_rpm.sh
  grove/grovetccfg/build/build_rpm.sh
  tc-health-client/build/build_rpm.sh
  test/fakeOrigin/build/build_rpm.sh
  tools/golang/Dockerfile
  traffic_monitor/build/build_rpm.sh
  traffic_ops/build/build_rpm.sh
  traffic_stats/build/build_rpm.sh
Labels: go version

#7726 Add AbdelrahmanElawady to collaborators list
  .asf.yaml
Labels: low impact, process

#7711 Build Traffic Portal v2 in CiaB CI
  .github/workflows/ciab.yaml
Labels: cdn-in-a-box, performance, improvement

#7730 Fixing panic seen in TM when timestamp_ms appears as float and not string
  CHANGELOG.md
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/cache_test.go
  traffic_monitor/cache/stats_over_http.json
Labels: bug, Traffic Monitor, high impact

#7731 Updated minor typo in error statement
  traffic_monitor/cache/cache_test.go
Labels: Traffic Monitor, low impact

#7729 Correct docs for topologies incorrectly specifying a upper limit on parents and children
  docs/source/api/v3/topologies.rst
  docs/source/api/v4/topologies.rst
  docs/source/api/v5/topologies.rst
  docs/source/glossary.rst
Labels: bug, documentation, low impact

#7732 Increase negative TTL to 900 seconds for NXDOMAIN responses
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/main/webapp/WEB-INF/applicationContext.xml
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/NameServerTest.java
Labels: Traffic Router, improvement

#7720 Api v5 should return RFC3339 timestamps for Delivery Service Servers
  CHANGELOG.md
  docs/source/api/v5/deliveryserviceserver.rst
  lib/go-tc/deliveryservice_servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/v5-client/deliveryserviceserver.go
Labels: Traffic Ops, low impact, tech debt, improvement

#7736 Separate SSL success and warning alert messages
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
Labels: Traffic Ops, SSL, low impact, improvement

#7738 Fixes ProfileParameters V5 apis to respond with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/profileparameters.rst
  lib/go-tc/parameters.go
  lib/go-tc/profile_parameters.go
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/profile_parameters_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/profileparameter/profile_parameters.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/profile_parameter.go
Labels: Traffic Ops, low impact, tech debt, improvement

#7708 Fixes Parameters V5 apis to respond with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/parameters.rst
  docs/source/api/v5/parameters_id.rst
  lib/go-tc/parameters.go
  traffic_ops/testing/api/v5/iso_test.go
  traffic_ops/testing/api/v5/parameters_test.go
  traffic_ops/testing/api/v5/profile_parameters_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/parameter/parameters.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/parameter.go
Labels: Traffic Ops, low impact, tech debt, improvement

#7718 Servers RFC3339 timestamps
  .gitignore
  CHANGELOG.md
  docs/source/api/v4/servers.rst
  docs/source/api/v4/servers_id.rst
  docs/source/api/v5/servers.rst
  docs/source/api/v5/servers_id.rst
  lib/go-tc/deliveryservice_servers.go
  lib/go-tc/servers.go
  lib/go-tc/servers_test.go
  lib/go-util/collections.go
  lib/go-util/collections_test.go
  lib/go-util/ptr.go
  traffic_ops/testing/api/v5/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/cdn_queue_updates_test.go
  traffic_ops/testing/api/v5/monitoring_test.go
  traffic_ops/testing/api/v5/servers_hostname_update_test.go
  traffic_ops/testing/api/v5/servers_id_status_test.go
  traffic_ops/testing/api/v5/servers_test.go
  traffic_ops/testing/api/v5/tc-fixtures.json
  traffic_ops/testing/api/v5/topologies_queue_update_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/api_test.go
  traffic_ops/traffic_ops_golang/api/shared_handlers.go
  traffic_ops/traffic_ops_golang/api/shared_handlers_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/eligible.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
  traffic_ops/v5-client/server.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7700 Add access control to varnish
  lib/go-atscfg/ipallowdotyaml.go
  lib/varnishcfg/access_control.go
  lib/varnishcfg/access_control_test.go
  lib/varnishcfg/backends.go
  lib/varnishcfg/vcl.go
  lib/varnishcfg/vclbuilder.go
Labels: new feature, low impact, cdn-in-a-box, cache-config, Varnish

#7734 Fixed Profiles(APIv5) REST calls to respond with RFC3339 timestamp
  CHANGELOG.md
  docs/source/api/v5/profiles.rst
  docs/source/api/v5/profiles_id.rst
  lib/go-tc/profiles.go
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/profiles_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/profile/profiles.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/profile.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7748 Using go-rfc for location header
  traffic_ops/traffic_ops_golang/asn/asns.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/cdn/cdns.go
  traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
  traffic_ops/traffic_ops_golang/division/divisions.go
  traffic_ops/traffic_ops_golang/invalidationjobs/invalidationjobs.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations.go
  traffic_ops/traffic_ops_golang/servercapability/servercapability.go
  traffic_ops/traffic_ops_golang/servicecategory/servicecategories.go
  traffic_ops/traffic_ops_golang/types/types.go
  traffic_ops/traffic_ops_golang/user/user.go
Labels: Traffic Ops, tech debt

#7751 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7754 Add ReadTheDocs configuration file
  .readthedocs.yaml
Labels: bug, documentation, high impact, process

#7749 Tenants rfc3339 apiv5
  CHANGELOG.md
  docs/source/api/v5/tenants.rst
  docs/source/api/v5/tenants_id.rst
  lib/go-tc/tenants.go
  traffic_ops/testing/api/v5/tenants_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/apitenant/tenant.go
  traffic_ops/traffic_ops_golang/cachegroup/cachegroups.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/deliveryservice.go
  traffic_ops/v5-client/deliveryservice_requests.go
  traffic_ops/v5-client/origin.go
  traffic_ops/v5-client/tenant.go
  traffic_ops/v5-client/user.go
Labels: Traffic Ops, tech debt, medium impact

#7744 Use RFC 3339 for lastUpdated timestamp in /server_server_capabilities
  CHANGELOG.md
  docs/source/api/v5/server_server_capabilities.rst
  lib/go-tc/server_server_capability.go
  traffic_ops/testing/api/v5/server_server_capabilities_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability.go
  traffic_ops/traffic_ops_golang/server/servers_server_capability_test.go
  traffic_ops/v5-client/server_server_capabilities.go
Labels: Traffic Ops, low impact, tech debt, improvement

#7757 Changing Traffic Router to point to Traffic Ops api version 5.0
  CHANGELOG.md
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/util/TrafficOpsUtils.java
  traffic_router/core/src/test/resources/api/5.0/cdns/name/thecdn/sslkeys
  traffic_router/core/src/test/resources/api/5.0/cdns/name/thecdn/sslkeys-missing-1
  traffic_router/core/src/test/resources/api/5.0/federations/all
  traffic_router/core/src/test/resources/api/5.0/steering
  traffic_router/core/src/test/resources/api/5.0/steering2
  traffic_router/core/src/test/resources/publish/CrConfig.json
  traffic_router/core/src/test/resources/publish/CrConfig2.json
  traffic_router/core/src/test/resources/publish/CrConfig3.json
  traffic_router/core/src/test/resources/publish/CrConfig4.json
Labels: Traffic Router

#7756 Update only if ASN is unique
  traffic_ops/testing/api/v5/asns_test.go
  traffic_ops/testing/api/v5/tc-fixtures.json
  traffic_ops/traffic_ops_golang/asn/asns.go
Labels: Traffic Ops, low impact, regression bug

#7762 Fixed phys_locations update API to remove error related to mismatching region name and ID
  CHANGELOG.md
  traffic_ops/testing/api/v5/phys_locations_test.go
  traffic_ops/traffic_ops_golang/physlocation/phys_locations.go
Labels: Traffic Ops, regression bug

#7765 Update Traffic Stats to use TO APIv5
  CHANGELOG.md
  traffic_stats/traffic_stats.go
  traffic_stats/traffic_stats_test.go
Labels: Traffic Stats, low impact, tech debt

#7767 Fixed ASN Update logic for APIv5
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/asn/asns.go
Labels: Traffic Ops, regression bug, medium impact, low difficulty

#7766 Update TP to use API v5
  .github/actions/tp-integration-tests/entrypoint.sh
  CHANGELOG.md
  traffic_portal/app/src/common/api/DeliveryServiceService.js
  traffic_portal/app/src/common/modules/form/server/FormServerController.js
  traffic_portal/app/src/common/modules/form/server/form.server.tpl.html
  traffic_portal/app/src/common/modules/form/server/new/FormNewServerController.js
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableAssignDSServersController.js
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/app/src/modules/private/servers/new/index.js
  traffic_portal/app/src/scripts/config.js
  traffic_portal/test/integration/CommonUtils/API.ts
  traffic_portal/test/integration/Data/asns.ts
  traffic_portal/test/integration/Data/cachegroup.ts
  traffic_portal/test/integration/Data/coordinates.ts
  traffic_portal/test/integration/Data/deliveryservices.ts
  traffic_portal/test/integration/Data/divisions.ts
  traffic_portal/test/integration/Data/jobs.ts
  traffic_portal/test/integration/Data/origins.ts
  traffic_portal/test/integration/Data/parameters.ts
  traffic_portal/test/integration/Data/physlocations.ts
  traffic_portal/test/integration/Data/servers.ts
  traffic_portal/test/integration/Data/serverservercapabilities.ts
  traffic_portal/test/integration/Data/servicecategories.ts
  traffic_portal/test/integration/Data/topologies.ts
  traffic_portal/test/integration/PageObjects/ASNs.po.ts
  traffic_portal/test/integration/PageObjects/CacheGroup.po.ts
  traffic_portal/test/integration/PageObjects/CoordinatesPage.po.ts
  traffic_portal/test/integration/PageObjects/PhysLocationsPage.po.ts
  traffic_portal/test/integration/PageObjects/ServersPage.po.ts
  traffic_portal/test/integration/PageObjects/ServiceCategories.po.ts
  traffic_portal/test/integration/config.json
Labels: Traffic Portal, configuration, tests
