Repository apache/trafficcontrol, pull requests merged in 2023-09, with the labels that each got.

#7750 TO: Add fields to servers v5 endpoints to indicate update failures
  CHANGELOG.md
  docs/source/api/v5/servers.rst
  docs/source/api/v5/servers_hostname_update.rst
  docs/source/api/v5/servers_hostname_update_status.rst
  lib/go-tc/servers.go
  lib/go-tc/servers_test.go
  traffic_ops/app/db/migrations/2023082308560644_server_update_status.down.sql
  traffic_ops/app/db/migrations/2023082308560644_server_update_status.up.sql
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/servers_hostname_update_test.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/server/servers_test.go
  traffic_ops/traffic_ops_golang/server/servers_update_status.go
  traffic_ops/traffic_ops_golang/server/servers_update_status_test.go
  traffic_ops/traffic_ops_golang/server/update.go
  traffic_ops/v5-client/server.go
  traffic_ops/v5-client/server_update_status.go
Labels: new feature, Traffic Ops, documentation, tests, TO Client (Go)

#7727 Add separate profiles for Varnish cache
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/011-VARNISH_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/021-VARNISH_MID_TIER_CACHE.json
  infrastructure/cdn-in-a-box/varnish/Dockerfile
Labels: low impact, cdn-in-a-box, improvement, Varnish

#7725 Add HTTPS support to Varnish cache using Hitch
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/torequest/torequest.go
  cache-config/t3c-generate/cfgfile/varnish.go
  infrastructure/cdn-in-a-box/varnish/Dockerfile
  infrastructure/cdn-in-a-box/varnish/systemctl.sh
  lib/varnishcfg/hitch.go
  lib/varnishcfg/hitch_test.go
Labels: new feature, low impact, cdn-in-a-box, cache-config, Varnish

#7772 Added api contract test case for system/info endpoint
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_system_info.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7769 ATC Collaborators for September 2023
  .asf.yaml
Labels: process, collaborators

#7733 To origin rfc3339
  CHANGELOG.md
  docs/source/api/v5/origins.rst
  lib/go-tc/origins.go
  traffic_ops/testing/api/v5/origins_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/origin/origins.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/origin.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7775 Fix tchealthclient CiaB service unable to build
  infrastructure/cdn-in-a-box/health/Dockerfile
Labels: regression bug, cdn-in-a-box

#7709 Added api contract test case for cdn health and routing endpoints
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_cdn_health.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7780 Use V5 response struct for GetParametersByProfileName
  traffic_ops/v5-client/profile.go
Labels: TO Client (Go)

#7781 Adding Client Auth Configs to Infra Ansible
  infrastructure/ansible/roles/traffic_ops/defaults/main.yml
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
Labels: new feature, configuration, low impact, automation, authentication

#7785 T3C integration tests: Seed database after resetting it
  cache-config/testing/docker/traffic_ops/run.sh
Labels: bug, tests, cache-config

#7784 Add revert certificate functionality to TPv1
  CHANGELOG.md
  traffic_portal/app/src/common/api/DeliveryServiceSslKeysService.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/FormDeliveryServiceSslKeysController.js
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/form.deliveryServiceSslKeys.tpl.html
Labels: new feature, Traffic Portal, low impact

#7764 Squash db migration that have already been released (7.x.x)
  CHANGELOG.md
  traffic_ops/app/db/SQUASH.md
  traffic_ops/app/db/create_tables.sql
  traffic_ops/app/db/migrations/2022011112591400_added_cdni_capacity_table.down.sql
  traffic_ops/app/db/migrations/2022011112591400_added_cdni_capacity_table.up.sql
  traffic_ops/app/db/migrations/2022020114365100_capacity_updates_queue.down.sql
  traffic_ops/app/db/migrations/2022020114365100_capacity_updates_queue.up.sql
  traffic_ops/app/db/migrations/2022021611354000_add_user_to_ucdn_table.down.sql
  traffic_ops/app/db/migrations/2022021611354000_add_user_to_ucdn_table.up.sql
  traffic_ops/app/db/migrations/2022022319353588_fix_dsr_geolimit.down.sql
  traffic_ops/app/db/migrations/2022022319353588_fix_dsr_geolimit.up.sql
  traffic_ops/app/db/migrations/2022030308363540_add_dnssec_perms.down.sql
  traffic_ops/app/db/migrations/2022030308363540_add_dnssec_perms.up.sql
  traffic_ops/app/db/migrations/2022031610510000_assign_correct_permissions_to_roles.down.sql
  traffic_ops/app/db/migrations/2022031610510000_assign_correct_permissions_to_roles.up.sql
  traffic_ops/app/db/migrations/2022031612431414_remove_unused_ds_tmuser_table.down.sql
  traffic_ops/app/db/migrations/2022031612431414_remove_unused_ds_tmuser_table.up.sql
  traffic_ops/app/db/migrations/2022040623082100_server_config_update.down.sql
  traffic_ops/app/db/migrations/2022040623082100_server_config_update.up.sql
  traffic_ops/app/db/migrations/2022041410185700_add_server_profile_table.down.sql
  traffic_ops/app/db/migrations/2022041410185700_add_server_profile_table.up.sql
  traffic_ops/app/db/migrations/2022042514493300_add_user_sharing_cdn_locks.down.sql
  traffic_ops/app/db/migrations/2022042514493300_add_user_sharing_cdn_locks.up.sql
  traffic_ops/app/db/migrations/2022050410412200_cdni_capacity_limit_with_scopes.down.sql
  traffic_ops/app/db/migrations/2022050410412200_cdni_capacity_limit_with_scopes.up.sql
  traffic_ops/app/db/migrations/2022050916074300_add_reserved_statuses.down.sql
  traffic_ops/app/db/migrations/2022050916074300_add_reserved_statuses.up.sql
  traffic_ops/app/db/seeds.sql
  traffic_ops/app/db/squash_migrations.sh
  traffic_ops_db/test/docker/run-db-test.sh
Labels: Traffic Ops, database, process

#7773 ReadTheDocs fix attempt No. 2
  docs/source/api/v4/deliveryservices_required_capabilities.rst
  docs/source/api/v5/asns.rst
  docs/source/api/v5/server_server_capabilities.rst
  docs/source/api/v5/service_categories.rst
  docs/source/api/v5/statuses_id.rst
  docs/source/overview/profiles_and_parameters.rst
  docs/source/requirements.txt
  traffic_control/clients/python/trafficops/tosession.py
Labels: bug, documentation, low impact, TC Client (python)

#7790 Removed duplicate statements from seeds file
  traffic_ops/app/db/seeds.sql
Labels: Traffic Ops, low impact, tech debt, database

#7791 Fix the TP GHA Tests
  .github/actions/tp-integration-tests/entrypoint.sh
  .github/workflows/tp.integration.tests.yml
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies

#7761 Update Traffic Monitor to use TO API v5
  .github/actions/tm-integration-tests/entrypoint.sh
  CHANGELOG.md
  lib/go-tc/crconfig.go
  lib/go-tc/servers.go
  lib/go-tc/traffic_monitor.go
  traffic_monitor/tests/_integration/Dockerfile
  traffic_monitor/tests/_integration/Dockerfile.dockerignore
  traffic_monitor/tests/_integration/Dockerfile_run.sh
  traffic_monitor/tests/_integration/monitoring.json
  traffic_monitor/tests/_integration/servers.json
  traffic_monitor/tests/_integration/snapshot.json
  traffic_monitor/tmcheck/dsstats.go
  traffic_monitor/tmcheck/offlinestates.go
  traffic_monitor/tmcheck/peerpoller.go
  traffic_monitor/tmcheck/queryinterval.go
  traffic_monitor/tmcheck/tmcheck.go
  traffic_monitor/tools/nagios-validate-deliveryservices/nagios-validate-deliveryservices.go
  traffic_monitor/tools/nagios-validate-offline/nagios-validate-offline.go
  traffic_monitor/tools/nagios-validate-peerpoller/nagios-validate-peerpoller.go
  traffic_monitor/tools/nagios-validate-queryinterval/nagios-validate-queryinterval.go
  traffic_monitor/tools/testto/Dockerfile
  traffic_monitor/tools/testto/Dockerfile.dockerignore
  traffic_monitor/tools/testto/testto.go
  traffic_monitor/tools/validator-service/validator-service.go
  traffic_monitor/towrap/towrap.go
Labels: Traffic Monitor, high impact, tech debt

#7792 TP fix the integration test failures.
  .github/actions/tp-integration-tests/entrypoint.sh
  traffic_portal/test/integration/Data/deliveryservices.ts
  traffic_portal/test/integration/Data/topologies.ts
  traffic_portal/test/integration/PageObjects/DeliveryServicePage.po.ts
Labels: Traffic Portal, tests

#7776 Improvement to TCHC's logging around TO failure
  CHANGELOG.md
  tc-health-client/tc-health-client.go
  tc-health-client/tmagent/tmagent.go
  tc-health-client/tmagent/tmhealthservice.go
Labels: low impact, improvement, tc-health-client

#7794 ReadTheDocs fix attempt #3
  docs/source/api/v3/asns_id.rst
  docs/source/api/v3/consistenthash.rst
  docs/source/api/v4/asns_id.rst
  docs/source/api/v4/consistenthash.rst
  docs/source/api/v5/asns_id.rst
  docs/source/api/v5/consistenthash.rst
  docs/source/requirements.txt
Labels: documentation, regression bug

#7796 Fix ASN precondition test
  traffic_ops/testing/api/v5/asns_test.go
Labels: Traffic Ops, low impact, tests, low difficulty

#7771 Configure uncacheable delivery services in Varnish
  lib/go-atscfg/cachedotconfig.go
  lib/varnishcfg/cache_control.go
  lib/varnishcfg/cache_control_test.go
  lib/varnishcfg/vclbuilder.go
Labels: low impact, cache-config, Varnish

#7795 Update CDN in a Box enroller to use TO API v5
  infrastructure/cdn-in-a-box/enroller/Dockerfile
  infrastructure/cdn-in-a-box/enroller/enroller.go
  infrastructure/cdn-in-a-box/enroller/server_template.json
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices/010-demo1.json
  infrastructure/cdn-in-a-box/traffic_ops_data/deliveryservices/020-demo2.json
  traffic_ops/testing/api/v5/server_capabilities_test.go
  traffic_ops/v5-client/servercapability.go
Labels: tech debt, cdn-in-a-box

#7802 Fixing typos and duplicates
  CHANGELOG.md
  tc-health-client/README.md
Labels: documentation, low impact, tech debt, tc-health-client

#7803 CDN in a Box: Add remap_stats to plugin.config
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/010-ATS_EDGE_TIER_CACHE.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/020-ATS_MID_TIER_CACHE.json
Labels: Traffic Server, cdn-in-a-box, improvement

#7788 Added api contract test case for logs endpoint
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_logs.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7804 Removing v5 client methods for Delivery Service Required Capabilities
  CHANGELOG.md
  infrastructure/cdn-in-a-box/enroller/enroller.go
  traffic_ops/testing/api/v5/cachegroupsdeliveryservices_test.go
  traffic_ops/testing/api/v5/cdn_federations_test.go
  traffic_ops/testing/api/v5/cdn_locks_test.go
  traffic_ops/testing/api/v5/cdns_name_configs_monitoring_test.go
  traffic_ops/testing/api/v5/cdns_name_snapshot_new_test.go
  traffic_ops/testing/api/v5/cdns_name_snapshot_test.go
  traffic_ops/testing/api/v5/deliveryservices_test.go
  traffic_ops/testing/api/v5/deliveryserviceservers_test.go
  traffic_ops/testing/api/v5/deliveryservicesideligible_test.go
  traffic_ops/testing/api/v5/deliveryservicesregexes_test.go
  traffic_ops/testing/api/v5/federation_deliveryservices_test.go
  traffic_ops/testing/api/v5/federation_federation_resolvers_test.go
  traffic_ops/testing/api/v5/federation_users_test.go
  traffic_ops/testing/api/v5/federations_test.go
  traffic_ops/testing/api/v5/jobs_test.go
  traffic_ops/testing/api/v5/monitoring_test.go
  traffic_ops/testing/api/v5/origins_test.go
  traffic_ops/testing/api/v5/server_server_capabilities_test.go
  traffic_ops/testing/api/v5/servers_id_deliveryservices_test.go
  traffic_ops/testing/api/v5/servers_id_status_test.go
  traffic_ops/testing/api/v5/servers_test.go
  traffic_ops/testing/api/v5/snapshot_test.go
  traffic_ops/testing/api/v5/staticdnsentries_test.go
  traffic_ops/testing/api/v5/steering_test.go
  traffic_ops/testing/api/v5/steeringtargets_test.go
  traffic_ops/testing/api/v5/tc-fixtures.json
  traffic_ops/testing/api/v5/topologies_queue_update_test.go
  traffic_ops/testing/api/v5/topologies_test.go
  traffic_ops/testing/api/v5/withobjs_test.go
Labels: bug, Traffic Ops, cdn-in-a-box

#7806 `cdns/{{name}}/federations` and `cdns/{{name}}/federations/{{ID}}` use RFC3339 timestamps
  .dependency_license
  CHANGELOG.md
  docs/source/api/index.rst
  docs/source/api/v3/cdns_name_federations.rst
  docs/source/api/v4/cdns_name_federations.rst
  docs/source/api/v4/deliveryservices.rst
  docs/source/api/v4/deliveryservices_id.rst
  docs/source/api/v4/deliveryservices_id_safe.rst
  docs/source/api/v4/servers_id_deliveryservices.rst
  docs/source/api/v5/cdns_name_federations.rst
  docs/source/api/v5/cdns_name_federations_id.rst
  docs/source/api/v5/coordinates.rst
  docs/source/api/v5/deliveryservices.rst
  docs/source/api/v5/deliveryservices_id.rst
  docs/source/api/v5/deliveryservices_id_safe.rst
  docs/source/api/v5/servers.rst
  docs/source/api/v5/servers_id.rst
  docs/source/api/v5/servers_id_deliveryservices.rst
  docs/source/api/v5/statuses_id.rst
  infrastructure/cdn-in-a-box/enroller/enroller.go
  lib/go-tc/federation.go
  lib/go-tc/totest/federations.go
  lib/go-tc/totest/traffic_control.go
  traffic_ops/testing/api/v5/cdn_federations_test.go
  traffic_ops/testing/api/v5/federations_test.go
  traffic_ops/testing/api/v5/tc-fixtures.json
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/api/api.go
  traffic_ops/traffic_ops_golang/api/api_test.go
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations.go
  traffic_ops/traffic_ops_golang/cdnfederation/cdnfederations_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/util/ims/ims.go
  traffic_ops/v5-client/cdnfederations.go
Labels: Traffic Ops, documentation, low impact, tech debt, TO Client (Go)

#7810 Changed version to 8.1.0 for easy deployment from master branch.
  VERSION
  traffic_portal/app/src/index.html
  traffic_portal/package-lock.json
  traffic_portal/package.json
  traffic_router/build/pom.xml
  traffic_router/configuration/pom.xml
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
  traffic_router/geolocation/pom.xml
  traffic_router/neustar/pom.xml
  traffic_router/pom.xml
  traffic_router/shared/pom.xml
Labels: Traffic Router, Traffic Portal

#7812 TP: Add Reval/Config Status to Servers Table
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/servers/TableServersController.js
  traffic_portal/test/integration/pnpm-lock.yaml
Labels: new feature, Traffic Portal

#7813 TPv2 Fix Miscellaneous issues
  experimental/traffic-portal/src/app/shared/navigation/tp-sidebar/tp-sidebar.component.scss
  experimental/traffic-portal/src/app/shared/theme-manager/theme-manager.service.spec.ts
  experimental/traffic-portal/src/app/shared/theme-manager/theme-manager.service.ts
Labels: bug, new feature, Traffic Portal v2

#7815 Docs builder fixes
  infrastructure/docker/build/Dockerfile-docs
Labels: bug, documentation, build, dependencies

#7808 Traffic Router: Set "minimum" for SOA records to a custom value defined by a parameter
  CHANGELOG.md
  docs/source/admin/traffic_router.rst
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/NameServer.java
  traffic_router/core/src/main/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManager.java
  traffic_router/core/src/main/webapp/WEB-INF/applicationContext.xml
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/NameServerTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/ZoneManagerUnitTest.java
  traffic_router/core/src/test/resources/publish/CrConfig5.json
Labels: new feature, Traffic Router

#7011 Remove imports from Traffic Router source files that were never used
  traffic_router/connector/src/main/java/org/apache/traffic_control/traffic_router/protocol/RouterNioEndpoint.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/TestBase.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/dns/protocol/AbstractProtocolTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/ExternalTestSuite.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/external/StatsTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/hashing/ConsistentHasherTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/secure/CertificatesClientTest.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/secure/Pkcs1Test.java
  traffic_router/core/src/test/java/org/apache/traffic_control/traffic_router/core/util/FetcherTest.java
  traffic_router/shared/src/main/java/org/apache/traffic_control/traffic_router/shared/ZoneTestRecords.java
  traffic_router/shared/src/test/java/shared/DeliveryServiceCertificatesTest.java
Labels: Traffic Router, low impact, tech debt

#6099 Add/Update/Correct GoDoc comments on /lib symbols
  lib/go-atscfg/astatsdotconfig.go
  lib/go-atscfg/atscfg.go
  lib/go-atscfg/atsdotrules.go
  lib/go-atscfg/bgfetchdotconfig.go
  lib/go-atscfg/cachedotconfig.go
  lib/go-atscfg/chkconfig.go
  lib/go-atscfg/doc.go
  lib/go-atscfg/dropqstringdotconfig.go
  lib/go-atscfg/facts.go
  lib/go-atscfg/headerrewritedotconfig.go
  lib/go-atscfg/hostingdotconfig.go
  lib/go-atscfg/ipallowdotconfig.go
  lib/go-atscfg/ipallowdotyaml.go
  lib/go-atscfg/loggingdotconfig.go
  lib/go-atscfg/loggingdotyaml.go
  lib/go-atscfg/logsdotxml.go
  lib/go-atscfg/meta.go
  lib/go-atscfg/packages.go
  lib/go-atscfg/parentabstraction.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/plugindotconfig.go
  lib/go-atscfg/recordsdotconfig.go
  lib/go-atscfg/regexremapdotconfig.go
  lib/go-atscfg/regexrevalidatedotconfig.go
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/servercachedotconfig.go
  lib/go-atscfg/serverunknown.go
  lib/go-atscfg/setdscpdotconfig.go
  lib/go-atscfg/snidotyaml.go
  lib/go-atscfg/sslmulticertdotconfig.go
  lib/go-atscfg/sslservernamedotyaml.go
  lib/go-atscfg/storagedotconfig.go
  lib/go-atscfg/strategiesdotconfig.go
  lib/go-atscfg/sysctldotconf.go
  lib/go-atscfg/urisigningconfig.go
  lib/go-atscfg/urlsigconfig.go
  lib/go-atscfg/volumedotconfig.go
  lib/go-log/log.go
  lib/go-rfc/cachecontrol.go
  lib/go-rfc/caching.go
  lib/go-rfc/email.go
  lib/go-rfc/mimetype.go
  lib/go-rfc/url.go
  lib/go-tc/deliveryservice_ssl_keys.go
  lib/go-tc/enum.go
  lib/go-tc/invalidationjobs.go
  lib/go-tc/servers.go
  lib/go-tc/traffic_router.go
  lib/go-tc/users.go
  lib/go-util/backoff.go
  lib/go-util/doc.go
  lib/go-util/encrypt.go
  lib/go-util/join.go
  lib/go-util/net.go
  lib/go-util/num.go
  lib/go-util/str.go
Labels: tech debt

#6665 Add performant error-wrapping utility function
  lib/go-util/error.go
  lib/go-util/error_test.go
Labels: low impact, performance

#6882 Add a way to use a testing.T for our go-log library in tests
  lib/go-log/test.logger.go
  lib/go-log/test.logger_test.go
Labels: low impact, tests, improvement, logging

#7818 Replace instances of hard-coded repo name with environment variable in GitHub actions
  .github/actions/assign-triage-role/assign_triage_role/constants.py
  .github/actions/assign-triage-role/assign_triage_role/templates/apache_license.yml
  .github/actions/assign-triage-role/assign_triage_role/templates/pr_template.md
  .github/actions/assign-triage-role/assign_triage_role/triage_role_assigner.py
  .github/actions/assign-triage-role/setup.cfg
  .github/containers/trafficserver-alpine/docker-compose.yml
  .github/workflows/assign-triage-role.yml
  .github/workflows/container-trafficserver-alpine.yml
Labels: low impact, tech debt, process

#7719 add automatic self-healing when using slice plugin to t3c
  CHANGELOG.md
  docs/source/overview/delivery_services.rst
  lib/go-atscfg/remapdotconfig.go
  lib/go-atscfg/remapdotconfig_test.go
Labels: new feature, medium impact, cache-config

#7800 Add the ability to markup things as being removed in the documentation
  docs/source/_ext/atc.py
  docs/source/api/v4/deliveryservices_required_capabilities.rst
Labels: new feature, documentation, low impact

#7819 TO API v5 routes should not use priv levels anymore
  CHANGELOG.md
  lib/go-tc/constants.go
  traffic_ops/traffic_ops_golang/cdn_lock/cdn_lock.go
  traffic_ops/traffic_ops_golang/cdni/shared.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers_test.go
  traffic_ops/traffic_ops_golang/profile/copy_test.go
  traffic_ops/traffic_ops_golang/profile/profiles.go
  traffic_ops/traffic_ops_golang/server/servers.go
  traffic_ops/traffic_ops_golang/systeminfo/system_info.go
  traffic_ops/traffic_ops_golang/systeminfo/system_info_test.go
Labels: bug, Traffic Ops, low impact, permissions

#7821 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2
