Repository apache/trafficcontrol, pull requests merged in 2023-06, with the labels that each got.

#7548 ATC Collaborators for June 2023
  .asf.yaml
Labels: process, collaborators

#7529 Added Api contract tests for origins and delivery_services endpoints
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_cachegroups.py
  traffic_ops/testing/api_contract/v4/test_cdns.py
  traffic_ops/testing/api_contract/v4/test_delivery_services.py
  traffic_ops/testing/api_contract/v4/test_divisions.py
  traffic_ops/testing/api_contract/v4/test_origins.py
  traffic_ops/testing/api_contract/v4/test_parameters.py
  traffic_ops/testing/api_contract/v4/test_phys_locations.py
  traffic_ops/testing/api_contract/v4/test_profiles.py
  traffic_ops/testing/api_contract/v4/test_regions.py
  traffic_ops/testing/api_contract/v4/test_roles.py
  traffic_ops/testing/api_contract/v4/test_server_capabilities.py
  traffic_ops/testing/api_contract/v4/test_servers.py
  traffic_ops/testing/api_contract/v4/test_tenants.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7550 Added double quotes for cert and key
  infrastructure/ansible/roles/traffic_ops/templates/cdn.conf.j2
Labels: regression bug, automation

#7520 Fixed TO API /servers/{id}/deliveryservices endpoint to respond with all DS's on cache that are directly assigned and inherited through topology.
  CHANGELOG.md
  docs/source/api/v3/servers_id_deliveryservices.rst
  docs/source/api/v4/servers_id_deliveryservices.rst
  docs/source/api/v5/servers_id_deliveryservices.rst
  traffic_ops/testing/api/v3/servers_id_deliveryservices_test.go
  traffic_ops/testing/api/v4/servers_id_deliveryservices_test.go
  traffic_ops/testing/api/v5/servers_id_deliveryservices_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/servers/servers.go
Labels: bug, Traffic Ops

#7557 Update Go version to 1.19.10
  .env
  GO_VERSION
Labels: go version

#7558 Refresh Delivery Service SSL Keys form after updating certificate
  traffic_portal/app/src/common/modules/form/deliveryServiceSslKeys/FormDeliveryServiceSslKeysController.js
Labels: Traffic Portal, improvement

#7559 Reorder issue template steps
  .github/ISSUE_TEMPLATE/1-bug-report.md
Labels: process

#7567 Skip git `safe.directory` check in Dockerfiles
  cache-config/testing/docker/ort_test/Dockerfile
  infrastructure/docker/build/Dockerfile-cache-config
  infrastructure/docker/build/Dockerfile-docs
  infrastructure/docker/build/Dockerfile-fakeOrigin
  infrastructure/docker/build/Dockerfile-grove
  infrastructure/docker/build/Dockerfile-grovetccfg
  infrastructure/docker/build/Dockerfile-source
  infrastructure/docker/build/Dockerfile-tc-health-client
  infrastructure/docker/build/Dockerfile-traffic_monitor
  infrastructure/docker/build/Dockerfile-traffic_ops
  infrastructure/docker/build/Dockerfile-traffic_portal
  infrastructure/docker/build/Dockerfile-traffic_router
  infrastructure/docker/build/Dockerfile-traffic_stats
  infrastructure/docker/build/Dockerfile-tsb
Labels: regression bug, build, dependencies

#7516 t3c add go_direct as a command line arg
  CHANGELOG.md
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/config/config.go
  cache-config/t3c-apply/torequest/cmd.go
  cache-config/t3c-generate/README.md
  cache-config/t3c-generate/cfgfile/wrappers.go
  cache-config/t3c-generate/config/config.go
  cache-config/testing/ort-tests/tc-fixtures.json
  lib/go-atscfg/parentabstraction.go
  lib/go-atscfg/parentdotconfig.go
  lib/go-atscfg/parentdotconfig_test.go
  lib/go-atscfg/strategiesdotconfig.go
  lib/go-atscfg/strategiesdotconfig_test.go
Labels: new feature, low impact, cache-config

#7566 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7553 Created Github Actions for running API contract tests against Traffic Ops V4
  .github/actions/to-api-contract-tests/README.md
  .github/actions/to-api-contract-tests/action.yml
  .github/actions/to-api-contract-tests/cdn.json
  .github/actions/to-api-contract-tests/database.json
  .github/actions/to-api-contract-tests/dbconf.yml
  .github/actions/to-api-contract-tests/entrypoint.sh
  .github/workflows/to.api.contract.tests.yml
Labels: new feature, Traffic Ops, tests, medium impact, automation

#7554 Added Api contract test case for asns endpoint
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/data/to_data.json
  traffic_ops/testing/api_contract/v4/test_asns.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7576 Added API Contract testcase for Coordinates endpoint
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_coordinates.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7556 Changing docs for CDN locks for DELETE response structure APIv4 and APIv5
  CHANGELOG.md
  docs/source/api/v4/cdn_locks.rst
  docs/source/api/v5/cdn_locks.rst
Labels: bug, documentation, low impact

#7572 Fixes Delivery Service Requests V5 apis docs with RFC3339 date/time Format
  CHANGELOG.md
  docs/source/api/v5/deliveryservice_requests.rst
  docs/source/api/v5/deliveryservice_requests_id_assign.rst
  docs/source/api/v5/deliveryservice_requests_id_status.rst
Labels: bug, documentation, low impact

#7583 Added Api contract test case for users and topologies endpoints.
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/data/to_data.json
  traffic_ops/testing/api_contract/v4/requirements.txt
  traffic_ops/testing/api_contract/v4/test_topologies.py
  traffic_ops/testing/api_contract/v4/test_users.py
Labels: new feature, Traffic Ops, tests, python

#7532 Import/Export Profiles in TPv2
  experimental/traffic-portal/src/app/api/profile.service.spec.ts
  experimental/traffic-portal/src/app/api/profile.service.ts
  experimental/traffic-portal/src/app/api/testing/profile.service.ts
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.html
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.spec.ts
  experimental/traffic-portal/src/app/core/profiles/profile-table/profile-table.component.ts
  experimental/traffic-portal/src/app/shared/import-json-txt/import-json-txt.component.html
  experimental/traffic-portal/src/app/shared/import-json-txt/import-json-txt.component.scss
  experimental/traffic-portal/src/app/shared/import-json-txt/import-json-txt.component.spec.ts
  experimental/traffic-portal/src/app/shared/import-json-txt/import-json-txt.component.ts
  experimental/traffic-portal/src/app/shared/interceptor/alerts.interceptor.ts
  experimental/traffic-portal/src/app/shared/shared.module.ts
  experimental/traffic-portal/src/styles.scss
Labels: new feature, low impact, experimental, Traffic Portal v2

#7570 Update timestamp for Delivery service Request Comment to match RFC3339 format
  CHANGELOG.md
  docs/source/api/v5/deliveryservice_request_comments.rst
  lib/go-tc/deliveryservice_request_comments.go
  traffic_ops/testing/api/v5/deliveryservice_request_comments_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/request/comment/comments.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/deliveryservice_request_comments.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7495 Adds tc-health-client to CDN-in-a-Box
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/cdn-in-a-box/cache/Dockerfile
  infrastructure/cdn-in-a-box/cache/run.sh
  infrastructure/cdn-in-a-box/docker-compose.expose-ports.yml
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/health/Dockerfile
  infrastructure/cdn-in-a-box/health/run.sh
  infrastructure/cdn-in-a-box/health/tc-health-client.json
  infrastructure/cdn-in-a-box/health/tc-health-client.service
  infrastructure/cdn-in-a-box/health/to-creds
  infrastructure/cdn-in-a-box/traffic_ops/to-access.sh
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/070-RASCAL-Traffic_Monitor.json
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/086-TC_HEALTH_CLIENT.json
  infrastructure/cdn-in-a-box/traffic_ops_data/types/060-HEALTH.json
  infrastructure/cdn-in-a-box/variables.env
  infrastructure/docker/build/docker-compose.yml
  lib/go-log/log.go
  tc-health-client/build/build_rpm.sh
  tc-health-client/config/config.go
  tc-health-client/testing/docker/health-check-test/systemctl.sh
  tc-health-client/tmagent/markdownservice.go
  tc-health-client/tmagent/tmagent.go
  tc-health-client/tmagent/tmhealthservice.go
Labels: new feature, low impact, cdn-in-a-box, tc-health-client

#7598 Fix Server Capability V5 Type Minor version
  CHANGELOG.md
  lib/go-tc/server_capabilities.go
Labels: Traffic Ops, low impact

#7561 Fixed ASN(APIv5) REST calls to respond with RFC3339 timestamp
  CHANGELOG.md
  docs/source/api/v5/asns.rst
  docs/source/api/v5/asns_id.rst
  lib/go-tc/asns.go
  traffic_ops/testing/api/v5/asns_test.go
  traffic_ops/testing/api/v5/traffic_control_test.go
  traffic_ops/traffic_ops_golang/asn/asns.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers.go
  traffic_ops/traffic_ops_golang/dbhelpers/db_helpers_test.go
  traffic_ops/traffic_ops_golang/routing/routes.go
  traffic_ops/v5-client/asn.go
Labels: Traffic Ops, documentation, low impact, tech debt

#7592 Added Api Contract Test case for cdn_notifications endpoint
  traffic_control/clients/python/trafficops/tosession.py
  traffic_ops/testing/api_contract/v4/conftest.py
  traffic_ops/testing/api_contract/v4/data/request_template.json
  traffic_ops/testing/api_contract/v4/data/response_template.json
  traffic_ops/testing/api_contract/v4/test_cdn_notifications.py
Labels: new feature, Traffic Ops, low impact, tests, python

#7595 Fix status code and alert structure for sslkeys endpoint, when no ssl keys are present.
  CHANGELOG.md
  traffic_ops/testing/api/v5/deliveryservices_keys_test.go
  traffic_ops/traffic_ops_golang/deliveryservice/keys.go
  traffic_ops/traffic_ops_golang/deliveryservice/sslkeys.go
  traffic_ops/traffic_ops_golang/trafficvault/backends/postgres/postgres.go
Labels: bug, Traffic Ops, low impact

#7580 Change t3c -M option to take a comma separated list
  cache-config/t3c-apply/README.md
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/util/util.go
Labels: new feature, low impact, cache-config

#7600 change go-direct default to be old behavior
  CHANGELOG.md
  cache-config/t3c-apply/config/config.go
Labels: low impact, cache-config, improvement

#7594 t3c to add safe.directory exception
  CHANGELOG.md
  cache-config/t3c-apply/t3c-apply.go
  cache-config/t3c-apply/util/gitutil.go
Labels: bug, medium impact, cache-config

#7586 Migration that updates Operations Role's permissions to include DNS-S…
  CHANGELOG.md
  traffic_ops/app/db/migrations/2023062011541800_operations_role_add_perm.down.sql
  traffic_ops/app/db/migrations/2023062011541800_operations_role_add_perm.up.sql
  traffic_ops/app/db/seeds.sql
Labels: bug, Traffic Ops, database, permissions

#7606 Revert Traffic Monitor changes for bandwidth bug
  CHANGELOG.md
  traffic_monitor/cache/cache.go
  traffic_monitor/cache/cache_test.go
  traffic_monitor/cache/stats_over_http.json
  traffic_monitor/health/cache.go
  traffic_monitor/health/cache_test.go
Labels: Traffic Monitor, regression bug
