Repository apache/trafficcontrol, pull requests merged in 2024-06, with the labels that each got.

#8020 ATC Collaborators for June 2024
  .asf.yaml
Labels: process, collaborators

#7981 Add realpath support to pkg
  build/functions.sh
  docs/source/development/building.rst
  pkg
Labels: build, improvement

#8021 Update Go version to 1.22.4
  .env
  GO_VERSION
  go.mod
  go.sum
  vendor/modules.txt
Labels: go version
