Repository apache/trafficcontrol, pull requests merged in 2024-01, with the labels that each got.

#7892 ATC Collaborators for January 2024
  .asf.yaml
Labels: process, collaborators

#7893 Fix broken deliveryservice_requests query parameter
  traffic_ops/traffic_ops_golang/deliveryservice/request/requests.go
Labels: Traffic Ops, low impact, regression bug

#7901 Update Go version to 1.21.6
  .env
  GO_VERSION
Labels: go version

#7896 Include commits since last release in RPM build number
  CHANGELOG.md
  build/functions.sh
  docs/source/api/v3/about.rst
  docs/source/api/v4/about.rst
  docs/source/api/v5/about.rst
  experimental/traffic-portal/server.config.ts
  infrastructure/cdn-in-a-box/Makefile
Labels: documentation, cdn-in-a-box, build, Traffic Portal v2

#7918 Fixed topology link under ds/servers table page.
  CHANGELOG.md
  traffic_portal/app/src/common/modules/table/deliveryServiceServers/TableDeliveryServiceServersController.js
Labels: Traffic Portal, regression bug

#7915 TPv2 Add page title setting when header title is updated
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.spec.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7916 Fix TPv2 unit tests downloading a blank file
  experimental/traffic-portal/src/app/core/misc/isogeneration-form/isogeneration-form.component.spec.ts
Labels: regression bug, tests, experimental, Traffic Portal v2

#7914 To/api errors
  traffic_ops/traffic_ops_golang/api/errors.go
  traffic_ops/traffic_ops_golang/api/errors_test.go
Labels: Traffic Ops, low impact, tech debt

#7917 Fixed ProfileExportResponse struct to remove undocumented alerts field.
  CHANGELOG.md
  lib/go-tc/profiles.go
  traffic_ops/testing/api/v3/profiles_export_test.go
  traffic_ops/testing/api/v4/profiles_export_test.go
  traffic_ops/testing/api/v5/profiles_export_test.go
Labels: Traffic Ops, regression bug

#7741 fix(t3c): regex for pparam should check end of path
  cache-config/t3c-check-refs/t3c-check-refs.go
Labels: low impact, cache-config, improvement

#7922 Get build number from BUILD_NUMBER file if not in a repo
  infrastructure/cdn-in-a-box/Makefile
Labels: bug, cdn-in-a-box, build

#7929 Reverting partial change from PR 7891.
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/routing/middleware/wrappers.go
Labels: Traffic Ops, regression bug
