Repository apache/trafficcontrol, pull requests merged in 2024-08, with the labels that each got.

#8053 ATC Collaborators for August 2024
  .asf.yaml
Labels: process, collaborators

#8058 Update Go version to 1.22.6
  .env
  GO_VERSION
Labels: go version

#8061 Update Go version to 1.23.0
  .env
  GO_VERSION
Labels: go version

#7472 TPv2 Add Download Options Dialog to Generic Table
  experimental/traffic-portal/src/app/shared/generic-table/download-options/download-options-dialog.component.html
  experimental/traffic-portal/src/app/shared/generic-table/download-options/download-options-dialog.component.scss
  experimental/traffic-portal/src/app/shared/generic-table/download-options/download-options-dialog.component.spec.ts
  experimental/traffic-portal/src/app/shared/generic-table/download-options/download-options-dialog.component.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.spec.ts
  experimental/traffic-portal/src/app/shared/generic-table/generic-table.component.ts
  experimental/traffic-portal/src/app/shared/shared.module.ts
Labels: new feature, low impact, improvement, Traffic Portal v2
