Repository apache/trafficcontrol, pull requests merged in 2024-05, with the labels that each got.

#8004 Update Go version to 1.22.3
  .env
  GO_VERSION
Labels: go version

#8005 Update Traffic Portal v2 builder and CI to NodeJS 18
  .github/workflows/chromdriver-update.yml
  .github/workflows/tpv2.yml
  CHANGELOG.md
  infrastructure/docker/build/Dockerfile-traffic_portal_v2
  infrastructure/docker/build/docker-compose-opt.yml
Labels: build, dependencies

#8010 Do not include Scenes dev dependencies in Traffic Stats
  CHANGELOG.md
  traffic_stats/build/build_rpm.sh
  traffic_stats/trafficcontrol-scenes/package.json
Labels: Traffic Stats, regression bug, build, dependencies

#7993 Use EPEL trafficserver RPM for CodeQL.
  .github/workflows/codeql.cpp.yml
Labels: Traffic Server, automation

#8009 Updated node version from 18 to 20
  .github/workflows/chromdriver-update.yml
  .github/workflows/tpv2.yml
  CHANGELOG.md
  experimental/traffic-portal/build/package-lock.json
  experimental/traffic-portal/build/package.json
  experimental/traffic-portal/build/traffic_portal_v2.spec
  experimental/traffic-portal/package.json
  infrastructure/cdn-in-a-box/optional/traffic_portal_v2/Dockerfile
  infrastructure/cdn-in-a-box/optional/traffic_portal_v2_e2e_test/Dockerfile
Labels: low impact, cdn-in-a-box, dependencies, Traffic Portal v2

#8012 Updated package lock and cleaned TPv2-e2e file
  dev/tpv2/Dockerfile
  experimental/traffic-portal/build/package-lock.json
  experimental/traffic-portal/cypress.config.ts
  experimental/traffic-portal/package-lock.json
  infrastructure/cdn-in-a-box/optional/traffic_portal_v2_e2e_test/run.sh
Labels: Traffic Portal v2

#8002 ATC Collaborators for May 2024
  .asf.yaml
Labels: process, collaborators
