Repository apache/trafficcontrol, pull requests merged in 2024-07, with the labels that each got.

#8034 Update Go version to 1.22.5
  .env
  GO_VERSION
  cache-config/testing/docker/yumserver/Dockerfile
  tc-health-client/testing/docker/db_init/Dockerfile
  traffic_ops/app/db/trafficvault/test/Dockerfile-db-admin
  traffic_ops_db/test/docker/Dockerfile-db-admin
Labels: go version

#8040 Update Tomcat to 9.0.91
  .env
  .github/workflows/codeql.java.yml
  .github/workflows/tr.tests.yaml
  CHANGELOG.md
  dev/traffic_router/Dockerfile
  docker-compose.yml
  infrastructure/cdn-in-a-box/Makefile
  traffic_router/build/build_rpm.sh
  traffic_router/build/pom.xml
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
  traffic_router/pom.xml
  traffic_router/tomcat-rpm/build_rpm.sh
Labels: cdn-in-a-box, build, automation, dependencies, dev-ciab, java

#8042 Expose TOMCAT_VERSION to Traffic Router tests docker compose service
  traffic_router/tests/.env
  traffic_router/tests/docker-compose.yml
Labels: Traffic Router, tests, dependencies

#7958 Updated build ATS to 9.2.4
  CHANGELOG.md
  traffic_server/_tsb/docker-compose.yml
  traffic_server/_tsb/patches.yml
  traffic_server/_tsb/repos.yml
  traffic_server/_tsb/trafficserver.spec
Labels: Traffic Server, dependencies

#8041 Speed up CDN in a Box tab completion
  infrastructure/cdn-in-a-box/Makefile
Labels: cdn-in-a-box, performance

#7994 Update Trafficserver Alpine image to 9.2.4
  .env
  .github/containers/trafficserver-alpine/Dockerfile
  .github/containers/trafficserver-alpine/docker-compose.yml
  .github/workflows/container-trafficserver-alpine.yml
Labels: Traffic Server, build, automation, dev-ciab
