Repository apache/trafficcontrol, pull requests merged in 2024-04, with the labels that each got.

#7978 ATC Collaborators for April 2024
  .asf.yaml
Labels: process, collaborators

#7982 Update Go version to 1.22.2
  .env
  GO_VERSION
Labels: go version

#7985 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7986 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7979 Store logs in /var/log
  CHANGELOG.md
  docs/source/admin/traffic_monitor.rst
  docs/source/admin/traffic_router.rst
  docs/source/development/debugging.rst
  infrastructure/ansible/roles/traffic-monitor/defaults/main.yml
  infrastructure/ansible/roles/traffic-router/defaults/main.yml
  infrastructure/ansible/roles/traffic-router/files/traffic_router.logrotate
  infrastructure/ansible/roles/traffic_stats/defaults/main.yml
  infrastructure/cdn-in-a-box/traffic_ops_data/profiles/040-TRAFFIC_ROUTER.json
  infrastructure/cdn-in-a-box/traffic_router/run.sh
  infrastructure/cdn-in-a-box/traffic_stats/run.sh
  traffic_monitor/build/traffic_monitor.logrotate
  traffic_monitor/build/traffic_monitor.spec
  traffic_monitor/conf/traffic_monitor.cfg
  traffic_monitor/tests/_integration/tm/Dockerfile_run.sh
  traffic_router/build/pom.xml
  traffic_router/core/src/main/conf/log4j2.xml
  traffic_router/core/src/main/conf/logging.properties
  traffic_router/core/src/main/lib/logrotate/traffic_router
  traffic_router/core/src/main/lib/systemd/system/traffic_router.service
  traffic_router/core/src/test/conf/log4j2.xml
  traffic_stats/build/traffic_stats.spec
  traffic_stats/traffic_stats.init
  traffic_stats/traffic_stats.logrotate
  traffic_stats/traffic_stats_seelog.xml
Labels: bug, Traffic Router, Traffic Stats, Traffic Monitor, logging

#7990 Update Tomcat to 9.0.87
  CHANGELOG.md
  traffic_router/build/build_rpm.sh
  traffic_router/connector/pom.xml
  traffic_router/core/pom.xml
Labels: Traffic Router, high impact, dependencies

#7992 Update typescript to 4.9.5 in Traffic Portal integration tests
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies

#7999 Symlink from `/opt/<component>/var/log` to `/var/log/<component>`.
  CHANGELOG.md
  traffic_monitor/build/traffic_monitor.spec
  traffic_router/build/pom.xml
  traffic_router/tomcat-rpm/tomcat.spec
  traffic_stats/build/traffic_stats.spec
Labels: Traffic Router, Traffic Stats, Traffic Monitor, logging

#8000 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#8001 Move existing logs in `/opt/<component>/var/log` to `/var/log/<component>` pre-upgrade
  traffic_monitor/build/traffic_monitor.spec
  traffic_router/build/pom.xml
  traffic_router/core/src/main/scripts/preinstall.sh
  traffic_router/tomcat-rpm/tomcat.spec
  traffic_stats/build/traffic_stats.spec
Labels: Traffic Router, Traffic Stats, Traffic Monitor, medium impact, logging
