Repository apache/trafficcontrol, pull requests merged in 2024-09, with the labels that each got.

#8071 Improve PUT /deliveryservice_request_comments id
  CHANGELOG.md
  traffic_ops/traffic_ops_golang/deliveryservice/request/comment/comments.go
Labels: Traffic Ops, improvement

#8069 Update Go version in go.mod to 1.23.0.
  go.mod
Labels: go version

#8070 ATC Collaborators for September 2024
  .asf.yaml
Labels: process, collaborators

#8073 Update Go version to 1.23.1
  .env
  GO_VERSION
Labels: go version

#8081 Update actions/upload-artifact and actions/download-artifact to v4
  .github/workflows/cache-config-tests.yml
  .github/workflows/ciab.yaml
  .github/workflows/docs.yml
  .github/workflows/health-client-tests.yml
  .github/workflows/to.api.contract.tests.yml
  .github/workflows/to.integration.tests.yml
  .github/workflows/tp.integration.tests.yml
  .github/workflows/tpv2.yml
  .github/workflows/tr-ultimate-test-harness.yml
  .github/workflows/tr.tests.yaml
Labels: dependencies

#8079 Update Postgres version to 13.16
  .env
  CHANGELOG.md
  cache-config/testing/docker/.env
  cache-config/testing/docker/docker-compose.yml
  cache-config/testing/docker/traffic_ops/Dockerfile
  docker-compose.yml
  docs/source/_ext/atc.py
  docs/source/admin/traffic_ops.rst
  docs/source/development/traffic_ops.rst
  infrastructure/cdn-in-a-box/docker-compose.yml
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile-db
  tc-health-client/testing/docker/.env
  tc-health-client/testing/docker/docker-compose.yml
  tc-health-client/testing/docker/traffic_ops/Dockerfile
  traffic_ops/INSTALL.md
  traffic_ops/app/db/trafficvault/test/.env
  traffic_ops/app/db/trafficvault/test/Dockerfile-db-admin
  traffic_ops/app/db/trafficvault/test/Dockerfile-tvdb
  traffic_ops/app/db/trafficvault/test/docker-compose.yml
  traffic_ops/build/build_rpm.sh
  traffic_ops/build/traffic_ops.spec
  traffic_ops/traffic_ops_golang/README.md
  traffic_ops_db/docker/.env
  traffic_ops_db/docker/Dockerfile
  traffic_ops_db/docker/docker-compose.yml
  traffic_ops_db/test/docker/.env
  traffic_ops_db/test/docker/Dockerfile-db
  traffic_ops_db/test/docker/Dockerfile-db-admin
  traffic_ops_db/test/docker/docker-compose.yml
Labels: Traffic Ops, documentation, tests, tech debt, cdn-in-a-box, database, improvement, dependencies, dev-ciab
