Repository apache/trafficcontrol, pull requests merged in 2024-02, with the labels that each got.

#7931 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7930 ATC Collaborators for February 2024
  .asf.yaml
Labels: process, collaborators

#7881 Add Origins page Traffic Portal v2
  experimental/traffic-portal/src/app/api/coordinate.service.spec.ts
  experimental/traffic-portal/src/app/api/coordinate.service.ts
  experimental/traffic-portal/src/app/api/index.ts
  experimental/traffic-portal/src/app/api/origin.service.spec.ts
  experimental/traffic-portal/src/app/api/origin.service.ts
  experimental/traffic-portal/src/app/api/testing/coordinate.service.ts
  experimental/traffic-portal/src/app/api/testing/index.ts
  experimental/traffic-portal/src/app/api/testing/origin.service.ts
  experimental/traffic-portal/src/app/core/core.module.ts
  experimental/traffic-portal/src/app/core/origins/detail/origin-detail.component.html
  experimental/traffic-portal/src/app/core/origins/detail/origin-detail.component.scss
  experimental/traffic-portal/src/app/core/origins/detail/origin-detail.component.spec.ts
  experimental/traffic-portal/src/app/core/origins/detail/origin-detail.component.ts
  experimental/traffic-portal/src/app/core/origins/table/origins-table.component.html
  experimental/traffic-portal/src/app/core/origins/table/origins-table.component.scss
  experimental/traffic-portal/src/app/core/origins/table/origins-table.component.spec.ts
  experimental/traffic-portal/src/app/core/origins/table/origins-table.component.ts
  experimental/traffic-portal/src/app/shared/navigation/navigation.service.ts
Labels: new feature, low impact, experimental, Traffic Portal v2

#7933 TPv2: Update required node version to >= 18, eslint-plugin-jsdoc
  experimental/traffic-portal/.eslintrc.json
  experimental/traffic-portal/build/traffic_portal_v2.spec
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  infrastructure/cdn-in-a-box/optional/traffic_portal_v2/Dockerfile
  infrastructure/cdn-in-a-box/optional/traffic_portal_v2_e2e_test/Dockerfile
Labels: bug, low impact, experimental, dependencies, Traffic Portal v2

#7936 Rearrange TPv2 docker-compose files
  infrastructure/cdn-in-a-box/optional/docker-compose.traffic-portal-v2-test.yml
  infrastructure/cdn-in-a-box/optional/docker-compose.traffic-portal-v2.expose-ports.yml
  infrastructure/cdn-in-a-box/optional/docker-compose.traffic-portal-v2.yml
Labels: regression bug, cdn-in-a-box, Traffic Portal v2

#7938 Fix paths for TPv2 in optional directory
  infrastructure/cdn-in-a-box/Makefile
  infrastructure/cdn-in-a-box/optional/docker-compose.traffic-portal-v2-test.yml
  infrastructure/cdn-in-a-box/optional/docker-compose.traffic-portal-v2.yml
  infrastructure/cdn-in-a-box/optional/traffic_portal_v2/Dockerfile
Labels: regression bug, cdn-in-a-box, Traffic Portal v2

#7939 Only use 2 path components for compose file
  infrastructure/cdn-in-a-box/optional/docker-compose.traffic-portal-v2-test.yml
  infrastructure/cdn-in-a-box/optional/traffic_portal_v2_e2e_test/Dockerfile
Labels: regression bug, cdn-in-a-box, Traffic Portal v2

#7937 TPv2 lint fixes
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/src/app/api/cache-group.service.ts
  experimental/traffic-portal/src/app/api/coordinate.service.spec.ts
  experimental/traffic-portal/src/app/api/coordinate.service.ts
  experimental/traffic-portal/src/app/api/index.ts
  experimental/traffic-portal/src/app/api/origin.service.ts
  experimental/traffic-portal/src/app/api/profile.service.ts
  experimental/traffic-portal/src/app/api/server.service.ts
  experimental/traffic-portal/src/app/api/testing/cache-group.service.ts
  experimental/traffic-portal/src/app/api/testing/cdn.service.ts
  experimental/traffic-portal/src/app/api/testing/coordinate.service.ts
  experimental/traffic-portal/src/app/api/testing/delivery-service.service.ts
  experimental/traffic-portal/src/app/api/testing/index.ts
  experimental/traffic-portal/src/app/api/testing/origin.service.ts
  experimental/traffic-portal/src/app/api/testing/physical-location.service.ts
  experimental/traffic-portal/src/app/api/testing/profile.service.ts
  experimental/traffic-portal/src/app/api/testing/server.service.ts
  experimental/traffic-portal/src/app/api/testing/type.service.ts
  experimental/traffic-portal/src/app/api/testing/user.service.ts
  experimental/traffic-portal/src/app/api/type.service.ts
  experimental/traffic-portal/src/app/core/deliveryservice/ds-card/ds-card.component.html
  experimental/traffic-portal/src/app/core/origins/detail/origin-detail.component.ts
  experimental/traffic-portal/src/app/shared/tree-select/tree-select.component.html
Labels: low impact, tech debt, experimental, Traffic Portal v2

#7841 Remove Perl postinstall script
  .github/workflows/postinstall.tests.yml
  CHANGELOG.md
  docs/source/admin/traffic_ops.rst
  infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
  traffic_ops/build/traffic_ops.spec
  traffic_ops/install/bin/_postinstall.pl
  traffic_ops/install/bin/_postinstall.py
  traffic_ops/install/bin/input.json
  traffic_ops/install/bin/postinstall
  traffic_ops/install/bin/postinstall.test.sh
Labels: Traffic Ops, documentation, tech debt, medium impact, install, python

#7941 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7940 Update Go version to 1.22.0
  .env
  .github/workflows/codeql.go.yml
  CHANGELOG.md
  GO_VERSION
  go.mod
  traffic_router/ultimate-test-harness/http_test.go
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/1_foobar.down.sql
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/1_foobar.up.sql
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/3_foobar.up.sql
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/4_foobar.down.sql
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/4_foobar.up.sql
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/5_foobar.down.sql
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/7_foobar.down.sql
  vendor/github.com/golang-migrate/migrate/v4/source/iofs/testdata/migrations/7_foobar.up.sql
Labels: go version

#7942 Update Chromedriver Versions
  experimental/traffic-portal/package-lock.json
  experimental/traffic-portal/package.json
  traffic_portal/test/integration/package-lock.json
  traffic_portal/test/integration/package.json
Labels: Traffic Portal, tests, dependencies, Traffic Portal v2

#7927 Migrate dynamic scripted Grafana Dashboards to Scenes
  CHANGELOG.md
  docs/source/admin/traffic_stats.rst
  infrastructure/cdn-in-a-box/optional/grafana/Dockerfile
  infrastructure/cdn-in-a-box/optional/grafana/app.yaml.template
  infrastructure/cdn-in-a-box/optional/grafana/datasources.yml.template
  infrastructure/cdn-in-a-box/optional/grafana/run-grafana.sh
  infrastructure/docker/build/Dockerfile-traffic_stats
  infrastructure/docker/build/docker-compose.yml
  traffic_stats/build/build_rpm.sh
  traffic_stats/build/traffic_stats.spec
  traffic_stats/grafana/traffic_ops_cachegroup.js
  traffic_stats/grafana/traffic_ops_deliveryservice.js
  traffic_stats/grafana/traffic_ops_scripted.js
  traffic_stats/grafana/traffic_ops_server.js
  traffic_stats/trafficcontrol-scenes/.editorconfig
  traffic_stats/trafficcontrol-scenes/.eslintrc.json
  traffic_stats/trafficcontrol-scenes/.gitignore
  traffic_stats/trafficcontrol-scenes/cypress.json
  traffic_stats/trafficcontrol-scenes/cypress/integration/01-smoke.spec.ts
  traffic_stats/trafficcontrol-scenes/jest-setup.js
  traffic_stats/trafficcontrol-scenes/jest.config.js
  traffic_stats/trafficcontrol-scenes/package.json
  traffic_stats/trafficcontrol-scenes/src/components/App/App.tsx
  traffic_stats/trafficcontrol-scenes/src/components/App/index.tsx
  traffic_stats/trafficcontrol-scenes/src/components/Routes/Routes.tsx
  traffic_stats/trafficcontrol-scenes/src/components/Routes/index.tsx
  traffic_stats/trafficcontrol-scenes/src/const.ts
  traffic_stats/trafficcontrol-scenes/src/module.ts
  traffic_stats/trafficcontrol-scenes/src/pages/CacheGroup/CacheGroup.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/CacheGroup/index.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/CacheGroup/panels/bandwidth.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/CacheGroup/panels/connections.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/CacheGroup/scene.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/DeliveryService/DeliveryService.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/DeliveryService/index.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/DeliveryService/panels/bandwidth-cg.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/DeliveryService/panels/bandwidth.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/DeliveryService/panels/tps.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/DeliveryService/scene.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/Server.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/index.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/bandwidth.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/connections.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/cpu.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/index.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/load-average.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/memory.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/netstat.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/read-write-time.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/panels/wrap-count.tsx
  traffic_stats/trafficcontrol-scenes/src/pages/Server/scene.tsx
  traffic_stats/trafficcontrol-scenes/src/plugin.json
  traffic_stats/trafficcontrol-scenes/src/utils/utils.plugin.ts
  traffic_stats/trafficcontrol-scenes/src/utils/utils.routing.ts
  traffic_stats/trafficcontrol-scenes/tsconfig.json
  traffic_stats/trafficcontrol-scenes/webpack/constants.ts
  traffic_stats/trafficcontrol-scenes/webpack/utils.ts
  traffic_stats/trafficcontrol-scenes/webpack/webpack.config.ts
Labels: Traffic Stats, Traffic Portal, low impact, tech debt, cdn-in-a-box
